Repository StackVista/helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: push_aws-amicleaner_to_internal, push_aws-nuke_to_internal, push_aws-pod-identity-webhook_to_internal, push_beacher-job_to_internal, push_chartmuseum_to_internal, push_cluster-agent_to_internal, push_common_to_internal, push_elasticsearch_to_internal, push_gitlab-runner_to_internal, push_gitlab-steward_to_internal, push_hbase_to_internal, push_iceman_to_internal, push_kafka_to_internal, push_kafkaup-operator_to_internal, push_kommoner-operator_to_internal, push_minio_to_internal, push_petros-d-kubelet-stats-exporter_to_internal, push_sandbox-operator_to_internal, push_stackstate-standalone_to_internal, push_stackstate_to_internal, push_trafficmirror_to_internal

Path conditions:
  push_aws-amicleaner_to_internal: any of: stable/aws-amicleaner/**/*
  push_aws-nuke_to_internal: any of: stable/aws-nuke/**/*
  push_aws-pod-identity-webhook_to_internal: any of: stable/aws-pod-identity-webhook/**/*
  push_beacher-job_to_internal: any of: stable/beacher-job/**/*
  push_chartmuseum_to_internal: any of: stable/chartmuseum/**/*
  push_cluster-agent_to_internal: any of: stable/cluster-agent/**/*
  push_common_to_internal: any of: stable/common/**/*
  push_elasticsearch_to_internal: any of: stable/elasticsearch/**/*
  push_gitlab-runner_to_internal: any of: stable/gitlab-runner/**/*
  push_gitlab-steward_to_internal: any of: stable/gitlab-steward/**/*
  push_hbase_to_internal: any of: stable/hbase/**/*
  push_iceman_to_internal: any of: stable/iceman/**/*
  push_kafka_to_internal: any of: stable/kafka/**/*
  push_kafkaup-operator_to_internal: any of: stable/kafkaup-operator/**/*
  push_kommoner-operator_to_internal: any of: stable/kommoner-operator/**/*
  push_minio_to_internal: any of: stable/minio/**/*
  push_petros-d-kubelet-stats-exporter_to_internal: any of: stable/petros-d-kubelet-stats-exporter/**/*
  push_sandbox-operator_to_internal: any of: stable/sandbox-operator/**/*
  push_stackstate-standalone_to_internal: any of: stable/stackstate-standalone/**/*
  push_stackstate_to_internal: any of: stable/stackstate/**/*
  push_trafficmirror_to_internal: any of: stable/trafficmirror/**/*

STAC-19569 Fix metric scraping for VictoriaMetrics
  stable/stackstate-k8s/README.md
  stable/stackstate-k8s/values.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-19569 Undo accidental change
  stable/stackstate-monitoring/templates/rule-processing-pipeline.yaml
Due: none

STAC-19569 Need to bump k8s-agent because someone forgot to update readme
  stable/stackstate-k8s-agent/Chart.yaml
  stable/stackstate-k8s-agent/README.md
Due: none

STAC-19569 Fix one more chart and make it easier to do this from gitlab-ci output
  .gitlab-ci.yml
  stable/kafkaup-operator/Chart.lock
  stable/kafkaup-operator/Chart.yaml
  stable/kafkaup-operator/README.md
  stable/stackstate-k8s/Chart.lock
  stable/stackstate/Chart.lock
Due: push_kafkaup-operator_to_internal, push_stackstate_to_internal

chore(stackstate): Upgrade anomaly-detection to version 5.2.0-snapshot.57.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

STAC-18525: allow kafka2prom consumer group id to be configured
  stable/stackstate-k8s/README.md
  stable/stackstate-k8s/templates/_helper-endpoints.tpl
  stable/stackstate-k8s/templates/deployment-kafka2prom.yaml
  stable/stackstate-k8s/test/values/full.yaml
  stable/stackstate-k8s/values.yaml
Due: none

STAC-0: add 'snapshot' to version number to trigger auto-increment
  stable/stackstate-k8s/Chart.yaml
  stable/stackstate-k8s/README.md
Due: none

STAC-19395: Parameterize function
  stable/stackstate/templates/_helper-server-and-api-configmap.tpl
Due: push_stackstate_to_internal

Added `instance` value
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-19395: Remove caspr check from ingress
  stable/stackstate-k8s/templates/ingress.yaml
  stable/stackstate/templates/ingress.yaml
Due: push_stackstate_to_internal

STAC-19395: Copy contents to stackstate-k8s Helm chart
  stable/stackstate-k8s/README.md
  stable/stackstate-k8s/templates/_helper-server-and-api-configmap.tpl
  stable/stackstate-k8s/values.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-19395: Review comments
  stable/stackstate/README.md
  stable/stackstate/templates/_helper-server-and-api-configmap.tpl
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-19395: Fix tests and set default to SelfHosted
  stable/stackstate-k8s/README.md
  stable/stackstate-k8s/templates/_helper-server-and-api-configmap.tpl
  stable/stackstate-k8s/test/authentication_test.go
  stable/stackstate-k8s/test/cluster_resource_naming_test.go
  stable/stackstate-k8s/test/run_config_test.go
  stable/stackstate-k8s/test/values/full.yaml
  stable/stackstate-k8s/values.yaml
  stable/stackstate/templates/_helper-server-and-api-configmap.tpl
Due: push_stackstate_to_internal

STAC-19395: Remove caspr config
  stable/stackstate/templates/_helper-server-and-api-configmap.tpl
Due: push_stackstate_to_internal

STAC-19395: Add `stackstate.deployment.mode` to values
  stable/stackstate-k8s/README.md
  stable/stackstate-k8s/templates/_helper-server-and-api-configmap.tpl
  stable/stackstate-k8s/values.yaml
  stable/stackstate/README.md
  stable/stackstate/templates/_helper-server-and-api-configmap.tpl
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-19395: Extract to function
  stable/stackstate/templates/_helper-server-and-api-configmap.tpl
Due: push_stackstate_to_internal

STAC-19395: Clean logging of tests
  .gitlab-ci.yml
  .jsonnet-libs/extras/helm_chart_repo/variables.libsonnet
  helmtestutil/helmtestutil.go
  stable/stackstate/test/cache_backend_test.go
Due: push_stackstate_to_internal

STAC-19395: Add support for custom roles and permissions
  stable/stackstate/README.md
  stable/stackstate/templates/_helper-server-and-api-configmap.tpl
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-19395: Introduce authenticationPrefix
  stable/stackstate/templates/_helper-server-and-api-configmap.tpl
Due: push_stackstate_to_internal

STAC-0: bump stackstate-k8s base version
  stable/stackstate-k8s/Chart.yaml
  stable/stackstate-k8s/README.md
Due: none

STAC-19471: Label pods that connect to stackgraph
  stable/stackstate-k8s/templates/deployment-api.yaml
  stable/stackstate-k8s/templates/deployment-checks.yaml
  stable/stackstate-k8s/templates/deployment-healthSync.yaml
  stable/stackstate-k8s/templates/deployment-initializer.yaml
  stable/stackstate-k8s/templates/deployment-problemProducer.yaml
  stable/stackstate-k8s/templates/deployment-server.yaml
  stable/stackstate-k8s/templates/deployment-slicing.yaml
  stable/stackstate-k8s/templates/deployment-state.yaml
  stable/stackstate-k8s/templates/deployment-sync.yaml
  stable/stackstate-k8s/templates/deployment-viewHealth.yaml
  stable/stackstate/templates/deployment-api.yaml
  stable/stackstate/templates/deployment-checks.yaml
  stable/stackstate/templates/deployment-healthSync.yaml
  stable/stackstate/templates/deployment-initializer.yaml
  stable/stackstate/templates/deployment-problemProducer.yaml
  stable/stackstate/templates/deployment-server.yaml
  stable/stackstate/templates/deployment-slicing.yaml
  stable/stackstate/templates/deployment-state.yaml
  stable/stackstate/templates/deployment-sync.yaml
  stable/stackstate/templates/deployment-viewHealth.yaml
Due: push_stackstate_to_internal

STAC-19518 Make the intent more clear. Remove broken pre-commit hook.
  .gitlab-ci.jsonnet
  .gitlab-ci.yml
  .pre-commit-config.yaml
Due: none

STAC-19518 Auto publish stackstate-k8s-agent chart if the commit author is ops@stackstate.com.
  .gitlab-ci.jsonnet
  .gitlab-ci.yml
  .pre-commit-config.yaml
Due: none

STAC-18522: use second victoriametrics when 'victoriametrics.ha' is set
  stable/stackstate-k8s/Chart.lock
  stable/stackstate-k8s/Chart.yaml
  stable/stackstate-k8s/README.md
  stable/stackstate-k8s/templates/_helper-deployment-kafka2prom.yaml
  stable/stackstate-k8s/templates/deployment-kafka2prom-0.yaml
  stable/stackstate-k8s/templates/deployment-kafka2prom-1.yaml
  stable/stackstate-k8s/templates/service-victoriametrics.yaml
  stable/stackstate-k8s/values.yaml
Due: none

STAC-18522: don't use yaml anchors in values, use 'vmInstance' as the 'variable' name
  stable/stackstate-k8s/Chart.lock
  stable/stackstate-k8s/Chart.yaml
  stable/stackstate-k8s/README.md
  stable/stackstate-k8s/templates/_helper-deployment-kafka2prom.yaml
  stable/stackstate-k8s/templates/deployment-kafka2prom-0.yaml
  stable/stackstate-k8s/templates/deployment-kafka2prom-1.yaml
  stable/stackstate-k8s/values.yaml
Due: none

STAC-18522: clean up readmem
  stable/stackstate-k8s/README.md
  stable/stackstate-k8s/values.yaml
Due: none

STAC-18522: add pod disruption budget for victoriametrics pods
  stable/stackstate-k8s/templates/pdb-victoriametrics.yaml
Due: none

STAC-18522: validate all kafka2prom deployments
  stable/stackstate-k8s/test/pull_secret_test.go
  stable/stackstate-k8s/test/services_java_heap_test.go
  stable/stackstate-k8s/test/values/full.yaml
Due: none

STAC-18522: eliminate 'experimental metrics' flag - it's the only way
  stable/stackstate-k8s/README.md
  stable/stackstate-k8s/templates/_helper-endpoints.tpl
  stable/stackstate-k8s/templates/_helper-service-config.tpl
  stable/stackstate-k8s/templates/_helper.tpl
  stable/stackstate-k8s/templates/configmap-kafka2prom-log.yaml
  stable/stackstate-k8s/templates/deployment-correlate.yaml
  stable/stackstate-k8s/templates/deployment-kafka2prom-0.yaml
  stable/stackstate-k8s/templates/deployment-kafka2prom-1.yaml
  stable/stackstate-k8s/templates/deployment-receiver.yaml
  stable/stackstate-k8s/templates/pdb-kafka2prom.yaml
  stable/stackstate-k8s/templates/pdb-victoriametrics.yaml
  stable/stackstate-k8s/templates/secret-kafka2prom.yaml
  stable/stackstate-k8s/templates/service-kafka2prom.yaml
  stable/stackstate-k8s/templates/service-victoriametrics.yaml
  stable/stackstate-k8s/templates/servicemonitor-kafka2prom.yaml
  stable/stackstate-k8s/values.yaml
Due: none

STAC-0: Also for stackstate-k8s and more tests
  stable/stackstate-k8s/templates/_helper-server-and-api-configmap.tpl
  stable/stackstate-k8s/test/authentication_test.go
  stable/stackstate-k8s/test/values/authentication_saas_custom.yaml
  stable/stackstate-k8s/test/values/authentication_saas_ignoredroles.yaml
  stable/stackstate-k8s/test/values/authentication_saas_noroles.yaml
  stable/stackstate/test/authentication_test.go
  stable/stackstate/test/values/authentication_saas_custom.yaml
Due: push_stackstate_to_internal

STAC-0: No default roles in SaaS
  stable/stackstate/templates/_helper-server-and-api-configmap.tpl
  stable/stackstate/test/authentication_test.go
  stable/stackstate/test/values/authentication_saas_ignoredroles.yaml
  stable/stackstate/test/values/authentication_saas_noroles.yaml
Due: push_stackstate_to_internal

[chore] [publish-k8s-agent] Update agent images to latest pre-prod commit at 2023-05-13_23:05:44
  stable/stackstate-k8s-agent/Chart.yaml
  stable/stackstate-k8s-agent/README.md
  stable/stackstate-k8s-agent/values.yaml
Due: none

STAC-19616: port HA VM to 'stackstate' chart
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/templates/_helper-deployment-kafka2prom.yaml
  stable/stackstate/templates/_helper-endpoints.tpl
  stable/stackstate/templates/deployment-kafka2prom-0.yaml
  stable/stackstate/templates/deployment-kafka2prom-1.yaml
  stable/stackstate/templates/pdb-victoriametrics.yaml
  stable/stackstate/templates/service-victoriametrics.yaml
  stable/stackstate/templates/servicemonitor-kafka2prom.yaml
  stable/stackstate/test/pull_secret_test.go
  stable/stackstate/test/services_java_heap_test.go
  stable/stackstate/test/values/full.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-19616: helm chart conditions are not expressions; first condition path wins
  stable/stackstate-k8s/values.yaml
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-0: Fix Helm chart for NS
  stable/stackstate-k8s/templates/_helper-server-and-api-configmap.tpl
  stable/stackstate/templates/_helper-server-and-api-configmap.tpl
Due: push_stackstate_to_internal

STAC-0: Another fix for Helm chart for NS
  stable/stackstate-k8s/templates/_helper-server-and-api-configmap.tpl
  stable/stackstate/templates/_helper-server-and-api-configmap.tpl
Due: push_stackstate_to_internal

STAC-0 Use fixed name for service to make sure its reference works from the configured values
  stable/stackstate-k8s/templates/service-victoriametrics.yaml
  stable/stackstate/templates/service-victoriametrics.yaml
Due: push_stackstate_to_internal

STAC-0 use fixed name also in stackstate-k8s values
  stable/stackstate-k8s/README.md
  stable/stackstate-k8s/values.yaml
Due: none

STAC-19398
  stable/stackstate-k8s-agent/Chart.yaml
  stable/stackstate-k8s-agent/README.md
  stable/stackstate-k8s-agent/templates/_container-agent.yaml
  stable/stackstate-k8s-agent/templates/_container-process-agent.yaml
  stable/stackstate-k8s-agent/templates/checks-agent-deployment.yaml
  stable/stackstate-k8s-agent/templates/cluster-agent-deployment.yaml
  stable/stackstate-k8s-agent/templates/logs-agent-daemonset.yaml
  stable/stackstate-k8s-agent/templates/node-agent-daemonset.yaml
Due: none

Fix chart test
  stable/stackstate-k8s/test/services_java_heap_test.go
  stable/stackstate/test/services_java_heap_test.go
Due: push_stackstate_to_internal
