Repository StackVista/helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: push_aws-amicleaner_to_internal, push_aws-nuke_to_internal, push_aws-pod-identity-webhook_to_internal, push_beacher-job_to_internal, push_chartmuseum_to_internal, push_cluster-agent_to_internal, push_common_to_internal, push_elasticsearch_to_internal, push_gitlab-runner_to_internal, push_gitlab-steward_to_internal, push_hbase_to_internal, push_iceman_to_internal, push_kafka_to_internal, push_kafkaup-operator_to_internal, push_kommoner-operator_to_internal, push_minio_to_internal, push_petros-d-kubelet-stats-exporter_to_internal, push_sandbox-operator_to_internal, push_stackstate-standalone_to_internal, push_stackstate_to_internal, push_trafficmirror_to_internal

push_aws-amicleaner_to_internal:
  image: stackstate/stackstate-ci-images:stackstate-devops-f87d9654
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

push_aws-nuke_to_internal:
  image: stackstate/stackstate-ci-images:stackstate-devops-f87d9654
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

push_aws-pod-identity-webhook_to_internal:
  image: stackstate/stackstate-ci-images:stackstate-devops-f87d9654
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

push_beacher-job_to_internal:
  image: stackstate/stackstate-ci-images:stackstate-devops-f87d9654
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

push_chartmuseum_to_internal:
  image: stackstate/stackstate-ci-images:stackstate-devops-f87d9654
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

push_cluster-agent_to_internal:
  image: stackstate/stackstate-ci-images:stackstate-devops-f87d9654
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

push_common_to_internal:
  image: stackstate/stackstate-ci-images:stackstate-devops-f87d9654
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

push_elasticsearch_to_internal:
  image: stackstate/stackstate-ci-images:stackstate-devops-f87d9654
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

STAC-19900: Enable resourcequotas metrics
  stable/stackstate-k8s-agent/Chart.yaml
  stable/stackstate-k8s-agent/README.md
  stable/stackstate-k8s-agent/templates/cluster-agent-clusterrole.yaml
  stable/stackstate-k8s-agent/values.yaml
  stable/stackstate-k8s/Chart.lock
  stable/stackstate-k8s/Chart.yaml
  stable/stackstate-k8s/README.md
  stable/stackstate-k8s/templates/_helper.tpl
  stable/stackstate-k8s/values.yaml
Due: none

[chore] [publish-k8s-agent] Update agent images to latest pre-prod commit at 2023-09-04_23:04:13
  stable/stackstate-k8s-agent/Chart.yaml
  stable/stackstate-k8s-agent/README.md
  stable/stackstate-k8s-agent/values.yaml
Due: none

STAC-0: Upgrade container-tools image
  stable/stackstate-k8s/README.md
  stable/stackstate-k8s/values.yaml
Due: none

Update Chart.lock
  stable/stackstate-k8s/Chart.lock
Due: none

STAC-20150 Reset repositorySuffix to empty to prepare for release candidates
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-20150 Make 5.1.9 rc1
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-20150 Make 5.1.9 rc2
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-20150: Make 5.1.9
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-20162: Fix annotations for Sock-Shop Ingresses
  stable/sock-shop/Chart.yaml
  stable/sock-shop/README.md
  stable/sock-shop/templates/payment-ingress.yaml
  stable/sock-shop/templates/shipping-ingress.yaml
Due: none

STACK-19941 "forked" helm chart with Victoria Metrics
  stable/victoria-metrics/README.md
  stable/victoria-metrics/victoria-metrics-single/.helmignore
  stable/victoria-metrics/victoria-metrics-single/Chart.yaml
  stable/victoria-metrics/victoria-metrics-single/README.md
  stable/victoria-metrics/victoria-metrics-single/README.md.gotmpl
  stable/victoria-metrics/victoria-metrics-single/templates/NOTES.txt
  stable/victoria-metrics/victoria-metrics-single/templates/_helpers.tpl
  stable/victoria-metrics/victoria-metrics-single/templates/clusterrole.yaml
  stable/victoria-metrics/victoria-metrics-single/templates/clusterrolebinding.yaml
  stable/victoria-metrics/victoria-metrics-single/templates/pdb.yaml
  stable/victoria-metrics/victoria-metrics-single/templates/podsecuritypolicy.yaml
  stable/victoria-metrics/victoria-metrics-single/templates/role.yaml
  stable/victoria-metrics/victoria-metrics-single/templates/rolebinding.yaml
  stable/victoria-metrics/victoria-metrics-single/templates/scrape-configmap.yaml
  stable/victoria-metrics/victoria-metrics-single/templates/server-deployment.yaml
  stable/victoria-metrics/victoria-metrics-single/templates/server-ingress.yaml
  stable/victoria-metrics/victoria-metrics-single/templates/server-pvc.yaml
  stable/victoria-metrics/victoria-metrics-single/templates/server-service-headless.yaml
  stable/victoria-metrics/victoria-metrics-single/templates/server-service-monitor.yaml
  stable/victoria-metrics/victoria-metrics-single/templates/server-service.yaml
  stable/victoria-metrics/victoria-metrics-single/templates/server-statefulset.yaml
  stable/victoria-metrics/victoria-metrics-single/templates/serviceaccount.yaml
  stable/victoria-metrics/victoria-metrics-single/values.yaml
Due: none

[chore] [publish-k8s-agent] Update agent images to latest pre-prod commit at 2023-09-25_23:04:54
  stable/stackstate-k8s-agent/Chart.yaml
  stable/stackstate-k8s-agent/README.md
  stable/stackstate-k8s-agent/values.yaml
Due: none

STAC-20193 Reset repositorySuffix to empty to prepare for release candidates
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-20159 Security updates.
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/values.yaml
  stable/minio/Chart.yaml
  stable/minio/README.md
  stable/minio/values.yaml
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_hbase_to_internal, push_minio_to_internal, push_stackstate_to_internal

STAC-20159 Revert hbase and minio chart changes, override values in stackstate chart.
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/values.yaml
  stable/minio/Chart.yaml
  stable/minio/README.md
  stable/minio/values.yaml
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_hbase_to_internal, push_minio_to_internal, push_stackstate_to_internal

STAC-20159 Revert some more changes and regenerate chart lock.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

STAC-20193 Make 5.1.10 rc1
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

chore(stackstate): Upgrade anomaly-detection to version 5.2.0-snapshot.76.
  stable/stackstate-k8s/Chart.lock
  stable/stackstate-k8s/Chart.yaml
  stable/stackstate-k8s/README.md
Due: none

STAC-0: Add logo for inclusion in Suse Marketplace
  stable/stackstate-k8s-agent/.helmignore
  stable/stackstate-k8s-agent/Chart.yaml
  stable/stackstate-k8s-agent/README.md
  stable/stackstate-k8s-agent/Releasing.md
  stable/stackstate-k8s-agent/logo.svg
  stable/stackstate-k8s/Chart.lock
Due: none

STAC-20193 Make 5.1.10 rc2
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STACK-19941 Configured stackstate-k8s to use newly "forked" Victoria Metrics
  stable/stackstate-k8s/Chart.lock
  stable/stackstate-k8s/Chart.yaml
  stable/stackstate-k8s/README.md
Due: none

STACK-19941 Added sidecar and init containers used by VictoriaMetrics backups
  stable/stackstate-k8s/Chart.lock
  stable/stackstate-k8s/Chart.yaml
  stable/stackstate-k8s/README.md
  stable/stackstate-k8s/values.yaml
  stable/victoria-metrics/victoria-metrics-single/Chart.yaml
  stable/victoria-metrics/victoria-metrics-single/README.md
  stable/victoria-metrics/victoria-metrics-single/templates/server-deployment.yaml
  stable/victoria-metrics/victoria-metrics-single/templates/server-statefulset.yaml
  stable/victoria-metrics/victoria-metrics-single/values.yaml
Due: none

STACK-19941 Adjusted gitlab pipeline to use our own copy of Victoria Metrics
  .gitignore
  .gitlab-ci.yml
  .jsonnet-libs/extras/helm_chart_repo/variables.libsonnet
  stable/stackstate-k8s/Chart.lock
  stable/stackstate-k8s/Chart.yaml
  stable/stackstate-k8s/README.md
  stable/victoria-metrics-single/.helmignore
  stable/victoria-metrics-single/Chart.yaml
  stable/victoria-metrics-single/README.md
  stable/victoria-metrics-single/README.md.gotmpl
  stable/victoria-metrics-single/templates/NOTES.txt
  stable/victoria-metrics-single/templates/_helpers.tpl
  stable/victoria-metrics-single/templates/clusterrole.yaml
  stable/victoria-metrics-single/templates/clusterrolebinding.yaml
  stable/victoria-metrics-single/templates/pdb.yaml
  stable/victoria-metrics-single/templates/podsecuritypolicy.yaml
  stable/victoria-metrics-single/templates/role.yaml
  stable/victoria-metrics-single/templates/rolebinding.yaml
  stable/victoria-metrics-single/templates/scrape-configmap.yaml
  stable/victoria-metrics-single/templates/server-ingress.yaml
  stable/victoria-metrics-single/templates/server-pvc.yaml
  stable/victoria-metrics-single/templates/server-service-headless.yaml
  stable/victoria-metrics-single/templates/server-service-monitor.yaml
  stable/victoria-metrics-single/templates/server-service.yaml
  stable/victoria-metrics-single/templates/server-statefulset.yaml
  stable/victoria-metrics-single/templates/serviceaccount.yaml
  stable/victoria-metrics-single/values.yaml
  stable/victoria-metrics/README.md
  util/dashboards/limits-and-usage/README.md
Due: none

STAC-20193: Make 5.1.10
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STACK-19941 Added creation of MinIO bucket for Victoria Metrics backups
  stable/stackstate-k8s/scripts/configure-backup.sh
  stable/stackstate-k8s/templates/_helper-backup.tpl
  stable/stackstate-k8s/templates/configmap-backup-restore-scripts.yaml
  stable/stackstate-k8s/templates/job-backup-init.yaml
Due: none

STAC-20208: Enable logsAgent by default for k8s
  stable/stackstate-k8s-agent/Chart.yaml
  stable/stackstate-k8s-agent/README.md
  stable/stackstate-k8s-agent/values.yaml
  stable/stackstate-k8s/Chart.lock
  stable/stackstate-k8s/Chart.yaml
  stable/stackstate-k8s/README.md
  stable/victoria-metrics-single/Chart.yaml
  stable/victoria-metrics-single/README.md
  stable/victoria-metrics-single/README.md.gotmpl
Due: none

chore(stackstate): Upgrade anomaly-detection to version 5.2.0-snapshot.80.
  stable/stackstate-k8s/Chart.lock
  stable/stackstate-k8s/Chart.yaml
  stable/stackstate-k8s/README.md
Due: none

[chore] [publish-k8s-agent] Update agent images to latest pre-prod commit at 2023-10-02_23:04:19
  stable/stackstate-k8s-agent/Chart.yaml
  stable/stackstate-k8s-agent/README.md
  stable/stackstate-k8s-agent/values.yaml
Due: none

chore(stackstate): Upgrade StackGraph to version 4.12.4.
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/values.yaml
  stable/stackstate-k8s/Chart.lock
  stable/stackstate-k8s/Chart.yaml
  stable/stackstate-k8s/README.md
  stable/stackstate-k8s/values.yaml
Due: push_hbase_to_internal

STACK-19941 Scripts to restore Victoria Metrics
  stable/stackstate-k8s/README.md
  stable/stackstate-k8s/restore/list-victoria-metrics-backups.sh
  stable/stackstate-k8s/restore/restore-victoria-metrics-backup.sh
  stable/stackstate-k8s/scripts/configure-backup.sh
  stable/stackstate-k8s/scripts/list-victoria-metrics-backups.sh
  stable/stackstate-k8s/scripts/restore-victoria-metrics-backup.sh
  stable/stackstate-k8s/templates/_helper-backup.tpl
  stable/stackstate-k8s/templates/configmap-backup-restore-scripts.yaml
  stable/stackstate-k8s/templates/job-backup-init.yaml
  stable/stackstate-k8s/values.yaml
  stable/victoria-metrics-single/README.md
  stable/victoria-metrics-single/README.md.gotmpl
Due: none

STACK-19941 Updated chart version of Victoria Metrics
  stable/stackstate-k8s/Chart.lock
  stable/stackstate-k8s/Chart.yaml
  stable/stackstate-k8s/README.md
  stable/victoria-metrics-single/Chart.yaml
  stable/victoria-metrics-single/README.md
Due: none

STACK-19941 Configuration of vmrestore image
  stable/stackstate-k8s/README.md
  stable/stackstate-k8s/templates/_helper.tpl
  stable/stackstate-k8s/templates/configmap-backup-restore-scripts.yaml
  stable/stackstate-k8s/values.yaml
Due: none

STACK-19941 Check if restore is enabled for specific instance, scale up Victoria Metrics after recovery
  stable/stackstate-k8s/restore/restore-victoria-metrics-backup.sh
  stable/stackstate-k8s/templates/configmap-backup-restore-scripts.yaml
Due: none

STAC-20214 Reset repositorySuffix to empty to prepare for release candidates
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-20237 Shorten name of stackgraph cronjob
  stable/stackstate-k8s/templates/cronjob-backup.yaml
Due: none

STAC-20237 Create backup configmap for config backup
  stable/stackstate-k8s/templates/configmap-backup-restore-scripts.yaml
Due: none

STAC-20237 Create backup configmap for config backup
  stable/stackstate/templates/configmap-backup-restore-scripts.yaml
Due: push_stackstate_to_internal

STAC-20252 Releasing stackstate-k8s
  stable/stackstate-k8s/Chart.yaml
  stable/stackstate-k8s/README.md
  stable/stackstate-k8s/values.yaml
Due: none

STAC-20102: Create new topic for sync settings
  stable/stackstate-k8s/scripts/job-kafka-topic-create.sh
Due: none

STAC-20252 Start stackstate-k8s 1.0.7
  stable/stackstate-k8s/Chart.yaml
  stable/stackstate-k8s/README.md
Due: none

Path conditions:
  push_aws-amicleaner_to_internal: any of: stable/aws-amicleaner/**/*
  push_aws-nuke_to_internal: any of: stable/aws-nuke/**/*
  push_aws-pod-identity-webhook_to_internal: any of: stable/aws-pod-identity-webhook/**/*
  push_beacher-job_to_internal: any of: stable/beacher-job/**/*
  push_chartmuseum_to_internal: any of: stable/chartmuseum/**/*
  push_cluster-agent_to_internal: any of: stable/cluster-agent/**/*
  push_common_to_internal: any of: stable/common/**/*
  push_elasticsearch_to_internal: any of: stable/elasticsearch/**/*
  push_gitlab-runner_to_internal: any of: stable/gitlab-runner/**/*
  push_gitlab-steward_to_internal: any of: stable/gitlab-steward/**/*
  push_hbase_to_internal: any of: stable/hbase/**/*
  push_iceman_to_internal: any of: stable/iceman/**/*
  push_kafka_to_internal: any of: stable/kafka/**/*
  push_kafkaup-operator_to_internal: any of: stable/kafkaup-operator/**/*
  push_kommoner-operator_to_internal: any of: stable/kommoner-operator/**/*
  push_minio_to_internal: any of: stable/minio/**/*
  push_petros-d-kubelet-stats-exporter_to_internal: any of: stable/petros-d-kubelet-stats-exporter/**/*
  push_sandbox-operator_to_internal: any of: stable/sandbox-operator/**/*
  push_stackstate-standalone_to_internal: any of: stable/stackstate-standalone/**/*
  push_stackstate_to_internal: any of: stable/stackstate/**/*
  push_trafficmirror_to_internal: any of: stable/trafficmirror/**/*
