Repository StackVista/helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: push_aws-amicleaner_to_internal, push_aws-nuke_to_internal, push_aws-pod-identity-webhook_to_internal, push_beacher-job_to_internal, push_chartmuseum_to_internal, push_cluster-agent_to_internal, push_common_to_internal, push_elasticsearch_to_internal, push_gitlab-runner_to_internal, push_gitlab-steward_to_internal, push_hbase_to_internal, push_iceman_to_internal, push_kafka_to_internal, push_kafkaup-operator_to_internal, push_kommoner-operator_to_internal, push_minio_to_internal, push_petros-d-kubelet-stats-exporter_to_internal, push_sandbox-operator_to_internal, push_stackstate-standalone_to_internal, push_stackstate_to_internal, push_trafficmirror_to_internal

Path conditions:
  push_aws-amicleaner_to_internal: any of: stable/aws-amicleaner/**/*
  push_aws-nuke_to_internal: any of: stable/aws-nuke/**/*
  push_aws-pod-identity-webhook_to_internal: any of: stable/aws-pod-identity-webhook/**/*
  push_beacher-job_to_internal: any of: stable/beacher-job/**/*
  push_chartmuseum_to_internal: any of: stable/chartmuseum/**/*
  push_cluster-agent_to_internal: any of: stable/cluster-agent/**/*
  push_common_to_internal: any of: stable/common/**/*
  push_elasticsearch_to_internal: any of: stable/elasticsearch/**/*
  push_gitlab-runner_to_internal: any of: stable/gitlab-runner/**/*
  push_gitlab-steward_to_internal: any of: stable/gitlab-steward/**/*
  push_hbase_to_internal: any of: stable/hbase/**/*
  push_iceman_to_internal: any of: stable/iceman/**/*
  push_kafka_to_internal: any of: stable/kafka/**/*
  push_kafkaup-operator_to_internal: any of: stable/kafkaup-operator/**/*
  push_kommoner-operator_to_internal: any of: stable/kommoner-operator/**/*
  push_minio_to_internal: any of: stable/minio/**/*
  push_petros-d-kubelet-stats-exporter_to_internal: any of: stable/petros-d-kubelet-stats-exporter/**/*
  push_sandbox-operator_to_internal: any of: stable/sandbox-operator/**/*
  push_stackstate-standalone_to_internal: any of: stable/stackstate-standalone/**/*
  push_stackstate_to_internal: any of: stable/stackstate/**/*
  push_trafficmirror_to_internal: any of: stable/trafficmirror/**/*

STAC-18705: add VictoriaMetrics alerts
  stable/stackstate-monitoring/templates/rule-victoria-metrics.yaml
Due: none

STAC-18705: bump monitoring chart version
  stable/stackstate-monitoring/Chart.yaml
Due: none

STAC-18705: escape all strings for interpolation using labels
  stable/stackstate-monitoring/templates/rule-victoria-metrics.yaml
Due: none

STAC-18705: add links to runbooks
  stable/stackstate-monitoring/templates/rule-victoria-metrics.yaml
Due: none

STAC-18705: add links to generic VM runbook
  stable/stackstate-monitoring/templates/rule-victoria-metrics.yaml
Due: none

Stac 18705 fix victoriametrics alerts deployment
  stable/stackstate-monitoring/Chart.yaml
  stable/stackstate-monitoring/README.md
  stable/stackstate-monitoring/templates/rule-victoria-metrics.yaml
Due: none

STAC-0: Increase threshold for StackStateContainerHighCpuUsage
  stable/k8s-spot-termination-handler/Chart.yaml
  stable/k8s-spot-termination-handler/README.md
  stable/k8s-spot-termination-handler/README.md.gotmpl
  stable/stackstate-monitoring/Chart.yaml
  stable/stackstate-monitoring/README.md
  stable/stackstate-monitoring/templates/rule-sts-cpu.yaml
Due: none

STAC-19206: Bump agent version and chart
  stable/stackstate-k8s-agent/Chart.yaml
  stable/stackstate-k8s-agent/README.md
  stable/stackstate-k8s-agent/values.yaml
Due: none

STAC-19206: Add permissions to list volumeattachments
  stable/stackstate-k8s-agent/README.md
  stable/stackstate-k8s-agent/templates/cluster-agent-clusterrole.yaml
  stable/stackstate-k8s-agent/values.yaml
Due: none

STAC-0: bump maxLabelsPerTimeseries
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-19215 Release security updates.
  stable/stackstate-agent/Chart.yaml
  stable/stackstate-agent/README.md
  stable/stackstate-agent/values.yaml
  stable/stackstate-k8s-agent/Chart.yaml
  stable/stackstate-k8s-agent/README.md
  stable/stackstate/Chart.lock
  stable/stackstate/README.md
Due: push_stackstate_to_internal

STAC-19310: Make the Stackstate Helm chart compatible with K8s 1.26
  helmtestutil/KubernetesResources.go
  stable/elasticsearch/Chart.yaml
  stable/elasticsearch/README.md
  stable/elasticsearch/templates/_helpers.tpl
  stable/elasticsearch/templates/ingress.yaml
  stable/hbase/Chart.lock
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/values.yaml
  stable/minio/Chart.yaml
  stable/minio/README.md
  stable/minio/templates/_helpers.tpl
  stable/minio/templates/ingress.yaml
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/test/values/full.yaml
Due: push_elasticsearch_to_internal, push_hbase_to_internal, push_minio_to_internal, push_stackstate_to_internal

STAC-19310: Upgrade Kafka helm chart from 14.8.1 to 15.5.1
  helmtestutil/KubernetesResources.go
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/test/values/full.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-19344: Adopting Stackstate Helm chart for deployment to Openshift >= 4.12
  stable/stackstate/README.md
  stable/stackstate/templates/scc.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAc-19271: Add container pots and allow endpoints in clusterrole
  stable/stackstate-k8s-agent/templates/_container-process-agent.yaml
  stable/stackstate-k8s-agent/templates/node-agent-clusterrole.yaml
Due: none

STAC-19271: Bump chart
  stable/stackstate-k8s-agent/Chart.yaml
  stable/stackstate-k8s-agent/README.md
Due: none

STAC-19271: Various config options for the process agent
  stable/stackstate-k8s-agent/README.md
  stable/stackstate-k8s-agent/templates/_container-agent.yaml
  stable/stackstate-k8s-agent/templates/_container-process-agent.yaml
  stable/stackstate-k8s-agent/templates/node-agent-daemonset.yaml
  stable/stackstate-k8s-agent/values.yaml
Due: none

STAC-0 Removing old kube state metrics implementation.
  stable/stackstate-k8s-agent/Chart.lock
  stable/stackstate-k8s-agent/Chart.yaml
  stable/stackstate-k8s-agent/README.md
  stable/stackstate-k8s-agent/README.md.gotmpl
  stable/stackstate-k8s-agent/templates/_container-agent.yaml
  stable/stackstate-k8s-agent/templates/cluster-agent-configmap.yaml
  stable/stackstate-k8s-agent/templates/cluster-agent-deployment.yaml
  stable/stackstate-k8s-agent/templates/node-agent-configmap.yaml
  stable/stackstate-k8s-agent/templates/node-agent-daemonset.yaml
  stable/stackstate-k8s-agent/values.yaml
Due: none

STAC-0 Update Chart version.
  stable/stackstate-k8s-agent/Chart.yaml
  stable/stackstate-k8s-agent/README.md
Due: none

STAC-19255 Deleted unused unit test.
  stable/stackstate-k8s-agent/test/clustercheck_ksm_test.go
Due: none

STAC-19399: Split K8s demo scenario Cronjob to independently manage faulty and good deployments
  stable/sock-shop/Chart.yaml
  stable/sock-shop/README.md
  stable/sock-shop/scripts/deploy-catalogue-demo-scenario.sh
  stable/sock-shop/templates/catalogue-failure-cfg.yaml
  stable/sock-shop/templates/catalogue-failure-job.yaml
  stable/sock-shop/values.yaml
Due: none

STAC-0: Bump to the latest tags
  stable/stackstate-k8s-agent/Chart.yaml
  stable/stackstate-k8s-agent/README.md
  stable/stackstate-k8s-agent/values.yaml
Due: none

STAC-19432 Tune health-sync memory settings after observing crashes on playground
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-19432 Fix test
  stable/stackstate/test/services_java_heap_test.go
Due: push_stackstate_to_internal

STAC-19432 And another failing test :(
  stable/stackstate/test/cache_backend_test.go
Due: push_stackstate_to_internal

STAC-0 Update released agent images to latest dev tag.
  stable/stackstate-k8s-agent/Chart.yaml
  stable/stackstate-k8s-agent/README.md
  stable/stackstate-k8s-agent/values.yaml
Due: none

Disable anomaly detection by default and fix tests
  stable/stackstate-k8s/README.md
  stable/stackstate-k8s/test/generic_service_test.go
  stable/stackstate-k8s/test/k2es_disk_space_test.go
  stable/stackstate-k8s/test/pull_secret_test.go
  stable/stackstate-k8s/test/services_java_heap_test.go
  stable/stackstate-k8s/values.yaml
Due: none

More fixes for tests
  .gitlab-ci.jsonnet
  .gitlab-ci.yml
Due: none

Fix chart name, publishing and generate values
  .gitlab-ci.jsonnet
  .gitlab-ci.yml
  .gitlab/bump_sts_chart_master_version.sh
  stable/stackstate-k8s/Chart.yaml
  stable/stackstate-k8s/README.md
  stable/stackstate-k8s/installation/generate_values.sh
  stable/stackstate-k8s/test/authentication_test.go
  stable/stackstate-k8s/test/cache_backend_test.go
  stable/stackstate-k8s/test/cluster_resource_naming_test.go
  stable/stackstate-k8s/test/docs_config_test.go
  stable/stackstate-k8s/test/generic_service_test.go
  stable/stackstate-k8s/test/k2es_disk_space_test.go
  stable/stackstate-k8s/test/pull_secret_test.go
  stable/stackstate-k8s/test/run_config_test.go
  stable/stackstate-k8s/test/sample_test.go
  stable/stackstate-k8s/test/services_java_heap_test.go
  stable/stackstate-k8s/test/services_parallelism_test.go
  stable/stackstate-k8s/test/stackpack_config_test.go
Due: none

STAC-19468 Drop invalid metrics annotations from cluster agent
  stable/stackstate-agent/Chart.yaml
  stable/stackstate-agent/README.md
  stable/stackstate-agent/templates/cluster-agent-deployment.yaml
  stable/stackstate-k8s-agent/Chart.yaml
  stable/stackstate-k8s-agent/README.md
  stable/stackstate-k8s-agent/templates/cluster-agent-deployment.yaml
Due: none

STAC-19468 Fix stackstate dependencies on agent
  stable/stackstate-k8s/Chart.lock
  stable/stackstate/Chart.lock
Due: push_stackstate_to_internal

STAC-16978: Fix application_conf generation
  stable/stackstate/templates/_helper-server-and-api-configmap.tpl
  stable/stackstate/test/authentication_test.go
  stable/stackstate/test/run_config_test.go
Due: push_stackstate_to_internal

STAC-16978: Referencing existing lists of permissions
  stable/stackstate/templates/_helper-server-and-api-configmap.tpl
Due: push_stackstate_to_internal

STAC-16979: Fix config rendering
  stable/stackstate/templates/_helper-server-and-api-configmap.tpl
Due: push_stackstate_to_internal

[chore] Update agent images to latest pre-prod commit at 2023-05-08_09:34:06
  stable/stackstate-k8s-agent/Chart.yaml
  stable/stackstate-k8s-agent/README.md
  stable/stackstate-k8s-agent/values.yaml
Due: none

chore(stackstate): Upgrade anomaly-detection to version 5.2.0-snapshot.55.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

STAC-19569 Set sensible defaults for metric filters of stackstate services
  stable/stackstate-k8s/README.md
  stable/stackstate-k8s/values.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal
