Repository StackVista/helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: push_aws-amicleaner_to_internal, push_aws-nuke_to_internal, push_chartmuseum_to_internal, push_cluster-agent_to_internal, push_common_to_internal, push_elasticsearch_to_internal, push_gitlab-runner_to_internal, push_gitlab-steward_to_internal, push_hbase_to_internal, push_iceman_to_internal, push_kafka_to_internal, push_sandbox-operator_to_internal, push_stackstate-standalone_to_internal, push_stackstate_to_internal, push_trafficmirror_to_internal

Path conditions:
  push_aws-amicleaner_to_internal: any of: stable/aws-amicleaner/**/*
  push_aws-nuke_to_internal: any of: stable/aws-nuke/**/*
  push_chartmuseum_to_internal: any of: stable/chartmuseum/**/*
  push_cluster-agent_to_internal: any of: stable/cluster-agent/**/*
  push_common_to_internal: any of: stable/common/**/*
  push_elasticsearch_to_internal: any of: stable/elasticsearch/**/*
  push_gitlab-runner_to_internal: any of: stable/gitlab-runner/**/*
  push_gitlab-steward_to_internal: any of: stable/gitlab-steward/**/*
  push_hbase_to_internal: any of: stable/hbase/**/*
  push_iceman_to_internal: any of: stable/iceman/**/*
  push_kafka_to_internal: any of: stable/kafka/**/*
  push_sandbox-operator_to_internal: any of: stable/sandbox-operator/**/*
  push_stackstate-standalone_to_internal: any of: stable/stackstate-standalone/**/*
  push_stackstate_to_internal: any of: stable/stackstate/**/*
  push_trafficmirror_to_internal: any of: stable/trafficmirror/**/*

Reset repository suffix for new release
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-13900 Get rid of helm-docs version in README's
  stable/aws-amicleaner/Chart.yaml
  stable/aws-amicleaner/README.md
  stable/aws-amicleaner/README.md.gotmpl
  stable/aws-nuke/Chart.yaml
  stable/aws-nuke/README.md
  stable/aws-nuke/README.md.gotmpl
  stable/chartmuseum/Chart.yaml
  stable/chartmuseum/README.md
  stable/chartmuseum/README.md.gotmpl
  stable/cluster-agent/Chart.yaml
  stable/cluster-agent/README.md
  stable/common/Chart.yaml
  stable/common/README.md
  stable/common/README.md.gotmpl
  stable/elasticsearch/Chart.yaml
  stable/elasticsearch/README.md
  stable/elasticsearch/README.md.gotmpl
  stable/gitlab-runner/Chart.yaml
  stable/gitlab-runner/README.md.gotmpl
  stable/gitlab-steward/Chart.yaml
  stable/gitlab-steward/README.md
  stable/gitlab-steward/README.md.gotmpl
  stable/iceman/Chart.yaml
  stable/iceman/README.md
  stable/iceman/README.md.gotmpl
  stable/kafka/Chart.yaml
  stable/kafka/README.md
  stable/kafka/README.md.gotmpl
  stable/receiveramplifier/Chart.yaml
  stable/receiveramplifier/README.md
  stable/receiveramplifier/README.md.gotmpl
  stable/sandbox-operator/Chart.yaml
  stable/sandbox-operator/README.md
  stable/sandbox-operator/README.md.gotmpl
  stable/stackstate/README.md
  stable/trafficmirror/Chart.yaml
  stable/trafficmirror/README.md
  stable/trafficmirror/README.md.gotmpl
Due: push_aws-amicleaner_to_internal, push_aws-nuke_to_internal, push_chartmuseum_to_internal, push_cluster-agent_to_internal, push_common_to_internal, push_elasticsearch_to_internal, push_gitlab-runner_to_internal, push_gitlab-steward_to_internal, push_iceman_to_internal, push_kafka_to_internal, push_sandbox-operator_to_internal, push_stackstate_to_internal, push_trafficmirror_to_internal

STAC-13900 Cluster agent needs a bump as well
  stable/cluster-agent/Chart.yaml
  stable/cluster-agent/README.md
Due: push_cluster-agent_to_internal

chore(stackstate): Upgrade anomaly-detection to version 4.5.0-snapshot.12.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

STAC-13900 Bump version of steward
  stable/gitlab-steward/Chart.yaml
  stable/gitlab-steward/README.md
Due: push_gitlab-steward_to_internal

STAC-13681 Make 4.3.5 rc6
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-13868 Make 4.4.1 rc4
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-13868 Make 4.4.1
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

Create pull_request_template.md
  pull_request_template.md
Due: none

STAC-13772 Orders fragments in openshift-values.yaml alphabetically
  stable/stackstate/installation/examples/openshift-values.yaml
Due: push_stackstate_to_internal

STAC-13772 Removes non-OpenShift specific configuration of cluster-agent subchart
  stable/stackstate/installation/examples/openshift-values.yaml
Due: push_stackstate_to_internal

STAC-13733 Updates version of container-tools image to resolve known vulns
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-13772 Fixes MinIO to run on OpenShift
  stable/stackstate/installation/examples/openshift-values.yaml
Due: push_stackstate_to_internal

chore(stackstate): Upgrade StackGraph to version 4.2.1.
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/values.yaml
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_hbase_to_internal, push_stackstate_to_internal

STAC-13772 Fixes backup-init job to run on OpenShift
  stable/stackstate/README.md
  stable/stackstate/templates/job-backup-init.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-13772 Fixes StackGraph backup and restore jobs to run on OpenShift
  stable/stackstate/README.md
  stable/stackstate/installation/examples/openshift-values.yaml
  stable/stackstate/templates/configmap-backup-restore-scripts.yaml
  stable/stackstate/templates/cronjob-backup.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-13772 Fixes backup cronjob to also run in non-split mode
  stable/stackstate/templates/cronjob-backup.yaml
Due: push_stackstate_to_internal

STAC-13884 Make 4.5.0-pre.1 rc2
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

chore(stackstate): Upgrade StackGraph to version 4.2.2.
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/values.yaml
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_hbase_to_internal, push_stackstate_to_internal

chore(stackstate): Upgrade anomaly-detection to version 4.5.0-snapshot.14.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

STAC-13884 Make 4.5.0-pre.1 rc3
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-13894: Allow specific services to override hbase.hdfs.commonEnv defined env vars
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/templates/hbase-master-statefulset.yaml
  stable/hbase/templates/hbase-rs-statefulset.yaml
  stable/hbase/templates/hdfs-dn-statefulset.yaml
  stable/hbase/templates/hdfs-nn-statefulset.yaml
  stable/hbase/templates/hdfs-snn-statefulset.yaml
  stable/hbase/templates/tephra-statefulset.yaml
Due: push_hbase_to_internal

STAC-13894: Apply all common overrides after the default hdfs and hbase values
  stable/hbase/templates/hbase-master-statefulset.yaml
  stable/hbase/templates/hbase-rs-statefulset.yaml
  stable/hbase/templates/hdfs-dn-statefulset.yaml
  stable/hbase/templates/hdfs-nn-statefulset.yaml
  stable/hbase/templates/hdfs-snn-statefulset.yaml
  stable/hbase/templates/tephra-statefulset.yaml
  stable/stackstate/README.md
Due: push_hbase_to_internal, push_stackstate_to_internal

STAC-13905 Adds kurl/contour specific Ingress to stackstate Helm chart
  stable/stackstate/README.md
  stable/stackstate/templates/ingress-kurl.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-13964: stripSuffix '/' for .Values.stackstate.baseUrl
  stable/stackstate-standalone/templates/_helpers.tpl
  stable/stackstate/templates/_helper-server-and-api-configmap.tpl
  stable/stackstate/templates/_helper.tpl
  stable/stackstate/templates/deployment-api.yaml
  stable/stackstate/templates/deployment-checks.yaml
  stable/stackstate/templates/deployment-healthSync.yaml
  stable/stackstate/templates/deployment-initializer.yaml
  stable/stackstate/templates/deployment-problemProducer.yaml
  stable/stackstate/templates/deployment-server.yaml
  stable/stackstate/templates/deployment-slicing.yaml
  stable/stackstate/templates/deployment-state.yaml
  stable/stackstate/templates/deployment-sync.yaml
  stable/stackstate/templates/deployment-viewHealth.yaml
Due: push_stackstate-standalone_to_internal, push_stackstate_to_internal

STAC-13964: Use correct quote for string
  stable/stackstate-standalone/templates/_helpers.tpl
  stable/stackstate/templates/_helper-server-and-api-configmap.tpl
  stable/stackstate/templates/_helper.tpl
Due: push_stackstate-standalone_to_internal, push_stackstate_to_internal

STAC-13964: Bump stackstate-standalone chart version
  stable/stackstate-standalone/Chart.yaml
  stable/stackstate-standalone/README.md
Due: push_stackstate-standalone_to_internal

STAC-13694: Use correct quote
  stable/stackstate/templates/_helper-server-and-api-configmap.tpl
Due: push_stackstate_to_internal

chore(stackstate): Upgrade anomaly-detection to version 4.5.0-snapshot.21.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

chore(stackstate): Upgrade anomaly-detection to version 4.5.0-snapshot.22.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

STAC-13884 Make 4.5.0-pre.1 rc9
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-13962 Updates trafficmirror Helm chart for trafficmirror v2.0.0
  stable/trafficmirror/Chart.yaml
  stable/trafficmirror/README.md
  stable/trafficmirror/templates/deployment.yaml
  stable/trafficmirror/values.yaml
Due: push_trafficmirror_to_internal
