Repository StackVista/helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: push_aws-amicleaner_to_internal, push_aws-amicleaner_to_public, push_aws-nuke_to_internal, push_aws-nuke_to_public, push_cluster-agent_to_internal, push_cluster-agent_to_public, push_common_to_internal, push_common_to_public, push_elasticsearch_to_internal, push_elasticsearch_to_public, push_gitlab-runner_to_internal, push_gitlab-runner_to_public, push_gitlab-steward_to_internal, push_gitlab-steward_to_public, push_hbase_to_internal, push_hbase_to_public, push_iceman_to_internal, push_iceman_to_public, push_stackstate-standalone_to_internal, push_stackstate-standalone_to_public, push_stackstate_to_internal, push_stackstate_to_public, push_trafficmirror_to_internal, push_trafficmirror_to_public

Path conditions:
  push_aws-amicleaner_to_internal: any of: stable/aws-amicleaner/**/*
  push_aws-amicleaner_to_public: any of: stable/aws-amicleaner/**/*
  push_aws-nuke_to_internal: any of: stable/aws-nuke/**/*
  push_aws-nuke_to_public: any of: stable/aws-nuke/**/*
  push_cluster-agent_to_internal: any of: stable/cluster-agent/**/*
  push_cluster-agent_to_public: any of: stable/cluster-agent/**/*
  push_common_to_internal: any of: stable/common/**/*
  push_common_to_public: any of: stable/common/**/*
  push_elasticsearch_to_internal: any of: stable/elasticsearch/**/*
  push_elasticsearch_to_public: any of: stable/elasticsearch/**/*
  push_gitlab-runner_to_internal: any of: stable/gitlab-runner/**/*
  push_gitlab-runner_to_public: any of: stable/gitlab-runner/**/*
  push_gitlab-steward_to_internal: any of: stable/gitlab-steward/**/*
  push_gitlab-steward_to_public: any of: stable/gitlab-steward/**/*
  push_hbase_to_internal: any of: stable/hbase/**/*
  push_hbase_to_public: any of: stable/hbase/**/*
  push_iceman_to_internal: any of: stable/iceman/**/*
  push_iceman_to_public: any of: stable/iceman/**/*
  push_stackstate-standalone_to_internal: any of: stable/stackstate-standalone/**/*
  push_stackstate-standalone_to_public: any of: stable/stackstate-standalone/**/*
  push_stackstate_to_internal: any of: stable/stackstate/**/*
  push_stackstate_to_public: any of: stable/stackstate/**/*
  push_trafficmirror_to_internal: any of: stable/trafficmirror/**/*
  push_trafficmirror_to_public: any of: stable/trafficmirror/**/*

STAC-0: Fix linter error
  stable/stackstate/templates/_helper-server-and-api-configmap.tpl
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-10929: Tweak memory and cache settings
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/templates/deployment-api.yaml
  stable/stackstate/templates/deployment-checks.yaml
  stable/stackstate/templates/deployment-state.yaml
  stable/stackstate/templates/deployment-sync.yaml
  stable/stackstate/templates/deployment-viewHealth.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-10929: Fix expectation on values
  stable/stackstate/test/services_java_heap_test.go
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-10929: Tweak memory resources for split services
  stable/stackstate/README.md
  stable/stackstate/test/services_java_heap_test.go
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

chore(stackstate): Upgrade StackGraph to version 3.6.0.
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/values.yaml
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_hbase_to_internal, push_hbase_to_public, push_stackstate_to_internal, push_stackstate_to_public

STAC-0: Raise sync service limits
  stable/stackstate/README.md
  stable/stackstate/test/services_java_heap_test.go
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-0: Fix values file for test
  stable/stackstate/test/values/full.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-0: Raise pod limits and lower ratio
  stable/stackstate/README.md
  stable/stackstate/test/services_java_heap_test.go
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-0: Bump version
  stable/hbase/README.md
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_hbase_to_internal, push_hbase_to_public, push_stackstate_to_internal, push_stackstate_to_public

STAC-11078 Make 4.2.0-charlie rc1
  stable/stackstate/Chart.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-11081: upgrading AAD chart - stream selection script has got more ranking heuristics - check presence and layer ordering
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/requirements.lock
  stable/stackstate/requirements.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

chore(stackstate): Upgrade StackGraph to version 3.6.2.
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/values.yaml
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_hbase_to_internal, push_hbase_to_public, push_stackstate_to_internal, push_stackstate_to_public

STAC-10402 Updates to helm-docs v1.3.0
  stable/aws-amicleaner/README.md
  stable/aws-nuke/README.md
  stable/cluster-agent/README.md.gotmpl
  stable/common/README.md
  stable/elasticsearch/README.md
  stable/gitlab-steward/README.md
  stable/hbase/README.md
  stable/iceman/README.md
  stable/stackstate-standalone/README.md.gotmpl
  stable/stackstate/README.md
  stable/stackstate/README.md.gotmpl
  stable/trafficmirror/README.md
Due: push_aws-amicleaner_to_internal, push_aws-amicleaner_to_public, push_aws-nuke_to_internal, push_aws-nuke_to_public, push_cluster-agent_to_internal, push_cluster-agent_to_public, push_common_to_internal, push_common_to_public, push_elasticsearch_to_internal, push_elasticsearch_to_public, push_gitlab-steward_to_internal, push_gitlab-steward_to_public, push_hbase_to_internal, push_hbase_to_public, push_iceman_to_internal, push_iceman_to_public, push_stackstate-standalone_to_internal, push_stackstate-standalone_to_public, push_stackstate_to_internal, push_stackstate_to_public, push_trafficmirror_to_internal, push_trafficmirror_to_public

feat(gitlab-runner): STAC-0 | Bump to version 0.22.0
  stable/gitlab-runner/.gitignore
  stable/gitlab-runner/.gitlab-ci.yml
  stable/gitlab-runner/.gitlab/changelog.yml
  stable/gitlab-runner/.gitrepo
  stable/gitlab-runner/CHANGELOG.md
  stable/gitlab-runner/Chart.yaml
  stable/gitlab-runner/Makefile
  stable/gitlab-runner/scripts/changelog2releasepost
  stable/gitlab-runner/scripts/security-harness
  stable/gitlab-runner/templates/NOTES.txt
  stable/gitlab-runner/templates/_env_vars.tpl
  stable/gitlab-runner/templates/_helpers.tpl
  stable/gitlab-runner/templates/configmap.yaml
  stable/gitlab-runner/templates/deployment.yaml
  stable/gitlab-runner/templates/role.yaml
  stable/gitlab-runner/templates/service-account.yaml
  stable/gitlab-runner/values.yaml
Due: push_gitlab-runner_to_internal, push_gitlab-runner_to_public

STAC-10402 Adds Helm chart for sandbox-operator
  stable/sandbox-operator/Chart.yaml
  stable/sandbox-operator/README.md
  stable/sandbox-operator/templates/_fullname.tpl
  stable/sandbox-operator/templates/reaper-cron.yaml
  stable/sandbox-operator/templates/reaper-secret.yaml
  stable/sandbox-operator/templates/sandboxer-deployment.yaml
  stable/sandbox-operator/templates/sandboxer-rbac.yaml
  stable/sandbox-operator/values.yaml
Due: none

STAC-10402 Adds sandbox-operator to list of charts to push
  .gitlab-ci.yml
  .jsonnet-libs/extras/helm_chart_repo/variables.libsonnet
Due: none

STAC-10402 Bumps version of sandbox-operator Helm chart
  stable/sandbox-operator/Chart.yaml
  stable/sandbox-operator/README.md
Due: none

refactor(gitlab-runner): STAC-0 | Drop mountDockerSocket as it's no longer used
  stable/gitlab-runner/templates/configmap.yaml
  stable/gitlab-runner/values.yaml
Due: push_gitlab-runner_to_internal, push_gitlab-runner_to_public

STAC-11107 Make 4.2.0-pre.2 rc2
  stable/stackstate/Chart.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-11107 Make 4.2.0-pre.2 rc2
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-10519 Change pipeline triggers to new versioning scheme
  .gitlab-ci.jsonnet
  .gitlab-ci.yml
  .jsonnet-libs/extras/helm_chart_repo/variables.libsonnet
Due: none

STAC-10402 Adds CRD to sandbox-operator Helm chart
  stable/sandbox-operator/crds/sandbox.yaml
Due: none

STAC-10402 Quotes channel ID in sandbox-operator Helm chart
  stable/sandbox-operator/Chart.yaml
  stable/sandbox-operator/README.md
  stable/sandbox-operator/templates/reaper-cron.yaml
  stable/sandbox-operator/values.yaml
Due: none

STAC-11107 Make 4.2.0-pre.2 rc3
  stable/stackstate/Chart.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-11078 Make 4.2.0-charlie rc2
  stable/stackstate/Chart.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

Removed -stable repository suffix
  stable/aws-amicleaner/README.md
  stable/aws-nuke/README.md
  stable/common/README.md
  stable/elasticsearch/README.md
  stable/gitlab-steward/README.md
  stable/hbase/README.md
  stable/iceman/README.md
  stable/stackstate/README.md
  stable/stackstate/values.yaml
  stable/trafficmirror/README.md
Due: push_aws-amicleaner_to_internal, push_aws-amicleaner_to_public, push_aws-nuke_to_internal, push_aws-nuke_to_public, push_common_to_internal, push_common_to_public, push_elasticsearch_to_internal, push_elasticsearch_to_public, push_gitlab-steward_to_internal, push_gitlab-steward_to_public, push_hbase_to_internal, push_hbase_to_public, push_iceman_to_internal, push_iceman_to_public, push_stackstate_to_internal, push_stackstate_to_public, push_trafficmirror_to_internal, push_trafficmirror_to_public

STAC-11107 Make 4.2.0-pre.2 rc5
  stable/stackstate/Chart.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-11143 Make 4.2.0-pre.3 rc1
  stable/stackstate/Chart.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

chore(stackstate): Upgrade StackGraph to version 3.6.3.
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/values.yaml
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_hbase_to_internal, push_hbase_to_public, push_stackstate_to_internal, push_stackstate_to_public

chore(stackstate): Upgrade StackGraph to version 3.6.4.
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/values.yaml
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_hbase_to_internal, push_hbase_to_public, push_stackstate_to_internal, push_stackstate_to_public

STAC-10773 Only refers to existing ServiceAccounts in ClusterRoleBinding
  stable/stackstate/templates/clusterrolebinding-authentication.yaml
  stable/stackstate/templates/clusterrolebinding-authorization.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-10773 Adds init-containers that verifies statefulset pods from 4.1.0 are not running
  stable/stackstate/templates/_helper.tpl
  stable/stackstate/templates/deployment-checks.yaml
  stable/stackstate/templates/deployment-initializer.yaml
  stable/stackstate/templates/deployment-server.yaml
  stable/stackstate/templates/deployment-slicing.yaml
  stable/stackstate/templates/deployment-state.yaml
  stable/stackstate/templates/deployment-sync.yaml
  stable/stackstate/templates/deployment-viewHealth.yaml
  stable/stackstate/templates/role-get-pods.yaml
  stable/stackstate/templates/rolebinding-get-pods.yaml
  stable/stackstate/templates/serviceaccount-api.yaml
  stable/stackstate/templates/serviceaccount-checks.yaml
  stable/stackstate/templates/serviceaccount-initializer.yaml
  stable/stackstate/templates/serviceaccount-server.yaml
  stable/stackstate/templates/serviceaccount-slicing.yaml
  stable/stackstate/templates/serviceaccount-state.yaml
  stable/stackstate/templates/serviceaccount-sync.yaml
  stable/stackstate/templates/serviceaccount-viewHealth.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-11185: Tweak slicing memory settings
  stable/aws-amicleaner/README.md
  stable/aws-nuke/README.md
  stable/common/README.md
  stable/elasticsearch/README.md
  stable/gitlab-steward/README.md
  stable/hbase/README.md
  stable/iceman/README.md
  stable/sandbox-operator/README.md
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/test/services_java_heap_test.go
  stable/stackstate/values.yaml
  stable/trafficmirror/README.md
Due: push_aws-amicleaner_to_internal, push_aws-amicleaner_to_public, push_aws-nuke_to_internal, push_aws-nuke_to_public, push_common_to_internal, push_common_to_public, push_elasticsearch_to_internal, push_elasticsearch_to_public, push_gitlab-steward_to_internal, push_gitlab-steward_to_public, push_hbase_to_internal, push_hbase_to_public, push_iceman_to_internal, push_iceman_to_public, push_stackstate_to_internal, push_stackstate_to_public, push_trafficmirror_to_internal, push_trafficmirror_to_public

STAC-11185: More tweak
  stable/aws-amicleaner/README.md
  stable/aws-nuke/README.md
  stable/common/README.md
  stable/elasticsearch/README.md
  stable/gitlab-steward/README.md
  stable/hbase/README.md
  stable/iceman/README.md
  stable/sandbox-operator/README.md
  stable/stackstate/README.md
  stable/stackstate/test/services_java_heap_test.go
  stable/stackstate/values.yaml
  stable/trafficmirror/README.md
Due: push_aws-amicleaner_to_internal, push_aws-amicleaner_to_public, push_aws-nuke_to_internal, push_aws-nuke_to_public, push_common_to_internal, push_common_to_public, push_elasticsearch_to_internal, push_elasticsearch_to_public, push_gitlab-steward_to_internal, push_gitlab-steward_to_public, push_hbase_to_internal, push_hbase_to_public, push_iceman_to_internal, push_iceman_to_public, push_stackstate_to_internal, push_stackstate_to_public, push_trafficmirror_to_internal, push_trafficmirror_to_public

STAC-10184: Put logback config into configmap
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/templates/_helper-microservice-log-configmap.tpl
  stable/stackstate/templates/configmap-api-log.yaml
  stable/stackstate/templates/configmap-checks-log.yaml
  stable/stackstate/templates/configmap-correlate-log.yaml
  stable/stackstate/templates/configmap-initializer-log.yaml
  stable/stackstate/templates/configmap-k2es-log.yaml
  stable/stackstate/templates/configmap-receiver-log.yaml
  stable/stackstate/templates/configmap-server-log.yaml
  stable/stackstate/templates/configmap-slicing-log.yaml
  stable/stackstate/templates/configmap-state-log.yaml
  stable/stackstate/templates/configmap-sync-log.yaml
  stable/stackstate/templates/configmap-viewHealth-log.yaml
  stable/stackstate/templates/deployment-api.yaml
  stable/stackstate/templates/deployment-checks.yaml
  stable/stackstate/templates/deployment-correlate.yaml
  stable/stackstate/templates/deployment-initializer.yaml
  stable/stackstate/templates/deployment-k2es-events-to-es.yaml
  stable/stackstate/templates/deployment-k2es-multi-metrics-to-es.yaml
  stable/stackstate/templates/deployment-k2es-sts-events-to-es.yaml
  stable/stackstate/templates/deployment-k2es-trace-events-to-es.yaml
  stable/stackstate/templates/deployment-receiver.yaml
  stable/stackstate/templates/deployment-server.yaml
  stable/stackstate/templates/deployment-slicing.yaml
  stable/stackstate/templates/deployment-state.yaml
  stable/stackstate/templates/deployment-sync.yaml
  stable/stackstate/templates/deployment-viewHealth.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-10184: Allow additional logging for each stackstate service
  stable/stackstate/README.md
  stable/stackstate/templates/_helper-microservice-log-configmap.tpl
  stable/stackstate/templates/configmap-checks-log.yaml
  stable/stackstate/templates/configmap-correlate-log.yaml
  stable/stackstate/templates/configmap-initializer-log.yaml
  stable/stackstate/templates/configmap-k2es-log.yaml
  stable/stackstate/templates/configmap-receiver-log.yaml
  stable/stackstate/templates/configmap-server-log.yaml
  stable/stackstate/templates/configmap-slicing-log.yaml
  stable/stackstate/templates/configmap-state-log.yaml
  stable/stackstate/templates/configmap-sync-log.yaml
  stable/stackstate/templates/configmap-viewHealth-log.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

chore(stackstate): Upgrade StackGraph to version 3.6.6.
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/values.yaml
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_hbase_to_internal, push_hbase_to_public, push_stackstate_to_internal, push_stackstate_to_public
