Repository StackVista/helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: push_aws-amicleaner_to_internal, push_aws-nuke_to_internal, push_aws-pod-identity-webhook_to_internal, push_beacher-job_to_internal, push_chartmuseum_to_internal, push_cluster-agent_to_internal, push_common_to_internal, push_elasticsearch_to_internal, push_gitlab-runner_to_internal, push_gitlab-steward_to_internal, push_hbase_to_internal, push_iceman_to_internal, push_kafka_to_internal, push_kafkaup-operator_to_internal, push_kommoner-operator_to_internal, push_minio_to_internal, push_petros-d-kubelet-stats-exporter_to_internal, push_sandbox-operator_to_internal, push_stackstate-standalone_to_internal, push_stackstate_to_internal, push_trafficmirror_to_internal

push_aws-amicleaner_to_internal:
  image: stackstate/stackstate-ci-images:stackstate-devops-f87d9654
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

push_aws-nuke_to_internal:
  image: stackstate/stackstate-ci-images:stackstate-devops-f87d9654
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

push_aws-pod-identity-webhook_to_internal:
  image: stackstate/stackstate-ci-images:stackstate-devops-f87d9654
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

push_beacher-job_to_internal:
  image: stackstate/stackstate-ci-images:stackstate-devops-f87d9654
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

push_chartmuseum_to_internal:
  image: stackstate/stackstate-ci-images:stackstate-devops-f87d9654
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

push_cluster-agent_to_internal:
  image: stackstate/stackstate-ci-images:stackstate-devops-f87d9654
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

push_common_to_internal:
  image: stackstate/stackstate-ci-images:stackstate-devops-f87d9654
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

push_elasticsearch_to_internal:
  image: stackstate/stackstate-ci-images:stackstate-devops-f87d9654
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

STAC-16083 Update helm chart dependencies for minio and elasticsearch.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

chore(stackstate): Upgrade anomaly-detection to version 4.7.0-snapshot.137.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

chore(stackstate): Upgrade anomaly-detection to version 4.7.0-snapshot.138.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

STAC-15224 Prevent template error
  stable/cluster-agent/README.md
  stable/cluster-agent/templates/cluster-agent-clusterrole.yaml
  stable/cluster-agent/values.yaml
Due: push_cluster-agent_to_internal

STAC-15224 Remove resources that disable the feature completely
  stable/cluster-agent/README.md
  stable/cluster-agent/templates/cluster-agent-clusterrole.yaml
  stable/cluster-agent/values.yaml
Due: push_cluster-agent_to_internal

STAC-15224 Update chart version
  stable/cluster-agent/Chart.yaml
  stable/cluster-agent/README.md
Due: push_cluster-agent_to_internal

STAC-15224 Fix ingresses and cronjobs
  stable/cluster-agent/templates/cluster-agent-clusterrole.yaml
Due: push_cluster-agent_to_internal

STAC-15224 Add kubernetesResources list
  stable/cluster-agent/README.md
  stable/cluster-agent/templates/cluster-agent-clusterrole.yaml
  stable/cluster-agent/values.yaml
Due: push_cluster-agent_to_internal

STAC-15224 Change resources to boolean
  stable/cluster-agent/README.md
  stable/cluster-agent/templates/cluster-agent-clusterrole.yaml
  stable/cluster-agent/values.yaml
Due: push_cluster-agent_to_internal

STAC-16134 Updated elasticsearch image (CVE fixes in docker image).
  stable/elasticsearch/Chart.yaml
  stable/elasticsearch/README.md
  stable/elasticsearch/values.yaml
Due: push_elasticsearch_to_internal

STAC-16134 Merge elasticsearch dependency to stackstate chart.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

Adds configuration options for cache on health sync
  stable/stackstate/README.md
  stable/stackstate/templates/deployment-healthSync.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

Fix tests
  stable/stackstate/test/cache_backend_test.go
Due: push_stackstate_to_internal

Adds tests
  stable/stackstate/test/cache_backend_test.go
  stable/stackstate/test/values/healthsync_inmemory.yaml
  stable/stackstate/test/values/healthsync_mapdb.yaml
  stable/stackstate/test/values/healthsync_rocksdb.yaml
Due: push_stackstate_to_internal

Fixes commented out tests
  stable/stackstate/test/cache_backend_test.go
Due: push_stackstate_to_internal

STAC-0 Update kube-state-metrics image to be what is used in chart 1.0.x instead of 0.4.x
  stable/cluster-agent/Chart.yaml
  stable/cluster-agent/README.md
  stable/cluster-agent/values.yaml
  stable/stackstate/README.md
Due: push_cluster-agent_to_internal, push_stackstate_to_internal

STAC-0 Update master to latest cluster agent chart dependency.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

STAC-16379 Make 4.7.0-pre.2 rc4
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-15078 Security updates.
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-16379: Make 4.7.0-pre.2
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-16071 Hadoop image bump
  .pre-commit-config.yaml
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/values.yaml
  stable/stackstate/Chart.lock
Due: push_hbase_to_internal, push_stackstate_to_internal

STAC-16071 Hadoop image bump (4.6.2)
  .pre-commit-config.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-15220 process agent container
  stable/cluster-agent/Chart.yaml
  stable/cluster-agent/README.md
  stable/cluster-agent/templates/_container-agent.yaml
  stable/cluster-agent/templates/_container-process-agent.yaml
  stable/cluster-agent/templates/agent-daemonset.yaml
  stable/cluster-agent/values.yaml
Due: push_cluster-agent_to_internal

STAC-14890 Fix Kafka topic metrics
  stable/stackstate-monitoring/grafana-dashboards/stackstate-kafka/stackstate-kafka.json
  stable/stackstate-monitoring/grafana-dashboards/stackstate-overview/stackstate-overview.json
  stable/stackstate-monitoring/grafana-dashboards/stackstate-overview/stackstate-overview.jsonnet
Due: none

STAC-14890 Add rules for kafka lag and es latency
  stable/stackstate-monitoring/Chart.yaml
  stable/stackstate-monitoring/README.md
  stable/stackstate-monitoring/templates/rule-processing-pipeline.yaml
Due: none

STAC-14890 Improve ES dashboard and add ingestion dashboard
  stable/stackstate-monitoring/grafana-dashboards/stackstate-overview/stackstate-overview.json
  stable/stackstate-monitoring/grafana-dashboards/stackstate-overview/stackstate-overview.jsonnet
Due: none

STAC-14890 Use new metrics for ES
  stable/stackstate-monitoring/grafana-dashboards/stackstate-kafka2es/stackstate-kafka2es.json
  stable/stackstate-monitoring/grafana-dashboards/stackstate-kafka2es/stackstate-kafka2es.jsonnet
  stable/stackstate-monitoring/grafana-dashboards/stackstate-overview/stackstate-overview.json
  stable/stackstate-monitoring/grafana-dashboards/stackstate-overview/stackstate-overview.jsonnet
Due: none

STAC-14890 Fix ES Metric
  stable/stackstate-monitoring/grafana-dashboards/stackstate-overview/stackstate-overview.json
  stable/stackstate-monitoring/grafana-dashboards/stackstate-overview/stackstate-overview.jsonnet
Due: none

STAC-14890 Fix monitoring chart ES catchup graph
  stable/stackstate-monitoring/Chart.yaml
  stable/stackstate-monitoring/README.md
  stable/stackstate-monitoring/grafana-dashboards/stackstate-kafka2es/stackstate-kafka2es.json
  stable/stackstate-monitoring/grafana-dashboards/stackstate-kafka2es/stackstate-kafka2es.jsonnet
  stable/stackstate-monitoring/grafana-dashboards/stackstate-overview/stackstate-overview.json
  stable/stackstate-monitoring/grafana-dashboards/stackstate-overview/stackstate-overview.jsonnet
Due: none

STAC-16418: Bump es base image
  README.md
  flake.lock
  flake.nix
  stable/elasticsearch/Chart.yaml
  stable/elasticsearch/README.md
  stable/elasticsearch/values.yaml
Due: push_elasticsearch_to_internal

STAC-16418: Bump ES image
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-16004: Optional Base64 encoded values for truststores
  stable/stackstate/README.md
  stable/stackstate/README.md.gotmpl
  stable/stackstate/templates/_helper-server-and-api-configmap.tpl
  stable/stackstate/templates/_helper-service-config.tpl
  stable/stackstate/templates/secret-common.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-16418: Drop flake
  README.md
  flake.lock
  flake.nix
Due: none

STAC-16418: Use pre-commit with building helm-docs
  .pre-commit-config.yaml
Due: none

STAC-16418: Bump es chart in stackstate
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

chore(stackstate): Upgrade anomaly-detection to version 4.7.0-snapshot.140.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

chore(stackstate): Upgrade StackGraph to version 4.6.6.
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/values.yaml
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_hbase_to_internal, push_stackstate_to_internal

STAC-16427: Use updated hadoop image tags
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/values.yaml
  stable/stackstate/Chart.lock
Due: push_hbase_to_internal, push_stackstate_to_internal

STAC-16536 Upgrade to new traffic mirror with correct env var prefix
  stable/trafficmirror/Chart.yaml
  stable/trafficmirror/README.md
  stable/trafficmirror/values.yaml
Due: push_trafficmirror_to_internal

Path conditions:
  push_aws-amicleaner_to_internal: any of: stable/aws-amicleaner/**/*
  push_aws-nuke_to_internal: any of: stable/aws-nuke/**/*
  push_aws-pod-identity-webhook_to_internal: any of: stable/aws-pod-identity-webhook/**/*
  push_beacher-job_to_internal: any of: stable/beacher-job/**/*
  push_chartmuseum_to_internal: any of: stable/chartmuseum/**/*
  push_cluster-agent_to_internal: any of: stable/cluster-agent/**/*
  push_common_to_internal: any of: stable/common/**/*
  push_elasticsearch_to_internal: any of: stable/elasticsearch/**/*
  push_gitlab-runner_to_internal: any of: stable/gitlab-runner/**/*
  push_gitlab-steward_to_internal: any of: stable/gitlab-steward/**/*
  push_hbase_to_internal: any of: stable/hbase/**/*
  push_iceman_to_internal: any of: stable/iceman/**/*
  push_kafka_to_internal: any of: stable/kafka/**/*
  push_kafkaup-operator_to_internal: any of: stable/kafkaup-operator/**/*
  push_kommoner-operator_to_internal: any of: stable/kommoner-operator/**/*
  push_minio_to_internal: any of: stable/minio/**/*
  push_petros-d-kubelet-stats-exporter_to_internal: any of: stable/petros-d-kubelet-stats-exporter/**/*
  push_sandbox-operator_to_internal: any of: stable/sandbox-operator/**/*
  push_stackstate-standalone_to_internal: any of: stable/stackstate-standalone/**/*
  push_stackstate_to_internal: any of: stable/stackstate/**/*
  push_trafficmirror_to_internal: any of: stable/trafficmirror/**/*
