Repository StackVista/helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: push_aws-amicleaner_to_internal, push_aws-amicleaner_to_public, push_aws-nuke_to_internal, push_aws-nuke_to_public, push_cluster-agent_to_internal, push_cluster-agent_to_public, push_common_to_internal, push_common_to_public, push_distributed_to_internal, push_distributed_to_public, push_elasticsearch_to_internal, push_elasticsearch_to_public, push_gitlab-runner_to_internal, push_gitlab-runner_to_public, push_gitlab-steward_to_internal, push_gitlab-steward_to_public, push_hbase_to_internal, push_hbase_to_public, push_iceman_to_internal, push_iceman_to_public, push_stackstate-standalone_to_internal, push_stackstate-standalone_to_public, push_stackstate_to_internal, push_stackstate_to_public, push_trafficmirror_to_internal, push_trafficmirror_to_public

push_aws-amicleaner_to_internal:
  script:
  - helm plugin install https://github.com/chartmuseum/helm-push.git
  - helm push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
    CHART: stable/aws-amicleaner

push_aws-amicleaner_to_public:
  needs:
  - push_aws-amicleaner_to_internal
  script:
  - helm plugin install https://github.com/chartmuseum/helm-push.git
  - helm push --username ${CHARTMUSEUM_USERNAME} --password ${CHARTMUSEUM_PASSWORD} ${CHART} ${CHARTMUSEUM_URL}
  stage: push-charts-to-public
  variables:
    CHART: stable/aws-amicleaner
  ...

push_aws-nuke_to_internal:
  script:
  - helm plugin install https://github.com/chartmuseum/helm-push.git
  - helm push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
    CHART: stable/aws-nuke

push_aws-nuke_to_public:
  needs:
  - push_aws-nuke_to_internal
  script:
  - helm plugin install https://github.com/chartmuseum/helm-push.git
  - helm push --username ${CHARTMUSEUM_USERNAME} --password ${CHARTMUSEUM_PASSWORD} ${CHART} ${CHARTMUSEUM_URL}
  stage: push-charts-to-public
  variables:
    CHART: stable/aws-nuke
  when: manual

push_cluster-agent_to_internal:
  script:
  - helm plugin install https://github.com/chartmuseum/helm-push.git
  - helm push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
    CHART: stable/cluster-agent

push_cluster-agent_to_public:
  needs:
  - push_cluster-agent_to_internal
  script:
  - helm plugin install https://github.com/chartmuseum/helm-push.git
  - helm push --username ${CHARTMUSEUM_USERNAME} --password ${CHARTMUSEUM_PASSWORD} ${CHART} ${CHARTMUSEUM_URL}
  stage: push-charts-to-public
  variables:
    CHART: stable/cluster-agent
  ...

push_common_to_internal:
  script:
  - helm plugin install https://github.com/chartmuseum/helm-push.git
  - helm push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
    CHART: stable/common

push_common_to_public:
  needs:
  - push_common_to_internal
  script:
  - helm plugin install https://github.com/chartmuseum/helm-push.git
  - helm push --username ${CHARTMUSEUM_USERNAME} --password ${CHARTMUSEUM_PASSWORD} ${CHART} ${CHARTMUSEUM_URL}
  stage: push-charts-to-public
  variables:
    CHART: stable/common
  when: manual

push_distributed_to_internal:
  script:
  - helm plugin install https://github.com/chartmuseum/helm-push.git
  - helm push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
    CHART: stable/distributed

STAC-9839: Change cluster-wide resources to fullname
  stable/stackstate/templates/clusterrole-server.yaml
  stable/stackstate/templates/clusterrolebinding-server.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

fix(stackstate): Fix swap of adminApiPassword and adminPassword
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/templates/_helper.tpl
Due: push_stackstate_to_internal, push_stackstate_to_public

feat(cluster-agent): Support the global receiverApiKey used by the stackstate chart
  stable/cluster-agent/Chart.yaml
  stable/cluster-agent/README.md
  stable/cluster-agent/templates/secret.yaml
Due: push_cluster-agent_to_internal, push_cluster-agent_to_public

STAC-9839: Add RoleBindings list permission to ServiceAccount
  stable/stackstate/templates/clusterrole-server.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-9839: Bump version
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal, push_stackstate_to_public

feat(stackstate) | STAC-9779: Support installing the stackstate k8s cluster agent when installing StackState
  stable/stackstate/README.md
  stable/stackstate/installation/generate_values.sh
  stable/stackstate/requirements.lock
  stable/stackstate/requirements.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

chore(stackstate) | STAC-9779: Bump version
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal, push_stackstate_to_public

fix(stacktate): Disabled cluster agent should check correct enabled flag
  stable/stackstate/requirements.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

chore(stackstate): Bump version
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal, push_stackstate_to_public

chore(stackstate): Fix helm requirements.lock
  stable/stackstate/requirements.lock
Due: push_stackstate_to_internal, push_stackstate_to_public

fix(ct): Generated ct config does not contain internal helm repo
  .gitlab-ci.yml
  .jsonnet-libs/extras/helm_chart_repo/variables.libsonnet
  test/ct.yaml
Due: none

STAC-9839: Fix configmap typo
  stable/stackstate/templates/configmap-server.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-9839: BUmp version
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-9614 Upgrades Kafka chart (but not Kafka version)
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/requirements.lock
  stable/stackstate/requirements.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-9775 Adds common.metrics.annotations template
  stable/common/Chart.yaml
  stable/common/README.md
  stable/common/templates/_metrics.tpl
Due: push_common_to_internal, push_common_to_public

STAC-9775 Adds StackState agent annotations to pods in hbase chart
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/requirements.lock
  stable/hbase/requirements.yaml
  stable/hbase/templates/hbase-master-statefulset.yaml
  stable/hbase/templates/hbase-rs-statefulset.yaml
  stable/hbase/templates/hdfs-dn-statefulset.yaml
  stable/hbase/templates/hdfs-nn-statefulset.yaml
  stable/hbase/templates/hdfs-snn-statefulset.yaml
  stable/hbase/templates/tephra-statefulset.yaml
Due: push_hbase_to_internal, push_hbase_to_public

STAC-9614 Re-uses broker ID if it was already stored in meta.properties
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-9614 Disables running kubeval for stable/stackstate because kubeval cannot validate v1/List objects
  .gitlab/validate_kubeval.sh
Due: none

STAC-9780 Extract shared configmap for api and server and add k8s stackpack installation
  stable/stackstate/templates/_helper-server-and-api-configmap.tpl
  stable/stackstate/templates/configmap-api.yaml
  stable/stackstate/templates/configmap-server.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-9614 Re-uses broker ID if it was already stored in meta.properties and greater than 1000
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-9775 Changes parameters for common.metrics.annotations template
  stable/common/Chart.yaml
  stable/common/README.md
  stable/common/templates/_metrics.tpl
Due: push_common_to_internal, push_common_to_public

STAC-9775 Updates hbase chart to use modified parameters for common.metrics.annotations template
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/requirements.lock
  stable/hbase/requirements.yaml
  stable/hbase/templates/hbase-master-statefulset.yaml
  stable/hbase/templates/hbase-rs-statefulset.yaml
  stable/hbase/templates/hdfs-dn-statefulset.yaml
  stable/hbase/templates/hdfs-nn-statefulset.yaml
  stable/hbase/templates/hdfs-snn-statefulset.yaml
  stable/hbase/templates/tephra-statefulset.yaml
Due: push_hbase_to_internal, push_hbase_to_public

STAC-0 Bump Kafka replication factor for al ltopics to 2 by default
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/installation/examples/micro_test_values.yaml
  stable/stackstate/installation/examples/test_values.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-9775 Updates common.metrics.annotations template in common chart
  stable/common/Chart.yaml
  stable/common/README.md
  stable/common/templates/_metrics.tpl
Due: push_common_to_internal, push_common_to_public

STAC-9775 Updates hbase chart to use modified common.metrics.annotations template
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/requirements.lock
  stable/hbase/requirements.yaml
  stable/hbase/templates/hbase-master-statefulset.yaml
  stable/hbase/templates/hbase-rs-statefulset.yaml
  stable/hbase/templates/hdfs-dn-statefulset.yaml
  stable/hbase/templates/hdfs-nn-statefulset.yaml
  stable/hbase/templates/hdfs-snn-statefulset.yaml
  stable/hbase/templates/tephra-statefulset.yaml
Due: push_hbase_to_internal, push_hbase_to_public

STAC-9775 Adds StackState agent annotations to pods in stackstate chart and dependencies
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/requirements.lock
  stable/stackstate/requirements.yaml
  stable/stackstate/templates/deployment-correlate.yaml
  stable/stackstate/templates/deployment-k2es-events-to-es.yaml
  stable/stackstate/templates/deployment-k2es-multi-metrics-to-es.yaml
  stable/stackstate/templates/deployment-k2es-sts-events-to-es.yaml
  stable/stackstate/templates/deployment-k2es-trace-events-to-es.yaml
  stable/stackstate/templates/deployment-receiver.yaml
  stable/stackstate/templates/deployment-ui.yaml
  stable/stackstate/templates/statefulset-api.yaml
  stable/stackstate/templates/statefulset-checks.yaml
  stable/stackstate/templates/statefulset-initializer.yaml
  stable/stackstate/templates/statefulset-server.yaml
  stable/stackstate/templates/statefulset-state.yaml
  stable/stackstate/templates/statefulset-sync.yaml
  stable/stackstate/templates/statefulset-viewHealth.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

feat(hbase) | STAC-9869: Add cpu.requests to hbase chart
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/values.yaml
Due: push_hbase_to_internal, push_hbase_to_public

chore(stackstate) | STAC-9869: Depend on hbase chart that has cpu.requests set as well
  stable/stackstate/README.md
  stable/stackstate/requirements.lock
  stable/stackstate/requirements.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-9869 Add requests.cpu for all jvm processes that don't have it yet
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

chore(stackstate) | STAC-9869: Reduce cpu requests for micro_test_values.yaml
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/installation/examples/micro_test_values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

chore(stackstate) | STAC-9780: Fix chart version
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-9922: Put the authServerTypes in the right order
  stable/stackstate/templates/_helper-server-and-api-configmap.tpl
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-9922: Bump version
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal, push_stackstate_to_public

chore(common) | STAC-9775: Fix metrics annotations
  stable/common/Chart.yaml
  stable/common/README.md
  stable/common/templates/_metrics.tpl
Due: push_common_to_internal, push_common_to_public

chore(hbase) | STAC-9775: Use updated common metrics annotations
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/ci/default-values.yaml
  stable/hbase/requirements.lock
  stable/hbase/requirements.yaml
  stable/hbase/templates/hbase-master-statefulset.yaml
  stable/hbase/templates/hbase-rs-statefulset.yaml
  stable/hbase/templates/hdfs-dn-statefulset.yaml
  stable/hbase/templates/hdfs-nn-statefulset.yaml
  stable/hbase/templates/hdfs-snn-statefulset.yaml
  stable/hbase/templates/tephra-statefulset.yaml
Due: push_hbase_to_internal, push_hbase_to_public

feat(stackstate) | STAC-9775: Use updated annotations for metrics
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/requirements.lock
  stable/stackstate/requirements.yaml
  stable/stackstate/templates/deployment-correlate.yaml
  stable/stackstate/templates/deployment-k2es-events-to-es.yaml
  stable/stackstate/templates/deployment-k2es-multi-metrics-to-es.yaml
  stable/stackstate/templates/deployment-k2es-sts-events-to-es.yaml
  stable/stackstate/templates/deployment-k2es-trace-events-to-es.yaml
  stable/stackstate/templates/deployment-receiver.yaml
  stable/stackstate/templates/deployment-ui.yaml
  stable/stackstate/templates/statefulset-api.yaml
  stable/stackstate/templates/statefulset-checks.yaml
  stable/stackstate/templates/statefulset-initializer.yaml
  stable/stackstate/templates/statefulset-server.yaml
  stable/stackstate/templates/statefulset-state.yaml
  stable/stackstate/templates/statefulset-sync.yaml
  stable/stackstate/templates/statefulset-viewHealth.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

fix(cluster-agent) | STAC-9775: Correct namespace for autodiscovery and add pod_name by default
  stable/cluster-agent/Chart.yaml
  stable/cluster-agent/README.md
  stable/cluster-agent/templates/agent-daemonset.yaml
  stable/cluster-agent/templates/cluster-agent-deployment.yaml
  stable/cluster-agent/values.yaml
Due: push_cluster-agent_to_internal, push_cluster-agent_to_public

Path conditions:
  push_aws-amicleaner_to_internal: any of: stable/aws-amicleaner/**/*
  push_aws-amicleaner_to_public: any of: stable/aws-amicleaner/**/*
  push_aws-nuke_to_internal: any of: stable/aws-nuke/**/*
  push_aws-nuke_to_public: any of: stable/aws-nuke/**/*
  push_cluster-agent_to_internal: any of: stable/cluster-agent/**/*
  push_cluster-agent_to_public: any of: stable/cluster-agent/**/*
  push_common_to_internal: any of: stable/common/**/*
  push_common_to_public: any of: stable/common/**/*
  push_distributed_to_internal: any of: stable/distributed/**/*
  push_distributed_to_public: any of: stable/distributed/**/*
  push_elasticsearch_to_internal: any of: stable/elasticsearch/**/*
  push_elasticsearch_to_public: any of: stable/elasticsearch/**/*
  push_gitlab-runner_to_internal: any of: stable/gitlab-runner/**/*
  push_gitlab-runner_to_public: any of: stable/gitlab-runner/**/*
  push_gitlab-steward_to_internal: any of: stable/gitlab-steward/**/*
  push_gitlab-steward_to_public: any of: stable/gitlab-steward/**/*
  push_hbase_to_internal: any of: stable/hbase/**/*
  push_hbase_to_public: any of: stable/hbase/**/*
  push_iceman_to_internal: any of: stable/iceman/**/*
  push_iceman_to_public: any of: stable/iceman/**/*
  push_stackstate-standalone_to_internal: any of: stable/stackstate-standalone/**/*
  push_stackstate-standalone_to_public: any of: stable/stackstate-standalone/**/*
  push_stackstate_to_internal: any of: stable/stackstate/**/*
  push_stackstate_to_public: any of: stable/stackstate/**/*
  push_trafficmirror_to_internal: any of: stable/trafficmirror/**/*
  push_trafficmirror_to_public: any of: stable/trafficmirror/**/*
