Repository StackVista/helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: push_aws-amicleaner_to_internal, push_aws-nuke_to_internal, push_chartmuseum_to_internal, push_cluster-agent_to_internal, push_common_to_internal, push_elasticsearch_to_internal, push_gitlab-runner_to_internal, push_gitlab-steward_to_internal, push_hbase_to_internal, push_iceman_to_internal, push_kafka_to_internal, push_sandbox-operator_to_internal, push_stackstate-standalone_to_internal, push_stackstate_to_internal, push_trafficmirror_to_internal

push_aws-amicleaner_to_internal:
  script:
  - helm plugin install https://github.com/chartmuseum/helm-push.git
  - helm dependencies update ${CHART}
  - helm push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

push_aws-nuke_to_internal:
  script:
  - helm plugin install https://github.com/chartmuseum/helm-push.git
  - helm dependencies update ${CHART}
  - helm push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

push_chartmuseum_to_internal:
  script:
  - helm plugin install https://github.com/chartmuseum/helm-push.git
  - helm dependencies update ${CHART}
  - helm push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

push_cluster-agent_to_internal:
  script:
  - helm plugin install https://github.com/chartmuseum/helm-push.git
  - helm dependencies update ${CHART}
  - helm push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

push_common_to_internal:
  script:
  - helm plugin install https://github.com/chartmuseum/helm-push.git
  - helm dependencies update ${CHART}
  - helm push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

push_elasticsearch_to_internal:
  script:
  - helm plugin install https://github.com/chartmuseum/helm-push.git
  - helm dependencies update ${CHART}
  - helm push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

push_gitlab-runner_to_internal:
  script:
  - helm plugin install https://github.com/chartmuseum/helm-push.git
  - helm dependencies update ${CHART}
  - helm push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

push_gitlab-steward_to_internal:
  script:
  - helm plugin install https://github.com/chartmuseum/helm-push.git
  - helm dependencies update ${CHART}
  - helm push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

STAC-14768: Added extra ' ' for readability
  stable/cluster-agent/templates/pull-secret.yaml
  stable/elasticsearch/templates/pull-secret.yaml
  stable/hbase/templates/hbase-pull-secret.yaml
Due: push_cluster-agent_to_internal, push_elasticsearch_to_internal, push_hbase_to_internal

STAC-0: Bump HBase and SG tag
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/values.yaml
Due: push_hbase_to_internal

STAC-0: Bump Cluster agent
  stable/cluster-agent/Chart.yaml
  stable/cluster-agent/README.md
Due: push_cluster-agent_to_internal

STAC-0: Bump ElasticSearch
  stable/elasticsearch/Chart.yaml
  stable/elasticsearch/README.md
Due: push_elasticsearch_to_internal

STAC-14908: Create kafka operator chart and extend kafka chart with protocol verion check
  .gitlab-ci.yml
  .jsonnet-libs/extras/helm_chart_repo/variables.libsonnet
  stable/kafka/Chart.lock
  stable/kafka/Chart.yaml
  stable/kafka/README.md
  stable/kafka/templates/statefulset.yaml
  stable/kafka/values.yaml
  stable/kafkaup-operator/Chart.lock
  stable/kafkaup-operator/Chart.yaml
  stable/kafkaup-operator/README.md
  stable/kafkaup-operator/README.md.gotmpl
  stable/kafkaup-operator/templates/_helpers.yaml
  stable/kafkaup-operator/templates/kafkaup-configmap.yaml
  stable/kafkaup-operator/templates/kafkaup-deployment.yaml
  stable/kafkaup-operator/templates/kafkaup-pull-secret.yaml
  stable/kafkaup-operator/templates/kafkaup-rbac.yaml
  stable/kafkaup-operator/values.yaml
Due: push_kafka_to_internal

STAC-14908: Fix linting
  stable/kafka/values.yaml
Due: push_kafka_to_internal

STAC-14771: Add Min.IO chart
  .gitlab-ci.yml
  .jsonnet-libs/extras/helm_chart_repo/variables.libsonnet
  stable/minio/.helmignore
  stable/minio/Chart.yaml
  stable/minio/README-orig.md
  stable/minio/README.md
  stable/minio/ci/distributed-values.yaml
  stable/minio/templates/NOTES.txt
  stable/minio/templates/_helper_create_bucket.txt
  stable/minio/templates/_helpers.tpl
  stable/minio/templates/clusterroles.yaml
  stable/minio/templates/configmap.yaml
  stable/minio/templates/deployment.yaml
  stable/minio/templates/ingress.yaml
  stable/minio/templates/networkpolicy.yaml
  stable/minio/templates/poddisruptionbudget.yaml
  stable/minio/templates/post-install-create-bucket-job.yaml
  stable/minio/templates/post-install-prometheus-metrics-job.yaml
  stable/minio/templates/post-install-prometheus-metrics-role.yaml
  stable/minio/templates/post-install-prometheus-metrics-rolebinding.yaml
  stable/minio/templates/post-install-prometheus-metrics-serviceaccount.yaml
  stable/minio/templates/pvc.yaml
  stable/minio/templates/rolebindings.yaml
  stable/minio/templates/secrets.yaml
  stable/minio/templates/securitycontextconstraints.yaml
  stable/minio/templates/service.yaml
  stable/minio/templates/serviceaccount.yaml
  stable/minio/templates/servicemonitor.yaml
  stable/minio/templates/statefulset.yaml
  stable/minio/values.yaml
  test/ct.yaml
Due: none

STAC-14771: Remove Min.IO chart from Sts deps temporarily
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

STAC-14768 / STAC-14770: StackState chart updates
  .gitignore
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/scripts/backup-stackgraph.sh
  stable/stackstate/templates/_helper.tpl
  stable/stackstate/templates/pdb-backup.yaml
  stable/stackstate/templates/pull-secret.yaml
  stable/stackstate/test/pull_secret_test.go
  stable/stackstate/test/values/pull_secret_both.yaml
  stable/stackstate/test/values/pull_secret_global_named.yaml
  stable/stackstate/test/values/pull_secret_global_registry.yaml
  stable/stackstate/test/values/pull_secret_name.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-0: Fix sts chart release version
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

STAC-14908: Add config checksum to kafka operator
  stable/kafkaup-operator/templates/_helpers.tpl
  stable/kafkaup-operator/templates/kafkaup-deployment.yaml
Due: none

STAC-0: Fix sts chart release version
  .gitlab/bump_sts_chart_master_version.sh
Due: none

STAC-14908: Downgrade bitnami common chart
  stable/kafka/Chart.lock
  stable/kafka/Chart.yaml
  stable/kafka/README.md
Due: push_kafka_to_internal

STAC-14908: Downgrade bitnami common chart further
  stable/kafka/Chart.lock
  stable/kafka/Chart.yaml
  stable/kafka/README.md
Due: push_kafka_to_internal

STAC-14928 Make 4.6.0-pre.0 rc3
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-0: Fix pull secret rendering
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/templates/hbase-pull-secret.yaml
Due: push_hbase_to_internal

STAC-0: Bump HBase
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

STAC-14928 Make 4.6.0-pre.0 rc4
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-14928 Make 4.6.0-pre.0 rc5
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-14908: Force older version of zookeeper dependency
  stable/kafka/Chart.lock
  stable/kafka/Chart.yaml
  stable/kafka/README.md
Due: push_kafka_to_internal

STAC-14908: Force older version of zookeeper dependency
  stable/kafka/Chart.yaml
  stable/kafka/README.md
Due: push_kafka_to_internal

STAC-14908: Comment on pinning
  stable/kafka/Chart.yaml
Due: push_kafka_to_internal

STAC-14908: Lock file
  stable/kafka/Chart.lock
Due: push_kafka_to_internal

STAC-14483 Make version same as appVersion
  stable/cluster-agent/Chart.yaml
  stable/cluster-agent/README.md
Due: push_cluster-agent_to_internal

STAC-14483 Update version to 2.14.0
  stable/cluster-agent/Chart.yaml
  stable/cluster-agent/README.md
Due: push_cluster-agent_to_internal

STAC-14483 cri and containerd under containerRuntime
  stable/cluster-agent/README.md
  stable/cluster-agent/templates/agent-daemonset.yaml
  stable/cluster-agent/values.yaml
Due: push_cluster-agent_to_internal

STAC-15123 Fixes StackState CI images
  .gitlab-ci.yml
  .jsonnet-libs/.gitlab-ci.yml
  .jsonnet-libs/example.yml
  .jsonnet-libs/extras/helm_chart_repo/variables.libsonnet
  .jsonnet-libs/gitlab/init.libsonnet
Due: none

STAC-0: Fix stackstate values
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-0: gitlab-steward bump version for release
  stable/gitlab-steward/Chart.yaml
  stable/gitlab-steward/README.md
Due: push_gitlab-steward_to_internal

STAC-14977: Use interned MinIO chart
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

STAC-15123: Fix CI Images
  .gitlab-ci.yml
  .jsonnet-libs/.gitlab-ci.yml
  .jsonnet-libs/example.yml
  .jsonnet-libs/extras/helm_chart_repo/variables.libsonnet
  .jsonnet-libs/gitlab/init.libsonnet
  test/ct.yaml
Due: none

STAC-14968: Check for apiVersion of PDB in cluster-agent chart
  stable/cluster-agent/Chart.yaml
  stable/cluster-agent/README.md
  stable/cluster-agent/templates/cluster-agent-poddisruptionbudget.yaml
  stable/cluster-agent/templates/clusterchecks-poddisruptionbudget.yaml
Due: push_cluster-agent_to_internal

STAC-14968: Check for apiVersion of PSP in elasticsearch chart
  stable/elasticsearch/Chart.yaml
  stable/elasticsearch/README.md
  stable/elasticsearch/templates/podsecuritypolicy.yaml
Due: push_elasticsearch_to_internal

STAC-14968: Check for apiVersion of PDB in kafka chart
  stable/kafka/Chart.yaml
  stable/kafka/README.md
  stable/kafka/templates/poddisruptionbudget.yaml
Due: push_kafka_to_internal

STAC-15167: Update liveness/readiness probe for prometheus-nginx-exporter
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/templates/deployment-ui.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-15167: Update liveness/readiness probe for prometheus-nginx-exporter
  stable/stackstate/README.md
  stable/stackstate/templates/deployment-ui.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-15060 Update to latest, less vulnerable envoy docker image.
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

Path conditions:
  push_aws-amicleaner_to_internal: any of: stable/aws-amicleaner/**/*
  push_aws-nuke_to_internal: any of: stable/aws-nuke/**/*
  push_chartmuseum_to_internal: any of: stable/chartmuseum/**/*
  push_cluster-agent_to_internal: any of: stable/cluster-agent/**/*
  push_common_to_internal: any of: stable/common/**/*
  push_elasticsearch_to_internal: any of: stable/elasticsearch/**/*
  push_gitlab-runner_to_internal: any of: stable/gitlab-runner/**/*
  push_gitlab-steward_to_internal: any of: stable/gitlab-steward/**/*
  push_hbase_to_internal: any of: stable/hbase/**/*
  push_iceman_to_internal: any of: stable/iceman/**/*
  push_kafka_to_internal: any of: stable/kafka/**/*
  push_sandbox-operator_to_internal: any of: stable/sandbox-operator/**/*
  push_stackstate-standalone_to_internal: any of: stable/stackstate-standalone/**/*
  push_stackstate_to_internal: any of: stable/stackstate/**/*
  push_trafficmirror_to_internal: any of: stable/trafficmirror/**/*
