Repository StackVista/helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: push_aws-amicleaner_to_internal, push_aws-nuke_to_internal, push_chartmuseum_to_internal, push_cluster-agent_to_internal, push_common_to_internal, push_elasticsearch_to_internal, push_gitlab-runner_to_internal, push_gitlab-steward_to_internal, push_hbase_to_internal, push_iceman_to_internal, push_kafka_to_internal, push_sandbox-operator_to_internal, push_stackstate-standalone_to_internal, push_stackstate_to_internal, push_trafficmirror_to_internal

Path conditions:
  push_aws-amicleaner_to_internal: any of: stable/aws-amicleaner/**/*
  push_aws-nuke_to_internal: any of: stable/aws-nuke/**/*
  push_chartmuseum_to_internal: any of: stable/chartmuseum/**/*
  push_cluster-agent_to_internal: any of: stable/cluster-agent/**/*
  push_common_to_internal: any of: stable/common/**/*
  push_elasticsearch_to_internal: any of: stable/elasticsearch/**/*
  push_gitlab-runner_to_internal: any of: stable/gitlab-runner/**/*
  push_gitlab-steward_to_internal: any of: stable/gitlab-steward/**/*
  push_hbase_to_internal: any of: stable/hbase/**/*
  push_iceman_to_internal: any of: stable/iceman/**/*
  push_kafka_to_internal: any of: stable/kafka/**/*
  push_sandbox-operator_to_internal: any of: stable/sandbox-operator/**/*
  push_stackstate-standalone_to_internal: any of: stable/stackstate-standalone/**/*
  push_stackstate_to_internal: any of: stable/stackstate/**/*
  push_trafficmirror_to_internal: any of: stable/trafficmirror/**/*

STAC-12234 Make 4.3.0-pre.5 rc1
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-12178 Simplifies configuration of backup/restore functionality
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/templates/_helper-endpoints.tpl
  stable/stackstate/templates/configmap-backup-restore-scripts.yaml
  stable/stackstate/templates/cronjob-backup.yaml
  stable/stackstate/templates/job-backup-init.yaml
  stable/stackstate/templates/pdb-backup.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-12178 Renames elasticSearch to elasticsearch
  stable/stackstate/README.md
  stable/stackstate/restore/list-elasticsearch-snapshots.sh
  stable/stackstate/restore/restore-elasticsearch-snapshot.sh
  stable/stackstate/templates/_helper-backup.tpl
  stable/stackstate/templates/configmap-backup-restore-scripts.yaml
  stable/stackstate/templates/job-backup-init.yaml
  stable/stackstate/templates/pdb-backup.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-12178 Updates chart lock file
  stable/stackstate/Chart.lock
Due: push_stackstate_to_internal

STAC-12178 Adds PVC for temp data in stackgraph backup
  stable/stackstate/README.md
  stable/stackstate/scripts/backup-stackgraph.sh
  stable/stackstate/templates/cronjob-backup.yaml
  stable/stackstate/templates/pvc-backup.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

chore(stackstate): Upgrade anomaly-detection to version 4.3.0-snapshot.117.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

chore(aws-pod-identity-webhook) Doesn't push aws-pod-identity-webhook chart when is set
  .gitlab-ci.yml
Due: none

STAC-11594: Add renamed topics
  stable/stackstate/scripts/job-kafka-topic-create.sh
Due: push_stackstate_to_internal

STAC-11917: Force to delete the database as part of the restore
  stable/stackstate/scripts/restore-stackgraph-backup.sh
Due: push_stackstate_to_internal

chore(stackstate): Upgrade StackGraph to version 4.0.5.
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/values.yaml
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_hbase_to_internal, push_stackstate_to_internal

STAC-12178 Fixes PVC for temp data in stackgraph backup
  stable/stackstate/README.md
  stable/stackstate/restore/list-elasticsearch-snapshots.sh
  stable/stackstate/restore/list-stackgraph-backups.sh
  stable/stackstate/restore/restore-elasticsearch-snapshot.sh
  stable/stackstate/restore/restore-stackgraph-backup.sh
  stable/stackstate/scripts/restore-stackgraph-backup.sh
  stable/stackstate/templates/configmap-backup-restore-scripts.yaml
  stable/stackstate/templates/cronjob-backup.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

chore(stackstate): Upgrade StackGraph to version 4.0.6.
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/values.yaml
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_hbase_to_internal, push_stackstate_to_internal

chore(stackstate): Upgrade anomaly-detection to version 4.3.0-snapshot.120.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

STAC-12178 Bumps chart version to 4.2.5-snapshot.1
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

STAC-12289: Add ConfigMap for agent and cluster-agent
  stable/cluster-agent/README.md
  stable/cluster-agent/templates/agent-configmap.yaml
  stable/cluster-agent/templates/agent-daemonset.yaml
  stable/cluster-agent/templates/cluster-agent-configmap.yaml
  stable/cluster-agent/templates/cluster-agent-deployment.yaml
  stable/cluster-agent/values.yaml
Due: push_cluster-agent_to_internal

STAC-12208 Make 4.2.5 rc2
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

chore(stackstate): Upgrade StackGraph to version 4.0.7.
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/values.yaml
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_hbase_to_internal, push_stackstate_to_internal

STAC-11917: Make force delete flag during restart configurable
  stable/stackstate/restore/restore-stackgraph-backup.sh
  stable/stackstate/scripts/restore-stackgraph-backup.sh
  stable/stackstate/templates/configmap-backup-restore-scripts.yaml
Due: push_stackstate_to_internal

STAC-12289: Add checksums of configmaps
  stable/cluster-agent/templates/_helpers.tpl
  stable/cluster-agent/templates/agent-daemonset.yaml
  stable/cluster-agent/templates/cluster-agent-deployment.yaml
Due: push_cluster-agent_to_internal

STAC-11917: Make consistent replace_me_values_replace_me
  stable/stackstate/restore/restore-stackgraph-backup.sh
  stable/stackstate/templates/configmap-backup-restore-scripts.yaml
Due: push_stackstate_to_internal

STAC-12234 Make 4.3.0-pre.5 rc2
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

chore(stackstate): Upgrade anomaly-detection to version 4.3.0-snapshot.129.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

STAC-12289: Ensure that entry in override configmap is unique
  stable/cluster-agent/templates/agent-configmap.yaml
  stable/cluster-agent/templates/agent-daemonset.yaml
  stable/cluster-agent/templates/cluster-agent-configmap.yaml
  stable/cluster-agent/templates/cluster-agent-deployment.yaml
Due: push_cluster-agent_to_internal

STAC-12289: Bump version
  stable/cluster-agent/Chart.yaml
  stable/cluster-agent/README.md
Due: push_cluster-agent_to_internal

STAC-12289: Reference correct configmap for clusterAgent
  stable/cluster-agent/templates/cluster-agent-deployment.yaml
Due: push_cluster-agent_to_internal

chore(stackstate): Upgrade anomaly-detection to version 4.3.0-snapshot.131.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

STAC-12208 Make 4.2.5 rc3
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-12208 Make 4.2.5
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

chore(stackstate): Upgrade StackGraph to version 4.0.8.
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/values.yaml
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_hbase_to_internal, push_stackstate_to_internal

STAC-12234 Make 4.3.0-pre.5 rc3
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

Update also the other image tag for the agent
  stable/cluster-agent/Chart.yaml
  stable/cluster-agent/README.md
  stable/cluster-agent/values.yaml
Due: push_cluster-agent_to_internal

STAC-12234 Make 4.3.0-pre.5 rc4
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-12234 Make 4.3.0-pre.5
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

chore(stackstate): Upgrade anomaly-detection to version 4.3.0-snapshot.134.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

STAC-10213 Updates CPU requests and limits...
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal
