Repository StackVista/helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: push_aws-amicleaner_to_internal, push_aws-nuke_to_internal, push_aws-pod-identity-webhook_to_internal, push_beacher-job_to_internal, push_chartmuseum_to_internal, push_cluster-agent_to_internal, push_common_to_internal, push_elasticsearch_to_internal, push_gitlab-runner_to_internal, push_gitlab-steward_to_internal, push_hbase_to_internal, push_iceman_to_internal, push_kafka_to_internal, push_kafkaup-operator_to_internal, push_kommoner-operator_to_internal, push_minio_to_internal, push_petros-d-kubelet-stats-exporter_to_internal, push_sandbox-operator_to_internal, push_stackstate-standalone_to_internal, push_stackstate_to_internal, push_trafficmirror_to_internal

push_aws-amicleaner_to_internal:
  image: stackstate/stackstate-ci-images:stackstate-devops-f87d9654
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

push_aws-nuke_to_internal:
  image: stackstate/stackstate-ci-images:stackstate-devops-f87d9654
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

push_aws-pod-identity-webhook_to_internal:
  image: stackstate/stackstate-ci-images:stackstate-devops-f87d9654
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

push_beacher-job_to_internal:
  image: stackstate/stackstate-ci-images:stackstate-devops-f87d9654
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

push_chartmuseum_to_internal:
  image: stackstate/stackstate-ci-images:stackstate-devops-f87d9654
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

push_cluster-agent_to_internal:
  image: stackstate/stackstate-ci-images:stackstate-devops-f87d9654
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

push_common_to_internal:
  image: stackstate/stackstate-ci-images:stackstate-devops-f87d9654
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

push_elasticsearch_to_internal:
  image: stackstate/stackstate-ci-images:stackstate-devops-f87d9654
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

STAC-20026 Set initializer limit extra high by default in case migrations need to run
  stable/stackstate-k8s/README.md
  stable/stackstate-k8s/values.yaml
Due: none

STAC-20026 Set initializer memory limit extra high in case the initializer needs to run database migrations
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-20026 Fix test
  stable/stackstate-k8s/test/services_java_heap_test.go
Due: none

STAC-0: Set the default PDB for VMAgent
  stable/stackstate-k8s/README.md
  stable/stackstate-k8s/values.yaml
Due: none

STAC-0 Fix upgradeOnStartUp
  stable/stackstate-k8s/templates/_helper-server-and-api-configmap.tpl
Due: none

STAC-0 fix test
  stable/stackstate-k8s/test/stackpack_config_test.go
Due: none

STAC-20028 Make 5.1.7 rc1
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-20028 Make 5.1.7 rc2
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-19695: write metrics from correlator directly to prometheus
  stable/stackstate-k8s/templates/deployment-correlate.yaml
Due: none

STAC-20028: Make 5.1.7
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-0 Use Saas stackpacks by default for now
  stable/stackstate-k8s/README.md
  stable/stackstate-k8s/values.yaml
Due: none

STAC-19578: Helm chart for k8s-image-list-to-s3
  stable/k8s-image-list-to-s3/Chart.yaml
  stable/k8s-image-list-to-s3/README.md
  stable/k8s-image-list-to-s3/README.md.gotmpl
  stable/k8s-image-list-to-s3/files/get-image-list.sh
  stable/k8s-image-list-to-s3/templates/NOTES.txt
  stable/k8s-image-list-to-s3/templates/_helpers.tpl
  stable/k8s-image-list-to-s3/templates/configmap.yaml
  stable/k8s-image-list-to-s3/templates/cronjob.yaml
  stable/k8s-image-list-to-s3/templates/rbac.yaml
  stable/k8s-image-list-to-s3/templates/serviceaccount.yaml
  stable/k8s-image-list-to-s3/values.yaml
Due: none

STAC-19578: Publish k8s-image-list-to-s3 to the internal Helm repository
  .gitlab-ci.jsonnet
  .gitlab-ci.yml
  .jsonnet-libs/extras/helm_chart_repo/variables.libsonnet
Due: none

STAC-20050 Add relabel config to unify label names
  stable/stackstate-k8s/templates/configmap-vmagent.yaml
  stable/stackstate-k8s/templates/statefulset-vmagent.yaml
Due: none

STAC-20050 Fixing relabel config
  stable/stackstate-k8s/templates/configmap-vmagent.yaml
  stable/stackstate-k8s/templates/statefulset-vmagent.yaml
Due: none

STAC-20050 Add checksum for configmap For automatic restarts upon config change
  stable/stackstate-k8s/templates/_helper.tpl
  stable/stackstate-k8s/templates/statefulset-vmagent.yaml
Due: none

STAC-20062 Reset repositorySuffix to empty to prepare for release candidates
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-0: Add stackpack volume to server pod
  stable/stackstate-k8s/templates/deployment-server.yaml
Due: none

STAC-0: Swap to the new chart for automatic SG update
  .gitlab-ci.jsonnet
  .gitlab-ci.yml
Due: none

STAC-20062 Make 5.1.8 rc1
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-20062: Make 5.1.8
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-0: Bump docker tags for release
  stable/stackstate-k8s/README.md
  stable/stackstate-k8s/values.yaml
Due: none

STAC-0: Add prefix
  stable/stackstate-k8s/README.md
  stable/stackstate-k8s/values.yaml
Due: none

STAC-19417: Enable network tracing
  stable/stackstate-k8s-agent/Chart.yaml
  stable/stackstate-k8s-agent/README.md
  stable/stackstate-k8s-agent/values.yaml
Due: none

[chore] [publish-k8s-agent] Update agent images to latest pre-prod commit at 2023-08-22_09:26:10
  stable/stackstate-k8s-agent/Chart.yaml
  stable/stackstate-k8s-agent/README.md
  stable/stackstate-k8s-agent/values.yaml
Due: none

STAC-20063: Bump hbase to 4.12.1
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/values.yaml
  stable/stackstate-k8s/Chart.lock
  stable/stackstate-k8s/README.md
  stable/stackstate-k8s/values.yaml
Due: push_hbase_to_internal

Release 1.0.5 of stackstate-k8s
  stable/stackstate-k8s/Chart.yaml
  stable/stackstate-k8s/README.md
Due: none

Start stackstate-k8s 1.0.6
  stable/stackstate-k8s/Chart.yaml
  stable/stackstate-k8s/README.md
Due: none

STAC-19578: Increase memory for k8s-image-list-to-s3
  stable/k8s-image-list-to-s3/Chart.yaml
  stable/k8s-image-list-to-s3/README.md
  stable/k8s-image-list-to-s3/values.yaml
Due: none

STAC-19728: Fix tests
  stable/stackstate-k8s-agent/test/clusteragent_resources_test.go
Due: none

STAC-19728: Add test to check for illegal verbs in cluster roles
  stable/stackstate-k8s-agent/test/clusteragent_resources_test.go
Due: none

STAC-19728: Upgrade http-header-injector dependency and fix rbac test
  helmtestutil/KubernetesResources.go
  stable/stackstate-k8s-agent/Chart.lock
  stable/stackstate-k8s-agent/Chart.yaml
  stable/stackstate-k8s-agent/README.md
  stable/stackstate-k8s-agent/test/clusteragent_resources_test.go
  stable/stackstate-k8s-agent/test/values/http-header-injector.yaml
Due: none

STAC-19728: Update chart version
  stable/stackstate-k8s-agent/Chart.yaml
  stable/stackstate-k8s-agent/README.md
Due: none

STAC-19728: Do not ask for permissions to modify configmaps outside namespace
  stable/stackstate-k8s-agent/templates/cluster-agent-clusterrole.yaml
  stable/stackstate-k8s-agent/templates/cluster-agent-role.yaml
  stable/stackstate-k8s-agent/templates/cluster-agent-rolebinding.yaml
Due: none

chore(stackstate): Upgrade StackGraph to version 4.12.2.
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/values.yaml
  stable/stackstate-k8s/Chart.lock
  stable/stackstate-k8s/Chart.yaml
  stable/stackstate-k8s/README.md
  stable/stackstate-k8s/values.yaml
Due: push_hbase_to_internal

STAC-19602: expose stackgraph metrics so they can be shown
  stable/stackstate-k8s/README.md
  stable/stackstate-k8s/values.yaml
Due: none

[chore] [publish-k8s-agent] Update agent images to latest pre-prod commit at 2023-08-28_23:05:19
  stable/stackstate-k8s-agent/Chart.yaml
  stable/stackstate-k8s-agent/README.md
  stable/stackstate-k8s-agent/values.yaml
Due: none

chore(stackstate): Upgrade StackGraph to version 4.12.3.
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/values.yaml
  stable/stackstate-k8s/Chart.lock
  stable/stackstate-k8s/Chart.yaml
  stable/stackstate-k8s/README.md
  stable/stackstate-k8s/values.yaml
Due: push_hbase_to_internal

Path conditions:
  push_aws-amicleaner_to_internal: any of: stable/aws-amicleaner/**/*
  push_aws-nuke_to_internal: any of: stable/aws-nuke/**/*
  push_aws-pod-identity-webhook_to_internal: any of: stable/aws-pod-identity-webhook/**/*
  push_beacher-job_to_internal: any of: stable/beacher-job/**/*
  push_chartmuseum_to_internal: any of: stable/chartmuseum/**/*
  push_cluster-agent_to_internal: any of: stable/cluster-agent/**/*
  push_common_to_internal: any of: stable/common/**/*
  push_elasticsearch_to_internal: any of: stable/elasticsearch/**/*
  push_gitlab-runner_to_internal: any of: stable/gitlab-runner/**/*
  push_gitlab-steward_to_internal: any of: stable/gitlab-steward/**/*
  push_hbase_to_internal: any of: stable/hbase/**/*
  push_iceman_to_internal: any of: stable/iceman/**/*
  push_kafka_to_internal: any of: stable/kafka/**/*
  push_kafkaup-operator_to_internal: any of: stable/kafkaup-operator/**/*
  push_kommoner-operator_to_internal: any of: stable/kommoner-operator/**/*
  push_minio_to_internal: any of: stable/minio/**/*
  push_petros-d-kubelet-stats-exporter_to_internal: any of: stable/petros-d-kubelet-stats-exporter/**/*
  push_sandbox-operator_to_internal: any of: stable/sandbox-operator/**/*
  push_stackstate-standalone_to_internal: any of: stable/stackstate-standalone/**/*
  push_stackstate_to_internal: any of: stable/stackstate/**/*
  push_trafficmirror_to_internal: any of: stable/trafficmirror/**/*
