Repository StackVista/helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: push_aws-amicleaner_to_internal, push_aws-nuke_to_internal, push_aws-pod-identity-webhook_to_internal, push_beacher-job_to_internal, push_chartmuseum_to_internal, push_cluster-agent_to_internal, push_common_to_internal, push_elasticsearch_to_internal, push_gitlab-runner_to_internal, push_gitlab-steward_to_internal, push_hbase_to_internal, push_iceman_to_internal, push_kafka_to_internal, push_kafkaup-operator_to_internal, push_kommoner-operator_to_internal, push_minio_to_internal, push_petros-d-kubelet-stats-exporter_to_internal, push_sandbox-operator_to_internal, push_stackstate-standalone_to_internal, push_stackstate_to_internal, push_trafficmirror_to_internal

Path conditions:
  push_aws-amicleaner_to_internal: any of: stable/aws-amicleaner/**/*
  push_aws-nuke_to_internal: any of: stable/aws-nuke/**/*
  push_aws-pod-identity-webhook_to_internal: any of: stable/aws-pod-identity-webhook/**/*
  push_beacher-job_to_internal: any of: stable/beacher-job/**/*
  push_chartmuseum_to_internal: any of: stable/chartmuseum/**/*
  push_cluster-agent_to_internal: any of: stable/cluster-agent/**/*
  push_common_to_internal: any of: stable/common/**/*
  push_elasticsearch_to_internal: any of: stable/elasticsearch/**/*
  push_gitlab-runner_to_internal: any of: stable/gitlab-runner/**/*
  push_gitlab-steward_to_internal: any of: stable/gitlab-steward/**/*
  push_hbase_to_internal: any of: stable/hbase/**/*
  push_iceman_to_internal: any of: stable/iceman/**/*
  push_kafka_to_internal: any of: stable/kafka/**/*
  push_kafkaup-operator_to_internal: any of: stable/kafkaup-operator/**/*
  push_kommoner-operator_to_internal: any of: stable/kommoner-operator/**/*
  push_minio_to_internal: any of: stable/minio/**/*
  push_petros-d-kubelet-stats-exporter_to_internal: any of: stable/petros-d-kubelet-stats-exporter/**/*
  push_sandbox-operator_to_internal: any of: stable/sandbox-operator/**/*
  push_stackstate-standalone_to_internal: any of: stable/stackstate-standalone/**/*
  push_stackstate_to_internal: any of: stable/stackstate/**/*
  push_trafficmirror_to_internal: any of: stable/trafficmirror/**/*

STAC-18719 Added Chart.lock file
  stable/stackstate/Chart.lock
Due: push_stackstate_to_internal

STAC-18676: Add secret for openshift logging
  stable/stackstate-agent/Chart.yaml
  stable/stackstate-agent/README.md
  stable/stackstate-agent/templates/openshift-logging-secret.yaml
  stable/stackstate-agent/values.yaml
  stable/stackstate/Chart.lock
Due: push_stackstate_to_internal

STAC-18751 TLS Cookie without secure flag set
  stable/stackstate/templates/ingress.yaml
Due: push_stackstate_to_internal

STAC-18785 Review comments
  stable/hbase/README.md
  stable/hbase/values.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_hbase_to_internal, push_stackstate_to_internal

STAC-18785 Set console default to 0 replicas but enabled
  stable/hbase/README.md
  stable/hbase/templates/console-deployment.yaml
  stable/hbase/values.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_hbase_to_internal, push_stackstate_to_internal

STAC-18785 Stackgraph deployed by default with 0 replicasets.
  stable/hbase/README.md
  stable/hbase/values.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_hbase_to_internal, push_stackstate_to_internal

STAC-18785 Bump stackstate version
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

STAC-18785 Add replicaCount to console template.
  stable/hbase/templates/console-deployment.yaml
Due: push_hbase_to_internal

STAC-18785 Bump hbase version
  stable/hbase/Chart.yaml
  stable/hbase/README.md
Due: push_hbase_to_internal

STAC-18794 Separate rule for annotations response times and split out anomaly detector into its own rule with a much higher threshold
  stable/stackstate-monitoring/Chart.yaml
  stable/stackstate-monitoring/README.md
  stable/stackstate-monitoring/templates/rule-http.yaml
Due: none

STAC-18510 Replace simple Elasticsearch dashboard with a much more complete one
  stable/stackstate-monitoring/Chart.yaml
  stable/stackstate-monitoring/README.md
  stable/stackstate-monitoring/grafana-dashboards/stackstate-elasticsearch/elasticsearch-exporter-dashboard.json
  stable/stackstate-monitoring/grafana-dashboards/stackstate-elasticsearch/stackstate-elasticsearch.json
Due: none

STAC-17014: add serviceToken related values
  stable/stackstate/README.md
  stable/stackstate/templates/_helper-server-and-api-configmap.tpl
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-17014: Fix capitalisation
  stable/stackstate/README.md
  stable/stackstate/templates/_helper-server-and-api-configmap.tpl
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-18664 Make 5.1.3 rc2
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

make the kube-state-metrics-core check a first class citizen in helm, disable...
  .gitignore
  stable/stackstate-agent/Chart.yaml
  stable/stackstate-agent/README.md
  stable/stackstate-agent/templates/_cluster-agent-kube-state-metrics.yaml
  stable/stackstate-agent/templates/cluster-agent-configmap.yaml
  stable/stackstate-agent/templates/cluster-agent-deployment.yaml
  stable/stackstate-agent/values.yaml
  stable/stackstate/Chart.lock
Due: push_stackstate_to_internal

chore(stackstate): Upgrade StackGraph to version 4.11.4.
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

STAC-18664: Make 5.1.3
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-15845: The scripted livenessProbe for the hbase master service
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/templates/hbase-master-statefulset.yaml
  stable/hbase/values.yaml
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_hbase_to_internal, push_stackstate_to_internal

STAC-15845: Bump up StackGraph version
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-15845: Adding Role for the HBase serviceaccount to check Hbase master logs
  .gitlab-ci.jsonnet
  .gitlab-ci.yml
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/templates/hbase-role.yaml
  stable/hbase/templates/hbase-rolebinding.yaml
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_hbase_to_internal, push_stackstate_to_internal

STAC-18901: Enable the new metric store (VictoriaMetrics) by default)
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-18468: do not create connecitonbeat topics
  stable/stackstate/scripts/job-kafka-topic-create.sh
Due: push_stackstate_to_internal

Mount PV for the Stackgraph backup only when it is enabled
  stable/stackstate/templates/job-backup-init.yaml
Due: push_stackstate_to_internal

STAC-18989 KafkaToProm gets OOM killed
  stable/stackstate/templates/_helper-service-config.tpl
  stable/stackstate/test/cache_backend_test.go
  stable/stackstate/test/services_java_heap_test.go
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-19056: add annotations to minio helm chart
  stable/minio/Chart.yaml
  stable/minio/README.md
  stable/minio/templates/serviceaccount.yaml
  stable/minio/values.yaml
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_minio_to_internal, push_stackstate_to_internal

STAC-19062: Lower chart version
  stable/stackstate-k8s-agent/Chart.yaml
  stable/stackstate-k8s-agent/README.md
Due: none

STAC-19044: Change docker repos and add release notes
  stable/stackstate-k8s-agent/README.md
  stable/stackstate-k8s-agent/Releasing.md
  stable/stackstate-k8s-agent/values.yaml
Due: none

STAC-19044: Bump chart version
  stable/stackstate-k8s-agent/Chart.yaml
  stable/stackstate-k8s-agent/README.md
Due: none

STAC-19044: Minor changes to release procedure
  stable/stackstate-k8s-agent/Releasing.md
Due: none

STAC-19049: Better wording
  stable/stackstate-k8s-agent/Releasing.md
Due: none

chore(stackstate): Upgrade StackGraph to version 4.12.0.
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/values.yaml
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_hbase_to_internal, push_stackstate_to_internal

STAC-18932 Fix stackgraph version bumping
  .gitlab-ci.jsonnet
  .gitlab-ci.yml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-19180: Move k8s-spot-termination-handler Helm chart to the helm-charts
  .gitlab-ci.yml
  .jsonnet-libs/extras/helm_chart_repo/variables.libsonnet
  stable/k8s-spot-termination-handler/.helmignore
  stable/k8s-spot-termination-handler/Chart.yaml
  stable/k8s-spot-termination-handler/README.md
  stable/k8s-spot-termination-handler/linter_values.yaml
  stable/k8s-spot-termination-handler/templates/NOTES.txt
  stable/k8s-spot-termination-handler/templates/_helpers.tpl
  stable/k8s-spot-termination-handler/templates/clusterrole.yaml
  stable/k8s-spot-termination-handler/templates/clusterrolebinding.yaml
  stable/k8s-spot-termination-handler/templates/daemonset.yaml
  stable/k8s-spot-termination-handler/templates/secret.yaml
  stable/k8s-spot-termination-handler/templates/serviceaccount.yaml
  stable/k8s-spot-termination-handler/values.yaml
Due: none

chore(stackstate): Upgrade StackGraph to version 4.12.0.
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

STAC-0: Bump tags and release k8s agent
  stable/stackstate-k8s-agent/Chart.yaml
  stable/stackstate-k8s-agent/README.md
  stable/stackstate-k8s-agent/Releasing.md
  stable/stackstate-k8s-agent/values.yaml
Due: none

STAC-19150 Upgrade VictoriaMetrics to 1.87.2 (latest LTS release)
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal
