Repository StackVista/helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: push_aws-amicleaner_to_internal, push_aws-nuke_to_internal, push_aws-pod-identity-webhook_to_internal, push_beacher-job_to_internal, push_chartmuseum_to_internal, push_cluster-agent_to_internal, push_common_to_internal, push_elasticsearch_to_internal, push_gitlab-runner_to_internal, push_gitlab-steward_to_internal, push_hbase_to_internal, push_iceman_to_internal, push_kafka_to_internal, push_kafkaup-operator_to_internal, push_kommoner-operator_to_internal, push_minio_to_internal, push_petros-d-kubelet-stats-exporter_to_internal, push_sandbox-operator_to_internal, push_stackstate-standalone_to_internal, push_stackstate_to_internal, push_trafficmirror_to_internal

Path conditions:
  push_aws-amicleaner_to_internal: any of: stable/aws-amicleaner/**/*
  push_aws-nuke_to_internal: any of: stable/aws-nuke/**/*
  push_aws-pod-identity-webhook_to_internal: any of: stable/aws-pod-identity-webhook/**/*
  push_beacher-job_to_internal: any of: stable/beacher-job/**/*
  push_chartmuseum_to_internal: any of: stable/chartmuseum/**/*
  push_cluster-agent_to_internal: any of: stable/cluster-agent/**/*
  push_common_to_internal: any of: stable/common/**/*
  push_elasticsearch_to_internal: any of: stable/elasticsearch/**/*
  push_gitlab-runner_to_internal: any of: stable/gitlab-runner/**/*
  push_gitlab-steward_to_internal: any of: stable/gitlab-steward/**/*
  push_hbase_to_internal: any of: stable/hbase/**/*
  push_iceman_to_internal: any of: stable/iceman/**/*
  push_kafka_to_internal: any of: stable/kafka/**/*
  push_kafkaup-operator_to_internal: any of: stable/kafkaup-operator/**/*
  push_kommoner-operator_to_internal: any of: stable/kommoner-operator/**/*
  push_minio_to_internal: any of: stable/minio/**/*
  push_petros-d-kubelet-stats-exporter_to_internal: any of: stable/petros-d-kubelet-stats-exporter/**/*
  push_sandbox-operator_to_internal: any of: stable/sandbox-operator/**/*
  push_stackstate-standalone_to_internal: any of: stable/stackstate-standalone/**/*
  push_stackstate_to_internal: any of: stable/stackstate/**/*
  push_trafficmirror_to_internal: any of: stable/trafficmirror/**/*

chore(stackstate): Upgrade anomaly-detection to version 5.2.0-snapshot.1.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

chore(stackstate): Upgrade anomaly-detection to version 5.2.0-snapshot.4.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

STAC-17871 Bump upcoming release version to 5.2.0
  stable/stackstate/Chart.yaml
Due: push_stackstate_to_internal

chore(stackstate): Upgrade anomaly-detection to version 5.2.0-snapshot.4.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-16316: Bump to master version of kafka docker image
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-17362: Change tenant conf backup sanity check
  stable/stackstate/scripts/backup-configuration.sh
Due: push_stackstate_to_internal

chore(stackstate): Upgrade StackGraph to version 4.10.1.
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

STAC-16316: Avoid using unrecognized option force
  stable/stackstate/scripts/job-kafka-topic-create.sh
Due: push_stackstate_to_internal

chore(stackstate): Upgrade StackGraph to version 4.10.2.
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/values.yaml
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_hbase_to_internal, push_stackstate_to_internal

STAC-18057 Setup liveness probe for elasticsearch
  stable/elasticsearch/Chart.yaml
  stable/elasticsearch/templates/statefulset.yaml
  stable/elasticsearch/values.yaml
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
Due: push_elasticsearch_to_internal, push_stackstate_to_internal

STAC-0 Fix metric store uri
  stable/stackstate/templates/deployment-api.yaml
Due: push_stackstate_to_internal

STAC-0 Now fix the metric store URI everywhere
  stable/stackstate/templates/deployment-checks.yaml
  stable/stackstate/templates/deployment-healthSync.yaml
  stable/stackstate/templates/deployment-initializer.yaml
  stable/stackstate/templates/deployment-problemProducer.yaml
  stable/stackstate/templates/deployment-server.yaml
  stable/stackstate/templates/deployment-state.yaml
  stable/stackstate/templates/deployment-viewHealth.yaml
Due: push_stackstate_to_internal

STAC-18174 Make 5.2.0-pre.0 rc1
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

chore(stackstate): Upgrade StackGraph to version 4.10.3.
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/values.yaml
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_hbase_to_internal, push_stackstate_to_internal

STAC-18194 Reset repositorySuffix to empty to prepare for release candidates
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

chore(stackstate): Upgrade StackGraph to version 4.11.1.
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/values.yaml
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_hbase_to_internal, push_stackstate_to_internal

STAC-18174: Make 5.2.0-pre.0
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-17969: Create specific alerts for telemetry endpoint which uses window_size_order and client of the request. Assumes python-requests is AAD
  stable/stackstate-monitoring/templates/rule-http.yaml
Due: none

STAC-17969: Bump chart version
  stable/stackstate-monitoring/Chart.yaml
  stable/stackstate-monitoring/README.md
Due: none

STAC-17969: Adjust to agreed threshold for StackStateSmallWindowTelemetryApiLatency
  stable/stackstate-monitoring/templates/rule-http.yaml
Due: none

Sounds goofd. Will change it
  stable/stackstate-monitoring/templates/rule-http.yaml
Due: none

fix(readcache): STAC-17828 | Improve read cache dashboard
  stable/stackstate-monitoring/Chart.yaml
  stable/stackstate-monitoring/README.md
  stable/stackstate-monitoring/grafana-dashboards/stackgraph/stackgraph-metrics.json
  stable/stackstate-monitoring/grafana-dashboards/stackgraph/stackgraph-metrics.jsonnet
  stable/stackstate-monitoring/grafana-dashboards/stackstate-sync/stackstate-sync.json
  stable/stackstate-monitoring/grafana-dashboards/stackstate-sync/stackstate-sync.jsonnet
Due: none

Fixed Readme-s
  stable/elasticsearch/Chart.yaml
  stable/elasticsearch/README.md
  stable/stackstate-agent/Chart.yaml
  stable/stackstate-agent/README.md
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_elasticsearch_to_internal, push_stackstate_to_internal

STAC-18257 Reset repositorySuffix to empty to prepare for release candidates
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-17970 | add extra runbook links
  stable/stackstate-monitoring/templates/rule-http.yaml
Due: none

STAC-17970 | bump monitors chart version
  stable/stackstate-monitoring/Chart.yaml
  stable/stackstate-monitoring/README.md
Due: none

STAC-18257 Make 5.0.7 rc1
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-15174: Helm chart to clean-up the Artifactory
  stable/artifactory-cleaner/Chart.yaml
  stable/artifactory-cleaner/README.md
  stable/artifactory-cleaner/README.md.gotmpl
  stable/artifactory-cleaner/ci/linter-values.yaml
  stable/artifactory-cleaner/files/artifactory-cleaner.sh
  stable/artifactory-cleaner/linter_values.yaml
  stable/artifactory-cleaner/templates/NOTES.txt
  stable/artifactory-cleaner/templates/_helpers.tpl
  stable/artifactory-cleaner/templates/cleaner-configmap.yaml
  stable/artifactory-cleaner/templates/cleaner-cronjob.yaml
  stable/artifactory-cleaner/templates/cleaner-secret.yaml
  stable/artifactory-cleaner/templates/cleaner-serviceaccount.yaml
  stable/artifactory-cleaner/values.yaml
Due: none

STAC-18257 Make 5.0.7 rc2
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-18257: Make 5.0.7
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-18191 Enable metrics feature flag when expiremental metrics are enabled
  stable/stackstate/templates/_helper-service-config.tpl
Due: push_stackstate_to_internal

STAC-18191 Run tests with metric store enabled
  stable/stackstate/test/services_java_heap_test.go
  stable/stackstate/test/values/full.yaml
Due: push_stackstate_to_internal

STAC-18191 Introduce Kafka2Prom deployment
  stable/stackstate/README.md
  stable/stackstate/templates/_helper-endpoints.tpl
  stable/stackstate/templates/_helper.tpl
  stable/stackstate/templates/configmap-kafka2prom-log.yaml
  stable/stackstate/templates/deployment-api.yaml
  stable/stackstate/templates/deployment-checks.yaml
  stable/stackstate/templates/deployment-healthSync.yaml
  stable/stackstate/templates/deployment-initializer.yaml
  stable/stackstate/templates/deployment-kafka2prom.yaml
  stable/stackstate/templates/deployment-problemProducer.yaml
  stable/stackstate/templates/deployment-server.yaml
  stable/stackstate/templates/deployment-state.yaml
  stable/stackstate/templates/deployment-viewHealth.yaml
  stable/stackstate/templates/pdb-kafka2prom.yaml
  stable/stackstate/templates/secret-kafka2prom.yaml
  stable/stackstate/templates/service-kafka2prom.yaml
  stable/stackstate/templates/servicemonitor-kafka2prom.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-18191 Only include metric store uri when needed and fix tests
  stable/stackstate/templates/_helper.tpl
  stable/stackstate/templates/deployment-api.yaml
  stable/stackstate/templates/deployment-checks.yaml
  stable/stackstate/templates/deployment-healthSync.yaml
  stable/stackstate/templates/deployment-initializer.yaml
  stable/stackstate/templates/deployment-problemProducer.yaml
  stable/stackstate/templates/deployment-server.yaml
  stable/stackstate/templates/deployment-state.yaml
  stable/stackstate/templates/deployment-viewHealth.yaml
  stable/stackstate/test/pull_secret_test.go
  stable/stackstate/test/values/pull_secret_both.yaml
  stable/stackstate/test/values/pull_secret_global.yaml
  stable/stackstate/test/values/pull_secret_global_named.yaml
  stable/stackstate/test/values/pull_secret_global_registry.yaml
  stable/stackstate/test/values/pull_secret_name.yaml
Due: push_stackstate_to_internal

chore(stackstate): Upgrade anomaly-detection to version 5.2.0-snapshot.6.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

STAC-18191 Restore proper service args
  stable/stackstate/templates/deployment-kafka2prom.yaml
Due: push_stackstate_to_internal

STAC-15174: Added CICD for the artifactory-cleaner chart
  .gitlab-ci.yml
  .jsonnet-libs/extras/helm_chart_repo/variables.libsonnet
  stable/artifactory-cleaner/Chart.yaml
  stable/artifactory-cleaner/README.md
Due: none

STAC-18272 Make 5.2.0-pre.1 rc2
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-18142 Rename feature flag from metricsPage to newMetrics.
  stable/stackstate/templates/_helper-service-config.tpl
Due: push_stackstate_to_internal
