Repository StackVista/helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: push_aws-amicleaner_to_internal, push_aws-amicleaner_to_public, push_aws-nuke_to_internal, push_aws-nuke_to_public, push_cluster-agent_to_internal, push_cluster-agent_to_public, push_common_to_internal, push_common_to_public, push_elasticsearch_to_internal, push_elasticsearch_to_public, push_gitlab-runner_to_internal, push_gitlab-runner_to_public, push_gitlab-steward_to_internal, push_gitlab-steward_to_public, push_hbase_to_internal, push_hbase_to_public, push_iceman_to_internal, push_iceman_to_public, push_stackstate-standalone_to_internal, push_stackstate-standalone_to_public, push_stackstate_to_internal, push_stackstate_to_public, push_trafficmirror_to_internal, push_trafficmirror_to_public

push_aws-amicleaner_to_internal:
  needs:
  - test_aws-amicleaner
  script:
  - helm plugin install https://github.com/chartmuseum/helm-push.git
  - helm dependencies update ${CHART}
  - helm push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  ...

push_aws-amicleaner_to_public:
  needs:
  - push_aws-amicleaner_to_internal
  script:
  - helm plugin install https://github.com/chartmuseum/helm-push.git
  - helm dependencies update ${CHART}
  - helm push --username ${CHARTMUSEUM_USERNAME} --password ${CHARTMUSEUM_PASSWORD} ${CHART} ${CHARTMUSEUM_URL}
  stage: push-charts-to-public
  ...

push_aws-nuke_to_internal:
  needs:
  - test_aws-nuke
  script:
  - helm plugin install https://github.com/chartmuseum/helm-push.git
  - helm dependencies update ${CHART}
  - helm push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  ...

push_aws-nuke_to_public:
  needs:
  - push_aws-nuke_to_internal
  script:
  - helm plugin install https://github.com/chartmuseum/helm-push.git
  - helm dependencies update ${CHART}
  - helm push --username ${CHARTMUSEUM_USERNAME} --password ${CHARTMUSEUM_PASSWORD} ${CHART} ${CHARTMUSEUM_URL}
  stage: push-charts-to-public
  variables:
  ...

push_cluster-agent_to_internal:
  needs:
  - test_cluster-agent
  script:
  - helm plugin install https://github.com/chartmuseum/helm-push.git
  - helm dependencies update ${CHART}
  - helm push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  ...

push_cluster-agent_to_public:
  needs:
  - push_cluster-agent_to_internal
  script:
  - helm plugin install https://github.com/chartmuseum/helm-push.git
  - helm dependencies update ${CHART}
  - helm push --username ${CHARTMUSEUM_USERNAME} --password ${CHARTMUSEUM_PASSWORD} ${CHART} ${CHARTMUSEUM_URL}
  stage: push-charts-to-public
  ...

push_common_to_internal:
  needs:
  - test_common
  script:
  - helm plugin install https://github.com/chartmuseum/helm-push.git
  - helm dependencies update ${CHART}
  - helm push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  ...

push_common_to_public:
  needs:
  - push_common_to_internal
  script:
  - helm plugin install https://github.com/chartmuseum/helm-push.git
  - helm dependencies update ${CHART}
  - helm push --username ${CHARTMUSEUM_USERNAME} --password ${CHARTMUSEUM_PASSWORD} ${CHART} ${CHARTMUSEUM_URL}
  stage: push-charts-to-public
  variables:
  ...

push_elasticsearch_to_internal:
  needs:
  - test_elasticsearch
  script:
  - helm plugin install https://github.com/chartmuseum/helm-push.git
  - helm dependencies update ${CHART}
  - helm push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  ...

feat(Stackstate): STAC-11937 | Add alerts topic creation
  stable/stackstate/scripts/job-kafka-topic-create.sh
Due: push_stackstate_to_internal, push_stackstate_to_public

docs(Stackstate): STAC-11937 | Version bump
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal, push_stackstate_to_public

Adds support for CronJob and PersistentVolumeClaim to helmtestutil package
  helmtestutil/KubernetesResources.go
Due: none

Adds ttl to kafka-init job so that it disappears after 10 minutes
  stable/stackstate/templates/job-kafka-topic-create.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-11548 Adds automatic backups for StackGraph and ElasticSearch data
  .gitlab-ci.yml
  .jsonnet-libs/extras/helm_chart_repo/variables.libsonnet
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/restore/list-elasticsearch-snapshots.sh
  stable/stackstate/restore/list-stackgraph-backups.sh
  stable/stackstate/restore/restore-elasticsearch-snapshot.sh
  stable/stackstate/restore/restore-stackgraph-backup.sh
  stable/stackstate/scripts/backup-stackgraph.sh
  stable/stackstate/scripts/configure-backup.sh
  stable/stackstate/scripts/expire-stackgraph-backups.py
  stable/stackstate/scripts/list-elasticsearch-snapshots.sh
  stable/stackstate/scripts/list-stackgraph-backups.sh
  stable/stackstate/scripts/restore-elasticsearch-snapshot.sh
  stable/stackstate/scripts/restore-stackgraph-backup.sh
  stable/stackstate/templates/_helper-backup.tpl
  stable/stackstate/templates/_helper-endpoints.tpl
  stable/stackstate/templates/_helper.tpl
  stable/stackstate/templates/configmap-backup-restore-scripts.yaml
  stable/stackstate/templates/cronjob-backup.yaml
  stable/stackstate/templates/job-backup-init.yaml
  stable/stackstate/templates/job-kafka-topic-create.yaml
  stable/stackstate/values.yaml
  test/ct.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

chore(stackstate): Updates version of stackstate chart to 4.3.0-snapshot.15
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-11548 Adds automatic backups for StackGraph and ElasticSearch data
  .gitlab-ci.yml
  .jsonnet-libs/extras/helm_chart_repo/variables.libsonnet
  .pre-commit-config.yaml
  stable/aws-amicleaner/README.md
  stable/aws-nuke/README.md
  stable/chartmuseum/README.md
  stable/common/README.md
  stable/elasticsearch/README.md
  stable/gitlab-steward/README.md
  stable/hbase/README.md
  stable/iceman/README.md
  stable/sandbox-operator/README.md
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/restore/list-elasticsearch-snapshots.sh
  stable/stackstate/restore/list-stackgraph-backups.sh
  stable/stackstate/restore/restore-elasticsearch-snapshot.sh
  stable/stackstate/restore/restore-stackgraph-backup.sh
  stable/stackstate/scripts/backup-stackgraph.sh
  stable/stackstate/scripts/configure-backup.sh
  stable/stackstate/scripts/expire-stackgraph-backups.py
  stable/stackstate/scripts/list-elasticsearch-snapshots.sh
  stable/stackstate/scripts/list-stackgraph-backups.sh
  stable/stackstate/scripts/restore-elasticsearch-snapshot.sh
  stable/stackstate/scripts/restore-stackgraph-backup.sh
  stable/stackstate/templates/_helper-backup.tpl
  stable/stackstate/templates/_helper-endpoints.tpl
  stable/stackstate/templates/_helper.tpl
  stable/stackstate/templates/configmap-backup-restore-scripts.yaml
  stable/stackstate/templates/cronjob-backup.yaml
  stable/stackstate/templates/job-backup-init.yaml
  stable/stackstate/templates/job-kafka-topic-create.yaml
  stable/stackstate/values.yaml
  stable/trafficmirror/README.md
  test/ct.yaml
Due: push_aws-amicleaner_to_internal, push_aws-amicleaner_to_public, push_aws-nuke_to_internal, push_aws-nuke_to_public, push_common_to_internal, push_common_to_public, push_elasticsearch_to_internal, push_elasticsearch_to_public, push_gitlab-steward_to_internal, push_gitlab-steward_to_public, push_hbase_to_internal, push_hbase_to_public, push_iceman_to_internal, push_iceman_to_public, push_stackstate_to_internal, push_stackstate_to_public, push_trafficmirror_to_internal, push_trafficmirror_to_public

STAC-11697 Increase cpu rqeuests and limits for region server and set request == limit for memory. The CPU requests now has a total that is over the requirements in our docs.
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-11679 Bump chart version
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-11679 Fix test
  stable/stackstate/test/services_java_heap_test.go
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-11679 Equalize requests/limits for server
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

chore(stackstate): Upgrade StackGraph to version 3.7.2.
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/values.yaml
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_hbase_to_internal, push_hbase_to_public, push_stackstate_to_internal, push_stackstate_to_public

STAC-11679 Bump chart version again
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-11548 Disables MinIO by default
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

chore(stackstate): Updates version of stackstate chart to 4.3.0-snapshot.18
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal, push_stackstate_to_public

Revert "STAC-11769 Limits on all stackstate containers"
  helmtestutil/KubernetesResources.go
  stable/stackstate/README.md
  stable/stackstate/installation/examples/micro_test_values.yaml
  stable/stackstate/templates/_helper-k2es-common.tpl
  stable/stackstate/templates/_helper.tpl
  stable/stackstate/templates/configmap-e2es-log.yaml
  stable/stackstate/templates/configmap-k2es-log.yaml
  stable/stackstate/templates/configmap-mm2es-log.yaml
  stable/stackstate/templates/configmap-trace2es-log.yaml
  stable/stackstate/templates/deployment-api.yaml
  stable/stackstate/templates/deployment-checks.yaml
  stable/stackstate/templates/deployment-correlate.yaml
  stable/stackstate/templates/deployment-initializer.yaml
  stable/stackstate/templates/deployment-k2es-multi-metrics-to-es.yaml
  stable/stackstate/templates/deployment-k2es-sts-events-to-es.yaml
  stable/stackstate/templates/deployment-k2es-trace-events-to-es.yaml
  stable/stackstate/templates/deployment-receiver.yaml
  stable/stackstate/templates/deployment-server.yaml
  stable/stackstate/templates/deployment-slicing.yaml
  stable/stackstate/templates/deployment-state.yaml
  stable/stackstate/templates/deployment-sync.yaml
  stable/stackstate/templates/deployment-viewHealth.yaml
  stable/stackstate/templates/pdb-k2es-events-to-es.yaml
  stable/stackstate/templates/pdb-k2es-multi-metrics-to-es.yaml
  stable/stackstate/templates/pdb-k2es-sts-events-to-es.yaml
  stable/stackstate/templates/pdb-k2es-trace-events-to-es.yaml
  stable/stackstate/templates/secret-e2es..yaml
  stable/stackstate/templates/secret-k2es.yaml
  stable/stackstate/templates/secret-mm2es.yaml
  stable/stackstate/templates/secret-trace2es.yaml
  stable/stackstate/templates/service-k2es-sts-events-to-es.yaml
  stable/stackstate/templates/service-k2es-trace-events-to-es.yaml
  stable/stackstate/templates/servicemonitor-k2es-sts-events-to-es.yaml
  stable/stackstate/templates/servicemonitor-k2es-trace-events-to-es.yaml
  stable/stackstate/test/generic_service_test.go
  stable/stackstate/test/services_java_heap_test.go
  stable/stackstate/values.yaml
  util/extract_resource_usage.sh
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-11769 Bump some limits some more
  stable/hbase/README.md
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_hbase_to_internal, push_hbase_to_public, push_stackstate_to_internal, push_stackstate_to_public

STAC-11769 Bump the chart version
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-11769 FInal bump
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-11760: Create sts_external_alerts topic
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/scripts/job-kafka-topic-create.sh
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-11927 Make 4.3.0-pre.3 rc3
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-12010: AAD chart upgrade - api token auth support
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-12010: AAD chart upgrade - fixes in appVersion of aad chart + using templated router url in aad
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-11548 Starts ElasticSearch with -Des.allow_insecure_settings=true
  stable/stackstate/README.md
  stable/stackstate/scripts/configure-backup.sh
  stable/stackstate/templates/configmap-backup-restore-scripts.yaml
  stable/stackstate/templates/cronjob-backup.yaml
  stable/stackstate/templates/job-backup-init.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-0 ES Exporter needs more cpu
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-0 Bump chart
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal, push_stackstate_to_public

chore(stackstate): Updates version of stackstate chart to 4.3.0-snapshot.23
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-11927 Make 4.3.0-pre.3
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-0 Disable gitlab-ci precommit hook
  .pre-commit-config.yaml
Due: none

STAC-10518 Auto bump version for stackstate chart on master
  .gitlab-ci.jsonnet
  .gitlab-ci.yml
  .gitlab/bump_sts_chart_master_version.sh
Due: none

STAC-11548 Fixes default values for backup.elasticSearch.schedule and backup.stackGraph.schedule
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

chore(stackstate): Updates version of stackstate chart to 4.3.0-snapshot.24
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-10518 Fix validation
  .gitlab-ci.jsonnet
  .gitlab-ci.yml
Due: none

STAC-10518 Fix dependencies
  .gitlab-ci.jsonnet
  .gitlab-ci.yml
  .gitlab/bump_sts_chart_master_version.sh
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-12024: default AAD configuration
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-12024: update chart dependency script
  .gitlab/update_chart_version.sh
Due: none

STAC-11874 Make 4.2.4 rc2
  stable/stackstate/Chart.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-11549: Fix elasticsearch dependency chart repo
  stable/elasticsearch/README.md
  stable/elasticsearch/requirements.lock
  stable/elasticsearch/requirements.yaml
Due: push_elasticsearch_to_internal, push_elasticsearch_to_public

Path conditions:
  push_aws-amicleaner_to_internal: any of: stable/aws-amicleaner/**/*
  push_aws-amicleaner_to_public: any of: stable/aws-amicleaner/**/*
  push_aws-nuke_to_internal: any of: stable/aws-nuke/**/*
  push_aws-nuke_to_public: any of: stable/aws-nuke/**/*
  push_cluster-agent_to_internal: any of: stable/cluster-agent/**/*
  push_cluster-agent_to_public: any of: stable/cluster-agent/**/*
  push_common_to_internal: any of: stable/common/**/*
  push_common_to_public: any of: stable/common/**/*
  push_elasticsearch_to_internal: any of: stable/elasticsearch/**/*
  push_elasticsearch_to_public: any of: stable/elasticsearch/**/*
  push_gitlab-runner_to_internal: any of: stable/gitlab-runner/**/*
  push_gitlab-runner_to_public: any of: stable/gitlab-runner/**/*
  push_gitlab-steward_to_internal: any of: stable/gitlab-steward/**/*
  push_gitlab-steward_to_public: any of: stable/gitlab-steward/**/*
  push_hbase_to_internal: any of: stable/hbase/**/*
  push_hbase_to_public: any of: stable/hbase/**/*
  push_iceman_to_internal: any of: stable/iceman/**/*
  push_iceman_to_public: any of: stable/iceman/**/*
  push_stackstate-standalone_to_internal: any of: stable/stackstate-standalone/**/*
  push_stackstate-standalone_to_public: any of: stable/stackstate-standalone/**/*
  push_stackstate_to_internal: any of: stable/stackstate/**/*
  push_stackstate_to_public: any of: stable/stackstate/**/*
  push_trafficmirror_to_internal: any of: stable/trafficmirror/**/*
  push_trafficmirror_to_public: any of: stable/trafficmirror/**/*
