Repository StackVista/helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: push_aws-amicleaner_to_internal, push_aws-amicleaner_to_public, push_aws-nuke_to_internal, push_aws-nuke_to_public, push_cluster-agent_to_internal, push_cluster-agent_to_public, push_common_to_internal, push_common_to_public, push_elasticsearch_to_internal, push_elasticsearch_to_public, push_gitlab-runner_to_internal, push_gitlab-runner_to_public, push_gitlab-steward_to_internal, push_gitlab-steward_to_public, push_hbase_to_internal, push_hbase_to_public, push_iceman_to_internal, push_iceman_to_public, push_stackstate-standalone_to_internal, push_stackstate-standalone_to_public, push_stackstate_to_internal, push_stackstate_to_public, push_trafficmirror_to_internal, push_trafficmirror_to_public

Path conditions:
  push_aws-amicleaner_to_internal: any of: stable/aws-amicleaner/**/*
  push_aws-amicleaner_to_public: any of: stable/aws-amicleaner/**/*
  push_aws-nuke_to_internal: any of: stable/aws-nuke/**/*
  push_aws-nuke_to_public: any of: stable/aws-nuke/**/*
  push_cluster-agent_to_internal: any of: stable/cluster-agent/**/*
  push_cluster-agent_to_public: any of: stable/cluster-agent/**/*
  push_common_to_internal: any of: stable/common/**/*
  push_common_to_public: any of: stable/common/**/*
  push_elasticsearch_to_internal: any of: stable/elasticsearch/**/*
  push_elasticsearch_to_public: any of: stable/elasticsearch/**/*
  push_gitlab-runner_to_internal: any of: stable/gitlab-runner/**/*
  push_gitlab-runner_to_public: any of: stable/gitlab-runner/**/*
  push_gitlab-steward_to_internal: any of: stable/gitlab-steward/**/*
  push_gitlab-steward_to_public: any of: stable/gitlab-steward/**/*
  push_hbase_to_internal: any of: stable/hbase/**/*
  push_hbase_to_public: any of: stable/hbase/**/*
  push_iceman_to_internal: any of: stable/iceman/**/*
  push_iceman_to_public: any of: stable/iceman/**/*
  push_stackstate-standalone_to_internal: any of: stable/stackstate-standalone/**/*
  push_stackstate-standalone_to_public: any of: stable/stackstate-standalone/**/*
  push_stackstate_to_internal: any of: stable/stackstate/**/*
  push_stackstate_to_public: any of: stable/stackstate/**/*
  push_trafficmirror_to_internal: any of: stable/trafficmirror/**/*
  push_trafficmirror_to_public: any of: stable/trafficmirror/**/*

STAC-9391: anomaly chart bump - due to default config change
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/requirements.lock
  stable/stackstate/requirements.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-9776 Add (common) labels
  stable/common/templates/_statefulset.yaml
Due: push_common_to_internal, push_common_to_public

STAC-9776 Add common labels everywhere
  stable/common/templates/_clusterrole.yaml
  stable/common/templates/_clusterrolebinding.yaml
  stable/common/templates/_configmap.yaml
  stable/common/templates/_cronjob.yaml
  stable/common/templates/_daemonset.yaml
  stable/common/templates/_deployment.yaml
  stable/common/templates/_ingress.yaml
  stable/common/templates/_job.yaml
  stable/common/templates/_metadata.yaml
  stable/common/templates/_metadata_labels.tpl
  stable/common/templates/_networkpolicy.yaml
  stable/common/templates/_pdb.yaml
  stable/common/templates/_persistentvolumeclaim.yaml
  stable/common/templates/_secret.yaml
  stable/common/templates/_service.yaml
  stable/common/templates/_serviceaccount.yaml
  stable/common/templates/_servicemonitor.yaml
  stable/common/templates/_statefulset.yaml
Due: push_common_to_internal, push_common_to_public

STAC-9776 Update for testing labels
  stable/stackstate/README.md
  stable/stackstate/requirements.lock
  stable/stackstate/requirements.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-9776 Fixing labels for elasticsearch helm chart
  stable/elasticsearch/Chart.yaml
  stable/elasticsearch/README.md
  stable/elasticsearch/templates/_helpers.tpl
  stable/elasticsearch/templates/configmap.yaml
  stable/elasticsearch/templates/ingress.yaml
  stable/elasticsearch/templates/poddisruptionbudget.yaml
  stable/elasticsearch/templates/podsecuritypolicy.yaml
  stable/elasticsearch/templates/role.yaml
  stable/elasticsearch/templates/rolebinding.yaml
  stable/elasticsearch/templates/service.yaml
  stable/elasticsearch/templates/serviceaccount.yaml
  stable/elasticsearch/templates/statefulset.yaml
  stable/elasticsearch/values.yaml
Due: push_elasticsearch_to_internal, push_elasticsearch_to_public

STAC-9776 Test ES labels
  stable/stackstate/README.md
  stable/stackstate/requirements.lock
  stable/stackstate/requirements.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-9776 Separate settings in values.yaml for installed stackpacks and cluster-agent installation
  stable/stackstate/README.md
  stable/stackstate/README.md.gotmpl
  stable/stackstate/installation/generate_values.sh
  stable/stackstate/templates/_helper-server-and-api-configmap.tpl
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-9776 Add common labels to hbase
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/requirements.lock
  stable/hbase/requirements.yaml
  stable/hbase/values.yaml
Due: push_hbase_to_internal, push_hbase_to_public

STAC-9776 Rename to `labels.standard` to `labels.recommended` to differentiate from `common`
  stable/elasticsearch/templates/_helpers.tpl
  stable/elasticsearch/templates/configmap.yaml
  stable/elasticsearch/templates/ingress.yaml
  stable/elasticsearch/templates/poddisruptionbudget.yaml
  stable/elasticsearch/templates/podsecuritypolicy.yaml
  stable/elasticsearch/templates/role.yaml
  stable/elasticsearch/templates/rolebinding.yaml
  stable/elasticsearch/templates/service.yaml
  stable/elasticsearch/templates/serviceaccount.yaml
  stable/elasticsearch/templates/statefulset.yaml
Due: push_elasticsearch_to_internal, push_elasticsearch_to_public

STAC-9776 Update helm dependencies, waiting still for Kafka chart to be in bitnami registry
  stable/stackstate/README.md
  stable/stackstate/requirements.lock
  stable/stackstate/requirements.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-9776 Add a test that parses the entire template into k8s types
  go.mod
  go.sum
  helmtestutil/KubernetesResources.go
  stable/stackstate/test/sample_test.go
  stable/stackstate/test/stackpack_config_test.go
  stable/stackstate/test/values/stackpack_config.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-9776 Bump chart version
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-9776 Small fixes
  stable/stackstate/README.md
  stable/stackstate/installation/generate_values.sh
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-9776 Cleanup helm tests a bit more
  helmtestutil/KubernetesResources.go
  helmtestutil/helmtestutil.go
  stable/stackstate/test/sample_test.go
  stable/stackstate/test/stackpack_config_test.go
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-9776 Bump Kafka chart version and add commonLabels
  stable/stackstate/README.md
  stable/stackstate/requirements.lock
  stable/stackstate/requirements.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-9776 Fix label and selectors bug in elasticchart
  stable/elasticsearch/Chart.yaml
  stable/elasticsearch/README.md
  stable/elasticsearch/templates/_helpers.tpl
  stable/elasticsearch/templates/service.yaml
  stable/elasticsearch/templates/statefulset.yaml
Due: push_elasticsearch_to_internal, push_elasticsearch_to_public

STAC-9776 Fix generate values, a key can only appear once in a values file
  stable/stackstate/installation/generate_values.sh
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-9776 Fixes for ES chart
  stable/stackstate/README.md
  stable/stackstate/requirements.lock
  stable/stackstate/requirements.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-9776 Make backwards compatible
  stable/elasticsearch/templates/statefulset.yaml
Due: push_elasticsearch_to_internal, push_elasticsearch_to_public

STAC-9776 Switch to non-test elasticsearch
  stable/stackstate/README.md
  stable/stackstate/requirements.lock
  stable/stackstate/requirements.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-9776 Delete accidentally committed file
  stable/stackstate/installation/generated/.gitignore
  stable/stackstate/installation/generated/local-dev/values_local.yaml.org
Due: push_stackstate_to_internal, push_stackstate_to_public

chore(micro-test): Reduce elasticsearch memory footprint in micro setup
  stable/stackstate/installation/examples/micro_test_values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

feat(elasticearch) | STAC-9259: Add prometheus exporter
  stable/elasticsearch/Chart.yaml
  stable/elasticsearch/README.md
  stable/elasticsearch/values.yaml
Due: push_elasticsearch_to_internal, push_elasticsearch_to_public

fix(elasticsearch) | STAC-10193 Get rid of liveness probe after all
  stable/elasticsearch/README.md
  stable/elasticsearch/templates/statefulset.yaml
  stable/elasticsearch/values.yaml
Due: push_elasticsearch_to_internal, push_elasticsearch_to_public

feat(elastcisearch) | STAC-10193: Bump ES to include exporter and improve upgrade stability
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/requirements.lock
  stable/stackstate/requirements.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-9259 Fix typo in dependencies
  stable/elasticsearch/Chart.lock
  stable/elasticsearch/Chart.yaml
  stable/elasticsearch/README.md
Due: push_elasticsearch_to_internal, push_elasticsearch_to_public

STAC-10193 Final fixes and switching to released version of ES chart
  stable/stackstate/README.md
  stable/stackstate/requirements.lock
  stable/stackstate/requirements.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

fix(elasticsearch): Back to v1 chart version for compatibility with chartmuseum
  stable/elasticsearch/Chart.yaml
  stable/elasticsearch/README.md
  stable/elasticsearch/requirements.yaml
Due: push_elasticsearch_to_internal, push_elasticsearch_to_public

fix(stackstate): Bump to latest es chart
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/requirements.lock
  stable/stackstate/requirements.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

fix(stackstate): Don't enable service monitor by default
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

fix(stackstate): state-events should be copied to elasticsearch instead of copying sts-events twice
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/templates/deployment-k2es-events-to-es.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-9975: Add env var to communicate to k2Es tasks the disk space available for ES
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/templates/_helper-k2es-common.tpl
  stable/stackstate/templates/_helper.tpl
  stable/stackstate/test/k2es_disk_space_test.go
  stable/stackstate/test/values/unknown_disk_unit.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-9975: Add comment regarding the single replicationFactor in place
  stable/stackstate/templates/_helper-k2es-common.tpl
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-10088: bumping aad chart
  stable/stackstate/README.md
  stable/stackstate/ci/default-values.yaml
  stable/stackstate/requirements.lock
  stable/stackstate/requirements.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-10088: bumping stackstate chart
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-10207 Enabling trace component by default
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-10207 Bumping chart version
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-10207 Reverting version bump in README
  stable/stackstate/README.md
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-10207 Bumping chart version (again)
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-0000: bump aad chart
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/requirements.lock
  stable/stackstate/requirements.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public
