Repository StackVista/helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: push_aws-amicleaner_to_internal, push_aws-nuke_to_internal, push_chartmuseum_to_internal, push_cluster-agent_to_internal, push_common_to_internal, push_elasticsearch_to_internal, push_gitlab-runner_to_internal, push_gitlab-steward_to_internal, push_hbase_to_internal, push_iceman_to_internal, push_kafka_to_internal, push_sandbox-operator_to_internal, push_stackstate-standalone_to_internal, push_stackstate_to_internal, push_trafficmirror_to_internal

Path conditions:
  push_aws-amicleaner_to_internal: any of: stable/aws-amicleaner/**/*
  push_aws-nuke_to_internal: any of: stable/aws-nuke/**/*
  push_chartmuseum_to_internal: any of: stable/chartmuseum/**/*
  push_cluster-agent_to_internal: any of: stable/cluster-agent/**/*
  push_common_to_internal: any of: stable/common/**/*
  push_elasticsearch_to_internal: any of: stable/elasticsearch/**/*
  push_gitlab-runner_to_internal: any of: stable/gitlab-runner/**/*
  push_gitlab-steward_to_internal: any of: stable/gitlab-steward/**/*
  push_hbase_to_internal: any of: stable/hbase/**/*
  push_iceman_to_internal: any of: stable/iceman/**/*
  push_kafka_to_internal: any of: stable/kafka/**/*
  push_sandbox-operator_to_internal: any of: stable/sandbox-operator/**/*
  push_stackstate-standalone_to_internal: any of: stable/stackstate-standalone/**/*
  push_stackstate_to_internal: any of: stable/stackstate/**/*
  push_trafficmirror_to_internal: any of: stable/trafficmirror/**/*

STAC-13308 Agent protocol inspection flag
  stable/cluster-agent/README.md
  stable/cluster-agent/templates/agent-daemonset.yaml
  stable/cluster-agent/templates/clusterchecks-deployment.yaml
  stable/cluster-agent/values.yaml
Due: push_cluster-agent_to_internal

STAC-13252 Make 4.3.3
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

Bump versions
  stable/cluster-agent/Chart.yaml
  stable/cluster-agent/README.md
  stable/cluster-agent/values.yaml
Due: push_cluster-agent_to_internal

STAC-13147 Re-evaluated memory and cpu settings
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-13298 In stackstate chart, replaces reference to minio image on docker.io to the same image on quay.io
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-13147 Fix test
  stable/stackstate/test/services_java_heap_test.go
Due: push_stackstate_to_internal

Remove env var from cluster agent
  stable/cluster-agent/templates/clusterchecks-deployment.yaml
Due: push_cluster-agent_to_internal

STAC-13348 Bump cluster agent daemonset update strategy defaults for faster upgrade
  stable/cluster-agent/Chart.yaml
  stable/cluster-agent/README.md
  stable/cluster-agent/values.yaml
Due: push_cluster-agent_to_internal

staging
  stable/stackstate/README.md
  stable/stackstate/templates/ingress-kurl.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

Commit to get feedback on adding kots before writing test
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/templates/ingress-kurl.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

chore(stackstate): Upgrade StackGraph to version 4.1.8.
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/values.yaml
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_hbase_to_internal, push_stackstate_to_internal

Release
  stable/stackstate/templates/ingress-kurl.yaml
Due: push_stackstate_to_internal

Renamed contour ingress
  stable/stackstate/README.md
  stable/stackstate/templates/ingress-kurl.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-13397 Make 4.3.4 rc1
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-13397 Make 4.3.4
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-13353 Bump upcoming release version to 4.5.0
  stable/stackstate/Chart.yaml
Due: push_stackstate_to_internal

STAC-13353 Make 4.4.0 rc1
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-13348 Redo daemonset max rolling upgrade
  stable/cluster-agent/README.md
  stable/cluster-agent/values.yaml
  stable/stackstate/README.md
Due: push_cluster-agent_to_internal, push_stackstate_to_internal

And bump chart version
  stable/cluster-agent/Chart.yaml
  stable/cluster-agent/README.md
Due: push_cluster-agent_to_internal

STAC-13473: Use new prometheus-elasticsearch-exporter that is OpenShift coompatible
  stable/elasticsearch/Chart.lock
  stable/elasticsearch/Chart.yaml
  stable/elasticsearch/README.md
  stable/elasticsearch/requirements.lock
  stable/elasticsearch/requirements.yaml
  stable/elasticsearch/values.yaml
Due: push_elasticsearch_to_internal

STAC-13473: Add prometheus helm repo
  .gitlab-ci.yml
  .jsonnet-libs/example.yml
  .jsonnet-libs/extras/helm_chart_repo/variables.libsonnet
  .jsonnet-libs/helm/init.libsonnet
  test/ct.yaml
Due: none

STAC-13246: Rename file based passwordMd5 field to passwordHash
  stable/stackstate/README.md
  stable/stackstate/README.md.gotmpl
  stable/stackstate/auth-demo/file/file-auth.yaml
  stable/stackstate/templates/_helper-server-and-api-configmap.tpl
  stable/stackstate/test/authentication_test.go
  stable/stackstate/test/values/file_authentication.yaml
  stable/stackstate/test/values/file_authentication_no_password.yaml
Due: push_stackstate_to_internal

STAC-13473: Update stackstate chart dependency on elasticsearch
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-13353 Make 4.4.0 rc2
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-13312: Fix purge at start of backup script
  stable/stackstate/scripts/backup-stackgraph.sh
Due: push_stackstate_to_internal

STAC-13407 In elasticsearch chart, updates images with CRITICAL or HIGH vendor-only OS vulns
  stable/elasticsearch/Chart.yaml
  stable/elasticsearch/README.md
  stable/elasticsearch/values.yaml
Due: push_elasticsearch_to_internal

STAC-13407 In stackstate chart, updates images with HIGH or CRITICAL vendor-only OS vulnerabilities
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-13407 Fixes Helm docs for stackstate chart caused by typo in values.yaml.
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

Upgrades to wait image 1.0.2 for better logging in K8s
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-13353 Make 4.4.0 rc3
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-13339 Adds nonha-values.yaml
  stable/stackstate/installation/examples/micro_test_values.yaml
  stable/stackstate/installation/examples/nonha-values.yaml
  stable/stackstate/installation/examples/openshift-values.yaml
Due: push_stackstate_to_internal

STAC-13339 Changes openshift-values.yaml to NOT enable the cluster-agent and install the OpenShift StackPack by default
  stable/stackstate/installation/examples/openshift-values.yaml
Due: push_stackstate_to_internal

agent 2.12.0 update
  stable/cluster-agent/Chart.yaml
  stable/cluster-agent/README.md
  stable/cluster-agent/values.yaml
Due: push_cluster-agent_to_internal

STAC-12696: Ensure backup init job mounts PVC so helm install succeeds
  stable/stackstate/templates/job-backup-init.yaml
Due: push_stackstate_to_internal
