Repository StackVista/helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: push_aws-amicleaner_to_internal, push_aws-nuke_to_internal, push_aws-pod-identity-webhook_to_internal, push_beacher-job_to_internal, push_chartmuseum_to_internal, push_cluster-agent_to_internal, push_common_to_internal, push_elasticsearch_to_internal, push_gitlab-runner_to_internal, push_gitlab-steward_to_internal, push_hbase_to_internal, push_iceman_to_internal, push_kafka_to_internal, push_kafkaup-operator_to_internal, push_kommoner-operator_to_internal, push_minio_to_internal, push_petros-d-kubelet-stats-exporter_to_internal, push_sandbox-operator_to_internal, push_stackstate-standalone_to_internal, push_stackstate_to_internal, push_trafficmirror_to_internal

push_aws-amicleaner_to_internal:
  image: stackstate/stackstate-ci-images:stackstate-devops-f87d9654
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

push_aws-nuke_to_internal:
  image: stackstate/stackstate-ci-images:stackstate-devops-f87d9654
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

push_aws-pod-identity-webhook_to_internal:
  image: stackstate/stackstate-ci-images:stackstate-devops-f87d9654
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

push_beacher-job_to_internal:
  image: stackstate/stackstate-ci-images:stackstate-devops-f87d9654
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

push_chartmuseum_to_internal:
  image: stackstate/stackstate-ci-images:stackstate-devops-f87d9654
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

push_cluster-agent_to_internal:
  image: stackstate/stackstate-ci-images:stackstate-devops-f87d9654
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

push_common_to_internal:
  image: stackstate/stackstate-ci-images:stackstate-devops-f87d9654
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

push_elasticsearch_to_internal:
  image: stackstate/stackstate-ci-images:stackstate-devops-f87d9654
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

STAC-16004: Optional Base64 encoded values for truststores
  stable/stackstate/README.md
  stable/stackstate/README.md.gotmpl
  stable/stackstate/templates/_helper-server-and-api-configmap.tpl
  stable/stackstate/templates/_helper-service-config.tpl
  stable/stackstate/templates/secret-common.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-16839 Increase health-sync memory
  stable/stackstate/README.md
  stable/stackstate/test/cache_backend_test.go
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-16791 Make 5.0.0 rc3
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

chore(stackstate): Upgrade anomaly-detection to version 5.0.0-snapshot.33.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

chore(stackstate): Upgrade anomaly-detection to version 5.0.0-snapshot.39.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

STAC-16897 Fix unit on backup resource config
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-16897 Fix unit on backup memory limit
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-16896 Use latest kafkaup operator
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

STAC-16896 Update kafkaup operator to latest version
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

STAC-16791 Make 5.0.0 rc4
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-16444: Fix the pull secret reference for the elasticsearch exporter chart
  stable/elasticsearch/Chart.lock
  stable/elasticsearch/Chart.yaml
  stable/elasticsearch/README.md
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_elasticsearch_to_internal, push_stackstate_to_internal

chore(stackstate): Upgrade StackGraph to version 4.6.8.
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/values.yaml
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_hbase_to_internal, push_stackstate_to_internal

chore(stackstate): Upgrade anomaly-detection to version 5.0.0-snapshot.41.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

chore(stackstate): Upgrade anomaly-detection to version 5.1.0-snapshot.1.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

STAC-16845 Helm chart respects hbase.console.enabled. STAC-1690 Resources for hbase.console
  .gitlab-ci.yml
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/templates/console-deployment.yaml
  stable/hbase/values.yaml
  stable/stackstate/Chart.lock
Due: push_hbase_to_internal, push_stackstate_to_internal

STAC-16845 Helm chart respects hbase.console.enabled. STAC-1690 Resources for hbase.console
  .gitlab-ci.yml
  stable/hbase/README.md
  stable/hbase/templates/console-deployment.yaml
  stable/hbase/values.yaml
  stable/stackstate/Chart.lock
Due: push_hbase_to_internal, push_stackstate_to_internal

chore(stackstate): Upgrade anomaly-detection to version 5.1.0-snapshot.4.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

stac-16669 Support security context in our own charts
  stable/kommoner-operator/Chart.yaml
  stable/kommoner-operator/README.md
  stable/kommoner-operator/templates/kommoner-deployment.yaml
  stable/kommoner-operator/values.yaml
  stable/trafficmirror/Chart.yaml
  stable/trafficmirror/README.md
  stable/trafficmirror/values.yaml
Due: push_kommoner-operator_to_internal, push_trafficmirror_to_internal

STAC-16791 Make 5.0.0 rc5
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

Skip helm chart version check for rc tags
  .gitlab-ci.jsonnet
  .gitlab-ci.yml
Due: none

Skip helm chart version check for rc tags: remove the debug command from pipeline
  .gitlab-ci.jsonnet
  .gitlab-ci.yml
Due: none

Skip helm chart version check for any tags and additionally developing branches
  .gitlab-ci.jsonnet
  .gitlab-ci.yml
Due: none

STAC-16918 Update beacher helm chart - New version - Security context
  stable/beacher-job/Chart.yaml
  stable/beacher-job/README.md
  stable/beacher-job/templates/beacher-cronjob.yaml
  stable/beacher-job/values.yaml
Due: push_beacher-job_to_internal

STAC-16791 Make 5.0.0 rc7
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-16791: Make 5.0.0
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

Bumped upcoming release version
  stable/stackstate/Chart.yaml
Due: push_stackstate_to_internal

STAC-16943 Reset repositorySuffix to empty to prepare for release candidates
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

Skip helm chart version check for rc and release tags
  .gitlab-ci.jsonnet
  .gitlab-ci.yml
Due: none

STAC-16794: Spotlight worker metrics
  stable/stackstate-monitoring/grafana-dashboards/stackstate-spotlight/stackstate-spotlight.json
  stable/stackstate-monitoring/grafana-dashboards/stackstate-spotlight/stackstate-spotlight.jsonnet
Due: none

STAC-16794: bump monitoring chart version
  stable/stackstate-monitoring/Chart.yaml
Due: none

STAC-16794: run pre-commit checks
  stable/stackstate-monitoring/grafana-dashboards/stackstate-spotlight/stackstate-spotlight.json
Due: none

Release agent 2.17.0
  stable/cluster-agent/Chart.yaml
  stable/cluster-agent/README.md
  stable/cluster-agent/values.yaml
  stable/stackstate-monitoring/README.md
  stable/stackstate/README.md
Due: push_cluster-agent_to_internal, push_stackstate_to_internal

Bump monitoring chart version.
  stable/stackstate-monitoring/Chart.yaml
  stable/stackstate-monitoring/README.md
Due: none

Updated chart lock file.
  stable/stackstate/Chart.lock
Due: push_stackstate_to_internal

chore(stackstate): Upgrade anomaly-detection to version 5.1.0-snapshot.6.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

chore(stackstate): Upgrade anomaly-detection to version 5.1.0-snapshot.10.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

chore(stackstate): Upgrade anomaly-detection to version 5.1.0-snapshot.22.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

chore(stackstate): Upgrade anomaly-detection to version 5.1.0-snapshot.24.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

Path conditions:
  push_aws-amicleaner_to_internal: any of: stable/aws-amicleaner/**/*
  push_aws-nuke_to_internal: any of: stable/aws-nuke/**/*
  push_aws-pod-identity-webhook_to_internal: any of: stable/aws-pod-identity-webhook/**/*
  push_beacher-job_to_internal: any of: stable/beacher-job/**/*
  push_chartmuseum_to_internal: any of: stable/chartmuseum/**/*
  push_cluster-agent_to_internal: any of: stable/cluster-agent/**/*
  push_common_to_internal: any of: stable/common/**/*
  push_elasticsearch_to_internal: any of: stable/elasticsearch/**/*
  push_gitlab-runner_to_internal: any of: stable/gitlab-runner/**/*
  push_gitlab-steward_to_internal: any of: stable/gitlab-steward/**/*
  push_hbase_to_internal: any of: stable/hbase/**/*
  push_iceman_to_internal: any of: stable/iceman/**/*
  push_kafka_to_internal: any of: stable/kafka/**/*
  push_kafkaup-operator_to_internal: any of: stable/kafkaup-operator/**/*
  push_kommoner-operator_to_internal: any of: stable/kommoner-operator/**/*
  push_minio_to_internal: any of: stable/minio/**/*
  push_petros-d-kubelet-stats-exporter_to_internal: any of: stable/petros-d-kubelet-stats-exporter/**/*
  push_sandbox-operator_to_internal: any of: stable/sandbox-operator/**/*
  push_stackstate-standalone_to_internal: any of: stable/stackstate-standalone/**/*
  push_stackstate_to_internal: any of: stable/stackstate/**/*
  push_trafficmirror_to_internal: any of: stable/trafficmirror/**/*
