Repository StackVista/helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: push_aws-amicleaner_to_internal, push_aws-nuke_to_internal, push_aws-pod-identity-webhook_to_internal, push_beacher-job_to_internal, push_chartmuseum_to_internal, push_cluster-agent_to_internal, push_common_to_internal, push_elasticsearch_to_internal, push_gitlab-runner_to_internal, push_gitlab-steward_to_internal, push_hbase_to_internal, push_iceman_to_internal, push_kafka_to_internal, push_kafkaup-operator_to_internal, push_kommoner-operator_to_internal, push_minio_to_internal, push_petros-d-kubelet-stats-exporter_to_internal, push_sandbox-operator_to_internal, push_stackstate-standalone_to_internal, push_stackstate_to_internal, push_trafficmirror_to_internal

push_aws-amicleaner_to_internal:
  image: stackstate/stackstate-ci-images:stackstate-devops-f87d9654
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

push_aws-nuke_to_internal:
  image: stackstate/stackstate-ci-images:stackstate-devops-f87d9654
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

push_aws-pod-identity-webhook_to_internal:
  image: stackstate/stackstate-ci-images:stackstate-devops-f87d9654
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

push_beacher-job_to_internal:
  image: stackstate/stackstate-ci-images:stackstate-devops-f87d9654
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

push_chartmuseum_to_internal:
  image: stackstate/stackstate-ci-images:stackstate-devops-f87d9654
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

push_cluster-agent_to_internal:
  image: stackstate/stackstate-ci-images:stackstate-devops-f87d9654
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

push_common_to_internal:
  image: stackstate/stackstate-ci-images:stackstate-devops-f87d9654
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

push_elasticsearch_to_internal:
  image: stackstate/stackstate-ci-images:stackstate-devops-f87d9654
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

STAC-16534 Make 4.7.0-pre.3 rc3
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

chore(stackstate): Upgrade anomaly-detection to version 4.7.0-snapshot.142.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

chore(stackstate): Upgrade anomaly-detection to version 4.7.0-snapshot.145.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

chore(stackstate): Upgrade anomaly-detection to version 4.7.0-snapshot.164.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

STAC-16032 Make 4.5.6 rc2
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-16032 Make 4.5.6
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-16004: Optional Base64 encoded values for truststores
  stable/stackstate/README.md
  stable/stackstate/README.md.gotmpl
  stable/stackstate/templates/_helper-server-and-api-configmap.tpl
  stable/stackstate/templates/_helper-service-config.tpl
  stable/stackstate/templates/secret-common.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-16534: Make 4.7.0-pre.3
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

Fix typo
  stable/cluster-agent/values.yaml
Due: push_cluster-agent_to_internal

fix typo
  stable/cluster-agent/values.yaml
Due: push_cluster-agent_to_internal

Bump version
  stable/cluster-agent/Chart.yaml
Due: push_cluster-agent_to_internal

Bump version in README.md
  stable/cluster-agent/README.md
Due: push_cluster-agent_to_internal

chore(stackstate): Upgrade anomaly-detection to version 4.7.0-snapshot.172.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

STAC-16425: Extend the Kubernetes service for Cluster Agent
  .gitlab/validate_kubeconform.sh
  stable/cluster-agent/Chart.yaml
  stable/cluster-agent/templates/agent-service.yaml
  stable/cluster-agent/values.yaml
Due: push_cluster-agent_to_internal

STAC-16425 Regenerate Readme.md for the cluster-agent
  stable/cluster-agent/Chart.yaml
  stable/cluster-agent/README.md
Due: push_cluster-agent_to_internal

chore(stackstate): Upgrade anomaly-detection to version 4.7.0-snapshot.175.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

chore(stackstate): Upgrade anomaly-detection to version 4.7.0-snapshot.182.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

STAC-16635 Make 5.0.0-pre.4 rc2
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-16443: Add resources requests/limits to backup and kafka topic create pods
  stable/stackstate/README.md
  stable/stackstate/templates/configmap-backup-restore-scripts.yaml
  stable/stackstate/templates/job-backup-init.yaml
  stable/stackstate/templates/job-kafka-topic-create.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-16443: Incorporate review commets
  stable/stackstate/README.md
  stable/stackstate/templates/configmap-backup-restore-scripts.yaml
  stable/stackstate/templates/cronjob-backup.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-0: Remove extra line ending from test values files
  stable/stackstate/test/values/healthsync_inmemory.yaml
  stable/stackstate/test/values/healthsync_mapdb.yaml
  stable/stackstate/test/values/healthsync_rocksdb.yaml
  stable/stackstate/test/values/sync_inmemory.yaml
  stable/stackstate/test/values/sync_mapdb.yaml
  stable/stackstate/test/values/sync_rocksdb.yaml
Due: push_stackstate_to_internal

STAC-16443: Fix values comment
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-16443: Decrease verbosity of test logging and fix error on empty resource file
  go.mod
  go.sum
  helmtestutil/KubernetesResources.go
  helmtestutil/helmtestutil.go
Due: none

STAC-16447: Use label to select backup-script configmap name
  stable/stackstate/restore/list-elasticsearch-snapshots.sh
  stable/stackstate/restore/list-stackgraph-backups.sh
  stable/stackstate/restore/restore-elasticsearch-snapshot.sh
  stable/stackstate/restore/restore-stackgraph-backup.sh
  stable/stackstate/templates/configmap-backup-restore-scripts.yaml
Due: push_stackstate_to_internal

STAC-14361 Add support for service account annotations in the agent helm chart
  stable/cluster-agent/Chart.yaml
  stable/cluster-agent/README.md
  stable/cluster-agent/templates/agent-serviceaccount.yaml
  stable/cluster-agent/templates/cluster-agent-serviceaccount.yaml
  stable/cluster-agent/templates/clusterchecks-serviceaccount.yaml
  stable/cluster-agent/values.yaml
Due: push_cluster-agent_to_internal

chore(stackstate): Upgrade anomaly-detection to version 4.7.0-snapshot.185.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

STAC-16551: add spotlight dashboard
  stable/stackstate-monitoring/grafana-dashboards/stackstate-spotlight/stackstate-spotlight.json
  stable/stackstate-monitoring/grafana-dashboards/stackstate-spotlight/stackstate-spotlight.jsonnet
Due: none

STAC-16551: bump version to 1.0.10
  stable/stackstate-monitoring/Chart.yaml
  stable/stackstate-monitoring/README.md
Due: none

STAC-16635: Make 5.0.0-pre.4
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-0 Revert undesired changes to versions in sts helm chart on master
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-16664: Add SecurityContext to kafkaup-operator
  stable/kafkaup-operator/Chart.lock
  stable/kafkaup-operator/Chart.yaml
  stable/kafkaup-operator/README.md
  stable/kafkaup-operator/templates/kafkaup-deployment.yaml
  stable/kafkaup-operator/values.yaml
Due: push_kafkaup-operator_to_internal

chore(stackstate): Upgrade StackGraph to version 4.6.7.
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/values.yaml
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_hbase_to_internal, push_stackstate_to_internal

Fixed STS backup configmap label; Fixed Bitnami Helm repository.
  .gitlab-ci.yml
  .jsonnet-libs/extras/helm_chart_repo/variables.libsonnet
  stable/hbase/Chart.lock
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/stackstate-monitoring/Chart.yaml
  stable/stackstate-monitoring/README.md
  stable/stackstate-monitoring/grafana-dashboards/stackstate-spotlight/stackstate-spotlight.json
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/templates/configmap-backup-restore-scripts.yaml
  test/ct.yaml
Due: push_hbase_to_internal, push_stackstate_to_internal

chore(stackstate): Upgrade anomaly-detection to version 5.0.0-snapshot.2.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

chore(stackstate): Upgrade anomaly-detection to version 5.0.0-snapshot.4.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

STAC-16791 Make 5.0.0 rc2
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

chore(stackstate): Upgrade anomaly-detection to version 5.0.0-snapshot.7.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

chore(stackstate): Upgrade anomaly-detection to version 5.0.0-snapshot.12.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

chore(stackstate): Upgrade anomaly-detection to version 5.0.0-snapshot.14.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

Path conditions:
  push_aws-amicleaner_to_internal: any of: stable/aws-amicleaner/**/*
  push_aws-nuke_to_internal: any of: stable/aws-nuke/**/*
  push_aws-pod-identity-webhook_to_internal: any of: stable/aws-pod-identity-webhook/**/*
  push_beacher-job_to_internal: any of: stable/beacher-job/**/*
  push_chartmuseum_to_internal: any of: stable/chartmuseum/**/*
  push_cluster-agent_to_internal: any of: stable/cluster-agent/**/*
  push_common_to_internal: any of: stable/common/**/*
  push_elasticsearch_to_internal: any of: stable/elasticsearch/**/*
  push_gitlab-runner_to_internal: any of: stable/gitlab-runner/**/*
  push_gitlab-steward_to_internal: any of: stable/gitlab-steward/**/*
  push_hbase_to_internal: any of: stable/hbase/**/*
  push_iceman_to_internal: any of: stable/iceman/**/*
  push_kafka_to_internal: any of: stable/kafka/**/*
  push_kafkaup-operator_to_internal: any of: stable/kafkaup-operator/**/*
  push_kommoner-operator_to_internal: any of: stable/kommoner-operator/**/*
  push_minio_to_internal: any of: stable/minio/**/*
  push_petros-d-kubelet-stats-exporter_to_internal: any of: stable/petros-d-kubelet-stats-exporter/**/*
  push_sandbox-operator_to_internal: any of: stable/sandbox-operator/**/*
  push_stackstate-standalone_to_internal: any of: stable/stackstate-standalone/**/*
  push_stackstate_to_internal: any of: stable/stackstate/**/*
  push_trafficmirror_to_internal: any of: stable/trafficmirror/**/*
