Repository StackVista/helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: push_aws-amicleaner_to_internal, push_aws-nuke_to_internal, push_chartmuseum_to_internal, push_cluster-agent_to_internal, push_common_to_internal, push_elasticsearch_to_internal, push_gitlab-runner_to_internal, push_gitlab-steward_to_internal, push_hbase_to_internal, push_iceman_to_internal, push_kafka_to_internal, push_sandbox-operator_to_internal, push_stackstate-standalone_to_internal, push_stackstate_to_internal, push_trafficmirror_to_internal

push_aws-amicleaner_to_internal:
  script:
  - helm plugin install https://github.com/chartmuseum/helm-push.git
  - helm dependencies update ${CHART}
  - helm push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

push_aws-nuke_to_internal:
  script:
  - helm plugin install https://github.com/chartmuseum/helm-push.git
  - helm dependencies update ${CHART}
  - helm push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

push_chartmuseum_to_internal:
  script:
  - helm plugin install https://github.com/chartmuseum/helm-push.git
  - helm dependencies update ${CHART}
  - helm push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

push_cluster-agent_to_internal:
  script:
  - helm plugin install https://github.com/chartmuseum/helm-push.git
  - helm dependencies update ${CHART}
  - helm push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

push_common_to_internal:
  script:
  - helm plugin install https://github.com/chartmuseum/helm-push.git
  - helm dependencies update ${CHART}
  - helm push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

push_elasticsearch_to_internal:
  script:
  - helm plugin install https://github.com/chartmuseum/helm-push.git
  - helm dependencies update ${CHART}
  - helm push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

push_gitlab-runner_to_internal:
  script:
  - helm plugin install https://github.com/chartmuseum/helm-push.git
  - helm dependencies update ${CHART}
  - helm push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

push_gitlab-steward_to_internal:
  script:
  - helm plugin install https://github.com/chartmuseum/helm-push.git
  - helm dependencies update ${CHART}
  - helm push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

STAC-13884 Make 4.5.0-pre.1 rc10
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-13964: stripSuffix '/' for .Values.stackstate.baseUrl
  stable/stackstate-standalone/templates/_helpers.tpl
  stable/stackstate/templates/_helper-server-and-api-configmap.tpl
  stable/stackstate/templates/_helper.tpl
  stable/stackstate/templates/deployment-api.yaml
  stable/stackstate/templates/deployment-checks.yaml
  stable/stackstate/templates/deployment-healthSync.yaml
  stable/stackstate/templates/deployment-initializer.yaml
  stable/stackstate/templates/deployment-problemProducer.yaml
  stable/stackstate/templates/deployment-server.yaml
  stable/stackstate/templates/deployment-slicing.yaml
  stable/stackstate/templates/deployment-state.yaml
  stable/stackstate/templates/deployment-sync.yaml
  stable/stackstate/templates/deployment-viewHealth.yaml
Due: push_stackstate-standalone_to_internal, push_stackstate_to_internal

STAC-13964: Use correct quote for string
  stable/stackstate-standalone/templates/_helpers.tpl
  stable/stackstate/templates/_helper-server-and-api-configmap.tpl
  stable/stackstate/templates/_helper.tpl
Due: push_stackstate-standalone_to_internal, push_stackstate_to_internal

STAC-13964: Bump stackstate-standalone chart version
  stable/stackstate-standalone/Chart.yaml
  stable/stackstate-standalone/README.md
Due: push_stackstate-standalone_to_internal

STAC-13694: Use correct quote
  stable/stackstate/templates/_helper-server-and-api-configmap.tpl
Due: push_stackstate_to_internal

STAC-13999: Expose OIDC customParams in Helm chart
  stable/stackstate/README.md
  stable/stackstate/README.md.gotmpl
  stable/stackstate/templates/_helper-server-and-api-configmap.tpl
Due: push_stackstate_to_internal

STAC-13964: Undo changes to standalone chart
  stable/stackstate-standalone/Chart.yaml
  stable/stackstate-standalone/README.md
  stable/stackstate-standalone/templates/_helpers.tpl
Due: push_stackstate-standalone_to_internal

STAC-13894: Check if Datanode is part of the cluster as readiness and liveness probe. Introduce preStop hook check on under replicated files
  stable/hbase/README.md
  stable/hbase/scripts/datanode-check-status.sh
  stable/hbase/templates/_helpers.yaml
  stable/hbase/templates/hdfs-dn-configmap-scripts.yaml
  stable/hbase/templates/hdfs-dn-statefulset.yaml
  stable/hbase/values-production.yaml
  stable/hbase/values.yaml
  stable/stackstate/README.md
Due: push_hbase_to_internal, push_stackstate_to_internal

STAC-13085 Upgrade gitlab-steward
  stable/gitlab-steward/Chart.yaml
  stable/gitlab-steward/README.md
  stable/gitlab-steward/values.yaml
Due: push_gitlab-steward_to_internal

chore(stackstate): Upgrade StackGraph to version 4.2.3.
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/values.yaml
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_hbase_to_internal, push_stackstate_to_internal

STAC-13894: Set the min desired replication
  stable/hbase/templates/_helpers.yaml
Due: push_hbase_to_internal

STAC-14049: Do not hide exit code and more verbose processing of topic creation
  stable/stackstate/scripts/job-kafka-topic-create.sh
Due: push_stackstate_to_internal

STAC-14049: Fix comment
  stable/stackstate/scripts/job-kafka-topic-create.sh
Due: push_stackstate_to_internal

STAC13894: Fix hbase version. Set replication min back to 1 and replication to 3. Works better in a 3 datanode setup
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/templates/_helpers.yaml
Due: push_hbase_to_internal

STAC-13894: Test with new hbase version
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

STAC-13894: Fix Chart.lock
  stable/stackstate/Chart.lock
Due: push_stackstate_to_internal

STAC-13681 Make 4.3.5
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-13884 Make 4.5.0-pre.1
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

chore(stackstate): Upgrade anomaly-detection to version 4.5.0-snapshot.25.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

STAC-14004 Make 4.5.0-pre.3 rc1
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-13710 new kafka topic for aggregation of metrics
  stable/stackstate/scripts/job-kafka-topic-create.sh
Due: push_stackstate_to_internal

chore(stackstate): Upgrade StackGraph to version 4.2.5.
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/values.yaml
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_hbase_to_internal, push_stackstate_to_internal

STAC-13653 Uses correct apiVersion for CronJob, Ingress and PodDisruptionBudget depending on target k8s version
  stable/common/Chart.yaml
  stable/common/README.md
  stable/common/templates/_cronjob.yaml
  stable/common/templates/_ingress.yaml
  stable/common/templates/_pdb.yaml
  stable/common/values.yaml
Due: push_common_to_internal

STAC-13653 In elasticsarch chart, uses correct apiVersion for PodDisruptionBudget depending on target k8s version
  stable/elasticsearch/Chart.yaml
  stable/elasticsearch/README.md
  stable/elasticsearch/templates/poddisruptionbudget.yaml
Due: push_elasticsearch_to_internal

STAC-13653 In stackstate charts, defines ensure-no-server-statefulset-pods-are-running container based on common.containers
  stable/stackstate/templates/_helper.tpl
  stable/stackstate/templates/deployment-checks.yaml
  stable/stackstate/templates/deployment-healthSync.yaml
  stable/stackstate/templates/deployment-initializer.yaml
  stable/stackstate/templates/deployment-problemProducer.yaml
  stable/stackstate/templates/deployment-server.yaml
  stable/stackstate/templates/deployment-slicing.yaml
  stable/stackstate/templates/deployment-state.yaml
  stable/stackstate/templates/deployment-sync.yaml
  stable/stackstate/templates/deployment-viewHealth.yaml
Due: push_stackstate_to_internal

STAC-13653 In stackstate charts, fixes "error: open /var/run/secrets/kubernetes.io/serviceaccount/token: permission denied" error on K8s 1.21 and up.
  stable/stackstate/README.md
  stable/stackstate/templates/_helper-k2es-common.tpl
  stable/stackstate/templates/configmap-backup-restore-scripts.yaml
  stable/stackstate/templates/cronjob-backup.yaml
  stable/stackstate/templates/deployment-api.yaml
  stable/stackstate/templates/deployment-checks.yaml
  stable/stackstate/templates/deployment-correlate.yaml
  stable/stackstate/templates/deployment-healthSync.yaml
  stable/stackstate/templates/deployment-initializer.yaml
  stable/stackstate/templates/deployment-k2es-events-to-es.yaml
  stable/stackstate/templates/deployment-k2es-multi-metrics-to-es.yaml
  stable/stackstate/templates/deployment-k2es-trace-events-to-es.yaml
  stable/stackstate/templates/deployment-problemProducer.yaml
  stable/stackstate/templates/deployment-receiver.yaml
  stable/stackstate/templates/deployment-router.yaml
  stable/stackstate/templates/deployment-server.yaml
  stable/stackstate/templates/deployment-slicing.yaml
  stable/stackstate/templates/deployment-state.yaml
  stable/stackstate/templates/deployment-sync.yaml
  stable/stackstate/templates/deployment-ui.yaml
  stable/stackstate/templates/deployment-viewHealth.yaml
  stable/stackstate/templates/job-backup-init.yaml
  stable/stackstate/templates/job-kafka-topic-create.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-13653 In stackstate chart, uses correct apiVersion for CronJob, Ingress and PodDisruptionBudget depending on target k8s version
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/templates/_helper.tpl
  stable/stackstate/templates/cronjob-backup.yaml
  stable/stackstate/templates/ingress.yaml
  stable/stackstate/templates/pdb-backup.yaml
Due: push_stackstate_to_internal

chore(stackstate): Upgrade StackGraph to version 4.2.6.
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/values.yaml
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_hbase_to_internal, push_stackstate_to_internal

STAC-13848: Use new haddop image fixing CVE-2021-27568
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/values-production.yaml
  stable/hbase/values.yaml
Due: push_hbase_to_internal

STAC-13653 In common chart, fixes check for apiVersion of CronJob, Ingress and PodDisruptionBudget
  stable/common/Chart.yaml
  stable/common/README.md
  stable/common/templates/_cronjob.yaml
  stable/common/templates/_ingress.yaml
  stable/common/templates/_pdb.yaml
Due: push_common_to_internal

STAC-13653 In common chart, uses correct paths syntax depending apiVersion for Ingress
  stable/common/templates/_ingress.yaml
Due: push_common_to_internal

STAC-13653 In elasticsearch chart, fixes check for apiVersion of PodDisruptionBudget
  stable/elasticsearch/Chart.yaml
  stable/elasticsearch/README.md
  stable/elasticsearch/templates/poddisruptionbudget.yaml
Due: push_elasticsearch_to_internal

STAC-13848: Start using hbase with hadoop image fixes regarding json-smart vulnerability
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

STAC-13653 In stackstate chart, fixes check for apiVersion of CronJob, Ingress and PodDisruptionBudget
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/templates/_helper.tpl
  stable/stackstate/templates/cronjob-backup.yaml
  stable/stackstate/templates/ingress.yaml
  stable/stackstate/templates/pdb-backup.yaml
Due: push_stackstate_to_internal

chore(stackstate): Upgrade anomaly-detection to version 4.5.0-snapshot.43.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

chore(stackstate): Upgrade anomaly-detection to version 4.5.0-snapshot.99.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

STAC-14171 Upgrades to quay.io/stackstate/wait:1.0.4 to address known vulnerabilities
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/values.yaml
  stable/stackstate/README.md
Due: push_hbase_to_internal, push_stackstate_to_internal

STAC-14160 - Change the default image for gitlab-steward
  stable/gitlab-steward/Chart.yaml
  stable/gitlab-steward/README.md
  stable/gitlab-steward/values.yaml
Due: push_gitlab-steward_to_internal

STAC-14171 Upgrades versions of container-tools, nginx-prometheus-exporter and wait images being used
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

Path conditions:
  push_aws-amicleaner_to_internal: any of: stable/aws-amicleaner/**/*
  push_aws-nuke_to_internal: any of: stable/aws-nuke/**/*
  push_chartmuseum_to_internal: any of: stable/chartmuseum/**/*
  push_cluster-agent_to_internal: any of: stable/cluster-agent/**/*
  push_common_to_internal: any of: stable/common/**/*
  push_elasticsearch_to_internal: any of: stable/elasticsearch/**/*
  push_gitlab-runner_to_internal: any of: stable/gitlab-runner/**/*
  push_gitlab-steward_to_internal: any of: stable/gitlab-steward/**/*
  push_hbase_to_internal: any of: stable/hbase/**/*
  push_iceman_to_internal: any of: stable/iceman/**/*
  push_kafka_to_internal: any of: stable/kafka/**/*
  push_sandbox-operator_to_internal: any of: stable/sandbox-operator/**/*
  push_stackstate-standalone_to_internal: any of: stable/stackstate-standalone/**/*
  push_stackstate_to_internal: any of: stable/stackstate/**/*
  push_trafficmirror_to_internal: any of: stable/trafficmirror/**/*
