Repository StackVista/helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: push_aws-amicleaner_to_internal, push_aws-nuke_to_internal, push_aws-pod-identity-webhook_to_internal, push_beacher-job_to_internal, push_chartmuseum_to_internal, push_cluster-agent_to_internal, push_common_to_internal, push_elasticsearch_to_internal, push_gitlab-runner_to_internal, push_gitlab-steward_to_internal, push_hbase_to_internal, push_iceman_to_internal, push_kafka_to_internal, push_kafkaup-operator_to_internal, push_kommoner-operator_to_internal, push_minio_to_internal, push_petros-d-kubelet-stats-exporter_to_internal, push_sandbox-operator_to_internal, push_stackstate-standalone_to_internal, push_stackstate_to_internal, push_trafficmirror_to_internal

push_aws-amicleaner_to_internal:
  image: stackstate/stackstate-ci-images:stackstate-devops-f87d9654
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

push_aws-nuke_to_internal:
  image: stackstate/stackstate-ci-images:stackstate-devops-f87d9654
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

push_aws-pod-identity-webhook_to_internal:
  image: stackstate/stackstate-ci-images:stackstate-devops-f87d9654
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

push_beacher-job_to_internal:
  image: stackstate/stackstate-ci-images:stackstate-devops-f87d9654
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

push_chartmuseum_to_internal:
  image: stackstate/stackstate-ci-images:stackstate-devops-f87d9654
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

push_cluster-agent_to_internal:
  image: stackstate/stackstate-ci-images:stackstate-devops-f87d9654
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

push_common_to_internal:
  image: stackstate/stackstate-ci-images:stackstate-devops-f87d9654
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

push_elasticsearch_to_internal:
  image: stackstate/stackstate-ci-images:stackstate-devops-f87d9654
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

chore(stackstate): Upgrade anomaly-detection to version 5.1.0-snapshot.34.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

chore(stackstate): Upgrade anomaly-detection to version 5.1.0-snapshot.78.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

chore(stackstate): Upgrade anomaly-detection to version 5.1.0-snapshot.80.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

chore(stackstate): Upgrade anomaly-detection to version 5.1.0-snapshot.82.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

chore(stackstate): Upgrade anomaly-detection to version 5.1.0-snapshot.87.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

Bump jmx-exporter to version 0.17
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

chore(stackstate): Upgrade anomaly-detection to version 5.1.0-snapshot.90.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

chore(stackstate): Upgrade anomaly-detection to version 5.1.0-snapshot.97.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

STAC-16995: build local dependencies recursively
  .gitlab-ci.jsonnet
  .gitlab-ci.yml
  .gitlab/update_chart_version.sh
  .gitlab/update_sg_version.sh
  .gitlab/validate_before_script.sh
  .jsonnet-libs/extras/helm_chart_repo/variables.libsonnet
  test/sync-repo.sh
Due: none

STAC-16995
  .gitlab-ci.jsonnet
  .gitlab-ci.yml
  .gitlab/update_chart_version.sh
  .gitlab/update_sg_version.sh
  .gitlab/validate_before_script.sh
  .jsonnet-libs/extras/helm_chart_repo/variables.libsonnet
  test/sync-repo.sh
Due: none

STAC-17006 Updating helm charts to release new agent version.
  stable/cluster-agent/Chart.yaml
  stable/cluster-agent/README.md
  stable/cluster-agent/values.yaml
  stable/stackstate/Chart.lock
Due: push_cluster-agent_to_internal, push_stackstate_to_internal

STAC-16995: yq is already installed
  .gitlab-ci.jsonnet
  .gitlab-ci.yml
Due: none

Updated jmx-exporter image tag
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

chore(stackstate): Upgrade anomaly-detection to version 5.1.0-snapshot.107.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

chore(stackstate): Upgrade anomaly-detection to version 5.1.0-snapshot.120.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

CI: Do not install yq
  .gitlab-ci.jsonnet
  .gitlab-ci.yml
Due: none

Workaround for Bitnami Helm repository
  .gitlab-ci.jsonnet
  .gitlab-ci.yml
  .jsonnet-libs/extras/helm_chart_repo/variables.libsonnet
  stable/hbase/Chart.lock
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  test/ct.yaml
Due: push_hbase_to_internal, push_stackstate_to_internal

chore(stackstate): Upgrade anomaly-detection to version 5.1.0-snapshot.122.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

STAC-17059 Make 5.1.0-pre.0 rc1
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-17122: Fix labels for akka_http_responses* metrics
  stable/stackstate-monitoring/Chart.yaml
  stable/stackstate-monitoring/README.md
  stable/stackstate-monitoring/templates/rule-http.yaml
Due: none

chore(stackstate): Upgrade anomaly-detection to version 5.1.0-snapshot.128.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

STAC-17059 Make 5.1.0-pre.0 rc2
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-16884 Bump StackGraph to 4.6.7
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

chore(stackstate): Upgrade StackGraph to version 4.7.0.
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/values.yaml
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_hbase_to_internal, push_stackstate_to_internal

STAC-16252 Make 4.6.2 rc1
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-16616 Update SBT build to publish Mac ARM Docker Images for all StackState components
  stable/elasticsearch/Chart.yaml
  stable/elasticsearch/values.yaml
  stable/hbase/Chart.yaml
  stable/hbase/templates/console-deployment.yaml
  stable/hbase/values.yaml
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/values.yaml
Due: push_elasticsearch_to_internal, push_hbase_to_internal, push_stackstate_to_internal

STAC-16665 Run stackstate standalone image not as root
  stable/stackstate-standalone/Chart.yaml
  stable/stackstate-standalone/README.md
  stable/stackstate-standalone/templates/sts-standalone-deployment.yaml
  stable/stackstate-standalone/templates/sts-standalone-statefulset.yaml
  stable/stackstate-standalone/values.yaml
Due: push_stackstate-standalone_to_internal

STAC-0 New ingress api version for standalone chart
  stable/stackstate-standalone/templates/sts-standalone-ingress.yaml
Due: push_stackstate-standalone_to_internal

Bump version
  stable/stackstate-standalone/Chart.yaml
  stable/stackstate-standalone/README.md
Due: push_stackstate-standalone_to_internal

STAC-0 Now also fix the ingress to be compatible with the new spec
  stable/stackstate-standalone/templates/sts-standalone-ingress.yaml
Due: push_stackstate-standalone_to_internal

upgrade helm-docs precommit hook
  .pre-commit-config.yaml
  stable/aws-amicleaner/Chart.yaml
  stable/aws-amicleaner/README.md
  stable/aws-nuke/Chart.yaml
  stable/aws-nuke/README.md
  stable/aws-nuke/requirements.lock
  stable/cluster-agent/Chart.yaml
  stable/cluster-agent/README.md
  stable/common/Chart.yaml
  stable/common/README.md
  stable/elasticsearch/README.md
  stable/gitlab-steward/Chart.yaml
  stable/gitlab-steward/README.md
  stable/hbase/Chart.lock
  stable/hbase/README.md
  stable/iceman/Chart.yaml
  stable/iceman/README.md
  stable/kafkaup-operator/Chart.lock
  stable/kafkaup-operator/Chart.yaml
  stable/kafkaup-operator/README.md
  stable/minio/Chart.yaml
  stable/minio/README.md
  stable/petros-d-kubelet-stats-exporter/Chart.yaml
  stable/petros-d-kubelet-stats-exporter/README.md
  stable/receiveramplifier/Chart.lock
  stable/receiveramplifier/Chart.yaml
  stable/receiveramplifier/README.md
  stable/sandbox-operator/Chart.yaml
  stable/sandbox-operator/README.md
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/trafficmirror/Chart.lock
  stable/trafficmirror/Chart.yaml
  stable/trafficmirror/README.md
Due: push_aws-amicleaner_to_internal, push_aws-nuke_to_internal, push_cluster-agent_to_internal, push_common_to_internal, push_elasticsearch_to_internal, push_gitlab-steward_to_internal, push_hbase_to_internal, push_iceman_to_internal, push_kafkaup-operator_to_internal, push_minio_to_internal, push_petros-d-kubelet-stats-exporter_to_internal, push_sandbox-operator_to_internal, push_stackstate_to_internal, push_trafficmirror_to_internal

STAC-17198: update maintainers list with generic ops mailbox
  stable/aws-amicleaner/Chart.yaml
  stable/aws-amicleaner/README.md
  stable/aws-nuke/Chart.yaml
  stable/aws-nuke/README.md
  stable/beacher-job/Chart.yaml
  stable/beacher-job/README.md
  stable/cluster-agent/Chart.yaml
  stable/common/Chart.yaml
  stable/common/README.md
  stable/elasticsearch/Chart.yaml
  stable/elasticsearch/README.md
  stable/gitlab-steward/Chart.yaml
  stable/gitlab-steward/README.md
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/helm-reaper/Chart.lock
  stable/helm-reaper/Chart.yaml
  stable/helm-reaper/README.md
  stable/iceman/Chart.yaml
  stable/iceman/README.md
  stable/kommoner-operator/Chart.yaml
  stable/kommoner-operator/README.md
  stable/minio/Chart.yaml
  stable/minio/README.md
  stable/petros-d-kubelet-stats-exporter/Chart.yaml
  stable/petros-d-kubelet-stats-exporter/README.md
  stable/pull-secret/Chart.yaml
  stable/pull-secret/README.md
  stable/pull-secret/test/secrets_test.go
  stable/sandbox-operator/Chart.yaml
  stable/sandbox-operator/README.md
  stable/stackstate-monitoring/Chart.yaml
  stable/stackstate-monitoring/README.md
  stable/stackstate-standalone/Chart.yaml
  stable/stackstate-standalone/README.md
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/trafficmirror/Chart.yaml
  stable/trafficmirror/README.md
Due: push_aws-amicleaner_to_internal, push_aws-nuke_to_internal, push_beacher-job_to_internal, push_cluster-agent_to_internal, push_common_to_internal, push_elasticsearch_to_internal, push_gitlab-steward_to_internal, push_hbase_to_internal, push_iceman_to_internal, push_kommoner-operator_to_internal, push_minio_to_internal, push_petros-d-kubelet-stats-exporter_to_internal, push_sandbox-operator_to_internal, push_stackstate-standalone_to_internal, push_stackstate_to_internal, push_trafficmirror_to_internal

STAC-17125: bump api storage limit to 2Gi
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-16910 Add client id in Kafka topic record consumption telemetry charts
  stable/stackstate-monitoring/Chart.yaml
  stable/stackstate-monitoring/README.md
  stable/stackstate-monitoring/grafana-dashboards/stackstate-overview/stackstate-overview.json
  stable/stackstate-monitoring/grafana-dashboards/stackstate-overview/stackstate-overview.jsonnet
Due: none

Fix securityContext for gitlab-steward
  stable/gitlab-steward/Chart.yaml
  stable/gitlab-steward/README.md
  stable/gitlab-steward/templates/sts-cronjob.yaml
  stable/gitlab-steward/values.yaml
Due: push_gitlab-steward_to_internal

Fix securityContext for Minio
  stable/minio/Chart.yaml
  stable/minio/README.md
  stable/minio/templates/deployment.yaml
  stable/minio/templates/statefulset.yaml
  stable/minio/values.yaml
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_minio_to_internal, push_stackstate_to_internal

STAC-16347 disable componentstatuses only when k8s cluster metrics are disabled
  stable/cluster-agent/README.md
  stable/cluster-agent/templates/cluster-agent-clusterrole.yaml
  stable/cluster-agent/values.yaml
Due: push_cluster-agent_to_internal

Path conditions:
  push_aws-amicleaner_to_internal: any of: stable/aws-amicleaner/**/*
  push_aws-nuke_to_internal: any of: stable/aws-nuke/**/*
  push_aws-pod-identity-webhook_to_internal: any of: stable/aws-pod-identity-webhook/**/*
  push_beacher-job_to_internal: any of: stable/beacher-job/**/*
  push_chartmuseum_to_internal: any of: stable/chartmuseum/**/*
  push_cluster-agent_to_internal: any of: stable/cluster-agent/**/*
  push_common_to_internal: any of: stable/common/**/*
  push_elasticsearch_to_internal: any of: stable/elasticsearch/**/*
  push_gitlab-runner_to_internal: any of: stable/gitlab-runner/**/*
  push_gitlab-steward_to_internal: any of: stable/gitlab-steward/**/*
  push_hbase_to_internal: any of: stable/hbase/**/*
  push_iceman_to_internal: any of: stable/iceman/**/*
  push_kafka_to_internal: any of: stable/kafka/**/*
  push_kafkaup-operator_to_internal: any of: stable/kafkaup-operator/**/*
  push_kommoner-operator_to_internal: any of: stable/kommoner-operator/**/*
  push_minio_to_internal: any of: stable/minio/**/*
  push_petros-d-kubelet-stats-exporter_to_internal: any of: stable/petros-d-kubelet-stats-exporter/**/*
  push_sandbox-operator_to_internal: any of: stable/sandbox-operator/**/*
  push_stackstate-standalone_to_internal: any of: stable/stackstate-standalone/**/*
  push_stackstate_to_internal: any of: stable/stackstate/**/*
  push_trafficmirror_to_internal: any of: stable/trafficmirror/**/*
