Repository StackVista/helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: push_aws-amicleaner_to_internal, push_aws-amicleaner_to_public, push_aws-nuke_to_internal, push_aws-nuke_to_public, push_cluster-agent_to_internal, push_cluster-agent_to_public, push_common_to_internal, push_common_to_public, push_distributed_to_internal, push_distributed_to_public, push_elasticsearch_to_internal, push_elasticsearch_to_public, push_gitlab-runner_to_internal, push_gitlab-runner_to_public, push_gitlab-steward_to_internal, push_gitlab-steward_to_public, push_hbase_to_internal, push_hbase_to_public, push_iceman_to_internal, push_iceman_to_public, push_stackstate-standalone_to_internal, push_stackstate-standalone_to_public, push_stackstate_to_internal, push_stackstate_to_public, push_trafficmirror_to_internal, push_trafficmirror_to_public

push_aws-amicleaner_to_internal:
  script:
  - helm plugin install https://github.com/chartmuseum/helm-push.git
  - helm push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
    CHART: stable/aws-amicleaner

push_aws-amicleaner_to_public:
  needs:
  - push_aws-amicleaner_to_internal
  script:
  - helm plugin install https://github.com/chartmuseum/helm-push.git
  - helm push --username ${CHARTMUSEUM_USERNAME} --password ${CHARTMUSEUM_PASSWORD} ${CHART} ${CHARTMUSEUM_URL}
  stage: push-charts-to-public
  variables:
    CHART: stable/aws-amicleaner
  ...

push_aws-nuke_to_internal:
  script:
  - helm plugin install https://github.com/chartmuseum/helm-push.git
  - helm push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
    CHART: stable/aws-nuke

push_aws-nuke_to_public:
  needs:
  - push_aws-nuke_to_internal
  script:
  - helm plugin install https://github.com/chartmuseum/helm-push.git
  - helm push --username ${CHARTMUSEUM_USERNAME} --password ${CHARTMUSEUM_PASSWORD} ${CHART} ${CHARTMUSEUM_URL}
  stage: push-charts-to-public
  variables:
    CHART: stable/aws-nuke
  when: manual

push_cluster-agent_to_internal:
  script:
  - helm plugin install https://github.com/chartmuseum/helm-push.git
  - helm push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
    CHART: stable/cluster-agent

push_cluster-agent_to_public:
  needs:
  - push_cluster-agent_to_internal
  script:
  - helm plugin install https://github.com/chartmuseum/helm-push.git
  - helm push --username ${CHARTMUSEUM_USERNAME} --password ${CHARTMUSEUM_PASSWORD} ${CHART} ${CHARTMUSEUM_URL}
  stage: push-charts-to-public
  variables:
    CHART: stable/cluster-agent
  ...

push_common_to_internal:
  script:
  - helm plugin install https://github.com/chartmuseum/helm-push.git
  - helm push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
    CHART: stable/common

push_common_to_public:
  needs:
  - push_common_to_internal
  script:
  - helm plugin install https://github.com/chartmuseum/helm-push.git
  - helm push --username ${CHARTMUSEUM_USERNAME} --password ${CHARTMUSEUM_PASSWORD} ${CHART} ${CHARTMUSEUM_URL}
  stage: push-charts-to-public
  variables:
    CHART: stable/common
  when: manual

push_distributed_to_internal:
  script:
  - helm plugin install https://github.com/chartmuseum/helm-push.git
  - helm push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
    CHART: stable/distributed

fix(hbase) | STAC-9869: Reduce cpu requests (unnecessary big now) for hbase
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/values.yaml
Due: push_hbase_to_internal, push_hbase_to_public

feat(stackstate) | STAC-9869: Reduce cpu requests stackstate (unceessary big now)
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

feat(stackstate): Bump hbase and cluster-agent dependencies
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/requirements.lock
  stable/stackstate/requirements.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

chore(stackstate) | STAC-9869: Set correct chart version
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-9733: Add unit test for helm chart
  .gitlab-ci.jsonnet
  .gitlab-ci.yml
  go.mod
  go.sum
  stable/stackstate/installation/values.yaml
  stable/stackstate/test/sample_test.go
  stable/stackstate/test/values/full.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-9733: Version bump
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-9733: Use golang image for testing
  .gitlab-ci.jsonnet
  .gitlab-ci.yml
Due: none

STAC-9733: Test chart change
  stable/stackstate/templates/_helper-server-and-api-configmap.tpl
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-0000: bump anomaly detection chart due to config change
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/requirements.lock
  stable/stackstate/requirements.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-9733: Disable CGO
  .gitlab-ci.jsonnet
  .gitlab-ci.yml
Due: none

bumped up agent version
  stable/cluster-agent/Chart.yaml
  stable/cluster-agent/README.md
  stable/cluster-agent/values.yaml
Due: push_cluster-agent_to_internal, push_cluster-agent_to_public

fixed helm-docs installation command
  README.md
Due: none

bump up agent version to 2.7.0
  stable/cluster-agent/Chart.yaml
  stable/cluster-agent/README.md
  stable/cluster-agent/values.yaml
Due: push_cluster-agent_to_internal, push_cluster-agent_to_public

fixed helm-docs installation instructions
  README.md
Due: none

STAC-9733: Fix job condition
  .gitlab-ci.jsonnet
  .gitlab-ci.yml
Due: none

STAC-9733: Remove needs clause
  .gitlab-ci.jsonnet
  .gitlab-ci.yml
Due: none

chore(cluster-agent): Bump chart version
  stable/cluster-agent/Chart.yaml
  stable/cluster-agent/README.md
Due: push_cluster-agent_to_internal, push_cluster-agent_to_public

STAC-9733: Use rules instead of only
  .gitlab-ci.jsonnet
  .gitlab-ci.yml
Due: none

STAC-9733: Only add tests if tests exist
  .gitlab-ci.jsonnet
  .gitlab-ci.yml
Due: none

STAC-10034 Bump ES memory to 3GB heap to deal with larger amount of indexing load when using traces
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-9733: Make 1 rule
  .gitlab-ci.jsonnet
  .gitlab-ci.yml
Due: none

STAC-9733: Use new Docker image
  .gitlab-ci.jsonnet
  .gitlab-ci.yml
Due: none

STAC-9733: Fetch helm dependent charts
  .gitlab-ci.jsonnet
  .gitlab-ci.yml
Due: none

STAC-9733: Disable changes rule
  .gitlab-ci.jsonnet
  .gitlab-ci.yml
Due: none

STAC-10046: Bump version again
  .gitlab-ci.jsonnet
  .gitlab-ci.yml
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-9733: Add workflow tag
  .gitlab-ci.jsonnet
  .gitlab-ci.yml
Due: none

STAC-9733: Replace only/except with rules
  .gitlab-ci.jsonnet
  .gitlab-ci.yml
Due: none

STAC-9733: Remove needs so that push_test only runs after test completes
  .gitlab-ci.jsonnet
  .gitlab-ci.yml
Due: none

STAC-9733: Revert change
  stable/stackstate/templates/_helper-server-and-api-configmap.tpl
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-9733: Remove accidental values file commit
  stable/stackstate/installation/.gitignore
  stable/stackstate/installation/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-9733: Review comments
  .gitlab-ci.jsonnet
  .gitlab-ci.yml
Due: none

STAC-9733: Add testing chapter to readme
  README.md
Due: none

STAC-9776 Remove annotations that don't work and add cluster_name
  stable/common/Chart.yaml
  stable/common/README.md
  stable/common/templates/_metrics.tpl
Due: push_common_to_internal, push_common_to_public

STAC-10044: bumping anomaly detection chart: default configuration change
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/requirements.lock
  stable/stackstate/requirements.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-9776 Remove cluster name again
  stable/common/templates/_metrics.tpl
Due: push_common_to_internal, push_common_to_public

feat(stackstate) | STAC-9776: Add part-of label to everything created by stackstate chart
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

Path conditions:
  push_aws-amicleaner_to_internal: any of: stable/aws-amicleaner/**/*
  push_aws-amicleaner_to_public: any of: stable/aws-amicleaner/**/*
  push_aws-nuke_to_internal: any of: stable/aws-nuke/**/*
  push_aws-nuke_to_public: any of: stable/aws-nuke/**/*
  push_cluster-agent_to_internal: any of: stable/cluster-agent/**/*
  push_cluster-agent_to_public: any of: stable/cluster-agent/**/*
  push_common_to_internal: any of: stable/common/**/*
  push_common_to_public: any of: stable/common/**/*
  push_distributed_to_internal: any of: stable/distributed/**/*
  push_distributed_to_public: any of: stable/distributed/**/*
  push_elasticsearch_to_internal: any of: stable/elasticsearch/**/*
  push_elasticsearch_to_public: any of: stable/elasticsearch/**/*
  push_gitlab-runner_to_internal: any of: stable/gitlab-runner/**/*
  push_gitlab-runner_to_public: any of: stable/gitlab-runner/**/*
  push_gitlab-steward_to_internal: any of: stable/gitlab-steward/**/*
  push_gitlab-steward_to_public: any of: stable/gitlab-steward/**/*
  push_hbase_to_internal: any of: stable/hbase/**/*
  push_hbase_to_public: any of: stable/hbase/**/*
  push_iceman_to_internal: any of: stable/iceman/**/*
  push_iceman_to_public: any of: stable/iceman/**/*
  push_stackstate-standalone_to_internal: any of: stable/stackstate-standalone/**/*
  push_stackstate-standalone_to_public: any of: stable/stackstate-standalone/**/*
  push_stackstate_to_internal: any of: stable/stackstate/**/*
  push_stackstate_to_public: any of: stable/stackstate/**/*
  push_trafficmirror_to_internal: any of: stable/trafficmirror/**/*
  push_trafficmirror_to_public: any of: stable/trafficmirror/**/*
