Repository StackVista/helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: push_aws-amicleaner_to_internal, push_aws-nuke_to_internal, push_aws-pod-identity-webhook_to_internal, push_beacher-job_to_internal, push_chartmuseum_to_internal, push_cluster-agent_to_internal, push_common_to_internal, push_elasticsearch_to_internal, push_gitlab-runner_to_internal, push_gitlab-steward_to_internal, push_hbase_to_internal, push_iceman_to_internal, push_kafka_to_internal, push_kafkaup-operator_to_internal, push_kommoner-operator_to_internal, push_minio_to_internal, push_petros-d-kubelet-stats-exporter_to_internal, push_sandbox-operator_to_internal, push_stackstate-standalone_to_internal, push_stackstate_to_internal, push_trafficmirror_to_internal

push_aws-amicleaner_to_internal:
  image: stackstate/stackstate-ci-images:stackstate-devops-f87d9654
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

push_aws-nuke_to_internal:
  image: stackstate/stackstate-ci-images:stackstate-devops-f87d9654
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

push_aws-pod-identity-webhook_to_internal:
  image: stackstate/stackstate-ci-images:stackstate-devops-f87d9654
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

push_beacher-job_to_internal:
  image: stackstate/stackstate-ci-images:stackstate-devops-f87d9654
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

push_chartmuseum_to_internal:
  image: stackstate/stackstate-ci-images:stackstate-devops-f87d9654
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

push_cluster-agent_to_internal:
  image: stackstate/stackstate-ci-images:stackstate-devops-f87d9654
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

push_common_to_internal:
  image: stackstate/stackstate-ci-images:stackstate-devops-f87d9654
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

push_elasticsearch_to_internal:
  image: stackstate/stackstate-ci-images:stackstate-devops-f87d9654
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

STAC-0 Increase initializer limit to allow for much faster startup (the limit will only, maybe, be reached during startup)
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-18382 Add Victoria Metrics helm repository
  .gitlab-ci.yml
  .jsonnet-libs/extras/helm_chart_repo/variables.libsonnet
  .jsonnet-libs/helm/init.libsonnet
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-18382 Auto-config agent metrics scraping
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-18465 Make 5.1.2 rc2
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-18518 Make 5.2.0-pre.3 rc1
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-18382 Include VictoriaMetrics single node dashboard in Monitoring chart
  stable/stackstate-monitoring/Chart.yaml
  stable/stackstate-monitoring/README.md
  stable/stackstate-monitoring/grafana-dashboards/stackstate-victoria-metrics/victoriametrics_rev25.json
Due: none

STAC-18465: Make 5.1.2
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-18503: update receiver env variables
  stable/stackstate/templates/deployment-receiver.yaml
Due: push_stackstate_to_internal

chore(stackstate): Upgrade StackGraph to version 4.11.4.
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/values.yaml
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_hbase_to_internal, push_stackstate_to_internal

STAC-0: Wait for Es to be available before starting the receiver
  stable/stackstate/templates/deployment-receiver.yaml
Due: push_stackstate_to_internal

STAC-18417: Alert if Stackstate pods has high CPU utilization
  stable/stackstate-monitoring/Chart.yaml
  stable/stackstate-monitoring/README.md
  stable/stackstate-monitoring/templates/rule-sts-cpu.yaml
Due: none

STAC-12827: Disabled read cache on the initializer and reduce the baseMemory so it gets a little extra heap space
  stable/stackstate/README.md
  stable/stackstate/templates/deployment-initializer.yaml
  stable/stackstate/test/services_java_heap_test.go
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-18518: Make 5.2.0-pre.3
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-18225 Make the `sts_metrics` topic consumption scalable
  stable/stackstate/scripts/job-kafka-topic-create.sh
  stable/stackstate/templates/deployment-kafka2prom.yaml
  stable/stackstate/templates/job-kafka-topic-create.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-18417: Fix CPU usage rule
  stable/stackstate-monitoring/Chart.yaml
  stable/stackstate-monitoring/README.md
  stable/stackstate-monitoring/templates/rule-sts-cpu.yaml
  stable/stackstate-monitoring/values.yaml
Due: none

STAC-18524: Added promtail as k8s logshipper
  stable/stackstate-agent/README.md
  stable/stackstate-agent/templates/_helpers.tpl
  stable/stackstate-agent/values.yaml
  stable/stackstate-monitoring/README.md
  stable/stackstate/README.md
Due: push_stackstate_to_internal

STAC-18524: Added missing files
  stable/stackstate-agent/templates/logs-agent-clusterrole.yaml
  stable/stackstate-agent/templates/logs-agent-clusterrolebinding.yaml
  stable/stackstate-agent/templates/logs-agent-configmap.yaml
  stable/stackstate-agent/templates/logs-agent-daemonset.yaml
  stable/stackstate-agent/templates/logs-agent-serviceaccount.yaml
Due: none

STAC-18524: Bump versions
  stable/stackstate-agent/Chart.yaml
  stable/stackstate-agent/README.md
  stable/stackstate-monitoring/Chart.yaml
  stable/stackstate-monitoring/README.md
Due: none

STAC-18524: Enable logs by default
  stable/stackstate-agent/README.md
  stable/stackstate-agent/values.yaml
Due: none

STAC-18524: Make agent bump a minor bump
  stable/stackstate-agent/Chart.yaml
  stable/stackstate-agent/README.md
Due: none

STAC-18524: Agent bump and fix reference
  stable/stackstate-agent/Chart.yaml
  stable/stackstate-agent/README.md
  stable/stackstate/Chart.lock
Due: push_stackstate_to_internal

STAC-18524: Update sha
  stable/stackstate/Chart.lock
Due: push_stackstate_to_internal

STAC-18524: Make logs disabled by default
  stable/stackstate-agent/README.md
  stable/stackstate-agent/values.yaml
Due: none

STAC-12886: Add linux nodeSelector
  stable/stackstate-agent/Chart.yaml
  stable/stackstate-agent/README.md
  stable/stackstate-agent/templates/_helpers.tpl
  stable/stackstate-agent/templates/checks-agent-deployment.yaml
  stable/stackstate-agent/templates/cluster-agent-deployment.yaml
  stable/stackstate-agent/templates/node-agent-daemonset.yaml
  stable/stackstate-agent/values.yaml
  stable/stackstate/Chart.lock
Due: push_stackstate_to_internal

STAC-12886: Fix node Selector labels
  stable/stackstate-agent/templates/checks-agent-deployment.yaml
  stable/stackstate-agent/templates/cluster-agent-deployment.yaml
  stable/stackstate-agent/templates/node-agent-daemonset.yaml
Due: none

STAC-0: fix env variables type
  stable/stackstate/README.md
  stable/stackstate/templates/job-kafka-topic-create.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-0: configurable kafka topics retention
  stable/stackstate/README.md
  stable/stackstate/scripts/job-kafka-topic-create.sh
  stable/stackstate/templates/job-kafka-topic-create.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-18580: Communicate to receiver the ES disk space available and replication factor
  stable/stackstate/README.md
  stable/stackstate/templates/_helper-k2es-common.tpl
  stable/stackstate/templates/deployment-k2es-events-to-es.yaml
  stable/stackstate/templates/deployment-k2es-multi-metrics-to-es.yaml
  stable/stackstate/templates/deployment-k2es-trace-events-to-es.yaml
  stable/stackstate/templates/deployment-receiver.yaml
  stable/stackstate/test/k2es_disk_space_test.go
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-18664 Reset repositorySuffix to empty to prepare for release candidates
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-18664 Make 5.1.3 rc1
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-18673: Exclude AAD requests from the StackStateSmallWindowTelemetryApiLatency alert
  stable/stackstate-monitoring/Chart.yaml
  stable/stackstate-monitoring/README.md
  stable/stackstate-monitoring/templates/rule-http.yaml
Due: none

STAC-18688: Add namespace to the CPU alert metric
  stable/stackstate-monitoring/Chart.yaml
  stable/stackstate-monitoring/README.md
  stable/stackstate-monitoring/templates/rule-sts-cpu.yaml
Due: none

STAC-18645 Make 5.2.0-pre.4 rc2
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-18271 Upgrade libksba8 from 1.6.0-2build1 to 1.6.0-2ubuntu0.1
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-18627: extract metadata from CRI format logs
  stable/stackstate-agent/templates/logs-agent-configmap.yaml
Due: none

STAC-18627: stackstate-agent chart version bump
  stable/stackstate-agent/Chart.yaml
  stable/stackstate-agent/README.md
  stable/stackstate/README.md
Due: push_stackstate_to_internal

STAC-18627: update stackstate-agent stackstate chart dependency
  stable/stackstate/Chart.lock
Due: push_stackstate_to_internal

STAC-18645: Make 5.2.0-pre.4
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-18733: Add unbounded directmemory buffer
  stable/stackstate/templates/_helper-service-config.tpl
  stable/stackstate/test/services_java_heap_test.go
Due: push_stackstate_to_internal

STAC-18719 Update VictoriaMetrics chart to version 0.8.48 which installs VM 1.85.3.
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

Path conditions:
  push_aws-amicleaner_to_internal: any of: stable/aws-amicleaner/**/*
  push_aws-nuke_to_internal: any of: stable/aws-nuke/**/*
  push_aws-pod-identity-webhook_to_internal: any of: stable/aws-pod-identity-webhook/**/*
  push_beacher-job_to_internal: any of: stable/beacher-job/**/*
  push_chartmuseum_to_internal: any of: stable/chartmuseum/**/*
  push_cluster-agent_to_internal: any of: stable/cluster-agent/**/*
  push_common_to_internal: any of: stable/common/**/*
  push_elasticsearch_to_internal: any of: stable/elasticsearch/**/*
  push_gitlab-runner_to_internal: any of: stable/gitlab-runner/**/*
  push_gitlab-steward_to_internal: any of: stable/gitlab-steward/**/*
  push_hbase_to_internal: any of: stable/hbase/**/*
  push_iceman_to_internal: any of: stable/iceman/**/*
  push_kafka_to_internal: any of: stable/kafka/**/*
  push_kafkaup-operator_to_internal: any of: stable/kafkaup-operator/**/*
  push_kommoner-operator_to_internal: any of: stable/kommoner-operator/**/*
  push_minio_to_internal: any of: stable/minio/**/*
  push_petros-d-kubelet-stats-exporter_to_internal: any of: stable/petros-d-kubelet-stats-exporter/**/*
  push_sandbox-operator_to_internal: any of: stable/sandbox-operator/**/*
  push_stackstate-standalone_to_internal: any of: stable/stackstate-standalone/**/*
  push_stackstate_to_internal: any of: stable/stackstate/**/*
  push_trafficmirror_to_internal: any of: stable/trafficmirror/**/*
