Repository StackVista/helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: push_aws-amicleaner_to_internal, push_aws-nuke_to_internal, push_aws-pod-identity-webhook_to_internal, push_beacher-job_to_internal, push_chartmuseum_to_internal, push_cluster-agent_to_internal, push_common_to_internal, push_elasticsearch_to_internal, push_gitlab-runner_to_internal, push_gitlab-steward_to_internal, push_hbase_to_internal, push_iceman_to_internal, push_kafka_to_internal, push_kafkaup-operator_to_internal, push_kommoner-operator_to_internal, push_minio_to_internal, push_petros-d-kubelet-stats-exporter_to_internal, push_sandbox-operator_to_internal, push_stackstate-standalone_to_internal, push_stackstate_to_internal, push_trafficmirror_to_internal

Path conditions:
  push_aws-amicleaner_to_internal: any of: stable/aws-amicleaner/**/*
  push_aws-nuke_to_internal: any of: stable/aws-nuke/**/*
  push_aws-pod-identity-webhook_to_internal: any of: stable/aws-pod-identity-webhook/**/*
  push_beacher-job_to_internal: any of: stable/beacher-job/**/*
  push_chartmuseum_to_internal: any of: stable/chartmuseum/**/*
  push_cluster-agent_to_internal: any of: stable/cluster-agent/**/*
  push_common_to_internal: any of: stable/common/**/*
  push_elasticsearch_to_internal: any of: stable/elasticsearch/**/*
  push_gitlab-runner_to_internal: any of: stable/gitlab-runner/**/*
  push_gitlab-steward_to_internal: any of: stable/gitlab-steward/**/*
  push_hbase_to_internal: any of: stable/hbase/**/*
  push_iceman_to_internal: any of: stable/iceman/**/*
  push_kafka_to_internal: any of: stable/kafka/**/*
  push_kafkaup-operator_to_internal: any of: stable/kafkaup-operator/**/*
  push_kommoner-operator_to_internal: any of: stable/kommoner-operator/**/*
  push_minio_to_internal: any of: stable/minio/**/*
  push_petros-d-kubelet-stats-exporter_to_internal: any of: stable/petros-d-kubelet-stats-exporter/**/*
  push_sandbox-operator_to_internal: any of: stable/sandbox-operator/**/*
  push_stackstate-standalone_to_internal: any of: stable/stackstate-standalone/**/*
  push_stackstate_to_internal: any of: stable/stackstate/**/*
  push_trafficmirror_to_internal: any of: stable/trafficmirror/**/*

STAC-0: [common] Add new templates for pull secret and registry
  stable/common/Chart.yaml
  stable/common/README.md
  stable/common/templates/_images.tpl
  stable/common/templates/_util.tpl
Due: push_common_to_internal

STAC-0: [common] Add common pull secret template
  stable/common/Chart.yaml
  stable/common/README.md
  stable/common/templates/_pull-secret.yaml
Due: push_common_to_internal

STAC-15582 Make 4.5.3
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-0 Drop blackbox exporter dashboard from monitoring chart It is more generic then StackState and requires additional tools to be installed, i.e. won't have any data at customers
  stable/stackstate-monitoring/grafana-dashboards/blackbox-exporter/prometheus-blackbox-exporter_rev6.json
Due: none

STAC-15569 Bump sync latency alert to a minute
  stable/stackstate-monitoring/Chart.yaml
  stable/stackstate-monitoring/README.md
  stable/stackstate-monitoring/templates/rule-processing-pipeline.yaml
Due: none

STAC-0: [hbase] Use new common templates
  stable/hbase/Chart.lock
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/requirements.yaml
  stable/hbase/templates/_helpers.yaml
  stable/hbase/templates/console-deployment.yaml
  stable/hbase/templates/hbase-master-statefulset.yaml
  stable/hbase/templates/hbase-pull-secret.yaml
  stable/hbase/templates/hbase-rs-statefulset.yaml
  stable/hbase/templates/hdfs-dn-statefulset.yaml
  stable/hbase/templates/hdfs-nn-statefulset.yaml
  stable/hbase/templates/hdfs-snn-statefulset.yaml
  stable/hbase/templates/tephra-statefulset.yaml
Due: push_hbase_to_internal

STAC-0: [receiveramplifier] Update chart with global pullsecret
  stable/receiveramplifier/Chart.lock
  stable/receiveramplifier/Chart.yaml
  stable/receiveramplifier/README.md
  stable/receiveramplifier/requirements.lock
  stable/receiveramplifier/requirements.yaml
  stable/receiveramplifier/templates/_helper.tpl
  stable/receiveramplifier/templates/deployment.yaml
  stable/receiveramplifier/templates/pull-secret.yaml
  stable/receiveramplifier/values.yaml
Due: none

STAC-0: [kafkaup-operator] Use new common templates
  stable/kafkaup-operator/Chart.lock
  stable/kafkaup-operator/Chart.yaml
  stable/kafkaup-operator/README.md
  stable/kafkaup-operator/templates/_helpers.tpl
  stable/kafkaup-operator/templates/kafkaup-deployment.yaml
  stable/kafkaup-operator/templates/kafkaup-pull-secret.yaml
Due: push_kafkaup-operator_to_internal

STAC-15583: Use maxInt for kafka
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-0 Fix escaping of prometheus rules
  stable/stackstate-monitoring/Chart.yaml
  stable/stackstate-monitoring/README.md
  stable/stackstate-monitoring/templates/rule-http.yaml
  stable/stackstate-monitoring/templates/rule-jvm.yaml
  stable/stackstate-monitoring/templates/rule-processing-pipeline.yaml
  stable/stackstate-monitoring/templates/rule-uptime.yaml
Due: none

STAC-15534: Ensure receiveramplifier is published to internal
  .gitlab-ci.yml
  .jsonnet-libs/extras/helm_chart_repo/variables.libsonnet
Due: none

STAC-15568 Make 4.6.0-pre.4 rc2
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-15610 Reset repositorySuffix to empty to prepare for release candidates
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-0: [common] Use port.name instead of port.number
  stable/common/Chart.yaml
  stable/common/README.md
  stable/common/templates/_ingress.yaml
Due: push_common_to_internal

STAC-15390 Make 4.6.0-pre.3
  stable/elasticsearch/README.md
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_elasticsearch_to_internal, push_stackstate_to_internal

STAC-15390: Revert es chart fixes
  stable/elasticsearch/README.md
Due: push_elasticsearch_to_internal

STAC-0: [receiveramplifier] Use new common for fixed ingress
  stable/receiveramplifier/Chart.lock
  stable/receiveramplifier/Chart.yaml
  stable/receiveramplifier/README.md
Due: none

STAC-15568 Make 4.6.0-pre.4 rc3
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-15610 Make 4.5.4 rc1
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-15610 Make 4.5.4 rc2
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

chore(kafkaup-operator, minio, petros-d-kubelet-stats-exporter): Fixes helm-docs template for kafkaup-operator, minio and petros-d-kubelet-stats-exporter charts
  stable/kafkaup-operator/README.md
  stable/minio/README.md
  stable/minio/README.md.gotmpl
  stable/petros-d-kubelet-stats-exporter/README.md
  stable/petros-d-kubelet-stats-exporter/README.md.gotmpl
Due: push_kafkaup-operator_to_internal, push_minio_to_internal, push_petros-d-kubelet-stats-exporter_to_internal

STAC-15525 In cluster-agent chart, allows strategy to be configured for clusterAgent Deployment
  stable/cluster-agent/Chart.yaml
  stable/cluster-agent/README.md
  stable/cluster-agent/templates/cluster-agent-deployment.yaml
  stable/cluster-agent/values.yaml
Due: push_cluster-agent_to_internal

STAC-15525 In stackstate chart, allows strategy to be defined for all Deployments
  stable/stackstate/README.md
  stable/stackstate/templates/_helper-service-config.tpl
  stable/stackstate/templates/deployment-api.yaml
  stable/stackstate/templates/deployment-checks.yaml
  stable/stackstate/templates/deployment-correlate.yaml
  stable/stackstate/templates/deployment-healthSync.yaml
  stable/stackstate/templates/deployment-initializer.yaml
  stable/stackstate/templates/deployment-k2es-events-to-es.yaml
  stable/stackstate/templates/deployment-k2es-multi-metrics-to-es.yaml
  stable/stackstate/templates/deployment-k2es-trace-events-to-es.yaml
  stable/stackstate/templates/deployment-problemProducer.yaml
  stable/stackstate/templates/deployment-receiver.yaml
  stable/stackstate/templates/deployment-router.yaml
  stable/stackstate/templates/deployment-server.yaml
  stable/stackstate/templates/deployment-slicing.yaml
  stable/stackstate/templates/deployment-state.yaml
  stable/stackstate/templates/deployment-sync.yaml
  stable/stackstate/templates/deployment-ui.yaml
  stable/stackstate/templates/deployment-viewHealth.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-15525 In hbase chart, allows strategy to be configured for console Deployment
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/templates/console-deployment.yaml
  stable/hbase/values.yaml
Due: push_hbase_to_internal

STAC-15525 In kafkaup-operator chart, allows strategy to be configured for operator Deployment
  stable/kafkaup-operator/Chart.yaml
  stable/kafkaup-operator/README.md
  stable/kafkaup-operator/templates/kafkaup-deployment.yaml
  stable/kafkaup-operator/values.yaml
Due: push_kafkaup-operator_to_internal

chore(stackstate): Upgrade StackGraph to version 4.6.2.
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/values.yaml
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_hbase_to_internal, push_stackstate_to_internal

STAC-15525 In stackstate chart, update dependencies on cluster-agent, hbase and kafkaup-operator charts
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

chore(stackstate): Upgrade anomaly-detection to version 4.5.0-snapshot.212.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

STAC-14793 Fix incorrect values example for es service monitor
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-15610 Make 4.5.4 rc3
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-15610 Make 4.5.4
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-15670 Reset repositorySuffix to empty to prepare for release candidates
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-15670 Make 4.5.5 rc1
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

chore(stackstate): Upgrade anomaly-detection to version 4.5.0-snapshot.235.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

chore(stackstate): Upgrade anomaly-detection to version 4.6.0-snapshot.44.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

Change to HTTPS for internal pre-commit hooks dependency
  .pre-commit-config.yaml
Due: none

chore(stackstate): Upgrade StackGraph to version 4.6.3.
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/values.yaml
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_hbase_to_internal, push_stackstate_to_internal

chore(stackstate): Upgrade anomaly-detection to version 4.6.0-snapshot.46.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal
