Repository StackVista/helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: push_aws-amicleaner_to_internal, push_aws-amicleaner_to_public, push_aws-nuke_to_internal, push_aws-nuke_to_public, push_cluster-agent_to_internal, push_cluster-agent_to_public, push_common_to_internal, push_common_to_public, push_elasticsearch_to_internal, push_elasticsearch_to_public, push_gitlab-runner_to_internal, push_gitlab-runner_to_public, push_gitlab-steward_to_internal, push_gitlab-steward_to_public, push_hbase_to_internal, push_hbase_to_public, push_iceman_to_internal, push_iceman_to_public, push_stackstate-standalone_to_internal, push_stackstate-standalone_to_public, push_stackstate_to_internal, push_stackstate_to_public, push_trafficmirror_to_internal, push_trafficmirror_to_public

Path conditions:
  push_aws-amicleaner_to_internal: any of: stable/aws-amicleaner/**/*
  push_aws-amicleaner_to_public: any of: stable/aws-amicleaner/**/*
  push_aws-nuke_to_internal: any of: stable/aws-nuke/**/*
  push_aws-nuke_to_public: any of: stable/aws-nuke/**/*
  push_cluster-agent_to_internal: any of: stable/cluster-agent/**/*
  push_cluster-agent_to_public: any of: stable/cluster-agent/**/*
  push_common_to_internal: any of: stable/common/**/*
  push_common_to_public: any of: stable/common/**/*
  push_elasticsearch_to_internal: any of: stable/elasticsearch/**/*
  push_elasticsearch_to_public: any of: stable/elasticsearch/**/*
  push_gitlab-runner_to_internal: any of: stable/gitlab-runner/**/*
  push_gitlab-runner_to_public: any of: stable/gitlab-runner/**/*
  push_gitlab-steward_to_internal: any of: stable/gitlab-steward/**/*
  push_gitlab-steward_to_public: any of: stable/gitlab-steward/**/*
  push_hbase_to_internal: any of: stable/hbase/**/*
  push_hbase_to_public: any of: stable/hbase/**/*
  push_iceman_to_internal: any of: stable/iceman/**/*
  push_iceman_to_public: any of: stable/iceman/**/*
  push_stackstate-standalone_to_internal: any of: stable/stackstate-standalone/**/*
  push_stackstate-standalone_to_public: any of: stable/stackstate-standalone/**/*
  push_stackstate_to_internal: any of: stable/stackstate/**/*
  push_stackstate_to_public: any of: stable/stackstate/**/*
  push_trafficmirror_to_internal: any of: stable/trafficmirror/**/*
  push_trafficmirror_to_public: any of: stable/trafficmirror/**/*

STAC-7537: Add flush policy to region
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/templates/_helpers.yaml
Due: push_hbase_to_internal, push_hbase_to_public

STAC-7537: Bump hbase and sts chart
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/requirements.lock
  stable/stackstate/requirements.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-10425 Make 4.1.0 rc3
  stable/stackstate/Chart.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

fix(stackstate): Upgrade to hbase version with more cpu requests for region server, see there for explanation
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/requirements.lock
  stable/stackstate/requirements.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-10491: Drop hbase confs that are default in hbase-site.xml
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/templates/_helpers.yaml
  stable/hbase/values.yaml
Due: push_hbase_to_internal, push_hbase_to_public

STAC-10491: Bump after master merge
  stable/hbase/Chart.yaml
  stable/hbase/README.md
Due: push_hbase_to_internal, push_hbase_to_public

STAC-10491: Bump sg chart
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/requirements.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-10491: Bump sg
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-10491: Update lockfile
  stable/stackstate/requirements.lock
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-10494: Fix stackstate-router hostname if not deployed as 'stackstate'
  stable/cluster-agent/Chart.yaml
  stable/cluster-agent/README.md
  stable/cluster-agent/ci/default-values.yaml
  stable/cluster-agent/requirements.lock
  stable/cluster-agent/templates/_helpers.tpl
  stable/cluster-agent/templates/agent-daemonset.yaml
  stable/cluster-agent/templates/cluster-agent-deployment.yaml
Due: push_cluster-agent_to_internal, push_cluster-agent_to_public

STAC-10494: Move helper function to stackstate chart
  stable/cluster-agent/requirements.lock
  stable/cluster-agent/templates/_helpers.tpl
Due: push_cluster-agent_to_internal, push_cluster-agent_to_public

STAC-10494: Push templated stackstate hostname to cluster-agent chart
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/requirements.lock
  stable/stackstate/requirements.yaml
  stable/stackstate/templates/_helper.tpl
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

fix(hbase): STAC-10491 | Bump image version to working image
  stable/hbase/README.md
  stable/hbase/values.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_hbase_to_internal, push_hbase_to_public, push_stackstate_to_internal, push_stackstate_to_public

chore(stackstate): Bump chart version
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/values.yaml
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_hbase_to_internal, push_hbase_to_public, push_stackstate_to_internal, push_stackstate_to_public

STAC-0000: bumping anomaly detection chart - fixing hostname in ingress such that tls can produce proper certificate
  stable/stackstate/README.md
  stable/stackstate/requirements.lock
  stable/stackstate/requirements.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-0000: simply incrementing chart version
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-10425 Make 4.1.0 rc4
  stable/stackstate/Chart.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-10425 Make sts-v4.1.0
  stable/stackstate/Chart.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

chore(stackstate): STAC-10520 | Review comments
  .gitlab-ci.jsonnet
  .gitlab/commit_changes_and_push.sh
Due: none

chore(stackstate): STAC-10520 | Changing trigger such that env var contains version only
  .gitlab/commit_changes_and_push.sh
  .gitlab/update_sg_version.sh
Due: none

feat(stackstate): STAC-10520 Automatically update StackGraph version
  .gitlab-ci.jsonnet
  .gitlab-ci.yml
  .gitlab/commit_changes_and_push.sh
  .gitlab/update_sg_version.sh
  .pre-commit-config.yaml
Due: none

chore(pipeline): Fix MR pipeline
  .gitlab-ci.jsonnet
  .gitlab-ci.yml
Due: none

STAC-10495 Add new template for cluster-unique name
  stable/common/Chart.yaml
  stable/common/README.md
  stable/common/templates/_fullname.tpl
Due: push_common_to_internal, push_common_to_public

STAC-10495: Give ClusterRole and ClusterRoleBinding unique name
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/requirements.lock
  stable/stackstate/requirements.yaml
  stable/stackstate/templates/clusterrole-server.yaml
  stable/stackstate/templates/clusterrolebinding-server.yaml
  stable/stackstate/test/cluster_resource_naming_test.go
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-10495: Add correct lock file
  stable/stackstate/requirements.lock
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-9232: Add release revision as env var to STS server and other services
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/templates/_helper.tpl
  stable/stackstate/templates/statefulset-api.yaml
  stable/stackstate/templates/statefulset-checks.yaml
  stable/stackstate/templates/statefulset-initializer.yaml
  stable/stackstate/templates/statefulset-server.yaml
  stable/stackstate/templates/statefulset-state.yaml
  stable/stackstate/templates/statefulset-sync.yaml
  stable/stackstate/templates/statefulset-viewHealth.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-9232: Small fixes. Rename templates
  stable/stackstate/README.md
  stable/stackstate/templates/deployment-api.yaml
  stable/stackstate/templates/deployment-checks.yaml
  stable/stackstate/templates/deployment-initializer.yaml
  stable/stackstate/templates/deployment-server.yaml
  stable/stackstate/templates/deployment-state.yaml
  stable/stackstate/templates/deployment-sync.yaml
  stable/stackstate/templates/deployment-viewHealth.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-10608 Make 4.1.1 rc1
  stable/stackstate/Chart.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-10608 Make sts-v4.1.1
  stable/stackstate/Chart.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-10711: Add common ClusterRole template
  stable/common/Chart.yaml
  stable/common/README.md
  stable/common/templates/_rolebinding.yaml
  stable/common/values.yaml
Due: push_common_to_internal, push_common_to_public

STAC-10711: Replace ClusterRole(Binding) with RoleBinding
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/requirements.lock
  stable/stackstate/requirements.yaml
  stable/stackstate/templates/clusterrole-server.yaml
  stable/stackstate/templates/clusterrolebinding-server.yaml
  stable/stackstate/templates/rolebinding-server.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-10711: Fix lock
  stable/stackstate/requirements.lock
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-10711: Update HelmTestUtil
  helmtestutil/KubernetesResources.go
Due: none

STAC-10711: Remove Cluster resource test
  stable/stackstate/test/cluster_resource_naming_test.go
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-10669 Make 4.2.0-alpha rc3
  stable/stackstate/Chart.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-10669 Make 4.2.0-alpha rc4
  stable/stackstate/Chart.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-7546: Add slicing service to helm chart
  .gitignore
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/templates/_helper.tpl
  stable/stackstate/templates/configmap-slicing.yaml
  stable/stackstate/templates/deployment-slicing.yaml
  stable/stackstate/templates/secret-slicing.yaml
  stable/stackstate/templates/service-slicing.yaml
  stable/stackstate/templates/servicemonitor-slicing.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-0: Fail kafka topic job when replicationFactor is not ok
  stable/stackstate/scripts/job-kafka-topic-create.sh
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-10675: Reconcile regular deploy with split deploy.
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/requirements.lock
  stable/stackstate/requirements.yaml
  stable/stackstate/templates/deployment-api.yaml
  stable/stackstate/templates/deployment-server.yaml
  stable/stackstate/templates/pdb-api.yaml
  stable/stackstate/templates/pdb-checks.yaml
  stable/stackstate/templates/pdb-state.yaml
  stable/stackstate/templates/pdb-sync.yaml
  stable/stackstate/templates/pdb-viewHealth.yaml
  stable/stackstate/templates/rolebinding-api.yaml
  stable/stackstate/templates/serviceaccount-api.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public
