Repository StackVista/helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: push_aws-amicleaner_to_internal, push_aws-nuke_to_internal, push_chartmuseum_to_internal, push_cluster-agent_to_internal, push_common_to_internal, push_elasticsearch_to_internal, push_gitlab-runner_to_internal, push_gitlab-steward_to_internal, push_hbase_to_internal, push_iceman_to_internal, push_kafka_to_internal, push_sandbox-operator_to_internal, push_stackstate-standalone_to_internal, push_stackstate_to_internal, push_trafficmirror_to_internal

Path conditions:
  push_aws-amicleaner_to_internal: any of: stable/aws-amicleaner/**/*
  push_aws-nuke_to_internal: any of: stable/aws-nuke/**/*
  push_chartmuseum_to_internal: any of: stable/chartmuseum/**/*
  push_cluster-agent_to_internal: any of: stable/cluster-agent/**/*
  push_common_to_internal: any of: stable/common/**/*
  push_elasticsearch_to_internal: any of: stable/elasticsearch/**/*
  push_gitlab-runner_to_internal: any of: stable/gitlab-runner/**/*
  push_gitlab-steward_to_internal: any of: stable/gitlab-steward/**/*
  push_hbase_to_internal: any of: stable/hbase/**/*
  push_iceman_to_internal: any of: stable/iceman/**/*
  push_kafka_to_internal: any of: stable/kafka/**/*
  push_sandbox-operator_to_internal: any of: stable/sandbox-operator/**/*
  push_stackstate-standalone_to_internal: any of: stable/stackstate-standalone/**/*
  push_stackstate_to_internal: any of: stable/stackstate/**/*
  push_trafficmirror_to_internal: any of: stable/trafficmirror/**/*

chore(stackstate): Upgrade StackGraph to version 4.2.11.
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/values.yaml
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_hbase_to_internal, push_stackstate_to_internal

STAC-0 Update stackstate to depend on the latest cluster-agent chart.
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

STAC-0 Updated Chart.lock.
  stable/stackstate/Chart.lock
Due: push_stackstate_to_internal

STAC-0 Fixed broken broken bitnami debian upstream build.
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-14606 Make 4.5.0 rc3
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-0 Add changes for less vulnerable kafka image.
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

chore(stackstate): Upgrade anomaly-detection to version 4.5.0-snapshot.161.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

chore(stackstate): Upgrade anomaly-detection to version 4.5.0-snapshot.163.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

STAC-14606 Make 4.5.0 rc4
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

chore(stackstate): Upgrade StackGraph to version 4.2.12.
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/values.yaml
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_hbase_to_internal, push_stackstate_to_internal

chore(stackstate): Upgrade anomaly-detection to version 4.5.0-snapshot.165.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

chore(stackstate): Upgrade StackGraph to version 4.2.14.
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/values.yaml
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_hbase_to_internal, push_stackstate_to_internal

STAC-14758: Bump hadoop version
  stable/hbase/README.md
  stable/hbase/values.yaml
Due: push_hbase_to_internal

STAC-14758: Bump hbase chart
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_hbase_to_internal, push_stackstate_to_internal

STAC-14758: Do not bump hbase chart
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

chore(stackstate): Upgrade StackGraph to version 4.2.16.
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/values.yaml
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_hbase_to_internal, push_stackstate_to_internal

STAC-14758: Bump hbase chart
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

chore(stackstate): Upgrade anomaly-detection to version 4.5.0-snapshot.170.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

STAC-14732 Adds petros-d-kubelet-stats-exporter Helm chart
  stable/petros-d-kubelet-stats-exporter/Chart.yaml
  stable/petros-d-kubelet-stats-exporter/README.md
  stable/petros-d-kubelet-stats-exporter/templates/_fullname.tpl
  stable/petros-d-kubelet-stats-exporter/templates/deployment.yaml
  stable/petros-d-kubelet-stats-exporter/templates/rbac.yaml
  stable/petros-d-kubelet-stats-exporter/templates/service.yaml
  stable/petros-d-kubelet-stats-exporter/templates/servicemonitor.yaml
  stable/petros-d-kubelet-stats-exporter/values.yaml
Due: none

STAC-14732 Orders chart alphabetically
  .jsonnet-libs/extras/helm_chart_repo/variables.libsonnet
Due: none

STAC-14732 Adds petros-d-kubelet-stats-exporter chart to list of charts to publish
  .gitlab-ci.yml
  .jsonnet-libs/extras/helm_chart_repo/variables.libsonnet
Due: none

STAC-14732 Bump version of petros-d-kubelet-stats-exporter chart
  stable/petros-d-kubelet-stats-exporter/Chart.yaml
  stable/petros-d-kubelet-stats-exporter/README.md
Due: none

STAC-14483 Crio container runtime support
  stable/cluster-agent/README.md
  stable/cluster-agent/templates/agent-daemonset.yaml
  stable/cluster-agent/values.yaml
Due: push_cluster-agent_to_internal

STAC-14483 Containerd container runtime support
  stable/cluster-agent/README.md
  stable/cluster-agent/templates/agent-daemonset.yaml
  stable/cluster-agent/values.yaml
Due: push_cluster-agent_to_internal

STAC-14606 Make 4.5.0 rc5
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-14732 Improves and tweak petros-d-kubelet-stats-exporter chart
  stable/petros-d-kubelet-stats-exporter/Chart.yaml
  stable/petros-d-kubelet-stats-exporter/README.md
  stable/petros-d-kubelet-stats-exporter/templates/servicemonitor.yaml
  stable/petros-d-kubelet-stats-exporter/values.yaml
Due: none

STAC-14732 In stackstate chart, sets requests and limits for ephemeral-storage
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

Bump default hadoop version to 2.10.1
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/values.yaml
Due: push_hbase_to_internal

STAC-14606 Make 4.5.0 rc6
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

chore(stackstate): Upgrade anomaly-detection to version 4.5.0-snapshot.175.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

STAC-14767: Add pull secrets to job templates and cleanup other templates
  stable/stackstate/templates/_helper.tpl
  stable/stackstate/templates/configmap-backup-restore-scripts.yaml
  stable/stackstate/templates/cronjob-backup.yaml
  stable/stackstate/templates/deployment-api.yaml
  stable/stackstate/templates/deployment-checks.yaml
  stable/stackstate/templates/deployment-correlate.yaml
  stable/stackstate/templates/deployment-healthSync.yaml
  stable/stackstate/templates/deployment-initializer.yaml
  stable/stackstate/templates/deployment-k2es-events-to-es.yaml
  stable/stackstate/templates/deployment-k2es-multi-metrics-to-es.yaml
  stable/stackstate/templates/deployment-k2es-trace-events-to-es.yaml
  stable/stackstate/templates/deployment-problemProducer.yaml
  stable/stackstate/templates/deployment-receiver.yaml
  stable/stackstate/templates/deployment-router.yaml
  stable/stackstate/templates/deployment-server.yaml
  stable/stackstate/templates/deployment-slicing.yaml
  stable/stackstate/templates/deployment-state.yaml
  stable/stackstate/templates/deployment-sync.yaml
  stable/stackstate/templates/deployment-ui.yaml
  stable/stackstate/templates/deployment-viewHealth.yaml
  stable/stackstate/templates/job-backup-init.yaml
  stable/stackstate/templates/job-kafka-topic-create.yaml
  stable/stackstate/templates/pull-secret.yaml
  stable/stackstate/test/pull_secret_test.go
  stable/stackstate/test/values/pull_secret_global.yaml
  stable/stackstate/test/values/pull_secret_global_named.yaml
Due: push_stackstate_to_internal

Updates version of hbase chart to use 2.10.1
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  test/sync-repo.sh
Due: push_stackstate_to_internal

STAC-14606 Make 4.5.0 rc7
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-14606 Make 4.5.0 rc8
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-14768: Ensure stackstate dependent charts honor global pullSecrets
  stable/cluster-agent/Chart.yaml
  stable/cluster-agent/README.md
  stable/cluster-agent/templates/_helpers.tpl
  stable/cluster-agent/templates/agent-daemonset.yaml
  stable/cluster-agent/templates/cluster-agent-deployment.yaml
  stable/cluster-agent/templates/clusterchecks-deployment.yaml
  stable/cluster-agent/templates/pull-secret.yaml
  stable/cluster-agent/values.yaml
  stable/elasticsearch/Chart.yaml
  stable/elasticsearch/README.md
  stable/elasticsearch/templates/_helpers.tpl
  stable/elasticsearch/templates/pull-secret.yaml
  stable/elasticsearch/templates/statefulset.yaml
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/templates/_helpers.yaml
  stable/hbase/templates/console-deployment.yaml
  stable/hbase/templates/hbase-master-statefulset.yaml
  stable/hbase/templates/hbase-rs-statefulset.yaml
  stable/hbase/templates/hdfs-dn-statefulset.yaml
  stable/hbase/templates/hdfs-nn-statefulset.yaml
  stable/hbase/templates/hdfs-snn-statefulset.yaml
  stable/hbase/templates/tephra-statefulset.yaml
Due: push_cluster-agent_to_internal, push_elasticsearch_to_internal, push_hbase_to_internal

STAC-14606 Make 4.5.0
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-0: Fix HBase chart
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/templates/_helpers.yaml
Due: push_hbase_to_internal

STAC-0: Global Pull Secret details win
  stable/cluster-agent/Chart.yaml
  stable/cluster-agent/README.md
  stable/cluster-agent/templates/_helpers.tpl
  stable/cluster-agent/templates/pull-secret.yaml
  stable/elasticsearch/Chart.yaml
  stable/elasticsearch/README.md
  stable/elasticsearch/templates/_helpers.tpl
  stable/elasticsearch/templates/pull-secret.yaml
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/templates/_helpers.yaml
  stable/hbase/templates/hbase-pull-secret.yaml
Due: push_cluster-agent_to_internal, push_elasticsearch_to_internal, push_hbase_to_internal

STAC-14946 Reset repositorySuffix to empty to prepare for release candidates
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-14704 Adds X-Frame-Options: DENY response header to all requests to the UI
  stable/stackstate/templates/configmap-router.yaml
Due: push_stackstate_to_internal
