Repository StackVista/helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: push_aws-amicleaner_to_internal, push_aws-nuke_to_internal, push_chartmuseum_to_internal, push_cluster-agent_to_internal, push_common_to_internal, push_elasticsearch_to_internal, push_gitlab-runner_to_internal, push_gitlab-steward_to_internal, push_hbase_to_internal, push_iceman_to_internal, push_kafka_to_internal, push_sandbox-operator_to_internal, push_stackstate-standalone_to_internal, push_stackstate_to_internal, push_trafficmirror_to_internal

Path conditions:
  push_aws-amicleaner_to_internal: any of: stable/aws-amicleaner/**/*
  push_aws-nuke_to_internal: any of: stable/aws-nuke/**/*
  push_chartmuseum_to_internal: any of: stable/chartmuseum/**/*
  push_cluster-agent_to_internal: any of: stable/cluster-agent/**/*
  push_common_to_internal: any of: stable/common/**/*
  push_elasticsearch_to_internal: any of: stable/elasticsearch/**/*
  push_gitlab-runner_to_internal: any of: stable/gitlab-runner/**/*
  push_gitlab-steward_to_internal: any of: stable/gitlab-steward/**/*
  push_hbase_to_internal: any of: stable/hbase/**/*
  push_iceman_to_internal: any of: stable/iceman/**/*
  push_kafka_to_internal: any of: stable/kafka/**/*
  push_sandbox-operator_to_internal: any of: stable/sandbox-operator/**/*
  push_stackstate-standalone_to_internal: any of: stable/stackstate-standalone/**/*
  push_stackstate_to_internal: any of: stable/stackstate/**/*
  push_trafficmirror_to_internal: any of: stable/trafficmirror/**/*

STAC-12426 Bump upcoming release version to 4.4.0
  stable/stackstate/Chart.yaml
Due: push_stackstate_to_internal

Set cluster agent log level by default to INFO
  stable/cluster-agent/Chart.yaml
  stable/cluster-agent/README.md
  stable/cluster-agent/values.yaml
  stable/stackstate/README.md
Due: push_cluster-agent_to_internal, push_stackstate_to_internal

STAC-12426 Make 4.3.0 rc1
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

chore(stackstate): Upgrade StackGraph to version 4.1.0.
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/values.yaml
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_hbase_to_internal, push_stackstate_to_internal

STAC-10213 Updates CPU requests and limits once more
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

chore(stackstate): Upgrade anomaly-detection to version 4.4.0-snapshot.1.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

STAC-12426 Make 4.3.0 rc2
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-12000 Adding helm definitions for problem producer
  stable/aws-amicleaner/README.md
  stable/aws-nuke/README.md
  stable/chartmuseum/README.md
  stable/common/README.md
  stable/elasticsearch/README.md
  stable/gitlab-steward/README.md
  stable/iceman/README.md
  stable/kafka/README.md
  stable/sandbox-operator/README.md
  stable/stackstate/README.md
  stable/stackstate/templates/_helper.tpl
  stable/stackstate/templates/configmap-problemProducer-log.yaml
  stable/stackstate/templates/deployment-problemProducer.yaml
  stable/stackstate/templates/pdb-problemProducer.yaml
  stable/stackstate/templates/secret-problemProducer.yaml
  stable/stackstate/templates/service-problemProducer.yaml
  stable/stackstate/templates/serviceaccount-problemProducer.yaml
  stable/stackstate/templates/servicemonitor-problemProducer.yaml
  stable/stackstate/test/generic_service_test.go
  stable/stackstate/test/services_java_heap_test.go
  stable/stackstate/values.yaml
  stable/trafficmirror/README.md
Due: push_aws-amicleaner_to_internal, push_aws-nuke_to_internal, push_chartmuseum_to_internal, push_common_to_internal, push_elasticsearch_to_internal, push_gitlab-steward_to_internal, push_iceman_to_internal, push_kafka_to_internal, push_sandbox-operator_to_internal, push_stackstate_to_internal, push_trafficmirror_to_internal

STAC-12000 Removing redundant 'container_name' from annotation
  stable/stackstate/templates/deployment-viewHealth.yaml
Due: push_stackstate_to_internal

STAC-12000 Fixing helm-docs version
  stable/aws-amicleaner/README.md
  stable/aws-nuke/README.md
  stable/chartmuseum/README.md
  stable/common/README.md
  stable/elasticsearch/README.md
  stable/gitlab-steward/README.md
  stable/iceman/README.md
  stable/kafka/README.md
  stable/sandbox-operator/README.md
  stable/trafficmirror/README.md
Due: push_aws-amicleaner_to_internal, push_aws-nuke_to_internal, push_chartmuseum_to_internal, push_common_to_internal, push_elasticsearch_to_internal, push_gitlab-steward_to_internal, push_iceman_to_internal, push_kafka_to_internal, push_sandbox-operator_to_internal, push_trafficmirror_to_internal

STAC-12000 Fixing log file name
  stable/stackstate/templates/configmap-problemProducer-log.yaml
Due: push_stackstate_to_internal

STAC-10213 Updates CPU requests and limits once more
  stable/stackstate/Chart.lock
  stable/stackstate/README.md
  stable/stackstate/templates/_helper.tpl
  stable/stackstate/templates/configmap-problemProducer-log.yaml
  stable/stackstate/templates/deployment-problemProducer.yaml
  stable/stackstate/templates/pdb-problemProducer.yaml
  stable/stackstate/templates/secret-problemProducer.yaml
  stable/stackstate/templates/service-problemProducer.yaml
  stable/stackstate/templates/serviceaccount-problemProducer.yaml
  stable/stackstate/templates/servicemonitor-problemProducer.yaml
  stable/stackstate/test/generic_service_test.go
  stable/stackstate/test/services_java_heap_test.go
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-12000 Added service account for problem-producer
  stable/stackstate/templates/rolebinding-get-pods.yaml
Due: push_stackstate_to_internal

STAC-10213 Updates CPU requests and limits once more
  stable/stackstate/templates/rolebinding-get-pods.yaml
Due: push_stackstate_to_internal

chore(stackstate): Upgrade StackGraph to version 4.1.1.
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/values.yaml
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_hbase_to_internal, push_stackstate_to_internal

STAC-0 Added problem-producer
  stable/stackstate/README.md
  stable/stackstate/templates/_helper.tpl
  stable/stackstate/templates/configmap-problemProducer-log.yaml
  stable/stackstate/templates/deployment-problemProducer.yaml
  stable/stackstate/templates/pdb-problemProducer.yaml
  stable/stackstate/templates/rolebinding-get-pods.yaml
  stable/stackstate/templates/secret-problemProducer.yaml
  stable/stackstate/templates/service-problemProducer.yaml
  stable/stackstate/templates/serviceaccount-problemProducer.yaml
  stable/stackstate/templates/servicemonitor-problemProducer.yaml
  stable/stackstate/test/generic_service_test.go
  stable/stackstate/test/services_java_heap_test.go
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-12426 Make 4.3.0 rc3
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-12426 Make 4.3.0 rc4
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

chore(stackstate): Upgrade StackGraph to version 4.1.2.
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/values.yaml
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_hbase_to_internal, push_stackstate_to_internal

STAC-12426 Make 4.3.0 rc5
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

chore(stackstate): Upgrade anomaly-detection to version 4.4.0-snapshot.19.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

STAC-12426 Make 4.3.0 rc6
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-12426 Make 4.3.0 rc7
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

Undo specific version in master of stackstate chart
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-12289: Update cluster-agent chart dependency
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

STAC-12289: Add missing lock file
  stable/stackstate/Chart.lock
Due: push_stackstate_to_internal

STAC-12289 Upgrade to newer verison of cluster agent
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

STAC-12426 Make 4.3.0 rc8
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-12426 Make 4.3.0
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-12688 Make 4.4.0-pre.0 rc1
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

chore(stackstate): Upgrade StackGraph to version 4.1.3.
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/values.yaml
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_hbase_to_internal, push_stackstate_to_internal

feat(StackState Health Sync): STAC-12668 | Create Health Sync service
  stable/stackstate/README.md
  stable/stackstate/templates/_helper.tpl
  stable/stackstate/templates/configmap-healthSync-log.yaml
  stable/stackstate/templates/deployment-healthSync.yaml
  stable/stackstate/templates/pdb-healthSync.yaml
  stable/stackstate/templates/rolebinding-get-pods.yaml
  stable/stackstate/templates/secret-healthSync.yaml
  stable/stackstate/templates/service-healthSync.yaml
  stable/stackstate/templates/serviceaccount-healthSync.yaml
  stable/stackstate/templates/servicemonitor-healthSync.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

refactor(StackState Health Sync): STAC-12668 | Lower resource requirements for new service
  stable/stackstate/README.md
  stable/stackstate/test/services_java_heap_test.go
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

chore(stackstate): Fixes README.md for stackstate chart
  stable/stackstate/README.md
Due: push_stackstate_to_internal

STAC-12749 Adds simplistic deployment of cluster checks runner
  stable/cluster-agent/README.md
  stable/cluster-agent/templates/_helpers.tpl
  stable/cluster-agent/templates/agent-clusterchecks-configmap.yaml
  stable/cluster-agent/templates/agent-clusterchecks-deployment.yaml
  stable/cluster-agent/values.yaml
Due: push_cluster-agent_to_internal

STAC-12749 Removes pod config not needed for cluster checks runner.
  stable/cluster-agent/templates/agent-clusterchecks-deployment.yaml
Due: push_cluster-agent_to_internal

STAC-12749 Removes superfluous newline
  stable/cluster-agent/templates/agent-daemonset.yaml
Due: push_cluster-agent_to_internal

STAC-12749 Mounts emptyDir at /etc/stackstate-agent/conf.d to disable all checks
  stable/cluster-agent/templates/agent-clusterchecks-deployment.yaml
Due: push_cluster-agent_to_internal

chore(stackstate): Upgrade StackGraph to version 4.1.4.
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/values.yaml
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_hbase_to_internal, push_stackstate_to_internal
