Repository StackVista/helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: push_aws-amicleaner_to_internal, push_aws-nuke_to_internal, push_chartmuseum_to_internal, push_cluster-agent_to_internal, push_common_to_internal, push_elasticsearch_to_internal, push_gitlab-runner_to_internal, push_gitlab-steward_to_internal, push_hbase_to_internal, push_iceman_to_internal, push_kafka_to_internal, push_sandbox-operator_to_internal, push_stackstate-standalone_to_internal, push_stackstate_to_internal, push_trafficmirror_to_internal

Path conditions:
  push_aws-amicleaner_to_internal: any of: stable/aws-amicleaner/**/*
  push_aws-nuke_to_internal: any of: stable/aws-nuke/**/*
  push_chartmuseum_to_internal: any of: stable/chartmuseum/**/*
  push_cluster-agent_to_internal: any of: stable/cluster-agent/**/*
  push_common_to_internal: any of: stable/common/**/*
  push_elasticsearch_to_internal: any of: stable/elasticsearch/**/*
  push_gitlab-runner_to_internal: any of: stable/gitlab-runner/**/*
  push_gitlab-steward_to_internal: any of: stable/gitlab-steward/**/*
  push_hbase_to_internal: any of: stable/hbase/**/*
  push_iceman_to_internal: any of: stable/iceman/**/*
  push_kafka_to_internal: any of: stable/kafka/**/*
  push_sandbox-operator_to_internal: any of: stable/sandbox-operator/**/*
  push_stackstate-standalone_to_internal: any of: stable/stackstate-standalone/**/*
  push_stackstate_to_internal: any of: stable/stackstate/**/*
  push_trafficmirror_to_internal: any of: stable/trafficmirror/**/*

chore(gitlab-steward): Fixes version in README.md
  stable/gitlab-steward/README.md
Due: push_gitlab-steward_to_internal

STAC-14171 In stackstate chart, downgrades version of nginx-prometheus-exporter image used
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-14171 In stackstate chart, upgrades version of envoy-alpine image used
  stable/stackstate/README.md
  stable/stackstate/templates/configmap-router.yaml
  stable/stackstate/templates/deployment-router.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

chore(stackstate): Upgrade anomaly-detection to version 4.5.0-snapshot.102.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

STAC-14171 In stackstate chart, upgrades version of envoy-alpine image used
  stable/stackstate/README.md
  stable/stackstate/templates/configmap-router.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-14171 In stackstate chart, upgrades versions of envoy-alpine, jmx-exporter (for Kafka) and nginx-prometheus-exporter images being used
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-13653 In stackstate charts, fixes "error: open /var/run/secrets/kubernetes.io/serviceaccount/token: permission denied" error on K8s 1.21 and up.
  stable/stackstate/README.md
  stable/stackstate/templates/_helper-k2es-common.tpl
  stable/stackstate/templates/configmap-backup-restore-scripts.yaml
  stable/stackstate/templates/cronjob-backup.yaml
  stable/stackstate/templates/deployment-api.yaml
  stable/stackstate/templates/deployment-checks.yaml
  stable/stackstate/templates/deployment-correlate.yaml
  stable/stackstate/templates/deployment-healthSync.yaml
  stable/stackstate/templates/deployment-initializer.yaml
  stable/stackstate/templates/deployment-k2es-events-to-es.yaml
  stable/stackstate/templates/deployment-k2es-multi-metrics-to-es.yaml
  stable/stackstate/templates/deployment-k2es-trace-events-to-es.yaml
  stable/stackstate/templates/deployment-problemProducer.yaml
  stable/stackstate/templates/deployment-receiver.yaml
  stable/stackstate/templates/deployment-router.yaml
  stable/stackstate/templates/deployment-server.yaml
  stable/stackstate/templates/deployment-slicing.yaml
  stable/stackstate/templates/deployment-state.yaml
  stable/stackstate/templates/deployment-sync.yaml
  stable/stackstate/templates/deployment-ui.yaml
  stable/stackstate/templates/deployment-viewHealth.yaml
  stable/stackstate/templates/job-backup-init.yaml
  stable/stackstate/templates/job-kafka-topic-create.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-13904 Make 4.4.2 rc6
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-13904 Make 4.4.2 rc7
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

Helmdocs update
  stable/aws-amicleaner/README.md
  stable/aws-nuke/README.md
  stable/chartmuseum/README.md
  stable/common/README.md
  stable/elasticsearch/README.md
  stable/gitlab-steward/README.md
  stable/iceman/README.md
  stable/kafka/README.md
  stable/receiveramplifier/README.md
  stable/sandbox-operator/README.md
  stable/stackstate/README.md
  stable/stackstate/values.yaml
  stable/trafficmirror/README.md
Due: push_aws-amicleaner_to_internal, push_aws-nuke_to_internal, push_chartmuseum_to_internal, push_common_to_internal, push_elasticsearch_to_internal, push_gitlab-steward_to_internal, push_iceman_to_internal, push_kafka_to_internal, push_sandbox-operator_to_internal, push_stackstate_to_internal, push_trafficmirror_to_internal

STAC-14249 disable clusterchecks's poddisruptionbudget when clusterchecks is disabled
  stable/cluster-agent/templates/clusterchecks-poddisruptionbudget.yaml
Due: push_cluster-agent_to_internal

STAC-14249 bump version
  stable/cluster-agent/Chart.yaml
  stable/cluster-agent/README.md
Due: push_cluster-agent_to_internal

STAC-13904 Make 4.4.2 rc8
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

Re-run with helm-docs 1.5
  stable/aws-amicleaner/README.md
  stable/aws-nuke/README.md
  stable/chartmuseum/README.md
  stable/common/README.md
  stable/elasticsearch/README.md
  stable/gitlab-steward/README.md
  stable/iceman/README.md
  stable/kafka/README.md
  stable/receiveramplifier/README.md
  stable/sandbox-operator/README.md
  stable/trafficmirror/README.md
Due: push_aws-amicleaner_to_internal, push_aws-nuke_to_internal, push_chartmuseum_to_internal, push_common_to_internal, push_elasticsearch_to_internal, push_gitlab-steward_to_internal, push_iceman_to_internal, push_kafka_to_internal, push_sandbox-operator_to_internal, push_trafficmirror_to_internal

STAC-13904 Make 4.4.2 rc9
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-13904 Make 4.4.2 rc10
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-13904 Make 4.4.2
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-14004 Make 4.5.0-pre.3
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-14261 Make 4.5.0-pre.4 rc1
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-13894: Verify cluster id on region servers and fix hbase master hostname env var
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/scripts/hbase-check-status.sh
  stable/hbase/templates/_helpers.yaml
  stable/hbase/templates/hbase-rs-configmap-scripts.yaml
  stable/hbase/templates/hbase-rs-statefulset.yaml
  stable/hbase/templates/hdfs-dn-statefulset.yaml
  stable/hbase/templates/tephra-statefulset.yaml
  stable/hbase/values.yaml
Due: push_hbase_to_internal

STAC-13710 rename topic to meet the type inside
  stable/stackstate/scripts/job-kafka-topic-create.sh
Due: push_stackstate_to_internal

STAC-14171 In stackstate chart, updates version of hbase chart used
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

STAC-13894: Setup min replication to 2
  stable/hbase/templates/_helpers.yaml
Due: push_hbase_to_internal

STAC-13894: Revert unnecessary changes
  stable/hbase/README.md
  stable/hbase/values.yaml
Due: push_hbase_to_internal

STAC-13894: Fix review comments. Make minReplication easy to configure for ha/nonHa values
  stable/hbase/README.md
  stable/hbase/scripts/datanode-check-status.sh
  stable/hbase/scripts/hbase-check-status.sh
  stable/hbase/templates/_helpers.yaml
  stable/hbase/templates/hbase-rs-statefulset.yaml
  stable/hbase/templates/hdfs-dn-statefulset.yaml
  stable/hbase/values-production.yaml
  stable/hbase/values.yaml
Due: push_hbase_to_internal

STAC-13894: Remove values-production.yaml, drop spurious changes to hbase/values.yaml. Add comment to minReplication
  stable/hbase/README.md
  stable/hbase/values-production.yaml
  stable/hbase/values.yaml
Due: push_hbase_to_internal

STAC:13894: Make the upgrade run smoother
  stable/hbase/templates/_helpers.yaml
  stable/hbase/templates/hbase-rs-statefulset.yaml
  stable/hbase/templates/hdfs-dn-statefulset.yaml
Due: push_hbase_to_internal

chore(stackstate): Upgrade StackGraph to version 4.2.7.
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/values.yaml
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_hbase_to_internal, push_stackstate_to_internal

chore(stackstate): Upgrade StackGraph to version 4.2.8.
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/values.yaml
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_hbase_to_internal, push_stackstate_to_internal

chore(stackstate): Upgrade anomaly-detection to version 4.5.0-snapshot.104.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

Fixed version of helm-push integration to v0.9.0
  .gitlab-ci.jsonnet
  .gitlab-ci.yml
Due: none

STAC-13894L: Refine readiness check to improve the upgrade path
  stable/hbase/templates/hdfs-dn-statefulset.yaml
Due: push_hbase_to_internal

STAC-14261 Make 4.5.0-pre.4 rc4
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-13894: Fix misconfiguration
  stable/hbase/templates/hdfs-dn-statefulset.yaml
Due: push_hbase_to_internal

STAC-13894: Set the default minRep to 2
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-14418: Use devops image for pushing charts
  .gitlab-ci.jsonnet
  .gitlab-ci.yml
  .jsonnet-libs/extras/helm_chart_repo/variables.libsonnet
Due: none

STAC-13894: Bump hbase version to republish
  stable/hbase/Chart.yaml
  stable/hbase/README.md
Due: push_hbase_to_internal

STAC-13894: Use devops image for chart sync job
  .gitlab-ci.jsonnet
  .gitlab-ci.yml
Due: none

Make sync-repo `sh` compatible
  test/sync-repo.sh
Due: none

STAC-14261 Make 4.5.0-pre.4 rc6
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal
