Repository StackVista/helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: push_aws-amicleaner_to_internal, push_aws-nuke_to_internal, push_aws-pod-identity-webhook_to_internal, push_beacher-job_to_internal, push_chartmuseum_to_internal, push_cluster-agent_to_internal, push_common_to_internal, push_elasticsearch_to_internal, push_gitlab-runner_to_internal, push_gitlab-steward_to_internal, push_hbase_to_internal, push_iceman_to_internal, push_kafka_to_internal, push_kafkaup-operator_to_internal, push_kommoner-operator_to_internal, push_minio_to_internal, push_petros-d-kubelet-stats-exporter_to_internal, push_sandbox-operator_to_internal, push_stackstate-standalone_to_internal, push_stackstate_to_internal, push_trafficmirror_to_internal

Path conditions:
  push_aws-amicleaner_to_internal: any of: stable/aws-amicleaner/**/*
  push_aws-nuke_to_internal: any of: stable/aws-nuke/**/*
  push_aws-pod-identity-webhook_to_internal: any of: stable/aws-pod-identity-webhook/**/*
  push_beacher-job_to_internal: any of: stable/beacher-job/**/*
  push_chartmuseum_to_internal: any of: stable/chartmuseum/**/*
  push_cluster-agent_to_internal: any of: stable/cluster-agent/**/*
  push_common_to_internal: any of: stable/common/**/*
  push_elasticsearch_to_internal: any of: stable/elasticsearch/**/*
  push_gitlab-runner_to_internal: any of: stable/gitlab-runner/**/*
  push_gitlab-steward_to_internal: any of: stable/gitlab-steward/**/*
  push_hbase_to_internal: any of: stable/hbase/**/*
  push_iceman_to_internal: any of: stable/iceman/**/*
  push_kafka_to_internal: any of: stable/kafka/**/*
  push_kafkaup-operator_to_internal: any of: stable/kafkaup-operator/**/*
  push_kommoner-operator_to_internal: any of: stable/kommoner-operator/**/*
  push_minio_to_internal: any of: stable/minio/**/*
  push_petros-d-kubelet-stats-exporter_to_internal: any of: stable/petros-d-kubelet-stats-exporter/**/*
  push_sandbox-operator_to_internal: any of: stable/sandbox-operator/**/*
  push_stackstate-standalone_to_internal: any of: stable/stackstate-standalone/**/*
  push_stackstate_to_internal: any of: stable/stackstate/**/*
  push_trafficmirror_to_internal: any of: stable/trafficmirror/**/*

STAC-0 Add latest cluster agent to stackstate dependencies.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

chore(stackstate): Upgrade anomaly-detection to version 4.7.0-snapshot.129.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

STAC-16072 Make 4.7.0-pre.0 rc3
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

chore(stackstate): Upgrade StackGraph to version 4.6.5.
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/values.yaml
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_hbase_to_internal, push_stackstate_to_internal

STAC-16070: Automatic bump of AAD sub chart changed the amount of ClusterRoleBindings
  stable/stackstate/test/cluster_resource_naming_test.go
Due: push_stackstate_to_internal

STAC-16070: Disable envoy's default route timeout
  stable/stackstate/templates/configmap-router.yaml
Due: push_stackstate_to_internal

STAC-16070: Refresh chart due to automatic push of Hbase chart
  stable/stackstate/Chart.lock
Due: push_stackstate_to_internal

STAC-0 Fix helm push
  .gitlab-ci.jsonnet
  .gitlab-ci.yml
Due: none

STAC-16131 Fix helm push
  .gitlab-ci.jsonnet
  .gitlab-ci.yml
Due: none

STAC-16072 Make 4.7.0-pre.0 rc5
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

chore(stackstate): Upgrade anomaly-detection to version 4.7.0-snapshot.132.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

initial commit
  stable/stackstate/README.md
  stable/stackstate/templates/_helper-service-config.tpl
  stable/stackstate/templates/deployment-sync.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

Fixes template rendering issues
  stable/stackstate/templates/_helper-service-config.tpl
  stable/stackstate/templates/deployment-sync.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

Adds tests
  stable/stackstate/test/cache_backend_test.go
  stable/stackstate/test/values/sync_inmemory.yaml
  stable/stackstate/test/values/sync_mapdb.yaml
  stable/stackstate/test/values/sync_rocksdb.yaml
Due: push_stackstate_to_internal

Changes type on test
  stable/stackstate/test/cache_backend_test.go
Due: push_stackstate_to_internal

Updates calculation for cache limit
  stable/stackstate/templates/_helper-service-config.tpl
  stable/stackstate/templates/deployment-sync.yaml
  stable/stackstate/test/cache_backend_test.go
Due: push_stackstate_to_internal

Test
  stable/stackstate/test/cache_backend_test.go
Due: push_stackstate_to_internal

Test
  stable/stackstate/test/authentication_test.go
  stable/stackstate/test/cache_backend_test.go
  stable/stackstate/test/cluster_resource_naming_test.go
  stable/stackstate/test/docs_config_test.go
  stable/stackstate/test/generic_service_test.go
  stable/stackstate/test/k2es_disk_space_test.go
  stable/stackstate/test/pull_secret_test.go
  stable/stackstate/test/run_config_test.go
  stable/stackstate/test/sample_test.go
  stable/stackstate/test/services_java_heap_test.go
  stable/stackstate/test/services_parallelism_test.go
  stable/stackstate/test/stackpack_config_test.go
Due: push_stackstate_to_internal

Fixes tests
  stable/stackstate/test/authentication_test.go
  stable/stackstate/test/cache_backend_test.go
  stable/stackstate/test/cluster_resource_naming_test.go
  stable/stackstate/test/docs_config_test.go
  stable/stackstate/test/generic_service_test.go
  stable/stackstate/test/k2es_disk_space_test.go
  stable/stackstate/test/pull_secret_test.go
  stable/stackstate/test/run_config_test.go
  stable/stackstate/test/sample_test.go
  stable/stackstate/test/services_java_heap_test.go
  stable/stackstate/test/services_parallelism_test.go
  stable/stackstate/test/stackpack_config_test.go
Due: push_stackstate_to_internal

Blah
  stable/stackstate/test/authentication_test.go
  stable/stackstate/test/cluster_resource_naming_test.go
  stable/stackstate/test/docs_config_test.go
  stable/stackstate/test/generic_service_test.go
  stable/stackstate/test/k2es_disk_space_test.go
  stable/stackstate/test/pull_secret_test.go
  stable/stackstate/test/run_config_test.go
  stable/stackstate/test/sample_test.go
  stable/stackstate/test/services_java_heap_test.go
  stable/stackstate/test/services_parallelism_test.go
  stable/stackstate/test/stackpack_config_test.go
Due: push_stackstate_to_internal

Migrates value to a string
  stable/stackstate/templates/deployment-sync.yaml
Due: push_stackstate_to_internal

Fixes tests
  stable/stackstate/test/authentication_test.go
  stable/stackstate/test/cluster_resource_naming_test.go
  stable/stackstate/test/docs_config_test.go
  stable/stackstate/test/generic_service_test.go
  stable/stackstate/test/k2es_disk_space_test.go
  stable/stackstate/test/pull_secret_test.go
  stable/stackstate/test/run_config_test.go
  stable/stackstate/test/sample_test.go
  stable/stackstate/test/services_java_heap_test.go
  stable/stackstate/test/services_parallelism_test.go
  stable/stackstate/test/stackpack_config_test.go
Due: push_stackstate_to_internal

chore(stackstate): Upgrade anomaly-detection to version 4.7.0-snapshot.134.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

STAC-16001 Bump version and align versions of helm chart with app
  stable/gitlab-steward/Chart.yaml
  stable/gitlab-steward/README.md
  stable/gitlab-steward/values.yaml
  stable/stackstate/README.md
Due: push_gitlab-steward_to_internal, push_stackstate_to_internal

STAC-16189: Alert on high receiver element saturation and hitting the maximum limits
  stable/stackstate-monitoring/Chart.yaml
  stable/stackstate-monitoring/templates/rule-sts-receiver.yaml
Due: none

STAC-16189: Fix Receiver Prometheus rule
  stable/stackstate-monitoring/Chart.yaml
  stable/stackstate-monitoring/templates/rule-sts-receiver.yaml
Due: none

STAC-16215 Make 4.7.0-pre.1 rc4
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-16031 Make 4.6.1 rc2
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-16031 Make 4.6.1
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-16252 Reset repositorySuffix to empty to prepare for release candidates
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

Support enabling access log on stackstate router pod
  stable/stackstate-monitoring/README.md
  stable/stackstate/README.md
  stable/stackstate/templates/configmap-router.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

Bump monitoring helm chart version to satisfy version check
  stable/stackstate-monitoring/Chart.yaml
  stable/stackstate-monitoring/README.md
Due: none

STAC-16129 Update kube-state-metrics to rebuilt image.
  stable/cluster-agent/Chart.yaml
  stable/cluster-agent/README.md
  stable/cluster-agent/values.yaml
Due: push_cluster-agent_to_internal

STAC-15990 Bump zookeeper to version 3.6.3
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

Zookeeper image tag fix
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

chore(stackstate): Upgrade anomaly-detection to version 4.7.0-snapshot.136.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

STAC-16129 Update master dependency to latest cluster agent chart.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

STAC-16083 Updated images to mitigate CVE-2022-0778 (openssl update from 1.1.1f-1ubuntu2.8 to 1.1.1f-1ubuntu2.12).
  stable/elasticsearch/Chart.yaml
  stable/elasticsearch/README.md
  stable/elasticsearch/values.yaml
  stable/minio/Chart.yaml
  stable/minio/README.md
  stable/minio/values.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_elasticsearch_to_internal, push_minio_to_internal, push_stackstate_to_internal
