Repository StackVista/helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: push_aws-amicleaner_to_internal, push_aws-amicleaner_to_public, push_aws-nuke_to_internal, push_aws-nuke_to_public, push_cluster-agent_to_internal, push_cluster-agent_to_public, push_common_to_internal, push_common_to_public, push_elasticsearch_to_internal, push_elasticsearch_to_public, push_gitlab-runner_to_internal, push_gitlab-runner_to_public, push_gitlab-steward_to_internal, push_gitlab-steward_to_public, push_hbase_to_internal, push_hbase_to_public, push_iceman_to_internal, push_iceman_to_public, push_stackstate-standalone_to_internal, push_stackstate-standalone_to_public, push_stackstate_to_internal, push_stackstate_to_public, push_trafficmirror_to_internal, push_trafficmirror_to_public

Path conditions:
  push_aws-amicleaner_to_internal: any of: stable/aws-amicleaner/**/*
  push_aws-amicleaner_to_public: any of: stable/aws-amicleaner/**/*
  push_aws-nuke_to_internal: any of: stable/aws-nuke/**/*
  push_aws-nuke_to_public: any of: stable/aws-nuke/**/*
  push_cluster-agent_to_internal: any of: stable/cluster-agent/**/*
  push_cluster-agent_to_public: any of: stable/cluster-agent/**/*
  push_common_to_internal: any of: stable/common/**/*
  push_common_to_public: any of: stable/common/**/*
  push_elasticsearch_to_internal: any of: stable/elasticsearch/**/*
  push_elasticsearch_to_public: any of: stable/elasticsearch/**/*
  push_gitlab-runner_to_internal: any of: stable/gitlab-runner/**/*
  push_gitlab-runner_to_public: any of: stable/gitlab-runner/**/*
  push_gitlab-steward_to_internal: any of: stable/gitlab-steward/**/*
  push_gitlab-steward_to_public: any of: stable/gitlab-steward/**/*
  push_hbase_to_internal: any of: stable/hbase/**/*
  push_hbase_to_public: any of: stable/hbase/**/*
  push_iceman_to_internal: any of: stable/iceman/**/*
  push_iceman_to_public: any of: stable/iceman/**/*
  push_stackstate-standalone_to_internal: any of: stable/stackstate-standalone/**/*
  push_stackstate-standalone_to_public: any of: stable/stackstate-standalone/**/*
  push_stackstate_to_internal: any of: stable/stackstate/**/*
  push_stackstate_to_public: any of: stable/stackstate/**/*
  push_trafficmirror_to_internal: any of: stable/trafficmirror/**/*
  push_trafficmirror_to_public: any of: stable/trafficmirror/**/*

Fix stuff that shouldn't be backported
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-11652 Make 4.2.2
  stable/stackstate/Chart.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-11741 HBase: Run HDFS without privileges
  stable/hbase/README.md
  stable/hbase/templates/_helpers.yaml
  stable/hbase/templates/hdfs-dn-statefulset.yaml
  stable/hbase/templates/hdfs-nn-statefulset.yaml
  stable/hbase/templates/hdfs-snn-statefulset.yaml
  stable/hbase/values.yaml
Due: push_hbase_to_internal, push_hbase_to_public

STAC-11660 Make 4.3.0-pre.1 rc3
  stable/stackstate/Chart.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-11258: level changes and long anomalies
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-11258: level changes and long anomalies
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-11781 Make 4.3.0-pre.2 rc2
  stable/stackstate/Chart.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-11237 Remove if's from configmaps that should always be there
  stable/stackstate/templates/configmap-correlate-log.yaml
  stable/stackstate/templates/configmap-k2es-log.yaml
  stable/stackstate/templates/configmap-receiver-log.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-11236 Also fix templating mistake
  stable/stackstate/templates/_helper-server-and-api-configmap.tpl
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-11236 And bump the version
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-11741 Switch to new hadoop image and bump hbase chart version
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/values.yaml
Due: push_hbase_to_internal, push_hbase_to_public

STAC-11740 Use HBase chart that doesn't require privileges
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-11741 Disable Kafka volume permissions init container by default
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-11741 Undo stacktate change, wrong branch
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-11741 Disable Kafka Volume Permissions init container is not needed by default
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-11741 Re-add option to be able to set volume permissions but disable by default
  stable/hbase/README.md
  stable/hbase/templates/hdfs-dn-statefulset.yaml
  stable/hbase/templates/hdfs-nn-statefulset.yaml
  stable/hbase/templates/hdfs-snn-statefulset.yaml
  stable/hbase/values.yaml
Due: push_hbase_to_internal, push_hbase_to_public

STAC-11741 Don't move lost+found
  stable/hbase/templates/hdfs-dn-statefulset.yaml
  stable/hbase/templates/hdfs-nn-statefulset.yaml
  stable/hbase/templates/hdfs-snn-statefulset.yaml
Due: push_hbase_to_internal, push_hbase_to_public

STAC-11741 Force update of test chart
  stable/hbase/Chart.yaml
  stable/hbase/README.md
Due: push_hbase_to_internal, push_hbase_to_public

STAC-11741 Switch to test HBase chart
  stable/stackstate/Chart.lock
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-11741 Set proper hbase version
  stable/hbase/Chart.yaml
  stable/hbase/README.md
Due: push_hbase_to_internal, push_hbase_to_public

STAC-11741 Fix discrepancy in deps
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal, push_stackstate_to_public

Moved from docker.io wait to quay.io/stacktate/wait
  stable/hbase/values.yaml
  stable/stackstate/Chart.yaml
  stable/stackstate/values.yaml
Due: push_hbase_to_internal, push_hbase_to_public, push_stackstate_to_internal, push_stackstate_to_public

STAC-11741 Fix values comments
  stable/hbase/README.md
  stable/hbase/values.yaml
Due: push_hbase_to_internal, push_hbase_to_public

STAC-11741 Switch to released version of hbase chart
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-11847 Uses quay.io/stackstate/wait:1.0.0 instead of dokkupaas/wait:latest
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/templates/hbase-master-statefulset.yaml
  stable/hbase/templates/hbase-rs-statefulset.yaml
  stable/hbase/templates/hdfs-dn-statefulset.yaml
  stable/hbase/templates/hdfs-nn-statefulset.yaml
  stable/hbase/templates/hdfs-snn-statefulset.yaml
  stable/hbase/templates/tephra-statefulset.yaml
  stable/hbase/values.yaml
Due: push_hbase_to_internal, push_hbase_to_public

STAC-11847 Uses quay.io/stackstate/wait:1.0.0 instead of dokkupaas/wait:latest
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/templates/_helper-k2es-common.tpl
  stable/stackstate/templates/deployment-api.yaml
  stable/stackstate/templates/deployment-checks.yaml
  stable/stackstate/templates/deployment-correlate.yaml
  stable/stackstate/templates/deployment-initializer.yaml
  stable/stackstate/templates/deployment-receiver.yaml
  stable/stackstate/templates/deployment-server.yaml
  stable/stackstate/templates/deployment-slicing.yaml
  stable/stackstate/templates/deployment-state.yaml
  stable/stackstate/templates/deployment-sync.yaml
  stable/stackstate/templates/deployment-viewHealth.yaml
  stable/stackstate/templates/job-kafka-topic-create.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-11717 Allows location of vpartington/container-tools image to be configured
  stable/stackstate/README.md
  stable/stackstate/templates/_helper.tpl
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-11697 Fixes bug where copy_images.sh would fail for image specs without a registry prefix like docker.io/
  stable/stackstate/installation/copy_images.sh
Due: push_stackstate_to_internal, push_stackstate_to_public

Bumps stackstate chart version
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-0 Fix stackgraph chart version bump
  .gitlab/update_sg_version.sh
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/values.yaml
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_hbase_to_internal, push_hbase_to_public, push_stackstate_to_internal, push_stackstate_to_public
