Repository StackVista/helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: push_aws-amicleaner_to_internal, push_aws-nuke_to_internal, push_aws-pod-identity-webhook_to_internal, push_beacher-job_to_internal, push_chartmuseum_to_internal, push_cluster-agent_to_internal, push_common_to_internal, push_elasticsearch_to_internal, push_gitlab-runner_to_internal, push_gitlab-steward_to_internal, push_hbase_to_internal, push_iceman_to_internal, push_kafka_to_internal, push_kafkaup-operator_to_internal, push_kommoner-operator_to_internal, push_minio_to_internal, push_petros-d-kubelet-stats-exporter_to_internal, push_sandbox-operator_to_internal, push_stackstate-standalone_to_internal, push_stackstate_to_internal, push_trafficmirror_to_internal

Path conditions:
  push_aws-amicleaner_to_internal: any of: stable/aws-amicleaner/**/*
  push_aws-nuke_to_internal: any of: stable/aws-nuke/**/*
  push_aws-pod-identity-webhook_to_internal: any of: stable/aws-pod-identity-webhook/**/*
  push_beacher-job_to_internal: any of: stable/beacher-job/**/*
  push_chartmuseum_to_internal: any of: stable/chartmuseum/**/*
  push_cluster-agent_to_internal: any of: stable/cluster-agent/**/*
  push_common_to_internal: any of: stable/common/**/*
  push_elasticsearch_to_internal: any of: stable/elasticsearch/**/*
  push_gitlab-runner_to_internal: any of: stable/gitlab-runner/**/*
  push_gitlab-steward_to_internal: any of: stable/gitlab-steward/**/*
  push_hbase_to_internal: any of: stable/hbase/**/*
  push_iceman_to_internal: any of: stable/iceman/**/*
  push_kafka_to_internal: any of: stable/kafka/**/*
  push_kafkaup-operator_to_internal: any of: stable/kafkaup-operator/**/*
  push_kommoner-operator_to_internal: any of: stable/kommoner-operator/**/*
  push_minio_to_internal: any of: stable/minio/**/*
  push_petros-d-kubelet-stats-exporter_to_internal: any of: stable/petros-d-kubelet-stats-exporter/**/*
  push_sandbox-operator_to_internal: any of: stable/sandbox-operator/**/*
  push_stackstate-standalone_to_internal: any of: stable/stackstate-standalone/**/*
  push_stackstate_to_internal: any of: stable/stackstate/**/*
  push_trafficmirror_to_internal: any of: stable/trafficmirror/**/*

Increase Kakfa2prom memory to avoid frequent OOMKills
  stable/stackstate-k8s/README.md
  stable/stackstate-k8s/values.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

[chore] [publish-k8s-agent] Update agent images to latest pre-prod commit at 2023-05-20_23:05:17
  stable/stackstate-k8s-agent/Chart.yaml
  stable/stackstate-k8s-agent/README.md
  stable/stackstate-k8s-agent/values.yaml
Due: none

[chore] [publish-k8s-agent] Update agent images to latest pre-prod commit at 2023-05-23_08:32:55
  stable/stackstate-k8s-agent/Chart.yaml
  stable/stackstate-k8s-agent/README.md
  stable/stackstate-k8s-agent/values.yaml
Due: none

STAC-19652 Only publish agent when asked to publish the agent
  .gitlab-ci.jsonnet
  .gitlab-ci.yml
Due: none

STAC-19642 On Kuberentes always use the kubernetes hostname so we are confident that nodes and containers are using the same identifiers everywhere
  stable/stackstate-k8s-agent/templates/_container-agent.yaml
  stable/stackstate-k8s-agent/templates/_container-process-agent.yaml
  stable/stackstate-k8s-agent/templates/checks-agent-deployment.yaml
  stable/stackstate-k8s-agent/templates/cluster-agent-deployment.yaml
Due: none

STAC-19642 Ensure that cluster names are valid in host names
  stable/stackstate-k8s-agent/Chart.yaml
  stable/stackstate-k8s-agent/README.md
  stable/stackstate-k8s-agent/values.schema.json
Due: none

STAC-19642 Fix naming test
  stable/stackstate-k8s-agent/test/clustername_test.go
Due: none

[chore] [publish-k8s-agent] Update agent images to latest pre-prod commit at 2023-05-30_07:44:16
  stable/stackstate-k8s-agent/Chart.yaml
  stable/stackstate-k8s-agent/README.md
  stable/stackstate-k8s-agent/values.yaml
Due: none

[chore] [publish-k8s-agent] Update agent images to latest pre-prod commit at 2023-06-03_23:05:19
  stable/stackstate-k8s-agent/Chart.yaml
  stable/stackstate-k8s-agent/README.md
  stable/stackstate-k8s-agent/values.yaml
Due: none

STAC-16265: use elasticsearch 8.7.1
  stable/elasticsearch/Chart.yaml
  stable/elasticsearch/README.md
  stable/elasticsearch/values.yaml
Due: push_elasticsearch_to_internal

STAC-16265: update stackstate charts to use new elasticsearch chart
  stable/stackstate-k8s/Chart.lock
  stable/stackstate-k8s/Chart.yaml
  stable/stackstate-k8s/README.md
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

STAC-16265: upgrade templates with new security (transport and auth)
  stable/elasticsearch/README.md
  stable/elasticsearch/templates/_helpers.tpl
  stable/elasticsearch/templates/secret-cert.yaml
  stable/elasticsearch/templates/secret.yaml
  stable/elasticsearch/templates/statefulset.yaml
  stable/elasticsearch/values.yaml
Due: push_elasticsearch_to_internal

STAC-16265: fix yaml formatting
  stable/elasticsearch/values.yaml
Due: push_elasticsearch_to_internal

STAC-16265: use newly built elasticsearch container
  stable/elasticsearch/README.md
  stable/elasticsearch/values.yaml
Due: push_elasticsearch_to_internal

STAC-16265: disable security features by default - don't have the sts side set up yet
  stable/elasticsearch/README.md
  stable/elasticsearch/templates/statefulset.yaml
  stable/elasticsearch/values.yaml
Due: push_elasticsearch_to_internal

STAC-16265: clean up labels for secrets
  stable/elasticsearch/templates/secret-cert.yaml
  stable/elasticsearch/templates/secret.yaml
Due: push_elasticsearch_to_internal

STAC-19686: (stackstate-k8s) Stackstate services can store transaction logs to persistent volumes
  stable/stackstate-k8s/README.md
  stable/stackstate-k8s/templates/_helper-service-config.tpl
  stable/stackstate-k8s/templates/_helper.tpl
  stable/stackstate-k8s/templates/deployment-api.yaml
  stable/stackstate-k8s/templates/deployment-checks.yaml
  stable/stackstate-k8s/templates/deployment-healthSync.yaml
  stable/stackstate-k8s/templates/deployment-problemProducer.yaml
  stable/stackstate-k8s/templates/deployment-state.yaml
  stable/stackstate-k8s/templates/deployment-sync.yaml
  stable/stackstate-k8s/templates/deployment-viewHealth.yaml
  stable/stackstate-k8s/templates/pvc-api.yaml
  stable/stackstate-k8s/templates/pvc-checks.yaml
  stable/stackstate-k8s/templates/pvc-healthSync.yaml
  stable/stackstate-k8s/templates/pvc-problem-producer.yaml
  stable/stackstate-k8s/templates/pvc-state.yaml
  stable/stackstate-k8s/templates/pvc-sync.yaml
  stable/stackstate-k8s/templates/pvc-viewHealth.yaml
  stable/stackstate-k8s/values.yaml
Due: none

STAC-19686: (stackstate) Stackstate services can store transaction logs to persistent volumes
  stable/stackstate/README.md
  stable/stackstate/templates/_helper-service-config.tpl
  stable/stackstate/templates/_helper.tpl
  stable/stackstate/templates/deployment-api.yaml
  stable/stackstate/templates/deployment-checks.yaml
  stable/stackstate/templates/deployment-healthSync.yaml
  stable/stackstate/templates/deployment-problemProducer.yaml
  stable/stackstate/templates/deployment-state.yaml
  stable/stackstate/templates/deployment-sync.yaml
  stable/stackstate/templates/deployment-viewHealth.yaml
  stable/stackstate/templates/pvc-api.yaml
  stable/stackstate/templates/pvc-checks.yaml
  stable/stackstate/templates/pvc-healthSync.yaml
  stable/stackstate/templates/pvc-problem-producer.yaml
  stable/stackstate/templates/pvc-state.yaml
  stable/stackstate/templates/pvc-sync.yaml
  stable/stackstate/templates/pvc-viewHealth.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-19686: Reduce retention settings for ES GC logs
  stable/stackstate-k8s/README.md
  stable/stackstate-k8s/values.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-19696: Remove ProblemProducer manifests from the classic Stackstate chart
  stable/stackstate/README.md
  stable/stackstate/templates/_helper.tpl
  stable/stackstate/templates/configmap-problemProducer-log.yaml
  stable/stackstate/templates/deployment-problemProducer.yaml
  stable/stackstate/templates/pdb-problemProducer.yaml
  stable/stackstate/templates/rolebinding-get-pods.yaml
  stable/stackstate/templates/secret-problemProducer.yaml
  stable/stackstate/templates/service-problemProducer.yaml
  stable/stackstate/templates/serviceaccount-problemProducer.yaml
  stable/stackstate/templates/servicemonitor-problemProducer.yaml
  stable/stackstate/test/generic_service_test.go
  stable/stackstate/test/pull_secret_test.go
  stable/stackstate/test/services_java_heap_test.go
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-19696: Remove ProblemProducer manifests from the K8s Stackstate chart
  stable/stackstate-k8s/README.md
  stable/stackstate-k8s/templates/_helper.tpl
  stable/stackstate-k8s/templates/configmap-problemProducer-log.yaml
  stable/stackstate-k8s/templates/deployment-problemProducer.yaml
  stable/stackstate-k8s/templates/pdb-problemProducer.yaml
  stable/stackstate-k8s/templates/secret-problemProducer.yaml
  stable/stackstate-k8s/templates/service-problemProducer.yaml
  stable/stackstate-k8s/templates/serviceaccount-problemProducer.yaml
  stable/stackstate-k8s/templates/servicemonitor-problemProducer.yaml
  stable/stackstate-k8s/test/generic_service_test.go
  stable/stackstate-k8s/test/pull_secret_test.go
  stable/stackstate-k8s/test/services_java_heap_test.go
  stable/stackstate-k8s/values.yaml
Due: none

STAC-16265: use image that can run on both amd64 and arm64
  stable/elasticsearch/Chart.yaml
  stable/elasticsearch/README.md
  stable/elasticsearch/values.yaml
  stable/stackstate-k8s/Chart.lock
  stable/stackstate-k8s/Chart.yaml
  stable/stackstate-k8s/README.md
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_elasticsearch_to_internal, push_stackstate_to_internal

STAC-19716 Reset repositorySuffix to empty to prepare for release candidates
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-19696: Remove ProblemProducer leftovers
  stable/stackstate-k8s/templates/pvc-problem-producer.yaml
  stable/stackstate-k8s/templates/rolebinding-get-pods.yaml
  stable/stackstate/templates/pvc-problem-producer.yaml
Due: push_stackstate_to_internal

STAC-19716 Make 5.1.4 rc2
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

chore(stackstate): Upgrade StackGraph to version 4.12.0.
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

STAC-0: Release Stackstate-k8s 1.0.1
  stable/stackstate-k8s/Chart.yaml
  stable/stackstate-k8s/README.md
  stable/stackstate-k8s/values.yaml
Due: none

STAC-0: Bump up stackstate-k8s version after release
  stable/stackstate-k8s/Chart.yaml
  stable/stackstate-k8s/README.md
Due: none

STAC-19704 Security updates.
  stable/hbase/README.md
  stable/hbase/values.yaml
  stable/stackstate-k8s/README.md
  stable/stackstate-k8s/values.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_hbase_to_internal, push_stackstate_to_internal

STAC-19704 Update hadoop tag.
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/values.yaml
Due: push_hbase_to_internal

STAC-19704 Chart.lock updates.
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/stackstate-k8s/Chart.lock
  stable/stackstate-k8s/Chart.yaml
  stable/stackstate-k8s/README.md
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_hbase_to_internal, push_stackstate_to_internal

STAC-19704 Downgrade hbase chart version.
  stable/hbase/Chart.yaml
  stable/hbase/README.md
Due: push_hbase_to_internal

STAC-19704 Add jmx-exporter rebuilt with proper manifest.
  stable/stackstate-k8s/README.md
  stable/stackstate-k8s/values.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

Added skipKubeletTLSVerify option
  stable/stackstate-k8s-agent/Chart.yaml
  stable/stackstate-k8s-agent/README.md
  stable/stackstate-k8s-agent/templates/_container-agent.yaml
  stable/stackstate-k8s-agent/templates/_container-process-agent.yaml
  stable/stackstate-k8s-agent/values.yaml
Due: none

[chore] [publish-k8s-agent] Update agent images to latest pre-prod commit at 2023-06-12_12:24:20
  stable/stackstate-k8s-agent/Chart.yaml
  stable/stackstate-k8s-agent/README.md
  stable/stackstate-k8s-agent/values.yaml
Due: none

STAC-19463 Make provisions in helm chart to enable enhanced privileges for container hardening analysis.
  stable/stackstate-k8s-agent/Chart.yaml
  stable/stackstate-k8s-agent/README.md
  stable/stackstate-k8s-agent/templates/_container-agent.yaml
  stable/stackstate-k8s-agent/templates/_container-process-agent.yaml
  stable/stackstate-k8s-agent/templates/checks-agent-deployment.yaml
  stable/stackstate-k8s-agent/templates/cluster-agent-deployment.yaml
  stable/stackstate-k8s-agent/templates/node-agent-daemonset.yaml
  stable/stackstate-k8s-agent/values.yaml
Due: none

STAC-19704 Security updates.
  stable/stackstate-k8s-agent/Chart.yaml
  stable/stackstate-k8s-agent/README.md
  stable/stackstate-k8s/README.md
  stable/stackstate-k8s/values.yaml
Due: none

STAC-19704 More Security Updates.
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/values.yaml
  stable/stackstate-k8s/Chart.lock
  stable/stackstate-k8s/Chart.yaml
  stable/stackstate-k8s/README.md
  stable/stackstate-k8s/values.yaml
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_hbase_to_internal, push_stackstate_to_internal

[chore] [publish-k8s-agent] Update agent images to latest pre-prod commit at 2023-06-17_23:04:58
  stable/stackstate-k8s-agent/Chart.yaml
  stable/stackstate-k8s-agent/README.md
  stable/stackstate-k8s-agent/values.yaml
Due: none

stac-19771 Add rules for correlator and kafka2prom And fix the rule for kafak2es
  stable/stackstate-monitoring/Chart.yaml
  stable/stackstate-monitoring/README.md
  stable/stackstate-monitoring/templates/rule-processing-pipeline.yaml
Due: none
