Repository StackVista/helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: push_aws-amicleaner_to_internal, push_aws-nuke_to_internal, push_aws-pod-identity-webhook_to_internal, push_beacher-job_to_internal, push_chartmuseum_to_internal, push_cluster-agent_to_internal, push_common_to_internal, push_elasticsearch_to_internal, push_gitlab-runner_to_internal, push_gitlab-steward_to_internal, push_hbase_to_internal, push_iceman_to_internal, push_kafka_to_internal, push_kafkaup-operator_to_internal, push_kommoner-operator_to_internal, push_minio_to_internal, push_petros-d-kubelet-stats-exporter_to_internal, push_sandbox-operator_to_internal, push_stackstate-standalone_to_internal, push_stackstate_to_internal, push_trafficmirror_to_internal

push_aws-amicleaner_to_internal:
  image: stackstate/stackstate-ci-images:stackstate-devops-f87d9654
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

push_aws-nuke_to_internal:
  image: stackstate/stackstate-ci-images:stackstate-devops-f87d9654
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

push_aws-pod-identity-webhook_to_internal:
  image: stackstate/stackstate-ci-images:stackstate-devops-f87d9654
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

push_beacher-job_to_internal:
  image: stackstate/stackstate-ci-images:stackstate-devops-f87d9654
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

push_chartmuseum_to_internal:
  image: stackstate/stackstate-ci-images:stackstate-devops-f87d9654
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

push_cluster-agent_to_internal:
  image: stackstate/stackstate-ci-images:stackstate-devops-f87d9654
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

push_common_to_internal:
  image: stackstate/stackstate-ci-images:stackstate-devops-f87d9654
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

push_elasticsearch_to_internal:
  image: stackstate/stackstate-ci-images:stackstate-devops-f87d9654
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

STAC-13408: Removed duplicate stackstate values in generate_values.sh
  stable/stackstate/installation/generate_values.sh
Due: push_stackstate_to_internal

STAC-13408 Fix merge conflicts
  .gitignore
  .gitlab-ci.yml
  stable/cluster-agent/Chart.yaml
  stable/cluster-agent/README.md
  stable/cluster-agent/templates/_container-agent.yaml
  stable/cluster-agent/templates/_container-process-agent.yaml
  stable/cluster-agent/templates/cluster-agent-configmap.yaml
  stable/cluster-agent/templates/cluster-agent-deployment.yaml
  stable/cluster-agent/templates/clusterchecks-deployment.yaml
  stable/cluster-agent/test/sample_test.go
  stable/cluster-agent/values.schema.json
  stable/cluster-agent/values.yaml
  stable/stackstate-agent/README.md
  stable/stackstate-agent/test/sample_test.go
Due: push_cluster-agent_to_internal

STAC-13408 Updated chart.lock after rebase.
  stable/stackstate/Chart.lock
Due: push_stackstate_to_internal

STAC-17830: upgrade kube-state-metrics dependency in stackstate-agent chart
  stable/stackstate-agent/Chart.lock
  stable/stackstate-agent/Chart.yaml
  stable/stackstate-agent/README.md
  stable/stackstate-agent/values.yaml
  stable/stackstate/Chart.lock
Due: push_stackstate_to_internal

STAC-17771: Make 5.1.0-pre.4
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-15344: Add networking.k8s.io to ClusterRole
  stable/stackstate-agent/Chart.yaml
  stable/stackstate-agent/README.md
  stable/stackstate-agent/templates/cluster-agent-clusterrole.yaml
Due: none

STAC-15344: Update stackstate-agent dependency
  stable/stackstate/Chart.lock
Due: push_stackstate_to_internal

STAC-17789 Avoid division by zero alerts
  .gitlab-ci.yml
  stable/stackstate-monitoring/Chart.yaml
  stable/stackstate-monitoring/README.md
  stable/stackstate-monitoring/grafana-dashboards/stackstate-kafka2es/stackstate-kafka2es.json
  stable/stackstate-monitoring/grafana-dashboards/stackstate-kafka2es/stackstate-kafka2es.jsonnet
  stable/stackstate-monitoring/grafana-dashboards/stackstate-overview/stackstate-overview.json
  stable/stackstate-monitoring/grafana-dashboards/stackstate-overview/stackstate-overview.jsonnet
  stable/stackstate-monitoring/templates/rule-processing-pipeline.yaml
Due: none

STAC-17898: Fixed the Cronjob name to meet length requirement
  stable/stackstate/templates/cronjob-backup.yaml
Due: push_stackstate_to_internal

STAC-17872 Make 5.0.6 rc1
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-17724 Add cluster-agent service port override
  stable/stackstate-agent/README.md
  stable/stackstate-agent/templates/cluster-agent-service.yaml
  stable/stackstate-agent/test/clusteragent_resources_test.go
  stable/stackstate-agent/test/values/clustercheck_service_port_override.yaml
  stable/stackstate-agent/values.yaml
Due: none

STAC-17724 Update stackstate chart.lock
  stable/stackstate-agent/Chart.yaml
  stable/stackstate-agent/README.md
  stable/stackstate-agent/templates/cluster-agent-service.yaml
  stable/stackstate-agent/test/clusteragent_resources_test.go
  stable/stackstate-agent/test/values/clustercheck_service_port_override.yaml
  stable/stackstate-agent/values.yaml
  stable/stackstate/Chart.lock
Due: push_stackstate_to_internal

STAC-17882: CPU requests and limits for Minio
  stable/minio/Chart.yaml
  stable/minio/README.md
  stable/minio/values.yaml
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_minio_to_internal, push_stackstate_to_internal

STAC-17617: Delete all stackpacks before restoring from the backup
  stable/stackstate/scripts/restore-configuration-backup.sh
Due: push_stackstate_to_internal

chore(stackstate): Upgrade anomaly-detection to version 5.1.0-snapshot.312.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

STAC-17872 Make 5.0.6 rc2
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-17872: Make 5.0.6
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-17599 Support configurable metric store uri
  stable/stackstate/README.md
  stable/stackstate/templates/_helper-endpoints.tpl
  stable/stackstate/templates/deployment-api.yaml
  stable/stackstate/templates/deployment-checks.yaml
  stable/stackstate/templates/deployment-healthSync.yaml
  stable/stackstate/templates/deployment-initializer.yaml
  stable/stackstate/templates/deployment-problemProducer.yaml
  stable/stackstate/templates/deployment-server.yaml
  stable/stackstate/templates/deployment-state.yaml
  stable/stackstate/templates/deployment-viewHealth.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-17599 Rewrite routes for prometheus compatiblity
  stable/stackstate/templates/configmap-router.yaml
Due: push_stackstate_to_internal

STAC-17871 Make 5.1.0 rc2
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-17694 Updated image packages for security reasons.
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-17694 Porting security fix to release.
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

Stackstate chart dependency update
  stable/stackstate/Chart.lock
Due: push_stackstate_to_internal

STAC-17724 Add cluster-agent service targetPort override
  stable/stackstate-agent/Chart.yaml
  stable/stackstate-agent/README.md
  stable/stackstate-agent/templates/cluster-agent-deployment.yaml
  stable/stackstate-agent/templates/cluster-agent-service.yaml
  stable/stackstate-agent/test/clusteragent_resources_test.go
  stable/stackstate-agent/test/values/clustercheck_service_port_override.yaml
  stable/stackstate-agent/values.yaml
  stable/stackstate/Chart.lock
Due: push_stackstate_to_internal

chore(stackstate): Upgrade StackGraph to version 4.10.0.
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/values.yaml
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_hbase_to_internal, push_stackstate_to_internal

Update Chart.lock
  stable/stackstate/Chart.lock
Due: push_stackstate_to_internal

chore(stackstate): Upgrade anomaly-detection to version 5.1.0-snapshot.323.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

STAC-17846-Upgrade-HDFS
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/values.yaml
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
Due: push_hbase_to_internal, push_stackstate_to_internal

chore(stackstate): Upgrade StackGraph to version 4.10.1.
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/values.yaml
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_hbase_to_internal, push_stackstate_to_internal

STAC-17846-Fix-hadoop-image
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/values.yaml
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_hbase_to_internal, push_stackstate_to_internal

Updated Helm Chart agent version from 2.17.2 to 2.18.0
  stable/stackstate-agent/Chart.yaml
  stable/stackstate-agent/README.md
  stable/stackstate-agent/values.yaml
  stable/stackstate/Chart.lock
Due: push_stackstate_to_internal

STAC-17871 Make 5.1.0 rc3
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-17971: Improvements for the Grafana dashboard for Elasticsearch
  stable/stackstate-monitoring/Chart.yaml
  stable/stackstate-monitoring/README.md
  stable/stackstate-monitoring/grafana-dashboards/stackstate-elasticsearch/stackstate-elasticsearch.json
Due: none

STAC-17789: Fixed the StackStateKafkaToEsLatency alert query
  stable/stackstate-monitoring/Chart.yaml
  stable/stackstate-monitoring/README.md
  stable/stackstate-monitoring/templates/rule-processing-pipeline.yaml
Due: none

STAC-17871 Make 5.1.0 rc4
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-17871 Make 5.1.0 rc5
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-17871 Make 5.1.0 rc6
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-17871: Make 5.1.0
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

Path conditions:
  push_aws-amicleaner_to_internal: any of: stable/aws-amicleaner/**/*
  push_aws-nuke_to_internal: any of: stable/aws-nuke/**/*
  push_aws-pod-identity-webhook_to_internal: any of: stable/aws-pod-identity-webhook/**/*
  push_beacher-job_to_internal: any of: stable/beacher-job/**/*
  push_chartmuseum_to_internal: any of: stable/chartmuseum/**/*
  push_cluster-agent_to_internal: any of: stable/cluster-agent/**/*
  push_common_to_internal: any of: stable/common/**/*
  push_elasticsearch_to_internal: any of: stable/elasticsearch/**/*
  push_gitlab-runner_to_internal: any of: stable/gitlab-runner/**/*
  push_gitlab-steward_to_internal: any of: stable/gitlab-steward/**/*
  push_hbase_to_internal: any of: stable/hbase/**/*
  push_iceman_to_internal: any of: stable/iceman/**/*
  push_kafka_to_internal: any of: stable/kafka/**/*
  push_kafkaup-operator_to_internal: any of: stable/kafkaup-operator/**/*
  push_kommoner-operator_to_internal: any of: stable/kommoner-operator/**/*
  push_minio_to_internal: any of: stable/minio/**/*
  push_petros-d-kubelet-stats-exporter_to_internal: any of: stable/petros-d-kubelet-stats-exporter/**/*
  push_sandbox-operator_to_internal: any of: stable/sandbox-operator/**/*
  push_stackstate-standalone_to_internal: any of: stable/stackstate-standalone/**/*
  push_stackstate_to_internal: any of: stable/stackstate/**/*
  push_trafficmirror_to_internal: any of: stable/trafficmirror/**/*
