Repository StackVista/helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: push_aws-amicleaner_to_internal, push_aws-nuke_to_internal, push_chartmuseum_to_internal, push_cluster-agent_to_internal, push_common_to_internal, push_elasticsearch_to_internal, push_gitlab-runner_to_internal, push_gitlab-steward_to_internal, push_hbase_to_internal, push_iceman_to_internal, push_kafka_to_internal, push_sandbox-operator_to_internal, push_stackstate-standalone_to_internal, push_stackstate_to_internal, push_trafficmirror_to_internal

push_aws-amicleaner_to_internal:
  script:
  - helm plugin install https://github.com/chartmuseum/helm-push.git
  - helm dependencies update ${CHART}
  - helm push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

push_aws-nuke_to_internal:
  script:
  - helm plugin install https://github.com/chartmuseum/helm-push.git
  - helm dependencies update ${CHART}
  - helm push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

push_chartmuseum_to_internal:
  script:
  - helm plugin install https://github.com/chartmuseum/helm-push.git
  - helm dependencies update ${CHART}
  - helm push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

push_cluster-agent_to_internal:
  script:
  - helm plugin install https://github.com/chartmuseum/helm-push.git
  - helm dependencies update ${CHART}
  - helm push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

push_common_to_internal:
  script:
  - helm plugin install https://github.com/chartmuseum/helm-push.git
  - helm dependencies update ${CHART}
  - helm push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

push_elasticsearch_to_internal:
  script:
  - helm plugin install https://github.com/chartmuseum/helm-push.git
  - helm dependencies update ${CHART}
  - helm push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

push_gitlab-runner_to_internal:
  script:
  - helm plugin install https://github.com/chartmuseum/helm-push.git
  - helm dependencies update ${CHART}
  - helm push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

push_gitlab-steward_to_internal:
  script:
  - helm plugin install https://github.com/chartmuseum/helm-push.git
  - helm dependencies update ${CHART}
  - helm push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

Configure AWS auth for sync
  .gitlab-ci.jsonnet
  .gitlab-ci.yml
  .gitlab/aws_auth_setup.sh
Due: none

Remove gitkeeps to avoid hitting helm bug that breaks packaging on .files
  .jsonnet-libs/extras/.gitkeep
  stable/aws-nuke/charts/.gitkeep
  stable/cluster-agent/charts/.gitkeep
  stable/hbase/charts/.gitkeep
  stable/receiveramplifier/charts/.gitkeep
  stable/stackstate/charts/.gitkeep
  stable/trafficmirror/charts/.gitkeep
Due: push_aws-nuke_to_internal, push_cluster-agent_to_internal, push_hbase_to_internal, push_stackstate_to_internal, push_trafficmirror_to_internal

Bump all updated charts to satisfy validation
  stable/aws-nuke/Chart.yaml
  stable/aws-nuke/README.md
  stable/cluster-agent/Chart.yaml
  stable/cluster-agent/README.md
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/receiveramplifier/Chart.yaml
  stable/receiveramplifier/README.md
  stable/trafficmirror/Chart.yaml
  stable/trafficmirror/README.md
Due: push_aws-nuke_to_internal, push_cluster-agent_to_internal, push_hbase_to_internal, push_trafficmirror_to_internal

STAC-13894: Bump hbase chart
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

STAC-13894: Update lock
  stable/stackstate/Chart.lock
Due: push_stackstate_to_internal

STAC-13894: Add comment
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-0 Remove apk add for tool that's already available and remove unused script
  .gitlab-ci.jsonnet
  .gitlab-ci.yml
  .gitlab/push_before_script.sh
Due: none

STAC-14261 Make 4.5.0-pre.4 rc7
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-14249 bump cluster agent helm chart version for publishing it
  stable/cluster-agent/Chart.yaml
  stable/cluster-agent/README.md
Due: push_cluster-agent_to_internal

STAC-0: Avoid failing the job and keep retrying
  stable/stackstate/templates/job-kafka-topic-create.yaml
Due: push_stackstate_to_internal

STAC-0: Set the topic create job to retry longer. It will give around 2hrs of retries given the backoff runs as (10s, 20s, 40s ...) capped at six minutes
  stable/stackstate/templates/job-kafka-topic-create.yaml
Due: push_stackstate_to_internal

STAC-14261 Make 4.5.0-pre.4 rc8
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-14261 Make 4.5.0-pre.4
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-14494 Make 4.5.0-pre.5 rc1
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

chore(stackstate): Upgrade StackGraph to version 4.2.9.
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/values.yaml
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_hbase_to_internal, push_stackstate_to_internal

STAC-0: Fix the installation examples minReplication
  stable/stackstate/installation/examples/nonha-values.yaml
Due: push_stackstate_to_internal

STAC-14551: Calculate the hdfs.minReplication value based on hdfs.datanode.replicaCount
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/templates/_helpers.yaml
  stable/hbase/values.yaml
Due: push_hbase_to_internal

STAC-14551: Bump hbass in StackState chart and update comment in values
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

Updates with hbase removed.
  stable/elasticsearch/Chart.yaml
  stable/elasticsearch/README.md
  stable/elasticsearch/values.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_elasticsearch_to_internal, push_stackstate_to_internal

STAC-14592 Update image tags with reduced vulnerabilities.
  stable/hbase/README.md
  stable/hbase/values.yaml
  stable/stackstate/README.md
  stable/stackstate/scripts/configure-backup.sh
  stable/stackstate/values.yaml
Due: push_hbase_to_internal, push_stackstate_to_internal

STAC-14592 Update hbase Chart version.
  stable/hbase/Chart.yaml
  stable/hbase/README.md
Due: push_hbase_to_internal

STAC-14592 Add back correct minio image name.
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-14592 Update from MR comment.
  stable/hbase/README.md
  stable/hbase/values.yaml
Due: push_hbase_to_internal

Release cluster-agent 2.14.0
  stable/cluster-agent/Chart.yaml
  stable/cluster-agent/README.md
  stable/cluster-agent/values.yaml
Due: push_cluster-agent_to_internal

STAC-14596 Verify the environment is set for hbase statefulsets
  helmtestutil/KubernetesResources.go
  stable/hbase/templates/_helpers.yaml
  stable/hbase/test/values/full.yaml
  stable/hbase/test/verify_environment_set.go
Due: push_hbase_to_internal

STAC-14596 Bump chart version
  stable/hbase/Chart.yaml
  stable/hbase/README.md
Due: push_hbase_to_internal

STAC-14592 Updates to depend on new hbase and elasticsearch charts STAC-14592 Update lock file.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

STAC-14592 Depend on updated hbase chart.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

STAC-14494 Make 4.5.0-pre.5 rc2
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-14609 Bugfix, remove image name from tag field.
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-14609 Revert kafka from 3.0.0 to 2.8.0 (latest circa -4 months).
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-14592 Revert elasticsearch to last known working image.
  stable/elasticsearch/Chart.yaml
  stable/elasticsearch/README.md
  stable/elasticsearch/values.yaml
Due: push_elasticsearch_to_internal

STAC-14592 Update stackstate dependcy for elasticsearch chart.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

STAC-0: Fix expireAfterSeconds
  stable/stackstate/templates/deployment-api.yaml
  stable/stackstate/templates/deployment-checks.yaml
  stable/stackstate/templates/deployment-problemProducer.yaml
  stable/stackstate/templates/deployment-state.yaml
  stable/stackstate/templates/deployment-sync.yaml
  stable/stackstate/templates/deployment-viewHealth.yaml
Due: push_stackstate_to_internal

STAC-14494 Make 4.5.0-pre.5
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-14606 Bump upcoming release version to 4.6.0
  stable/stackstate/Chart.yaml
Due: push_stackstate_to_internal

STAC-14606 Make 4.5.0 rc2
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-0: Fix incorrect env var
  stable/stackstate/templates/deployment-checks.yaml
Due: push_stackstate_to_internal

Path conditions:
  push_aws-amicleaner_to_internal: any of: stable/aws-amicleaner/**/*
  push_aws-nuke_to_internal: any of: stable/aws-nuke/**/*
  push_chartmuseum_to_internal: any of: stable/chartmuseum/**/*
  push_cluster-agent_to_internal: any of: stable/cluster-agent/**/*
  push_common_to_internal: any of: stable/common/**/*
  push_elasticsearch_to_internal: any of: stable/elasticsearch/**/*
  push_gitlab-runner_to_internal: any of: stable/gitlab-runner/**/*
  push_gitlab-steward_to_internal: any of: stable/gitlab-steward/**/*
  push_hbase_to_internal: any of: stable/hbase/**/*
  push_iceman_to_internal: any of: stable/iceman/**/*
  push_kafka_to_internal: any of: stable/kafka/**/*
  push_sandbox-operator_to_internal: any of: stable/sandbox-operator/**/*
  push_stackstate-standalone_to_internal: any of: stable/stackstate-standalone/**/*
  push_stackstate_to_internal: any of: stable/stackstate/**/*
  push_trafficmirror_to_internal: any of: stable/trafficmirror/**/*
