Repository StackVista/helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: push_aws-amicleaner_to_internal, push_aws-nuke_to_internal, push_chartmuseum_to_internal, push_cluster-agent_to_internal, push_common_to_internal, push_elasticsearch_to_internal, push_gitlab-runner_to_internal, push_gitlab-steward_to_internal, push_hbase_to_internal, push_iceman_to_internal, push_kafka_to_internal, push_sandbox-operator_to_internal, push_stackstate-standalone_to_internal, push_stackstate_to_internal, push_trafficmirror_to_internal

Path conditions:
  push_aws-amicleaner_to_internal: any of: stable/aws-amicleaner/**/*
  push_aws-nuke_to_internal: any of: stable/aws-nuke/**/*
  push_chartmuseum_to_internal: any of: stable/chartmuseum/**/*
  push_cluster-agent_to_internal: any of: stable/cluster-agent/**/*
  push_common_to_internal: any of: stable/common/**/*
  push_elasticsearch_to_internal: any of: stable/elasticsearch/**/*
  push_gitlab-runner_to_internal: any of: stable/gitlab-runner/**/*
  push_gitlab-steward_to_internal: any of: stable/gitlab-steward/**/*
  push_hbase_to_internal: any of: stable/hbase/**/*
  push_iceman_to_internal: any of: stable/iceman/**/*
  push_kafka_to_internal: any of: stable/kafka/**/*
  push_sandbox-operator_to_internal: any of: stable/sandbox-operator/**/*
  push_stackstate-standalone_to_internal: any of: stable/stackstate-standalone/**/*
  push_stackstate_to_internal: any of: stable/stackstate/**/*
  push_trafficmirror_to_internal: any of: stable/trafficmirror/**/*

STAC-12085 Make 4.3.0-pre.4 rc1
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-12024: fixing stackgraph update job by using gawk
  .gitlab-ci.jsonnet
  .gitlab-ci.yml
  .gitlab/update_sg_version.sh
  README.md
Due: none

chore(stackstate): Upgrade StackGraph to version 3.7.4.
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/values.yaml
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_hbase_to_internal, push_stackstate_to_internal

STAC-11548 Fixes race condition in list/restore scripts
  stable/stackstate/restore/list-elasticsearch-snapshots.sh
  stable/stackstate/restore/list-stackgraph-backups.sh
  stable/stackstate/restore/restore-elasticsearch-snapshot.sh
  stable/stackstate/restore/restore-stackgraph-backup.sh
  stable/stackstate/templates/configmap-backup-restore-scripts.yaml
Due: push_stackstate_to_internal

STAC-11548 Always includes list and restore scripts when MinIO is enabled
  stable/stackstate/templates/configmap-backup-restore-scripts.yaml
Due: push_stackstate_to_internal

STAC-11548 Removes superfluous newlines around imagePullSecrets fragment
  stable/stackstate/templates/_helper.tpl
  stable/stackstate/templates/configmap-backup-restore-scripts.yaml
  stable/stackstate/templates/cronjob-backup.yaml
  stable/stackstate/templates/deployment-api.yaml
  stable/stackstate/templates/deployment-checks.yaml
  stable/stackstate/templates/deployment-correlate.yaml
  stable/stackstate/templates/deployment-initializer.yaml
  stable/stackstate/templates/deployment-k2es-events-to-es.yaml
  stable/stackstate/templates/deployment-k2es-multi-metrics-to-es.yaml
  stable/stackstate/templates/deployment-k2es-trace-events-to-es.yaml
  stable/stackstate/templates/deployment-receiver.yaml
  stable/stackstate/templates/deployment-router.yaml
  stable/stackstate/templates/deployment-server.yaml
  stable/stackstate/templates/deployment-slicing.yaml
  stable/stackstate/templates/deployment-state.yaml
  stable/stackstate/templates/deployment-sync.yaml
  stable/stackstate/templates/deployment-ui.yaml
  stable/stackstate/templates/deployment-viewHealth.yaml
Due: push_stackstate_to_internal

STAC-11548 Really fixes default values for backup.elasticSearch.schedule and backup.stackGraph.schedule
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-11977: Bump hbase version to avoid conflict
  stable/hbase/Chart.yaml
  stable/hbase/README.md
Due: push_hbase_to_internal

STAC-11548 Updates Chart.lock
  stable/stackstate/Chart.lock
Due: push_stackstate_to_internal

Removes assert statements.
  helmtestutil/KubernetesResources.go
Due: none

STAC-11874 Make 4.2.4 rc6
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-11874 Make 4.2.4
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-12045 Support pull secrets for stackstate standalone deployment
  stable/stackstate-standalone/Chart.yaml
  stable/stackstate-standalone/README.md
  stable/stackstate-standalone/templates/pull-secret.yaml
  stable/stackstate-standalone/templates/sts-standalone-deployment.yaml
  stable/stackstate-standalone/templates/sts-standalone-statefulset.yaml
Due: push_stackstate-standalone_to_internal

chore(stackstate): Upgrade StackGraph to version 3.7.5.
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/values.yaml
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_hbase_to_internal, push_stackstate_to_internal

STAC-12085 Make 4.3.0-pre.4 rc2
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

Restore pre-commit hook for gitlabci linting. Gitlab fixed the issue
  .pre-commit-config.yaml
Due: none

STAC-12178 Prevents backup and restore jobs from being evicted
  stable/stackstate/templates/configmap-backup-restore-scripts.yaml
  stable/stackstate/templates/cronjob-backup.yaml
  stable/stackstate/templates/job-backup-init.yaml
  stable/stackstate/templates/pdb-backup.yaml
Due: push_stackstate_to_internal

STAC-12178 Configures StackGraph backup and restore jobs to log to stdout.
  stable/stackstate/README.md
  stable/stackstate/scripts/backup-stackgraph.sh
  stable/stackstate/scripts/restore-stackgraph-backup.sh
  stable/stackstate/templates/_helper-backup.tpl
  stable/stackstate/templates/configmap-backup-log.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-12178 Do not automatically follow and delete restore jobs
  stable/stackstate/restore/list-elasticsearch-snapshots.sh
  stable/stackstate/restore/list-stackgraph-backups.sh
  stable/stackstate/restore/restore-elasticsearch-snapshot.sh
  stable/stackstate/restore/restore-stackgraph-backup.sh
Due: push_stackstate_to_internal

STAC-12178 Allows only restore functionality to be enabled
  stable/stackstate/README.md
  stable/stackstate/restore/list-elasticsearch-snapshots.sh
  stable/stackstate/restore/list-stackgraph-backups.sh
  stable/stackstate/restore/restore-elasticsearch-snapshot.sh
  stable/stackstate/restore/restore-stackgraph-backup.sh
  stable/stackstate/scripts/backup-stackgraph.sh
  stable/stackstate/scripts/configure-backup.sh
  stable/stackstate/scripts/expire-stackgraph-backups.py
  stable/stackstate/scripts/list-elasticsearch-snapshots.sh
  stable/stackstate/scripts/restore-elasticsearch-snapshot.sh
  stable/stackstate/templates/_helper-backup.tpl
  stable/stackstate/templates/configmap-backup-restore-scripts.yaml
  stable/stackstate/templates/cronjob-backup.yaml
  stable/stackstate/templates/job-backup-init.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-12178 Scales down deployments before StackGraph before
  stable/stackstate/restore/restore-stackgraph-backup.sh
  stable/stackstate/restore/scale-up.sh
  stable/stackstate/templates/deployment-api.yaml
  stable/stackstate/templates/deployment-checks.yaml
  stable/stackstate/templates/deployment-initializer.yaml
  stable/stackstate/templates/deployment-server.yaml
  stable/stackstate/templates/deployment-slicing.yaml
  stable/stackstate/templates/deployment-state.yaml
  stable/stackstate/templates/deployment-sync.yaml
  stable/stackstate/templates/deployment-viewHealth.yaml
Due: push_stackstate_to_internal

chore(stackstate): Upgrade StackGraph to version 4.0.0.
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/values.yaml
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_hbase_to_internal, push_stackstate_to_internal

STAC-12045 Add image pull secret password/username support
  stable/gitlab-steward/Chart.yaml
  stable/gitlab-steward/README.md
  stable/gitlab-steward/templates/pull-secret.yaml
  stable/gitlab-steward/templates/sts-cronjob.yaml
  stable/gitlab-steward/values.yaml
  stable/iceman/Chart.yaml
  stable/iceman/README.md
  stable/iceman/templates/cronjob.yaml
  stable/iceman/templates/pull-secret.yaml
  stable/iceman/values.yaml
Due: push_gitlab-steward_to_internal, push_iceman_to_internal

chore(stackstate): Upgrade StackGraph to version 4.0.1.
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/values.yaml
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_hbase_to_internal, push_stackstate_to_internal

STAC-12045 Fixing dumb mistakes in pull secret naming
  stable/gitlab-steward/Chart.yaml
  stable/gitlab-steward/README.md
  stable/gitlab-steward/templates/pull-secret.yaml
  stable/gitlab-steward/templates/sts-cronjob.yaml
  stable/iceman/Chart.yaml
  stable/iceman/README.md
  stable/iceman/templates/cronjob.yaml
  stable/iceman/templates/pull-secret.yaml
Due: push_gitlab-steward_to_internal, push_iceman_to_internal

Fix image registry name
  stable/gitlab-steward/Chart.yaml
  stable/gitlab-steward/README.md
  stable/gitlab-steward/templates/pull-secret.yaml
  stable/iceman/Chart.yaml
  stable/iceman/README.md
  stable/iceman/templates/pull-secret.yaml
Due: push_gitlab-steward_to_internal, push_iceman_to_internal

chore(charts): Updates to helm-docs v1.5.0
  stable/aws-amicleaner/README.md
  stable/aws-nuke/README.md
  stable/chartmuseum/README.md
  stable/common/README.md
  stable/elasticsearch/README.md
  stable/gitlab-steward/README.md
  stable/hbase/README.md
  stable/iceman/README.md
  stable/sandbox-operator/README.md
  stable/trafficmirror/README.md
Due: push_aws-amicleaner_to_internal, push_aws-nuke_to_internal, push_chartmuseum_to_internal, push_common_to_internal, push_elasticsearch_to_internal, push_gitlab-steward_to_internal, push_hbase_to_internal, push_iceman_to_internal, push_sandbox-operator_to_internal, push_trafficmirror_to_internal

STAC-11548 Upgrades elasticsearch chart to 7.6.2-stackstate.11
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

STAC-12085 Make 4.3.0-pre.4 rc3
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-12085 Make 4.3.0-pre.4
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

chore(stackstate): Upgrade StackGraph to version 4.0.2.
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/values.yaml
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_hbase_to_internal, push_stackstate_to_internal
