Repository StackVista/helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: push_aws-amicleaner_to_internal, push_aws-amicleaner_to_public, push_aws-nuke_to_internal, push_aws-nuke_to_public, push_cluster-agent_to_internal, push_cluster-agent_to_public, push_common_to_internal, push_common_to_public, push_elasticsearch_to_internal, push_elasticsearch_to_public, push_gitlab-runner_to_internal, push_gitlab-runner_to_public, push_gitlab-steward_to_internal, push_gitlab-steward_to_public, push_hbase_to_internal, push_hbase_to_public, push_iceman_to_internal, push_iceman_to_public, push_stackstate-standalone_to_internal, push_stackstate-standalone_to_public, push_stackstate_to_internal, push_stackstate_to_public, push_trafficmirror_to_internal, push_trafficmirror_to_public

push_aws-amicleaner_to_internal:
  needs:
  - test_aws-amicleaner
  script:
  - helm plugin install https://github.com/chartmuseum/helm-push.git
  - helm dependencies update ${CHART}
  - helm push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  ...

push_aws-amicleaner_to_public:
  needs:
  - push_aws-amicleaner_to_internal
  script:
  - helm plugin install https://github.com/chartmuseum/helm-push.git
  - helm dependencies update ${CHART}
  - helm push --username ${CHARTMUSEUM_USERNAME} --password ${CHARTMUSEUM_PASSWORD} ${CHART} ${CHARTMUSEUM_URL}
  stage: push-charts-to-public
  ...

push_aws-nuke_to_internal:
  needs:
  - test_aws-nuke
  script:
  - helm plugin install https://github.com/chartmuseum/helm-push.git
  - helm dependencies update ${CHART}
  - helm push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  ...

push_aws-nuke_to_public:
  needs:
  - push_aws-nuke_to_internal
  script:
  - helm plugin install https://github.com/chartmuseum/helm-push.git
  - helm dependencies update ${CHART}
  - helm push --username ${CHARTMUSEUM_USERNAME} --password ${CHARTMUSEUM_PASSWORD} ${CHART} ${CHARTMUSEUM_URL}
  stage: push-charts-to-public
  variables:
  ...

push_cluster-agent_to_internal:
  needs:
  - test_cluster-agent
  script:
  - helm plugin install https://github.com/chartmuseum/helm-push.git
  - helm dependencies update ${CHART}
  - helm push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  ...

push_cluster-agent_to_public:
  needs:
  - push_cluster-agent_to_internal
  script:
  - helm plugin install https://github.com/chartmuseum/helm-push.git
  - helm dependencies update ${CHART}
  - helm push --username ${CHARTMUSEUM_USERNAME} --password ${CHARTMUSEUM_PASSWORD} ${CHART} ${CHARTMUSEUM_URL}
  stage: push-charts-to-public
  ...

push_common_to_internal:
  needs:
  - test_common
  script:
  - helm plugin install https://github.com/chartmuseum/helm-push.git
  - helm dependencies update ${CHART}
  - helm push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  ...

push_common_to_public:
  needs:
  - push_common_to_internal
  script:
  - helm plugin install https://github.com/chartmuseum/helm-push.git
  - helm dependencies update ${CHART}
  - helm push --username ${CHARTMUSEUM_USERNAME} --password ${CHARTMUSEUM_PASSWORD} ${CHART} ${CHARTMUSEUM_URL}
  stage: push-charts-to-public
  variables:
  ...

push_elasticsearch_to_internal:
  needs:
  - test_elasticsearch
  script:
  - helm plugin install https://github.com/chartmuseum/helm-push.git
  - helm dependencies update ${CHART}
  - helm push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  ...

STAC-11710 Make 4.2.3 rc2
  stable/stackstate/Chart.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

Fix chart.lock file for StackState
  stable/stackstate/Chart.lock
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-11710 Make 4.2.3
  stable/stackstate/Chart.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-11872 Sets default image pull policy to IfNotPresent for common chart
  stable/common/Chart.yaml
  stable/common/README.md
  stable/common/values.yaml
Due: push_common_to_internal, push_common_to_public

STAC-11738 Refactor API deployment to use generic helper functions
  stable/stackstate/templates/_helper-service-config.tpl
  stable/stackstate/templates/_helper.tpl
  stable/stackstate/templates/deployment-api.yaml
  stable/stackstate/templates/deployment-server.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-11738 Add java trust store to all StackState JVM pods
  stable/stackstate/templates/deployment-checks.yaml
  stable/stackstate/templates/deployment-correlate.yaml
  stable/stackstate/templates/deployment-initializer.yaml
  stable/stackstate/templates/deployment-k2es-events-to-es.yaml
  stable/stackstate/templates/deployment-k2es-multi-metrics-to-es.yaml
  stable/stackstate/templates/deployment-k2es-sts-events-to-es.yaml
  stable/stackstate/templates/deployment-k2es-trace-events-to-es.yaml
  stable/stackstate/templates/deployment-receiver.yaml
  stable/stackstate/templates/deployment-server.yaml
  stable/stackstate/templates/deployment-slicing.yaml
  stable/stackstate/templates/deployment-state.yaml
  stable/stackstate/templates/deployment-sync.yaml
  stable/stackstate/templates/deployment-viewHealth.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-11872 Sets default image pull policy to IfNotPresent for hbase chart
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/requirements.lock
  stable/hbase/requirements.yaml
  stable/hbase/templates/console-deployment.yaml
  stable/hbase/templates/hbase-master-statefulset.yaml
  stable/hbase/templates/hbase-rs-statefulset.yaml
  stable/hbase/templates/hdfs-dn-statefulset.yaml
  stable/hbase/templates/hdfs-nn-statefulset.yaml
  stable/hbase/templates/hdfs-snn-statefulset.yaml
  stable/hbase/templates/tephra-statefulset.yaml
  stable/hbase/values.yaml
Due: push_hbase_to_internal, push_hbase_to_public

STAC-11872 Sets default image pull policy to IfNotPresent for stackstate chart
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/templates/_helper-k2es-common.tpl
  stable/stackstate/templates/_helper.tpl
  stable/stackstate/templates/deployment-api.yaml
  stable/stackstate/templates/deployment-checks.yaml
  stable/stackstate/templates/deployment-correlate.yaml
  stable/stackstate/templates/deployment-initializer.yaml
  stable/stackstate/templates/deployment-receiver.yaml
  stable/stackstate/templates/deployment-router.yaml
  stable/stackstate/templates/deployment-server.yaml
  stable/stackstate/templates/deployment-slicing.yaml
  stable/stackstate/templates/deployment-state.yaml
  stable/stackstate/templates/deployment-sync.yaml
  stable/stackstate/templates/deployment-ui.yaml
  stable/stackstate/templates/deployment-viewHealth.yaml
  stable/stackstate/templates/job-kafka-topic-create.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-11749: Introduce cluster-rol.enabled flag
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/templates/clusterrole-authorization.yaml
  stable/stackstate/templates/clusterrolebinding-authentication.yaml
  stable/stackstate/templates/clusterrolebinding-authorization.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-11738 Add test to verify all services are properly rendered with generic configuration
  stable/stackstate/test/generic_service_test.go
  stable/stackstate/test/values/dummy_trust_store.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-11749: Introduce cluster-rol.enabled flag
  stable/stackstate/README.md
  stable/stackstate/templates/clusterrole-authorization.yaml
  stable/stackstate/templates/clusterrolebinding-authentication.yaml
  stable/stackstate/templates/clusterrolebinding-authorization.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-11738 Fix variable expansion for args
  stable/stackstate/templates/_helper-service-config.tpl
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-11738 Fix test
  stable/stackstate/test/generic_service_test.go
Due: push_stackstate_to_internal, push_stackstate_to_public

Update sandboxer to 0.4.0
  stable/sandbox-operator/README.md
  stable/sandbox-operator/crds/sandbox.yaml
  stable/sandbox-operator/values.yaml
Due: none

STAC-11738 Bump chart version
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal, push_stackstate_to_public

BUmp version
  stable/sandbox-operator/Chart.yaml
  stable/sandbox-operator/README.md
Due: none

Upgrade to sandboxer 0.5.0
  stable/sandbox-operator/Chart.yaml
  stable/sandbox-operator/README.md
  stable/sandbox-operator/values.yaml
Due: none

STAC-11781 Make 4.3.0-pre.2 rc3
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-11896: Add sync name to console logging
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/templates/_helper-microservice-log-configmap.tpl
  stable/stackstate/templates/_helper-stackpack-log-configmap.tpl
  stable/stackstate/templates/_helper-sync-log-configmap.tpl
  stable/stackstate/templates/configmap-api-log.yaml
  stable/stackstate/templates/configmap-server-log.yaml
  stable/stackstate/templates/configmap-sync-log.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-11927 Bump master to 4.3..0
  stable/stackstate/Chart.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-11927 Make 4.3.0-pre.3 rc2
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-11769 Split K2ES config into separate values and merge events processing into a single service
  helmtestutil/KubernetesResources.go
  stable/stackstate/README.md
  stable/stackstate/templates/_helper-k2es-common.tpl
  stable/stackstate/templates/_helper.tpl
  stable/stackstate/templates/configmap-e2es-log.yaml
  stable/stackstate/templates/configmap-k2es-log.yaml
  stable/stackstate/templates/configmap-mm2es-log.yaml
  stable/stackstate/templates/configmap-trace2es-log.yaml
  stable/stackstate/templates/deployment-k2es-events-to-es.yaml
  stable/stackstate/templates/deployment-k2es-multi-metrics-to-es.yaml
  stable/stackstate/templates/deployment-k2es-sts-events-to-es.yaml
  stable/stackstate/templates/deployment-k2es-trace-events-to-es.yaml
  stable/stackstate/templates/pdb-k2es-events-to-es.yaml
  stable/stackstate/templates/pdb-k2es-multi-metrics-to-es.yaml
  stable/stackstate/templates/pdb-k2es-sts-events-to-es.yaml
  stable/stackstate/templates/pdb-k2es-trace-events-to-es.yaml
  stable/stackstate/templates/secret-e2es..yaml
  stable/stackstate/templates/secret-k2es.yaml
  stable/stackstate/templates/secret-mm2es.yaml
  stable/stackstate/templates/secret-trace2es.yaml
  stable/stackstate/templates/service-k2es-sts-events-to-es.yaml
  stable/stackstate/templates/service-k2es-trace-events-to-es.yaml
  stable/stackstate/templates/servicemonitor-k2es-sts-events-to-es.yaml
  stable/stackstate/templates/servicemonitor-k2es-trace-events-to-es.yaml
  stable/stackstate/test/generic_service_test.go
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-11769 Set limits on all stackstate containers
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/templates/_helper-k2es-common.tpl
  stable/stackstate/templates/deployment-api.yaml
  stable/stackstate/templates/deployment-checks.yaml
  stable/stackstate/templates/deployment-correlate.yaml
  stable/stackstate/templates/deployment-initializer.yaml
  stable/stackstate/templates/deployment-receiver.yaml
  stable/stackstate/templates/deployment-server.yaml
  stable/stackstate/templates/deployment-slicing.yaml
  stable/stackstate/templates/deployment-state.yaml
  stable/stackstate/templates/deployment-sync.yaml
  stable/stackstate/templates/deployment-viewHealth.yaml
  stable/stackstate/test/services_java_heap_test.go
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-11769 Add script for extracting resource limits/requests
  util/extract_resource_usage.sh
Due: none

STAC-11769 Update micro_test.yaml
  stable/stackstate/installation/examples/micro_test_values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-11769 Set limits on all stackstate containers
  stable/stackstate/README.md
  stable/stackstate/templates/_helper-k2es-common.tpl
  stable/stackstate/templates/deployment-api.yaml
  stable/stackstate/templates/deployment-checks.yaml
  stable/stackstate/templates/deployment-correlate.yaml
  stable/stackstate/templates/deployment-initializer.yaml
  stable/stackstate/templates/deployment-receiver.yaml
  stable/stackstate/templates/deployment-server.yaml
  stable/stackstate/templates/deployment-slicing.yaml
  stable/stackstate/templates/deployment-state.yaml
  stable/stackstate/templates/deployment-sync.yaml
  stable/stackstate/templates/deployment-viewHealth.yaml
  stable/stackstate/test/services_java_heap_test.go
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-11679 Fixing small issues discovered while running on nightly
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/templates/deployment-k2es-events-to-es.yaml
  stable/stackstate/templates/deployment-k2es-multi-metrics-to-es.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-11679 Fixing small issues discovered while running on nightly
  stable/stackstate/README.md
  stable/stackstate/templates/deployment-k2es-events-to-es.yaml
  stable/stackstate/templates/deployment-k2es-multi-metrics-to-es.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-11967 Make all dictionary iterations stable by first sorting the keys
  stable/stackstate/templates/_helper-service-config.tpl
  stable/stackstate/templates/_helper.tpl
  stable/stackstate/templates/secret-api.yaml
  stable/stackstate/templates/secret-checks.yaml
  stable/stackstate/templates/secret-common.yaml
  stable/stackstate/templates/secret-correlate.yaml
  stable/stackstate/templates/secret-e2es..yaml
  stable/stackstate/templates/secret-initializer.yaml
  stable/stackstate/templates/secret-mm2es.yaml
  stable/stackstate/templates/secret-receiver.yaml
  stable/stackstate/templates/secret-router.yaml
  stable/stackstate/templates/secret-server.yaml
  stable/stackstate/templates/secret-slicing.yaml
  stable/stackstate/templates/secret-state.yaml
  stable/stackstate/templates/secret-sync.yaml
  stable/stackstate/templates/secret-trace2es.yaml
  stable/stackstate/templates/secret-ui.yaml
  stable/stackstate/templates/secret-viewHealth.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

Upgrades helm-docs to v1.5.0
  stable/aws-amicleaner/README.md
  stable/aws-nuke/README.md
  stable/chartmuseum/README.md
  stable/common/README.md
  stable/elasticsearch/README.md
  stable/gitlab-steward/README.md
  stable/hbase/README.md
  stable/iceman/README.md
  stable/kafka/README.md
  stable/sandbox-operator/README.md
  stable/trafficmirror/README.md
Due: push_aws-amicleaner_to_internal, push_aws-amicleaner_to_public, push_aws-nuke_to_internal, push_aws-nuke_to_public, push_common_to_internal, push_common_to_public, push_elasticsearch_to_internal, push_elasticsearch_to_public, push_gitlab-steward_to_internal, push_gitlab-steward_to_public, push_hbase_to_internal, push_hbase_to_public, push_iceman_to_internal, push_iceman_to_public, push_trafficmirror_to_internal, push_trafficmirror_to_public

chore(pre-commit) Upgrades pre-commit hooks
  .pre-commit-config.yaml
Due: none

Path conditions:
  push_aws-amicleaner_to_internal: any of: stable/aws-amicleaner/**/*
  push_aws-amicleaner_to_public: any of: stable/aws-amicleaner/**/*
  push_aws-nuke_to_internal: any of: stable/aws-nuke/**/*
  push_aws-nuke_to_public: any of: stable/aws-nuke/**/*
  push_cluster-agent_to_internal: any of: stable/cluster-agent/**/*
  push_cluster-agent_to_public: any of: stable/cluster-agent/**/*
  push_common_to_internal: any of: stable/common/**/*
  push_common_to_public: any of: stable/common/**/*
  push_elasticsearch_to_internal: any of: stable/elasticsearch/**/*
  push_elasticsearch_to_public: any of: stable/elasticsearch/**/*
  push_gitlab-runner_to_internal: any of: stable/gitlab-runner/**/*
  push_gitlab-runner_to_public: any of: stable/gitlab-runner/**/*
  push_gitlab-steward_to_internal: any of: stable/gitlab-steward/**/*
  push_gitlab-steward_to_public: any of: stable/gitlab-steward/**/*
  push_hbase_to_internal: any of: stable/hbase/**/*
  push_hbase_to_public: any of: stable/hbase/**/*
  push_iceman_to_internal: any of: stable/iceman/**/*
  push_iceman_to_public: any of: stable/iceman/**/*
  push_stackstate-standalone_to_internal: any of: stable/stackstate-standalone/**/*
  push_stackstate-standalone_to_public: any of: stable/stackstate-standalone/**/*
  push_stackstate_to_internal: any of: stable/stackstate/**/*
  push_stackstate_to_public: any of: stable/stackstate/**/*
  push_trafficmirror_to_internal: any of: stable/trafficmirror/**/*
  push_trafficmirror_to_public: any of: stable/trafficmirror/**/*
