Repository StackVista/helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: push_aws-amicleaner_to_internal, push_aws-amicleaner_to_public, push_aws-nuke_to_internal, push_aws-nuke_to_public, push_cluster-agent_to_internal, push_cluster-agent_to_public, push_common_to_internal, push_common_to_public, push_elasticsearch_to_internal, push_elasticsearch_to_public, push_gitlab-runner_to_internal, push_gitlab-runner_to_public, push_gitlab-steward_to_internal, push_gitlab-steward_to_public, push_hbase_to_internal, push_hbase_to_public, push_iceman_to_internal, push_iceman_to_public, push_stackstate-standalone_to_internal, push_stackstate-standalone_to_public, push_stackstate_to_internal, push_stackstate_to_public, push_trafficmirror_to_internal, push_trafficmirror_to_public

Path conditions:
  push_aws-amicleaner_to_internal: any of: stable/aws-amicleaner/**/*
  push_aws-amicleaner_to_public: any of: stable/aws-amicleaner/**/*
  push_aws-nuke_to_internal: any of: stable/aws-nuke/**/*
  push_aws-nuke_to_public: any of: stable/aws-nuke/**/*
  push_cluster-agent_to_internal: any of: stable/cluster-agent/**/*
  push_cluster-agent_to_public: any of: stable/cluster-agent/**/*
  push_common_to_internal: any of: stable/common/**/*
  push_common_to_public: any of: stable/common/**/*
  push_elasticsearch_to_internal: any of: stable/elasticsearch/**/*
  push_elasticsearch_to_public: any of: stable/elasticsearch/**/*
  push_gitlab-runner_to_internal: any of: stable/gitlab-runner/**/*
  push_gitlab-runner_to_public: any of: stable/gitlab-runner/**/*
  push_gitlab-steward_to_internal: any of: stable/gitlab-steward/**/*
  push_gitlab-steward_to_public: any of: stable/gitlab-steward/**/*
  push_hbase_to_internal: any of: stable/hbase/**/*
  push_hbase_to_public: any of: stable/hbase/**/*
  push_iceman_to_internal: any of: stable/iceman/**/*
  push_iceman_to_public: any of: stable/iceman/**/*
  push_stackstate-standalone_to_internal: any of: stable/stackstate-standalone/**/*
  push_stackstate-standalone_to_public: any of: stable/stackstate-standalone/**/*
  push_stackstate_to_internal: any of: stable/stackstate/**/*
  push_stackstate_to_public: any of: stable/stackstate/**/*
  push_trafficmirror_to_internal: any of: stable/trafficmirror/**/*
  push_trafficmirror_to_public: any of: stable/trafficmirror/**/*

STAC-10292 Make 4.1.0-hotel rc1
  stable/stackstate/Chart.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

chore(hooks): Upgrading helm-docs broke the readme generation.
  README.md
  stable/aws-amicleaner/README.md
  stable/aws-nuke/Chart.yaml
  stable/aws-nuke/README.md
  stable/aws-nuke/requirements.lock
  stable/aws-nuke/requirements.yaml
  stable/cluster-agent/README.md
  stable/cluster-agent/README.md.gotmpl
  stable/common/README.md
  stable/elasticsearch/README.md
  stable/gitlab-steward/README.md
  stable/hbase/README.md
  stable/iceman/README.md
  stable/stackstate-standalone/README.md
  stable/stackstate-standalone/README.md.gotmpl
  stable/stackstate/README.md
  stable/stackstate/README.md.gotmpl
  stable/trafficmirror/Chart.yaml
  stable/trafficmirror/README.md
  stable/trafficmirror/requirements.lock
  stable/trafficmirror/requirements.yaml
Due: push_aws-amicleaner_to_internal, push_aws-amicleaner_to_public, push_aws-nuke_to_internal, push_aws-nuke_to_public, push_cluster-agent_to_internal, push_cluster-agent_to_public, push_common_to_internal, push_common_to_public, push_elasticsearch_to_internal, push_elasticsearch_to_public, push_gitlab-steward_to_internal, push_gitlab-steward_to_public, push_hbase_to_internal, push_hbase_to_public, push_iceman_to_internal, push_iceman_to_public, push_stackstate-standalone_to_internal, push_stackstate-standalone_to_public, push_stackstate_to_internal, push_stackstate_to_public, push_trafficmirror_to_internal, push_trafficmirror_to_public

chore(all): Fix versions and maintainers
  stable/aws-amicleaner/Chart.yaml
  stable/aws-amicleaner/README.md
  stable/aws-nuke/Chart.yaml
  stable/aws-nuke/README.md
  stable/cluster-agent/Chart.yaml
  stable/cluster-agent/README.md
  stable/common/Chart.yaml
  stable/common/README.md
  stable/elasticsearch/Chart.yaml
  stable/elasticsearch/README.md
  stable/gitlab-steward/Chart.yaml
  stable/gitlab-steward/README.md
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/iceman/Chart.yaml
  stable/iceman/README.md
  stable/stackstate-standalone/Chart.yaml
  stable/stackstate-standalone/README.md
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/trafficmirror/Chart.yaml
  stable/trafficmirror/README.md
Due: push_aws-amicleaner_to_internal, push_aws-amicleaner_to_public, push_aws-nuke_to_internal, push_aws-nuke_to_public, push_cluster-agent_to_internal, push_cluster-agent_to_public, push_common_to_internal, push_common_to_public, push_elasticsearch_to_internal, push_elasticsearch_to_public, push_gitlab-steward_to_internal, push_gitlab-steward_to_public, push_hbase_to_internal, push_hbase_to_public, push_iceman_to_internal, push_iceman_to_public, push_stackstate-standalone_to_internal, push_stackstate-standalone_to_public, push_stackstate_to_internal, push_stackstate_to_public, push_trafficmirror_to_internal, push_trafficmirror_to_public

STAC-9876 Upgrade apiVersion for ingress to the non-deprecated one
  stable/common/Chart.yaml
  stable/common/README.md
  stable/common/values.yaml
  stable/stackstate-standalone/templates/sts-standalone-ingress.yaml
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/templates/ingress.yaml
Due: push_common_to_internal, push_common_to_public, push_stackstate-standalone_to_internal, push_stackstate-standalone_to_public, push_stackstate_to_internal, push_stackstate_to_public

STAC-9876: Forgot version bump
  stable/stackstate-standalone/Chart.yaml
  stable/stackstate-standalone/README.md
Due: push_stackstate-standalone_to_internal, push_stackstate-standalone_to_public

STAC-10366 Make 4.0.3 rc1
  stable/stackstate/Chart.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-10366 Make release-4.0.3
  stable/stackstate/Chart.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-0: Fix naming to gather metrics on the view health service
  stable/stackstate/templates/servicemonitor-viewHealth.yaml
  stable/stackstate/templates/statefulset-viewHealth.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

mend
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-10292 Make 4.1.0-hotel rc2
  stable/stackstate/Chart.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

chore(stackstate): Fix image pull secret for trace vents
  stable/stackstate/templates/deployment-k2es-trace-events-to-es.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

chore(stackstate): Bump chart version
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-10292 Make 4.1.0-hotel rc3
  stable/stackstate/Chart.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-10292 Make 4.1.0-hotel rc4
  stable/stackstate/Chart.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-0: Solve version conflict
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-10418 Make 4.0.4 rc1
  stable/stackstate/Chart.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-10292 Make release-4.1.0-hotel
  stable/stackstate/Chart.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

chore(stackstate): Bump spotlight version for deprecation fixes
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/requirements.lock
  stable/stackstate/requirements.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-10418 Make release-4.0.4
  stable/stackstate/Chart.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-10332 Push chart to internal for release
  .gitlab-ci.jsonnet
  .gitlab-ci.yml
Due: none

feat(stackstat): STAC-10332 | Run integration tests for tags if they exist
  .gitlab-ci.jsonnet
  .gitlab-ci.yml
Due: none

chore(stackstate): Fix regex syntax
  .gitlab-ci.jsonnet
  .gitlab-ci.yml
Due: none

chore(stackstate): STAC-10332 | Never push to test for tags
  .gitlab-ci.jsonnet
  .gitlab-ci.yml
Due: none

STAC-10425 Make 4.1.0 rc1
  stable/stackstate/Chart.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

chore(stackstate): Bump version such that master is latest version again in helm internal repo
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal, push_stackstate_to_public

chore(stackstate): STAC-10096 | runAsUser and runAsGroup should not be necessary. The docker images should already do this by default
  stable/stackstate/templates/_helper-k2es-common.tpl
  stable/stackstate/templates/deployment-correlate.yaml
  stable/stackstate/templates/deployment-receiver.yaml
  stable/stackstate/templates/deployment-ui.yaml
  stable/stackstate/templates/statefulset-api.yaml
  stable/stackstate/templates/statefulset-checks.yaml
  stable/stackstate/templates/statefulset-initializer.yaml
  stable/stackstate/templates/statefulset-server.yaml
  stable/stackstate/templates/statefulset-state.yaml
  stable/stackstate/templates/statefulset-sync.yaml
  stable/stackstate/templates/statefulset-viewHealth.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

chore(stackstate): Bump version
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal, push_stackstate_to_public

chore(stackstate): STAC-10096 | Use latest stackstate master on helm master branch
  stable/stackstate/README.md
  stable/stackstate/templates/deployment-ui.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

chore(stackstate): STAC-10096 | fixes after testing with telepresence
  stable/stackstate/README.md
  stable/stackstate/templates/statefulset-api.yaml
  stable/stackstate/templates/statefulset-checks.yaml
  stable/stackstate/templates/statefulset-initializer.yaml
  stable/stackstate/templates/statefulset-server.yaml
  stable/stackstate/templates/statefulset-state.yaml
  stable/stackstate/templates/statefulset-sync.yaml
  stable/stackstate/templates/statefulset-viewHealth.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-10425 Make 4.1.0 rc2
  stable/stackstate/Chart.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

chore(lint): Disable version check (new versioning scheme doesn't work with this
  .gitlab-ci.jsonnet
  .gitlab-ci.yml
Due: none

chore(stackstate): Bump StackGraph version
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

Use ssh for pre-commit clone
  .pre-commit-config.yaml
Due: none
