Repository StackVista/helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: push_aws-amicleaner_to_internal, push_aws-amicleaner_to_public, push_aws-nuke_to_internal, push_aws-nuke_to_public, push_cluster-agent_to_internal, push_cluster-agent_to_public, push_common_to_internal, push_common_to_public, push_elasticsearch_to_internal, push_elasticsearch_to_public, push_gitlab-runner_to_internal, push_gitlab-runner_to_public, push_gitlab-steward_to_internal, push_gitlab-steward_to_public, push_hbase_to_internal, push_hbase_to_public, push_iceman_to_internal, push_iceman_to_public, push_stackstate-standalone_to_internal, push_stackstate-standalone_to_public, push_stackstate_to_internal, push_stackstate_to_public, push_trafficmirror_to_internal, push_trafficmirror_to_public

Path conditions:
  push_aws-amicleaner_to_internal: any of: stable/aws-amicleaner/**/*
  push_aws-amicleaner_to_public: any of: stable/aws-amicleaner/**/*
  push_aws-nuke_to_internal: any of: stable/aws-nuke/**/*
  push_aws-nuke_to_public: any of: stable/aws-nuke/**/*
  push_cluster-agent_to_internal: any of: stable/cluster-agent/**/*
  push_cluster-agent_to_public: any of: stable/cluster-agent/**/*
  push_common_to_internal: any of: stable/common/**/*
  push_common_to_public: any of: stable/common/**/*
  push_elasticsearch_to_internal: any of: stable/elasticsearch/**/*
  push_elasticsearch_to_public: any of: stable/elasticsearch/**/*
  push_gitlab-runner_to_internal: any of: stable/gitlab-runner/**/*
  push_gitlab-runner_to_public: any of: stable/gitlab-runner/**/*
  push_gitlab-steward_to_internal: any of: stable/gitlab-steward/**/*
  push_gitlab-steward_to_public: any of: stable/gitlab-steward/**/*
  push_hbase_to_internal: any of: stable/hbase/**/*
  push_hbase_to_public: any of: stable/hbase/**/*
  push_iceman_to_internal: any of: stable/iceman/**/*
  push_iceman_to_public: any of: stable/iceman/**/*
  push_stackstate-standalone_to_internal: any of: stable/stackstate-standalone/**/*
  push_stackstate-standalone_to_public: any of: stable/stackstate-standalone/**/*
  push_stackstate_to_internal: any of: stable/stackstate/**/*
  push_stackstate_to_public: any of: stable/stackstate/**/*
  push_trafficmirror_to_internal: any of: stable/trafficmirror/**/*
  push_trafficmirror_to_public: any of: stable/trafficmirror/**/*

STAC-12086 Increase Initial Delay for Kafka liveness probe
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

Fix push job
  .gitlab-ci.jsonnet
  .gitlab-ci.yml
Due: none

Fetch helm repos
  .gitlab-ci.jsonnet
  .gitlab-ci.yml
Due: none

STAC-11874 Make 4.2.4 rc3
  stable/stackstate/Chart.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

Updated Chart.lock and READMEs
  stable/aws-amicleaner/README.md
  stable/aws-nuke/README.md
  stable/chartmuseum/README.md
  stable/common/README.md
  stable/elasticsearch/README.md
  stable/gitlab-steward/README.md
  stable/hbase/README.md
  stable/iceman/README.md
  stable/sandbox-operator/README.md
  stable/stackstate/Chart.lock
  stable/stackstate/README.md
  stable/trafficmirror/README.md
Due: push_aws-amicleaner_to_internal, push_aws-amicleaner_to_public, push_aws-nuke_to_internal, push_aws-nuke_to_public, push_common_to_internal, push_common_to_public, push_elasticsearch_to_internal, push_elasticsearch_to_public, push_gitlab-steward_to_internal, push_gitlab-steward_to_public, push_hbase_to_internal, push_hbase_to_public, push_iceman_to_internal, push_iceman_to_public, push_stackstate_to_internal, push_stackstate_to_public, push_trafficmirror_to_internal, push_trafficmirror_to_public

STAC-12024: testing aad chart update step
  .gitlab-ci.yml
Due: none

Investigate why the version doesn't match
  .gitlab/bump_sts_chart_master_version.sh
Due: none

STAC-12024: using stackstate ci image
  .gitlab-ci.yml
Due: none

Change script to not use awk
  .gitlab/bump_sts_chart_master_version.sh
Due: none

STAC-12024: testing AAD chart upgrade
  .gitlab-ci.yml
  .gitlab/commit_changes_and_push.sh
Due: none

STAC-12024: testing AAD chart upgrade
  .gitlab-ci.yml
Due: none

Reset dependency on anomaly-detection to previous version
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-11874 Make 4.2.4 rc5
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-12024: Upgrading helm test image - adding YQ utility
  .gitlab-ci.yml
Due: none

chore(stackstate): Upgrade StackGraph to version 3.7.3.
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/values.yaml
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_hbase_to_internal, push_hbase_to_public, push_stackstate_to_internal, push_stackstate_to_public

STAC-12024: AAD chart upgrade using jsonnet
  .gitlab-ci.jsonnet
  .gitlab-ci.yml
Due: none

STAC-11548 Fixes MinIO for AWS IAM roles
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/restore/list-elasticsearch-snapshots.sh
  stable/stackstate/restore/list-stackgraph-backups.sh
  stable/stackstate/restore/restore-elasticsearch-snapshot.sh
  stable/stackstate/restore/restore-stackgraph-backup.sh
  stable/stackstate/scripts/configure-backup.sh
  stable/stackstate/scripts/list-elasticsearch-snapshots.sh
  stable/stackstate/scripts/list-stackgraph-backups.sh
  stable/stackstate/scripts/restore-elasticsearch-snapshot.sh
  stable/stackstate/scripts/restore-stackgraph-backup.sh
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

Add helmchart for aws-pod-identity-webhook to support IRSA.Needed because the `eks-charts` repository takes forever to merge https://github.com/aws/eks-charts/pull/286
  .gitlab-ci.yml
  .jsonnet-libs/extras/helm_chart_repo/variables.libsonnet
  stable/aws-pod-identity-webhook/.helmignore
  stable/aws-pod-identity-webhook/Chart.yaml
  stable/aws-pod-identity-webhook/README.md
  stable/aws-pod-identity-webhook/README.md.gotmpl
  stable/aws-pod-identity-webhook/templates/NOTES.txt
  stable/aws-pod-identity-webhook/templates/_helpers.tpl
  stable/aws-pod-identity-webhook/templates/clusterrole.yaml
  stable/aws-pod-identity-webhook/templates/clusterrolebinding.yaml
  stable/aws-pod-identity-webhook/templates/deployment.yaml
  stable/aws-pod-identity-webhook/templates/mutatingwebhook.yaml
  stable/aws-pod-identity-webhook/templates/role.yaml
  stable/aws-pod-identity-webhook/templates/rolebinding.yaml
  stable/aws-pod-identity-webhook/templates/service.yaml
  stable/aws-pod-identity-webhook/templates/serviceaccount.yaml
  stable/aws-pod-identity-webhook/values.yaml
Due: none

STAC-11977: Create internal topology topic
  stable/hbase/README.md
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/scripts/job-kafka-topic-create.sh
Due: push_hbase_to_internal, push_hbase_to_public, push_stackstate_to_internal, push_stackstate_to_public

STAC-12024: testing the chart update
  .gitlab-ci.yml
Due: none

STAC-11977: Reorder
  stable/stackstate/scripts/job-kafka-topic-create.sh
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-11977: Bump hbase version
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-11977: Bump habse and add simple README template
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/README.md.gotmpl
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_hbase_to_internal, push_hbase_to_public, push_stackstate_to_internal, push_stackstate_to_public

STAC-12024: always run pipeline
  .gitlab-ci.yml
Due: none

STAC-12024: using CI_REF in instead of CI_COMMIT_BRANCH
  .gitlab-ci.yml
Due: none

STAC-12024: test pipeline
  .gitlab-ci.yml
Due: none

STAC-12024: fixing StackGraph update job
  .gitlab-ci.jsonnet
  .gitlab-ci.yml
Due: none

chore(stackstate): Upgrade anomaly-detection to version 4.3.0-snapshot.86.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal, push_stackstate_to_public

chore(stackstate): Fixes README.md for hbase chart.
  stable/hbase/README.md
Due: push_hbase_to_internal, push_hbase_to_public

STAC-11548 Updates values.yaml after writing documentation
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

chore(stackstate): Upgrade anomaly-detection to version 4.3.0-snapshot.91.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-11548 Disables MinIO by default
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-11548 Starts ElasticSearch with -Des.allow_insecure_settings=true
  stable/stackstate/README.md
  stable/stackstate/scripts/configure-backup.sh
  stable/stackstate/templates/configmap-backup-restore-scripts.yaml
  stable/stackstate/templates/cronjob-backup.yaml
  stable/stackstate/templates/job-backup-init.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-11548 Fixes default values for backup.elasticSearch.schedule and backup.stackGraph.schedule
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-11977: Add simple README template for hbase
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/README.md.gotmpl
Due: push_hbase_to_internal, push_hbase_to_public

STAC-11977: Create internal topology topic
  stable/stackstate/scripts/job-kafka-topic-create.sh
Due: push_stackstate_to_internal, push_stackstate_to_public

chore(stackstate): Upgrade anomaly-detection to version 4.3.0-snapshot.112.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-12024: aad is on by default - aad add-on is installed, aad image pull credentials are configured
  stable/stackstate/installation/generate_values.sh
Due: push_stackstate_to_internal, push_stackstate_to_public
