Repository StackVista/helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: push_aws-amicleaner_to_internal, push_aws-nuke_to_internal, push_aws-pod-identity-webhook_to_internal, push_beacher-job_to_internal, push_chartmuseum_to_internal, push_cluster-agent_to_internal, push_common_to_internal, push_elasticsearch_to_internal, push_gitlab-runner_to_internal, push_gitlab-steward_to_internal, push_hbase_to_internal, push_iceman_to_internal, push_kafka_to_internal, push_kafkaup-operator_to_internal, push_kommoner-operator_to_internal, push_minio_to_internal, push_petros-d-kubelet-stats-exporter_to_internal, push_sandbox-operator_to_internal, push_stackstate-standalone_to_internal, push_stackstate_to_internal, push_trafficmirror_to_internal

push_aws-amicleaner_to_internal:
  image: stackstate/stackstate-ci-images:stackstate-devops-f87d9654
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

push_aws-nuke_to_internal:
  image: stackstate/stackstate-ci-images:stackstate-devops-f87d9654
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

push_aws-pod-identity-webhook_to_internal:
  image: stackstate/stackstate-ci-images:stackstate-devops-f87d9654
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

push_beacher-job_to_internal:
  image: stackstate/stackstate-ci-images:stackstate-devops-f87d9654
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

push_chartmuseum_to_internal:
  image: stackstate/stackstate-ci-images:stackstate-devops-f87d9654
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

push_cluster-agent_to_internal:
  image: stackstate/stackstate-ci-images:stackstate-devops-f87d9654
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

push_common_to_internal:
  image: stackstate/stackstate-ci-images:stackstate-devops-f87d9654
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

push_elasticsearch_to_internal:
  image: stackstate/stackstate-ci-images:stackstate-devops-f87d9654
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

STAC-19840 Make 5.1.5 rc2
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

[chore] [publish-k8s-agent] Update agent images to latest pre-prod commit at 2023-07-24_23:04:39
  stable/stackstate-k8s-agent/Chart.yaml
  stable/stackstate-k8s-agent/README.md
  stable/stackstate-k8s-agent/values.yaml
Due: none

STAC-19417: Drop kebab case from dependency inclusion
  stable/stackstate-k8s-agent/Chart.yaml
  stable/stackstate-k8s-agent/README.md
  stable/stackstate-k8s-agent/values.yaml
Due: none

STAC-19417: Fix chart.lock
  stable/stackstate-k8s-agent/Chart.lock
Due: none

STAC-19417: Bump chart
  stable/stackstate-k8s-agent/Chart.yaml
  stable/stackstate-k8s-agent/README.md
Due: none

STAC-19417: Bump dependent chart
  stable/stackstate-k8s-agent/Chart.lock
  stable/stackstate-k8s-agent/Chart.yaml
  stable/stackstate-k8s-agent/README.md
Due: none

STAC-19417: Fix accidental revert
  stable/stackstate-k8s-agent/Chart.yaml
  stable/stackstate-k8s-agent/README.md
Due: none

STAC-19417: Bump chart.lock
  stable/stackstate-k8s-agent/Chart.lock
Due: none

STAC-19417: Bump http-header-injector
  stable/stackstate-k8s-agent/Chart.lock
  stable/stackstate-k8s-agent/Chart.yaml
  stable/stackstate-k8s-agent/README.md
Due: none

STAC-19841 Fix guest role, add troubleshooter role and support scope in helm chart for custom roles
  stable/stackstate-k8s/README.md
  stable/stackstate-k8s/templates/_helper-server-and-api-configmap.tpl
  stable/stackstate-k8s/values.yaml
Due: none

STAC-19841 Update name to make more explicit
  stable/stackstate-k8s/README.md
  stable/stackstate-k8s/templates/_helper-server-and-api-configmap.tpl
  stable/stackstate-k8s/values.yaml
Due: none

STAC-19842 Set defaults for stackstate-k8s from experience in production
  stable/stackstate-k8s/README.md
  stable/stackstate-k8s/values.yaml
Due: none

STAC-19842 Fix tests
  stable/stackstate-k8s/README.md
  stable/stackstate-k8s/test/cache_backend_test.go
  stable/stackstate-k8s/test/pull_secret_test.go
  stable/stackstate-k8s/test/services_java_heap_test.go
  stable/stackstate-k8s/test/services_parallelism_test.go
  stable/stackstate-k8s/test/values/full.yaml
  stable/stackstate-k8s/test/values/pull_secret_global.yaml
  stable/stackstate-k8s/test/values/pull_secret_global_named.yaml
  stable/stackstate-k8s/values.yaml
Due: none

STAC-19840 Make 5.1.5 rc3
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-0: Fix the patch definition for SockShop faulty scenarious
  stable/sock-shop/Chart.yaml
  stable/sock-shop/README.md
  stable/sock-shop/scripts/catalogue-failure-patch.yaml
  stable/sock-shop/scripts/catalogue-fix-patch.yaml
Due: none

STAC-19840: Make 5.1.5
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-0 Fix agent scrape config for elasticsearch exporter
  stable/stackstate-k8s/README.md
  stable/stackstate-k8s/values.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-19981 Reset repositorySuffix to empty to prepare for release candidates
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-19981 Make 5.1.6 rc1
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-19981: Make 5.1.6
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-19463 Extending termination grace and moving lifecycle code from agent to helm chart
  stable/stackstate-k8s-agent/Chart.yaml
  stable/stackstate-k8s-agent/README.md
  stable/stackstate-k8s-agent/templates/_container-agent.yaml
  stable/stackstate-k8s-agent/templates/checks-agent-deployment.yaml
  stable/stackstate-k8s-agent/templates/cluster-agent-deployment.yaml
  stable/stackstate-k8s-agent/templates/node-agent-daemonset.yaml
Due: none

[chore] [publish-k8s-agent] Update agent images to latest pre-prod commit at 2023-07-31_23:04:24
  stable/stackstate-k8s-agent/Chart.yaml
  stable/stackstate-k8s-agent/README.md
  stable/stackstate-k8s-agent/values.yaml
Due: none

STAC-19463 Extending termination grace and moving lifecycle code from agent to helm chart
  stable/stackstate-k8s-agent/templates/_container-agent.yaml
  stable/stackstate-k8s-agent/templates/checks-agent-deployment.yaml
  stable/stackstate-k8s-agent/templates/cluster-agent-deployment.yaml
  stable/stackstate-k8s-agent/templates/node-agent-daemonset.yaml
Due: none

STAC-19463 Update chart version.
  stable/stackstate-k8s-agent/Chart.yaml
  stable/stackstate-k8s-agent/README.md
Due: none

STAC-19979 Add log volume prometheus rule
  stable/stackstate-monitoring/templates/rule-sts-receiver.yaml
Due: none

STAC-19979 Bump chart version
  stable/stackstate-monitoring/Chart.yaml
  stable/stackstate-monitoring/README.md
Due: none

STAC-19948 Support global storage class for StackState and HBase
  stable/common/Chart.yaml
  stable/common/README.md
  stable/common/templates/_storageclass.yaml
  stable/hbase/Chart.lock
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/templates/hdfs-dn-statefulset.yaml
  stable/hbase/templates/hdfs-nn-statefulset.yaml
  stable/hbase/values.yaml
  stable/kafkaup-operator/Chart.lock
  stable/kafkaup-operator/Chart.yaml
  stable/kafkaup-operator/README.md
  stable/stackstate-k8s/Chart.lock
  stable/stackstate-k8s/Chart.yaml
  stable/stackstate-k8s/README.md
  stable/stackstate-k8s/templates/pvc-api.yaml
  stable/stackstate-k8s/templates/pvc-backup.yaml
  stable/stackstate-k8s/templates/pvc-checks.yaml
  stable/stackstate-k8s/templates/pvc-healthSync.yaml
  stable/stackstate-k8s/templates/pvc-state.yaml
  stable/stackstate-k8s/templates/pvc-sync.yaml
  stable/stackstate-k8s/templates/pvc-viewHealth.yaml
  stable/stackstate-k8s/templates/statefulset-vmagent.yaml
  stable/stackstate-k8s/values.yaml
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_common_to_internal, push_hbase_to_internal, push_kafkaup-operator_to_internal, push_stackstate_to_internal

update cluster-role with permissions needed by cluster-agent
  stable/stackstate-k8s-agent/README.md
  stable/stackstate-k8s-agent/templates/cluster-agent-clusterrole.yaml
  stable/stackstate-k8s-agent/templates/cluster-agent-deployment.yaml
  stable/stackstate-k8s-agent/values.yaml
  stable/stackstate-k8s/README.md
Due: none

update cluster-role with permissions needed by cluster-agent
  stable/stackstate-k8s-agent/Chart.yaml
  stable/stackstate-k8s-agent/README.md
Due: none

[chore] [publish-k8s-agent] Update agent images to latest pre-prod commit at 2023-08-07_23:05:15
  stable/stackstate-k8s-agent/Chart.yaml
  stable/stackstate-k8s-agent/README.md
  stable/stackstate-k8s-agent/values.yaml
Due: none

update readme + values
  stable/stackstate-k8s-agent/templates/cluster-agent-deployment.yaml
  stable/stackstate-k8s/README.md
  stable/stackstate-k8s/values.yaml
Due: none

STAC-19886 Fix pod volume and config
  stable/stackstate-k8s/README.md
  stable/stackstate-k8s/templates/_helper-server-and-api-configmap.tpl
  stable/stackstate-k8s/templates/_helper-service-config.tpl
  stable/stackstate-k8s/templates/_helper.tpl
  stable/stackstate-k8s/templates/deployment-api.yaml
  stable/stackstate-k8s/templates/deployment-server.yaml
  stable/stackstate-k8s/values.yaml
Due: none

STAC-19886 Dedup key
  stable/stackstate-k8s/templates/_helper.tpl
  stable/stackstate-k8s/values.yaml
  stable/stackstate/templates/_helper.tpl
Due: push_stackstate_to_internal

STAC-19886 Fix test
  stable/stackstate-k8s/test/stackpack_config_test.go
Due: none

STAC-19886 Make upgrade on startup first-class
  stable/stackstate-k8s/README.md
  stable/stackstate-k8s/templates/_helper-server-and-api-configmap.tpl
  stable/stackstate-k8s/values.yaml
Due: none

STAC-19886 Fix test again
  stable/stackstate-k8s/templates/_helper-server-and-api-configmap.tpl
  stable/stackstate-k8s/test/stackpack_config_test.go
  stable/stackstate-k8s/test/values/stackpack_config.yaml
Due: none

STAC-19886 Load stackpacks by default from docker image
  stable/stackstate-k8s/README.md
  stable/stackstate-k8s/templates/_helper-server-and-api-configmap.tpl
  stable/stackstate-k8s/templates/_helper-service-config.tpl
  stable/stackstate-k8s/templates/_helper.tpl
  stable/stackstate-k8s/templates/deployment-api.yaml
  stable/stackstate-k8s/templates/deployment-server.yaml
  stable/stackstate-k8s/templates/pvc-stackpacks.yaml
  stable/stackstate-k8s/values.yaml
  stable/stackstate/templates/_helper.tpl
Due: push_stackstate_to_internal

STAC-19886 Bump version for testing
  stable/stackstate-k8s/Chart.yaml
  stable/stackstate-k8s/README.md
Due: none

STAC-20028 Reset repositorySuffix to empty to prepare for release candidates
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

Path conditions:
  push_aws-amicleaner_to_internal: any of: stable/aws-amicleaner/**/*
  push_aws-nuke_to_internal: any of: stable/aws-nuke/**/*
  push_aws-pod-identity-webhook_to_internal: any of: stable/aws-pod-identity-webhook/**/*
  push_beacher-job_to_internal: any of: stable/beacher-job/**/*
  push_chartmuseum_to_internal: any of: stable/chartmuseum/**/*
  push_cluster-agent_to_internal: any of: stable/cluster-agent/**/*
  push_common_to_internal: any of: stable/common/**/*
  push_elasticsearch_to_internal: any of: stable/elasticsearch/**/*
  push_gitlab-runner_to_internal: any of: stable/gitlab-runner/**/*
  push_gitlab-steward_to_internal: any of: stable/gitlab-steward/**/*
  push_hbase_to_internal: any of: stable/hbase/**/*
  push_iceman_to_internal: any of: stable/iceman/**/*
  push_kafka_to_internal: any of: stable/kafka/**/*
  push_kafkaup-operator_to_internal: any of: stable/kafkaup-operator/**/*
  push_kommoner-operator_to_internal: any of: stable/kommoner-operator/**/*
  push_minio_to_internal: any of: stable/minio/**/*
  push_petros-d-kubelet-stats-exporter_to_internal: any of: stable/petros-d-kubelet-stats-exporter/**/*
  push_sandbox-operator_to_internal: any of: stable/sandbox-operator/**/*
  push_stackstate-standalone_to_internal: any of: stable/stackstate-standalone/**/*
  push_stackstate_to_internal: any of: stable/stackstate/**/*
  push_trafficmirror_to_internal: any of: stable/trafficmirror/**/*
