Repository StackVista/helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: push_aws-amicleaner_to_internal, push_aws-nuke_to_internal, push_aws-pod-identity-webhook_to_internal, push_beacher-job_to_internal, push_chartmuseum_to_internal, push_cluster-agent_to_internal, push_common_to_internal, push_elasticsearch_to_internal, push_gitlab-runner_to_internal, push_gitlab-steward_to_internal, push_hbase_to_internal, push_iceman_to_internal, push_kafka_to_internal, push_kafkaup-operator_to_internal, push_kommoner-operator_to_internal, push_minio_to_internal, push_petros-d-kubelet-stats-exporter_to_internal, push_sandbox-operator_to_internal, push_stackstate-standalone_to_internal, push_stackstate_to_internal, push_trafficmirror_to_internal

Path conditions:
  push_aws-amicleaner_to_internal: any of: stable/aws-amicleaner/**/*
  push_aws-nuke_to_internal: any of: stable/aws-nuke/**/*
  push_aws-pod-identity-webhook_to_internal: any of: stable/aws-pod-identity-webhook/**/*
  push_beacher-job_to_internal: any of: stable/beacher-job/**/*
  push_chartmuseum_to_internal: any of: stable/chartmuseum/**/*
  push_cluster-agent_to_internal: any of: stable/cluster-agent/**/*
  push_common_to_internal: any of: stable/common/**/*
  push_elasticsearch_to_internal: any of: stable/elasticsearch/**/*
  push_gitlab-runner_to_internal: any of: stable/gitlab-runner/**/*
  push_gitlab-steward_to_internal: any of: stable/gitlab-steward/**/*
  push_hbase_to_internal: any of: stable/hbase/**/*
  push_iceman_to_internal: any of: stable/iceman/**/*
  push_kafka_to_internal: any of: stable/kafka/**/*
  push_kafkaup-operator_to_internal: any of: stable/kafkaup-operator/**/*
  push_kommoner-operator_to_internal: any of: stable/kommoner-operator/**/*
  push_minio_to_internal: any of: stable/minio/**/*
  push_petros-d-kubelet-stats-exporter_to_internal: any of: stable/petros-d-kubelet-stats-exporter/**/*
  push_sandbox-operator_to_internal: any of: stable/sandbox-operator/**/*
  push_stackstate-standalone_to_internal: any of: stable/stackstate-standalone/**/*
  push_stackstate_to_internal: any of: stable/stackstate/**/*
  push_trafficmirror_to_internal: any of: stable/trafficmirror/**/*

STAC-15180: cluster-agent: Only render pull-secret when specific pullsecret details configured
  stable/cluster-agent/Chart.yaml
  stable/cluster-agent/README.md
  stable/cluster-agent/templates/_helpers.tpl
  stable/cluster-agent/templates/pull-secret.yaml
Due: push_cluster-agent_to_internal

STAC-15228 In stackstate Helm chart, removes (broken) support for kots.contourIngress.* and kots.kurl.*
  stable/stackstate/README.md
  stable/stackstate/templates/ingress-kurl.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-15233 In stackstate Helm chart, removes support for kots.enabled
  stable/stackstate/README.md
  stable/stackstate/templates/_helper-server-and-api-configmap.tpl
  stable/stackstate/templates/secret-common.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-15180: stakstate - Only render pull-secret when specific pullsecret details configured
  stable/stackstate/templates/_helper.tpl
  stable/stackstate/templates/pull-secret.yaml
  stable/stackstate/test/pull_secret_test.go
  stable/stackstate/test/values/pull_secret_both.yaml
Due: push_stackstate_to_internal

STAC-15180: Depend on new pull-secret chart
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-15180: [cluster-agent] Make global.imagePullSecrets compatible
  stable/cluster-agent/Chart.yaml
  stable/cluster-agent/README.md
  stable/cluster-agent/templates/_helpers.tpl
Due: push_cluster-agent_to_internal

STAC-15180: [elasticsearch] Make global.imagePullSecrets compatible
  stable/elasticsearch/Chart.yaml
  stable/elasticsearch/README.md
  stable/elasticsearch/templates/_helpers.tpl
Due: push_elasticsearch_to_internal

STAC-15180: [hbase] Make global.imagePullSecrets compatible
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/templates/_helpers.yaml
Due: push_hbase_to_internal

Release agent 2.15.0
  stable/cluster-agent/Chart.yaml
  stable/cluster-agent/README.md
  stable/cluster-agent/values.yaml
Due: push_cluster-agent_to_internal

chore(stackstate): Upgrade anomaly-detection to version 4.5.0-snapshot.206.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

STAC-15180: [stackstate] Make global.imagePullSecrets compatible
  stable/stackstate/templates/_helper.tpl
  stable/stackstate/test/values/pull_secret_both.yaml
  stable/stackstate/test/values/pull_secret_global_named.yaml
Due: push_stackstate_to_internal

STAC-15180: [stackstate] Upgrade dependencies
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

STAC-15312: [stackstate] Don't publish chart to public in master pipeline
  .gitlab-ci.jsonnet
  .gitlab-ci.yml
Due: none

STAC-15244 Bump kommoner to 0.2.0
  stable/kommoner-operator/Chart.yaml
  stable/kommoner-operator/README.md
  stable/kommoner-operator/values.yaml
Due: push_kommoner-operator_to_internal

STAC-14727 Added a docs link test.
  stable/stackstate/README.md
  stable/stackstate/test/docs_config_test.go
  stable/stackstate/test/values/docs_config.yaml
Due: push_stackstate_to_internal

STAC-14727 Moved the docs URL addition into the right template.
  stable/stackstate/templates/_helper-server-and-api-configmap.tpl
  stable/stackstate/templates/secret-api.yaml
Due: push_stackstate_to_internal

STAC-14727 Add explicit docslink parameter to the API pod.
  stable/stackstate/README.md
  stable/stackstate/templates/secret-api.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-14908: Bump common and ditch kafka changes for now
  stable/kafka/Chart.lock
  stable/kafka/Chart.yaml
  stable/kafka/README.md
  stable/kafka/templates/statefulset.yaml
  stable/kafka/values.yaml
  stable/kafkaup-operator/Chart.lock
  stable/kafkaup-operator/Chart.yaml
  stable/kafkaup-operator/README.md
Due: push_kafka_to_internal, push_kafkaup-operator_to_internal

STAC-14908: Use global pullsecret if available
  stable/kafkaup-operator/templates/_helpers.tpl
  stable/kafkaup-operator/templates/kafkaup-deployment.yaml
Due: push_kafkaup-operator_to_internal

STAC-15180: [minio] Bump chart
  stable/minio/Chart.yaml
  stable/minio/README.md
Due: push_minio_to_internal

STAC-15180: [minio] Make image registry (globally) configurable
  stable/minio/README.md
  stable/minio/templates/_helpers.tpl
  stable/minio/templates/post-install-create-bucket-job.yaml
  stable/minio/templates/post-install-prometheus-metrics-job.yaml
  stable/minio/templates/statefulset.yaml
  stable/minio/values.yaml
Due: push_minio_to_internal

STAC-15180: [minio] Support global pullSecrets
  stable/minio/templates/_helpers.tpl
  stable/minio/templates/deployment.yaml
  stable/minio/templates/post-install-create-bucket-job.yaml
  stable/minio/templates/post-install-prometheus-metrics-job.yaml
  stable/minio/templates/statefulset.yaml
Due: push_minio_to_internal

STAC-15180: [minio] Review comments
  stable/minio/templates/_helpers.tpl
Due: push_minio_to_internal

STAC-15180: [stackstate] Use new minio chart version
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-15352: [kafka] Chart superseeded by Bitnami
  .gitlab-ci.yml
  .jsonnet-libs/extras/helm_chart_repo/variables.libsonnet
  stable/kafka/.helmignore
  stable/kafka/Chart.lock
  stable/kafka/Chart.yaml
  stable/kafka/README.md
  stable/kafka/README.md.gotmpl
  stable/kafka/files/jks/README.md
  stable/kafka/original-README.md
  stable/kafka/templates/NOTES.txt
  stable/kafka/templates/_helpers.tpl
  stable/kafka/templates/configmap.yaml
  stable/kafka/templates/extra-list.yaml
  stable/kafka/templates/jaas-secret.yaml
  stable/kafka/templates/jks-secret.yaml
  stable/kafka/templates/jmx-configmap.yaml
  stable/kafka/templates/jmx-metrics-svc.yaml
  stable/kafka/templates/kafka-metrics-deployment.yaml
  stable/kafka/templates/kafka-metrics-svc.yaml
  stable/kafka/templates/log4j-configmap.yaml
  stable/kafka/templates/poddisruptionbudget.yaml
  stable/kafka/templates/role.yaml
  stable/kafka/templates/rolebinding.yaml
  stable/kafka/templates/scripts-configmap.yaml
  stable/kafka/templates/serviceaccount.yaml
  stable/kafka/templates/servicemonitor-jmx-metrics.yaml
  stable/kafka/templates/servicemonitor-metrics.yaml
  stable/kafka/templates/statefulset.yaml
  stable/kafka/templates/svc-external-access.yaml
  stable/kafka/templates/svc-headless.yaml
  stable/kafka/templates/svc.yaml
  stable/kafka/values-production.yaml
  stable/kafka/values.yaml
Due: push_kafka_to_internal

chore(stackstate): Upgrade StackGraph to version 4.6.1.
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/values.yaml
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_hbase_to_internal, push_stackstate_to_internal

STAC-15180: [minio] Add registry for deployment
  stable/minio/Chart.yaml
  stable/minio/README.md
  stable/minio/templates/deployment.yaml
Due: push_minio_to_internal

STAC-14908: Stable version for kafka operator
  stable/kafkaup-operator/Chart.yaml
  stable/kafkaup-operator/README.md
Due: push_kafkaup-operator_to_internal

STAC-14908: Enable kafka upgrade operator and upgrade
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-14908: Fix comment
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-15180: [stackstate] Use new minio chart version
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

STAC-14908: Fix typo
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-14908: Update digest
  stable/stackstate/Chart.lock
Due: push_stackstate_to_internal

STAC-0: [stackstate] Fix secrets for *2es
  stable/stackstate/templates/secret-e2es..yaml
  stable/stackstate/templates/secret-mm2es.yaml
  stable/stackstate/templates/secret-trace2es.yaml
Due: push_stackstate_to_internal

STAC-0: [stackstate] Fix name of e2es secret
  stable/stackstate/templates/secret-e2es.yaml
Due: push_stackstate_to_internal

STAC-0: [stackstate] Ensure secrets from services also get 'components.all.extraEnv.secret'
  stable/stackstate/templates/_helper-service-config.tpl
  stable/stackstate/templates/secret-api.yaml
  stable/stackstate/templates/secret-checks.yaml
  stable/stackstate/templates/secret-correlate.yaml
  stable/stackstate/templates/secret-healthSync.yaml
  stable/stackstate/templates/secret-initializer.yaml
  stable/stackstate/templates/secret-problemProducer.yaml
  stable/stackstate/templates/secret-receiver.yaml
  stable/stackstate/templates/secret-server.yaml
  stable/stackstate/templates/secret-slicing.yaml
  stable/stackstate/templates/secret-state.yaml
  stable/stackstate/templates/secret-sync.yaml
  stable/stackstate/templates/secret-viewHealth.yaml
Due: push_stackstate_to_internal

STAC-0: [stackstate] Ensure secrets from kafka2es also get 'components.all.extraEnv.secret'
  stable/stackstate/templates/secret-e2es.yaml
  stable/stackstate/templates/secret-mm2es.yaml
  stable/stackstate/templates/secret-trace2es.yaml
Due: push_stackstate_to_internal

STAC-14908: Fix kafka statefulset name
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-11967 Adds flag to enable the "Recreate" deployment update strategy for StackState components
  stable/stackstate/README.md
  stable/stackstate/templates/_helper-service-config.tpl
  stable/stackstate/templates/deployment-api.yaml
  stable/stackstate/templates/deployment-checks.yaml
  stable/stackstate/templates/deployment-healthSync.yaml
  stable/stackstate/templates/deployment-initializer.yaml
  stable/stackstate/templates/deployment-problemProducer.yaml
  stable/stackstate/templates/deployment-server.yaml
  stable/stackstate/templates/deployment-slicing.yaml
  stable/stackstate/templates/deployment-state.yaml
  stable/stackstate/templates/deployment-sync.yaml
  stable/stackstate/templates/deployment-viewHealth.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal
