Repository StackVista/helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: push_aws-amicleaner_to_internal, push_aws-nuke_to_internal, push_aws-pod-identity-webhook_to_internal, push_beacher-job_to_internal, push_chartmuseum_to_internal, push_cluster-agent_to_internal, push_common_to_internal, push_elasticsearch_to_internal, push_gitlab-runner_to_internal, push_gitlab-steward_to_internal, push_hbase_to_internal, push_iceman_to_internal, push_kafka_to_internal, push_kafkaup-operator_to_internal, push_kommoner-operator_to_internal, push_minio_to_internal, push_petros-d-kubelet-stats-exporter_to_internal, push_sandbox-operator_to_internal, push_stackstate-standalone_to_internal, push_stackstate_to_internal, push_trafficmirror_to_internal

push_aws-amicleaner_to_internal:
  image: stackstate/stackstate-ci-images:stackstate-devops-f87d9654
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

push_aws-nuke_to_internal:
  image: stackstate/stackstate-ci-images:stackstate-devops-f87d9654
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

push_aws-pod-identity-webhook_to_internal:
  image: stackstate/stackstate-ci-images:stackstate-devops-f87d9654
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

push_beacher-job_to_internal:
  image: stackstate/stackstate-ci-images:stackstate-devops-f87d9654
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

push_chartmuseum_to_internal:
  image: stackstate/stackstate-ci-images:stackstate-devops-f87d9654
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

push_cluster-agent_to_internal:
  image: stackstate/stackstate-ci-images:stackstate-devops-f87d9654
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

push_common_to_internal:
  image: stackstate/stackstate-ci-images:stackstate-devops-f87d9654
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

push_elasticsearch_to_internal:
  image: stackstate/stackstate-ci-images:stackstate-devops-f87d9654
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

STAC-17575: Make 5.0.3
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

chore(stackstate): Upgrade anomaly-detection to version 5.1.0-snapshot.155.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

chore(stackstate): Upgrade StackGraph to version 4.9.0.
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/values.yaml
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_hbase_to_internal, push_stackstate_to_internal

STAC-17626 Make 5.1.0-pre.3 rc1
  stable/aws-amicleaner/README.md
  stable/aws-nuke/README.md
  stable/cluster-agent/README.md
  stable/common/README.md
  stable/elasticsearch/README.md
  stable/gitlab-steward/README.md
  stable/iceman/README.md
  stable/kafkaup-operator/README.md
  stable/minio/README.md
  stable/petros-d-kubelet-stats-exporter/README.md
  stable/receiveramplifier/README.md
  stable/sandbox-operator/README.md
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
  stable/trafficmirror/README.md
Due: push_aws-amicleaner_to_internal, push_aws-nuke_to_internal, push_cluster-agent_to_internal, push_common_to_internal, push_elasticsearch_to_internal, push_gitlab-steward_to_internal, push_iceman_to_internal, push_kafkaup-operator_to_internal, push_minio_to_internal, push_petros-d-kubelet-stats-exporter_to_internal, push_sandbox-operator_to_internal, push_stackstate_to_internal, push_trafficmirror_to_internal

chore(stackstate): Upgrade StackGraph to version 4.9.1.
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/values.yaml
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_hbase_to_internal, push_stackstate_to_internal

STAC-16950: Backup Stackstate configuration
  stable/stackstate/README.md
  stable/stackstate/restore/list-configuration-backups.sh
  stable/stackstate/restore/restore-configuration-backup.sh
  stable/stackstate/scripts/backup-configuration.sh
  stable/stackstate/scripts/backup-stackgraph.sh
  stable/stackstate/scripts/configure-backup.sh
  stable/stackstate/scripts/expire-s3-backups.py
  stable/stackstate/scripts/list-configuration-backups.sh
  stable/stackstate/scripts/restore-configuration-backup.sh
  stable/stackstate/templates/_helper-backup.tpl
  stable/stackstate/templates/_helper-endpoints.tpl
  stable/stackstate/templates/configmap-backup-restore-scripts.yaml
  stable/stackstate/templates/cronjob-backup.yaml
  stable/stackstate/templates/role-backup.yaml
  stable/stackstate/templates/rolebinding-backup.yaml
  stable/stackstate/templates/serviceaccount-backup.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-17706 Reset repositorySuffix to empty to prepare for release candidates
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-16950: Fixed the cronjob template
  stable/stackstate/templates/cronjob-backup.yaml
Due: push_stackstate_to_internal

STAC-17706 Make 5.0.4 rc1
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-17706: Make 5.0.4
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-17740 Reset repositorySuffix to empty to prepare for release candidates
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

Assign P1 to GC alerts
  stable/stackstate-monitoring/Chart.yaml
  stable/stackstate-monitoring/README.md
  stable/stackstate-monitoring/templates/rule-jvm.yaml
Due: none

STAC-17626: Make 5.1.0-pre.3
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-17740 Make 5.0.5 rc1
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-17740: Make 5.0.5
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

chore(stackstate): Upgrade anomaly-detection to version 5.1.0-snapshot.166.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

STAC-16382 validate cluster name only at helm package level, but no by agent in runtime
  stable/cluster-agent/Chart.yaml
  stable/cluster-agent/README.md
  stable/cluster-agent/templates/_container-agent.yaml
  stable/cluster-agent/templates/_container-process-agent.yaml
  stable/cluster-agent/templates/cluster-agent-deployment.yaml
  stable/cluster-agent/templates/clusterchecks-deployment.yaml
  stable/cluster-agent/test/sample_test.go
  stable/cluster-agent/values.schema.json
  stable/stackstate/Chart.lock
Due: push_cluster-agent_to_internal, push_stackstate_to_internal

Fix unit test copy-paste
  stable/cluster-agent/test/sample_test.go
  stable/stackstate/Chart.lock
Due: push_cluster-agent_to_internal, push_stackstate_to_internal

STAC-16668 configuration for events categories override
  stable/cluster-agent/README.md
  stable/cluster-agent/templates/cluster-agent-configmap.yaml
  stable/cluster-agent/templates/cluster-agent-deployment.yaml
  stable/cluster-agent/values.schema.json
  stable/cluster-agent/values.yaml
Due: push_cluster-agent_to_internal

Bump agent chart version
  stable/cluster-agent/Chart.yaml
  stable/cluster-agent/README.md
  stable/stackstate/Chart.lock
Due: push_cluster-agent_to_internal, push_stackstate_to_internal

Apply 1 suggestion(s) to 1 file(s)
  stable/cluster-agent/values.yaml
Due: push_cluster-agent_to_internal

STAC-16668 give property more clear name
  stable/cluster-agent/README.md
  stable/cluster-agent/templates/cluster-agent-configmap.yaml
  stable/cluster-agent/values.schema.json
  stable/cluster-agent/values.yaml
Due: push_cluster-agent_to_internal

chore(stackstate): Upgrade anomaly-detection to version 5.1.0-snapshot.169.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

STAC-17771 Make 5.1.0-pre.4 rc1
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-17742: Allow to specific Elasticsearch indices to backup/restore
  stable/stackstate/README.md
  stable/stackstate/restore/restore-elasticsearch-snapshot.sh
  stable/stackstate/scripts/configure-backup.sh
  stable/stackstate/scripts/restore-elasticsearch-snapshot.sh
  stable/stackstate/templates/configmap-backup-restore-scripts.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

chore(stackstate): Upgrade anomaly-detection to version 5.1.0-snapshot.237.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

STAC-17872 Reset repositorySuffix to empty to prepare for release candidates
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

chore(stackstate): Upgrade anomaly-detection to version 5.1.0-snapshot.299.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

STAC-17882: CPU requests and limits for Minio
  stable/minio/Chart.yaml
  stable/minio/README.md
  stable/minio/values.yaml
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_minio_to_internal, push_stackstate_to_internal

chore(stackstate): Upgrade anomaly-detection to version 5.1.0-snapshot.303.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

STAC-13408 Fixed broken unit tests.
  stable/stackstate-agent/templates/_helpers.tpl
  stable/stackstate-agent/test/clustercheck_ksm_test.go
  stable/stackstate-agent/test/values/clustercheck_ksm_custom_url.yaml
  stable/stackstate-agent/test/values/clustercheck_no_ksm_custom_url.yaml
Due: none

STAC-13408: Updated resource names according to refined requirements
  stable/stackstate-agent/templates/checks-agent-clusterrolebinding.yaml
  stable/stackstate-agent/templates/checks-agent-configmap.yaml
  stable/stackstate-agent/templates/checks-agent-deployment.yaml
  stable/stackstate-agent/templates/checks-agent-poddisruptionbudget.yaml
  stable/stackstate-agent/templates/checks-agent-serviceaccount.yaml
  stable/stackstate-agent/templates/cluster-agent-clusterrole.yaml
  stable/stackstate-agent/templates/cluster-agent-clusterrolebinding.yaml
  stable/stackstate-agent/templates/cluster-agent-configmap.yaml
  stable/stackstate-agent/templates/cluster-agent-deployment.yaml
  stable/stackstate-agent/templates/cluster-agent-poddisruptionbudget.yaml
  stable/stackstate-agent/templates/cluster-agent-service.yaml
  stable/stackstate-agent/templates/cluster-agent-serviceaccount.yaml
  stable/stackstate-agent/templates/node-agent-clusterrole.yaml
  stable/stackstate-agent/templates/node-agent-clusterrolebinding.yaml
  stable/stackstate-agent/templates/node-agent-configmap.yaml
  stable/stackstate-agent/templates/node-agent-daemonset.yaml
  stable/stackstate-agent/templates/node-agent-scc.yaml
  stable/stackstate-agent/templates/node-agent-service.yaml
  stable/stackstate-agent/templates/node-agent-serviceaccount.yaml
Due: none

STAC-13408: Updated checks-agent-deployment
  stable/stackstate-agent/templates/_container-agent.yaml
  stable/stackstate-agent/templates/_container-process-agent.yaml
  stable/stackstate-agent/templates/checks-agent-deployment.yaml
Due: none

STAC-13408: Updated cluster-agent container name
  stable/stackstate-agent/templates/cluster-agent-deployment.yaml
Due: none

STAC-13408: Added missing updates to rename
  stable/stackstate-agent/templates/_container-agent.yaml
  stable/stackstate-agent/templates/_helpers.tpl
  stable/stackstate-agent/templates/checks-agent-deployment.yaml
  stable/stackstate-agent/templates/node-agent-configmap.yaml
  stable/stackstate-agent/templates/node-agent-daemonset.yaml
Due: none

STAC-13408: Updated labels and container name
  stable/stackstate-agent/templates/_container-agent.yaml
  stable/stackstate-agent/templates/cluster-agent-clusterrole.yaml
  stable/stackstate-agent/templates/cluster-agent-clusterrolebinding.yaml
  stable/stackstate-agent/templates/cluster-agent-service.yaml
Due: none

STAC-13408 Bump Chart version to 3.0.0
  stable/stackstate-agent/Chart.yaml
  stable/stackstate-agent/README.md
  stable/stackstate/Chart.lock
Due: push_stackstate_to_internal

STAC-13408: Updated StackState cluster agent image tags
  stable/stackstate-agent/README.md
  stable/stackstate-agent/templates/cluster-agent-deployment.yaml
  stable/stackstate-agent/values.yaml
Due: none

STAC-13408: Expand rename scope to values structures
  stable/stackstate-agent/README.md
  stable/stackstate-agent/templates/_container-agent.yaml
  stable/stackstate-agent/templates/_container-process-agent.yaml
  stable/stackstate-agent/templates/_helpers.tpl
  stable/stackstate-agent/templates/checks-agent-clusterrolebinding.yaml
  stable/stackstate-agent/templates/checks-agent-configmap.yaml
  stable/stackstate-agent/templates/checks-agent-deployment.yaml
  stable/stackstate-agent/templates/checks-agent-poddisruptionbudget.yaml
  stable/stackstate-agent/templates/checks-agent-serviceaccount.yaml
  stable/stackstate-agent/templates/cluster-agent-clusterrole.yaml
  stable/stackstate-agent/templates/cluster-agent-configmap.yaml
  stable/stackstate-agent/templates/cluster-agent-deployment.yaml
  stable/stackstate-agent/templates/cluster-agent-serviceaccount.yaml
  stable/stackstate-agent/templates/node-agent-configmap.yaml
  stable/stackstate-agent/templates/node-agent-daemonset.yaml
  stable/stackstate-agent/templates/node-agent-scc.yaml
  stable/stackstate-agent/templates/node-agent-service.yaml
  stable/stackstate-agent/templates/node-agent-serviceaccount.yaml
  stable/stackstate-agent/test/values/clustercheck_ksm_custom_url.yaml
  stable/stackstate-agent/test/values/clustercheck_ksm_no_override.yaml
  stable/stackstate-agent/test/values/clustercheck_ksm_override.yaml
  stable/stackstate-agent/test/values/clustercheck_no_ksm_custom_url.yaml
  stable/stackstate-agent/test/values/disable-all-resource.yaml
  stable/stackstate-agent/values.yaml
Due: none

Path conditions:
  push_aws-amicleaner_to_internal: any of: stable/aws-amicleaner/**/*
  push_aws-nuke_to_internal: any of: stable/aws-nuke/**/*
  push_aws-pod-identity-webhook_to_internal: any of: stable/aws-pod-identity-webhook/**/*
  push_beacher-job_to_internal: any of: stable/beacher-job/**/*
  push_chartmuseum_to_internal: any of: stable/chartmuseum/**/*
  push_cluster-agent_to_internal: any of: stable/cluster-agent/**/*
  push_common_to_internal: any of: stable/common/**/*
  push_elasticsearch_to_internal: any of: stable/elasticsearch/**/*
  push_gitlab-runner_to_internal: any of: stable/gitlab-runner/**/*
  push_gitlab-steward_to_internal: any of: stable/gitlab-steward/**/*
  push_hbase_to_internal: any of: stable/hbase/**/*
  push_iceman_to_internal: any of: stable/iceman/**/*
  push_kafka_to_internal: any of: stable/kafka/**/*
  push_kafkaup-operator_to_internal: any of: stable/kafkaup-operator/**/*
  push_kommoner-operator_to_internal: any of: stable/kommoner-operator/**/*
  push_minio_to_internal: any of: stable/minio/**/*
  push_petros-d-kubelet-stats-exporter_to_internal: any of: stable/petros-d-kubelet-stats-exporter/**/*
  push_sandbox-operator_to_internal: any of: stable/sandbox-operator/**/*
  push_stackstate-standalone_to_internal: any of: stable/stackstate-standalone/**/*
  push_stackstate_to_internal: any of: stable/stackstate/**/*
  push_trafficmirror_to_internal: any of: stable/trafficmirror/**/*
