Repository StackVista/helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: push_aws-amicleaner_to_internal, push_aws-nuke_to_internal, push_aws-pod-identity-webhook_to_internal, push_beacher-job_to_internal, push_chartmuseum_to_internal, push_cluster-agent_to_internal, push_common_to_internal, push_elasticsearch_to_internal, push_gitlab-runner_to_internal, push_gitlab-steward_to_internal, push_hbase_to_internal, push_iceman_to_internal, push_kafka_to_internal, push_kafkaup-operator_to_internal, push_kommoner-operator_to_internal, push_minio_to_internal, push_petros-d-kubelet-stats-exporter_to_internal, push_sandbox-operator_to_internal, push_stackstate-standalone_to_internal, push_stackstate_to_internal, push_trafficmirror_to_internal

Path conditions:
  push_aws-amicleaner_to_internal: any of: stable/aws-amicleaner/**/*
  push_aws-nuke_to_internal: any of: stable/aws-nuke/**/*
  push_aws-pod-identity-webhook_to_internal: any of: stable/aws-pod-identity-webhook/**/*
  push_beacher-job_to_internal: any of: stable/beacher-job/**/*
  push_chartmuseum_to_internal: any of: stable/chartmuseum/**/*
  push_cluster-agent_to_internal: any of: stable/cluster-agent/**/*
  push_common_to_internal: any of: stable/common/**/*
  push_elasticsearch_to_internal: any of: stable/elasticsearch/**/*
  push_gitlab-runner_to_internal: any of: stable/gitlab-runner/**/*
  push_gitlab-steward_to_internal: any of: stable/gitlab-steward/**/*
  push_hbase_to_internal: any of: stable/hbase/**/*
  push_iceman_to_internal: any of: stable/iceman/**/*
  push_kafka_to_internal: any of: stable/kafka/**/*
  push_kafkaup-operator_to_internal: any of: stable/kafkaup-operator/**/*
  push_kommoner-operator_to_internal: any of: stable/kommoner-operator/**/*
  push_minio_to_internal: any of: stable/minio/**/*
  push_petros-d-kubelet-stats-exporter_to_internal: any of: stable/petros-d-kubelet-stats-exporter/**/*
  push_sandbox-operator_to_internal: any of: stable/sandbox-operator/**/*
  push_stackstate-standalone_to_internal: any of: stable/stackstate-standalone/**/*
  push_stackstate_to_internal: any of: stable/stackstate/**/*
  push_trafficmirror_to_internal: any of: stable/trafficmirror/**/*

STAC-0: [stackstate] Don't encode receiver API key twice
  stable/stackstate/templates/secret-receiver.yaml
Due: push_stackstate_to_internal

STAC-14145: Bump kafka version
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-15389 Reset repositorySuffix to empty to prepare for release candidates
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

Bump cluster-agent dependency on stackstate chart
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

After `helm dep update`
  stable/stackstate/Chart.lock
Due: push_stackstate_to_internal

Helm dep update [2]
  stable/stackstate/Chart.lock
Due: push_stackstate_to_internal

STAC-11967 Adds flag to enable the "Recreate" deployment update strategy for StackState components
  stable/stackstate/README.md
  stable/stackstate/templates/_helper-service-config.tpl
  stable/stackstate/templates/deployment-api.yaml
  stable/stackstate/templates/deployment-checks.yaml
  stable/stackstate/templates/deployment-healthSync.yaml
  stable/stackstate/templates/deployment-initializer.yaml
  stable/stackstate/templates/deployment-problemProducer.yaml
  stable/stackstate/templates/deployment-server.yaml
  stable/stackstate/templates/deployment-slicing.yaml
  stable/stackstate/templates/deployment-state.yaml
  stable/stackstate/templates/deployment-sync.yaml
  stable/stackstate/templates/deployment-viewHealth.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-14899: undo accidental common change
  stable/common/templates/_fullname.tpl
Due: push_common_to_internal

STAC-14899: [petros-d-kubelet-exporter] Bump chart
  stable/petros-d-kubelet-stats-exporter/Chart.yaml
  stable/petros-d-kubelet-stats-exporter/README.md
Due: push_petros-d-kubelet-stats-exporter_to_internal

STAC-14899: [petros-d-kubelet-exporter] Add Grafana dashboard
  stable/petros-d-kubelet-stats-exporter/README.md
  stable/petros-d-kubelet-stats-exporter/dashboards/ephemeral-storage-per-namespace.json
  stable/petros-d-kubelet-stats-exporter/dashboards/ephemeral-storage-per-node.json
  stable/petros-d-kubelet-stats-exporter/templates/configmap-dashboard.yaml
  stable/petros-d-kubelet-stats-exporter/values.yaml
Due: push_petros-d-kubelet-stats-exporter_to_internal

STAC-14899: [stackstate-monitoring] Simplify dashboard yaml
  stable/stackstate-monitoring/templates/configmaps-dashboard.yaml
Due: none

STAC-14899: [stackstate-monitoring] Review comments
  stable/common/templates/_fullname.tpl
  stable/stackstate-monitoring/grafana-dashboards/performance-champagne/performance-champagne.json
  stable/stackstate-monitoring/grafana-dashboards/performance-champagne/performance-champagne.jsonnet
  stable/stackstate-monitoring/templates/configmaps-dashboard.yaml
  stable/stackstate-monitoring/templates/rule-http.yaml
  stable/stackstate-monitoring/templates/rule-jvm.yaml
  stable/stackstate-monitoring/templates/rule-processing-pipeline.yaml
  stable/stackstate-monitoring/templates/rule-uptime.yaml
Due: push_common_to_internal

STAC-14899: [stackstate-monitoring] Initial chart
  .gitlab-ci.yml
  .jsonnet-libs/extras/helm_chart_repo/variables.libsonnet
  .pre-commit-config.yaml
  stable/stackstate-monitoring/Chart.yaml
  stable/stackstate-monitoring/README.md
  stable/stackstate-monitoring/README.md.gotmpl
  stable/stackstate-monitoring/templates/rule-http.yaml
  stable/stackstate-monitoring/templates/rule-jvm.yaml
  stable/stackstate-monitoring/templates/rule-processing-pipeline.yaml
  stable/stackstate-monitoring/templates/rule-uptime.yaml
  stable/stackstate-monitoring/values.yaml
Due: none

STAC-0: Don't generate test/ct.json
  .gitignore
  .pre-commit-config.yaml
Due: none

STAC-15265 Bump ES in ES chart
  stable/elasticsearch/Chart.yaml
  stable/elasticsearch/README.md
  stable/elasticsearch/values.yaml
Due: push_elasticsearch_to_internal

STAC-15265 bump ES version
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

STAC-15405 Add ConfigMap max data size option
  stable/cluster-agent/Chart.yaml
  stable/cluster-agent/README.md
  stable/cluster-agent/templates/cluster-agent-deployment.yaml
  stable/cluster-agent/values.yaml
  stable/elasticsearch/README.md
Due: push_cluster-agent_to_internal, push_elasticsearch_to_internal

STAC-15405 Revert elasticsearch chart change
  stable/elasticsearch/README.md
Due: push_elasticsearch_to_internal

STAC-15390 Make 4.6.0-pre.3 rc1
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-15405 Bump elasticsearch chart
  stable/elasticsearch/Chart.yaml
  stable/elasticsearch/README.md
Due: push_elasticsearch_to_internal

STAC-15405 Add env var only if set
  stable/cluster-agent/templates/cluster-agent-deployment.yaml
Due: push_cluster-agent_to_internal

STAC-15389 Make 4.5.2 rc1
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-14938: Derive sync parallel workers from cpu requests
  stable/stackstate/templates/_helper-service-config.tpl
  stable/stackstate/templates/_helper.tpl
  stable/stackstate/templates/deployment-sync.yaml
  stable/stackstate/test/services_parallelism_test.go
  stable/stackstate/test/values/sync_env_parallel_workers.yaml
  stable/stackstate/test/values/sync_parallelism_12.yaml
  stable/stackstate/test/values/sync_parallelism_12001.yaml
Due: push_stackstate_to_internal

STAC-15749-3 - Fix typo
  .gitlab/validate_kubeval.sh
  stable/stackstate-monitoring/Chart.yaml
  stable/stackstate-monitoring/README.md
  stable/stackstate-monitoring/templates/configmaps-dashboard.yaml
Due: none

STAC-15437: Nump sg, hbase and wait containers
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-15437: Ditched hdfs/wait bumps
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-15437: Bump the wait/hadoop images aswell
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-15389 Make 4.5.2 rc2
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-15509 Change agent registry from docker to quay.
  stable/cluster-agent/Chart.yaml
  stable/cluster-agent/README.md
  stable/cluster-agent/values.yaml
Due: push_cluster-agent_to_internal

STAC-15504 Fix queries for new log labels
  stable/stackstate-monitoring/grafana-dashboards/stackstate-logs/stackstate-logs.json
Due: none

STAC-15504 Update panel ids
  stable/stackstate-monitoring/grafana-dashboards/stackstate-logs/stackstate-logs.json
Due: none

STAC-15504 Bump chart version
  stable/stackstate-monitoring/Chart.yaml
  stable/stackstate-monitoring/README.md
Due: none

STAC-15389 Make 4.5.2
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

chore(stackstate): Upgrade anomaly-detection to version 4.5.0-snapshot.210.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

STAC-15582 Reset repositorySuffix to empty to prepare for release candidates
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-15582 Make 4.5.3 rc1
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-15583: Add transactonal id expiration to helm chart
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-15584 Bump CPU limit for kafka jmx exporter With any lower limit it is heavily throttled despite not even hitting its requested cpu
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal
