Repository StackVista/helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: push_aws-amicleaner_to_internal, push_aws-nuke_to_internal, push_aws-pod-identity-webhook_to_internal, push_beacher-job_to_internal, push_chartmuseum_to_internal, push_cluster-agent_to_internal, push_common_to_internal, push_elasticsearch_to_internal, push_gitlab-runner_to_internal, push_gitlab-steward_to_internal, push_hbase_to_internal, push_iceman_to_internal, push_kafka_to_internal, push_kafkaup-operator_to_internal, push_kommoner-operator_to_internal, push_minio_to_internal, push_petros-d-kubelet-stats-exporter_to_internal, push_sandbox-operator_to_internal, push_stackstate-standalone_to_internal, push_stackstate_to_internal, push_trafficmirror_to_internal

Path conditions:
  push_aws-amicleaner_to_internal: any of: stable/aws-amicleaner/**/*
  push_aws-nuke_to_internal: any of: stable/aws-nuke/**/*
  push_aws-pod-identity-webhook_to_internal: any of: stable/aws-pod-identity-webhook/**/*
  push_beacher-job_to_internal: any of: stable/beacher-job/**/*
  push_chartmuseum_to_internal: any of: stable/chartmuseum/**/*
  push_cluster-agent_to_internal: any of: stable/cluster-agent/**/*
  push_common_to_internal: any of: stable/common/**/*
  push_elasticsearch_to_internal: any of: stable/elasticsearch/**/*
  push_gitlab-runner_to_internal: any of: stable/gitlab-runner/**/*
  push_gitlab-steward_to_internal: any of: stable/gitlab-steward/**/*
  push_hbase_to_internal: any of: stable/hbase/**/*
  push_iceman_to_internal: any of: stable/iceman/**/*
  push_kafka_to_internal: any of: stable/kafka/**/*
  push_kafkaup-operator_to_internal: any of: stable/kafkaup-operator/**/*
  push_kommoner-operator_to_internal: any of: stable/kommoner-operator/**/*
  push_minio_to_internal: any of: stable/minio/**/*
  push_petros-d-kubelet-stats-exporter_to_internal: any of: stable/petros-d-kubelet-stats-exporter/**/*
  push_sandbox-operator_to_internal: any of: stable/sandbox-operator/**/*
  push_stackstate-standalone_to_internal: any of: stable/stackstate-standalone/**/*
  push_stackstate_to_internal: any of: stable/stackstate/**/*
  push_trafficmirror_to_internal: any of: stable/trafficmirror/**/*

chore(stackstate): Upgrade anomaly-detection to version 4.6.0-snapshot.48.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

STAC-15671 Make 4.4.4 rc1
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-15568 Make 4.6.0-pre.4
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

chore(stackstate): Upgrade anomaly-detection to version 4.6.0-snapshot.69.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

chore(stackstate): Upgrade anomaly-detection to version 4.6.0-snapshot.75.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

chore(stackstate): Upgrade anomaly-detection to version 4.6.0-snapshot.77.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

STAC-15702: [helm-reaper] Add new chart for helm-reaper cronjob
  stable/helm-reaper/Chart.lock
  stable/helm-reaper/Chart.yaml
  stable/helm-reaper/README.md
  stable/helm-reaper/README.md.gotmpl
  stable/helm-reaper/templates/reaper-configmap.yaml
  stable/helm-reaper/templates/reaper-cronjob.yaml
  stable/helm-reaper/templates/reaper-pull-secret.yaml
  stable/helm-reaper/templates/reaper-rbac.yaml
  stable/helm-reaper/values.yaml
Due: none

STAC-15670 Make 4.5.5 rc3
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-15702: Use kubeconform instead of kubeval
  .gitlab-ci.jsonnet
  .gitlab-ci.yml
  .gitlab/validate_before_script.sh
  .gitlab/validate_kubeconform.sh
Due: none

STAC-15702: Add helm-reaper to gitlab ci
  .gitlab-ci.yml
  .jsonnet-libs/extras/helm_chart_repo/variables.libsonnet
Due: none

STAC-0: Only publish public charts to public
  .gitlab-ci.jsonnet
  .gitlab-ci.yml
  .jsonnet-libs/extras/helm_chart_repo/variables.libsonnet
Due: none

STAC-14788 No need to bump version The 0.1.5 was not yet published
  stable/receiveramplifier/Chart.yaml
  stable/receiveramplifier/README.md
Due: none

STAC-14788 Support extra configuration
  stable/receiveramplifier/Chart.yaml
  stable/receiveramplifier/README.md
  stable/receiveramplifier/templates/configmap.yaml
  stable/receiveramplifier/values.yaml
Due: none

STAC-0 Fix readme of kafkaup
  stable/kafkaup-operator/Chart.yaml
  stable/kafkaup-operator/README.md
Due: push_kafkaup-operator_to_internal

STAC-14788 Add servicemonitor yaml
  stable/receiveramplifier/templates/servicemonitor.yaml
Due: none

STAC-14788 Configmap for amplifier to configure peak times
  stable/receiveramplifier/Chart.yaml
  stable/receiveramplifier/README.md
  stable/receiveramplifier/ci/default-values.yaml
  stable/receiveramplifier/linter_values.yaml
  stable/receiveramplifier/templates/configmap.yaml
  stable/receiveramplifier/templates/deployment.yaml
  stable/receiveramplifier/values.yaml
Due: none

STAC-0: Remove old gitlab-runner chart
  .gitlab-ci.yml
  .jsonnet-libs/extras/helm_chart_repo/variables.libsonnet
  stable/gitlab-runner/.gitignore
  stable/gitlab-runner/.gitlab-ci.yml
  stable/gitlab-runner/.gitlab/changelog.yml
  stable/gitlab-runner/.gitrepo
  stable/gitlab-runner/.helmignore
  stable/gitlab-runner/CHANGELOG.md
  stable/gitlab-runner/CONTRIBUTING.md
  stable/gitlab-runner/Chart.yaml
  stable/gitlab-runner/LICENSE
  stable/gitlab-runner/Makefile
  stable/gitlab-runner/NOTICE
  stable/gitlab-runner/README.md
  stable/gitlab-runner/README.md.gotmpl
  stable/gitlab-runner/scripts/prepare-changelog-entries.rb
  stable/gitlab-runner/scripts/security-harness
  stable/gitlab-runner/templates/NOTES.txt
  stable/gitlab-runner/templates/_cache.tpl
  stable/gitlab-runner/templates/_env_vars.tpl
  stable/gitlab-runner/templates/_helpers.tpl
  stable/gitlab-runner/templates/configmap.yaml
  stable/gitlab-runner/templates/deployment.yaml
  stable/gitlab-runner/templates/executor-service-account.yaml
  stable/gitlab-runner/templates/hpa.yaml
  stable/gitlab-runner/templates/role-binding.yaml
  stable/gitlab-runner/templates/role.yaml
  stable/gitlab-runner/templates/secrets.yaml
  stable/gitlab-runner/templates/service-account.yaml
  stable/gitlab-runner/values.yaml
Due: push_gitlab-runner_to_internal

STAC-15670 Make 4.5.5 rc4
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-15701 Make 4.6.0-pre.5 rc2
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-15670 Make 4.5.5
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-15701 Make 4.6.0-pre.5 rc3
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-15701 Make 4.6.0-pre.5 rc4
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-15677: Enable clusterChecks and Automatically configure kube-state-metrics as clusterCheck
  stable/cluster-agent/Chart.yaml
  stable/cluster-agent/README.md
  stable/cluster-agent/templates/agent-configmap.yaml
  stable/cluster-agent/templates/agent-daemonset.yaml
  stable/cluster-agent/templates/cluster-agent-configmap.yaml
  stable/cluster-agent/templates/cluster-agent-deployment.yaml
  stable/cluster-agent/values.yaml
Due: push_cluster-agent_to_internal

STAC-15766: [aws-pod-identity-webhook] Expose webhook failurePolicy
  stable/aws-pod-identity-webhook/Chart.yaml
  stable/aws-pod-identity-webhook/README.md
  stable/aws-pod-identity-webhook/templates/mutatingwebhook.yaml
  stable/aws-pod-identity-webhook/values.yaml
Due: push_aws-pod-identity-webhook_to_internal

STAC-15701 Make 4.6.0-pre.5 rc5
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-15677: Ensure that clusterChecks can find the kube-state-metrics server
  stable/cluster-agent/Chart.yaml
  stable/cluster-agent/README.md
  stable/cluster-agent/templates/cluster-agent-configmap.yaml
  stable/cluster-agent/values.yaml
Due: push_cluster-agent_to_internal

STAC-0 Fix tests for change in anomaly chart
  stable/stackstate/test/values/fallback_authentication_no_password.yaml
  stable/stackstate/test/values/full.yaml
  stable/stackstate/test/values/pull_secret_both.yaml
  stable/stackstate/test/values/pull_secret_global.yaml
  stable/stackstate/test/values/pull_secret_global_named.yaml
  stable/stackstate/test/values/pull_secret_global_registry.yaml
  stable/stackstate/test/values/pull_secret_name.yaml
Due: push_stackstate_to_internal

STAC-14788 Fix extra labels for prometheus
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-15671 Make 4.4.4 rc2
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

Removes broken ct list-changed and ct lint commands for stackstate chart
  .gitlab-ci.jsonnet
  .gitlab-ci.yml
Due: none

STAC-15671 Make 4.4.4 rc3
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

Removes validate jobs
  .gitlab-ci.jsonnet
  .gitlab-ci.yml
Due: none

STAC-15671 Make 4.4.4 rc4
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

Reset repository suffix since RK for 4.4 doesn't do that automatically
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-15701 Make 4.6.0-pre.5
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-15671 Make 4.4.4 rc6
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-15677: Only render new kube-state-metrics clustercheck if not overridden in values
  .pre-commit-config.yaml
  helmtestutil/KubernetesResources.go
  stable/cluster-agent/.helmignore
  stable/cluster-agent/Chart.lock
  stable/cluster-agent/Chart.yaml
  stable/cluster-agent/README.md
  stable/cluster-agent/linter_values.yaml
  stable/cluster-agent/templates/_helpers.tpl
  stable/cluster-agent/templates/agent-configmap.yaml
  stable/cluster-agent/templates/agent-daemonset.yaml
  stable/cluster-agent/templates/cluster-agent-configmap.yaml
  stable/cluster-agent/templates/cluster-agent-deployment.yaml
  stable/cluster-agent/test/clustercheck_ksm_test.go
  stable/cluster-agent/test/sample_test.go
  stable/cluster-agent/test/values/clustercheck_ksm_custom_url.yaml
  stable/cluster-agent/test/values/clustercheck_ksm_no_override.yaml
  stable/cluster-agent/test/values/clustercheck_ksm_override.yaml
  stable/cluster-agent/test/values/clustercheck_no_ksm_custom_url.yaml
  stable/cluster-agent/test/values/minimal.yaml
  stable/stackstate/test/cluster_resource_naming_test.go
Due: push_cluster-agent_to_internal, push_stackstate_to_internal

chore(stackstate): Upgrade anomaly-detection to version 4.6.0-snapshot.95.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

STAC-15833 Make 4.6.0 rc1
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

chore(stackstate): Upgrade anomaly-detection to version 4.6.0-snapshot.97.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal
