Repository StackVista/helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: push_aws-amicleaner_to_internal, push_aws-nuke_to_internal, push_aws-pod-identity-webhook_to_internal, push_beacher-job_to_internal, push_chartmuseum_to_internal, push_cluster-agent_to_internal, push_common_to_internal, push_elasticsearch_to_internal, push_gitlab-runner_to_internal, push_gitlab-steward_to_internal, push_hbase_to_internal, push_iceman_to_internal, push_kafka_to_internal, push_kafkaup-operator_to_internal, push_kommoner-operator_to_internal, push_minio_to_internal, push_petros-d-kubelet-stats-exporter_to_internal, push_sandbox-operator_to_internal, push_stackstate-standalone_to_internal, push_stackstate_to_internal, push_trafficmirror_to_internal

push_aws-amicleaner_to_internal:
  image: stackstate/stackstate-ci-images:stackstate-devops-f87d9654
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

push_aws-nuke_to_internal:
  image: stackstate/stackstate-ci-images:stackstate-devops-f87d9654
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

push_aws-pod-identity-webhook_to_internal:
  image: stackstate/stackstate-ci-images:stackstate-devops-f87d9654
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

push_beacher-job_to_internal:
  image: stackstate/stackstate-ci-images:stackstate-devops-f87d9654
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

push_chartmuseum_to_internal:
  image: stackstate/stackstate-ci-images:stackstate-devops-f87d9654
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

push_cluster-agent_to_internal:
  image: stackstate/stackstate-ci-images:stackstate-devops-f87d9654
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

push_common_to_internal:
  image: stackstate/stackstate-ci-images:stackstate-devops-f87d9654
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

push_elasticsearch_to_internal:
  image: stackstate/stackstate-ci-images:stackstate-devops-f87d9654
  script:
  - helm dependencies update ${CHART}
  - helm cm-push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  variables:
  ...

STAC-16347 removed resources that are not required by the agent
  stable/cluster-agent/README.md
  stable/cluster-agent/templates/cluster-agent-clusterrole.yaml
  stable/cluster-agent/values.yaml
Due: push_cluster-agent_to_internal

STAC-16347 bump it more to reflect values.yaml changes
  stable/cluster-agent/Chart.yaml
  stable/cluster-agent/README.md
Due: push_cluster-agent_to_internal

STAC-16347 update doc and fix order of volume mounts to allow overrides
  stable/cluster-agent/README.md
  stable/cluster-agent/templates/cluster-agent-configmap.yaml
  stable/cluster-agent/templates/cluster-agent-deployment.yaml
  stable/cluster-agent/values.yaml
Due: push_cluster-agent_to_internal

STAC-16347 pass kubernetes_api_topology config with a resources enabled/disabled
  go.sum
  stable/cluster-agent/templates/cluster-agent-configmap.yaml
  stable/cluster-agent/templates/cluster-agent-deployment.yaml
  stable/cluster-agent/values.yaml
Due: push_cluster-agent_to_internal

STAC-16347 fix existing test, add new one and update stackstate dependency lock file
  stable/cluster-agent/test/clusteragent_resources_test.go
  stable/cluster-agent/test/clustercheck_ksm_test.go
  stable/cluster-agent/test/values/disable-all-resource.yaml
Due: push_cluster-agent_to_internal

Bump stackstate's dependency on agent
  stable/stackstate/Chart.lock
Due: push_stackstate_to_internal

Test fresh CI image with golang bump
  .gitlab-ci.yml
Due: none

Update CI images
  .gitlab-ci.yml
  .jsonnet-libs/extras/helm_chart_repo/variables.libsonnet
Due: none

STAC-16347 recalculate Chart.lock
  stable/stackstate/Chart.lock
Due: push_stackstate_to_internal

chore(stackstate): Upgrade anomaly-detection to version 5.1.0-snapshot.130.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

STAC-17291 Make 5.1.0-pre.1 rc1
  stable/aws-amicleaner/README.md
  stable/aws-nuke/README.md
  stable/cluster-agent/README.md
  stable/common/README.md
  stable/elasticsearch/README.md
  stable/gitlab-steward/README.md
  stable/iceman/README.md
  stable/kafkaup-operator/README.md
  stable/minio/README.md
  stable/petros-d-kubelet-stats-exporter/README.md
  stable/receiveramplifier/README.md
  stable/sandbox-operator/README.md
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
  stable/trafficmirror/README.md
Due: push_aws-amicleaner_to_internal, push_aws-nuke_to_internal, push_cluster-agent_to_internal, push_common_to_internal, push_elasticsearch_to_internal, push_gitlab-steward_to_internal, push_iceman_to_internal, push_kafkaup-operator_to_internal, push_minio_to_internal, push_petros-d-kubelet-stats-exporter_to_internal, push_sandbox-operator_to_internal, push_stackstate_to_internal, push_trafficmirror_to_internal

STAC-17275: Bump sg and hdfs images
  stable/hbase/README.md
  stable/hbase/values.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_hbase_to_internal, push_stackstate_to_internal

STAC-0: Revert helm docs mishap
  stable/stackstate/README.md
Due: push_stackstate_to_internal

STAC-16380 Create migration and air-gapped installation scripts for cluster-agent.
  .gitignore
  stable/cluster-agent/.helmignore
  stable/cluster-agent/Chart.yaml
  stable/cluster-agent/README.md
  stable/cluster-agent/installation/backup.sh
  stable/cluster-agent/installation/copy_images.sh
  stable/cluster-agent/installation/import.sh
  stable/cluster-agent/installation/test_backup_and_import.sh
  stable/stackstate/Chart.lock
Due: push_cluster-agent_to_internal, push_stackstate_to_internal

STAC-16910: Fixup prometheus alerting according to story
  stable/stackstate-monitoring/Chart.yaml
  stable/stackstate-monitoring/README.md
  stable/stackstate-monitoring/templates/rule-processing-pipeline.yaml
Due: none

STAC-17342: add constant, random uids to dashboards
  .pre-commit-config.yaml
  stable/stackstate-monitoring/.helmignore
  stable/stackstate-monitoring/Chart.yaml
  stable/stackstate-monitoring/README.md
  stable/stackstate-monitoring/dashboard-schema.json
  stable/stackstate-monitoring/grafana-dashboards/stackgraph/stackgraph-compaction.json
  stable/stackstate-monitoring/grafana-dashboards/stackgraph/stackgraph-compaction.jsonnet
  stable/stackstate-monitoring/grafana-dashboards/stackgraph/stackgraph-metrics.json
  stable/stackstate-monitoring/grafana-dashboards/stackgraph/stackgraph-metrics.jsonnet
  stable/stackstate-monitoring/grafana-dashboards/stackstate-agent-sizing/stackstate-agent-sizing.json
  stable/stackstate-monitoring/grafana-dashboards/stackstate-agent-sizing/stackstate-agent-sizing.jsonnet
  stable/stackstate-monitoring/grafana-dashboards/stackstate-checks/stackstate-checks.json
  stable/stackstate-monitoring/grafana-dashboards/stackstate-checks/stackstate-checks.jsonnet
  stable/stackstate-monitoring/grafana-dashboards/stackstate-correlate/stackstate-correlate.json
  stable/stackstate-monitoring/grafana-dashboards/stackstate-correlate/stackstate-correlate.jsonnet
  stable/stackstate-monitoring/grafana-dashboards/stackstate-http/stackstate-http.json
  stable/stackstate-monitoring/grafana-dashboards/stackstate-http/stackstate-http.jsonnet
  stable/stackstate-monitoring/grafana-dashboards/stackstate-kafka2es/stackstate-kafka2es.json
  stable/stackstate-monitoring/grafana-dashboards/stackstate-kafka2es/stackstate-kafka2es.jsonnet
  stable/stackstate-monitoring/grafana-dashboards/stackstate-logs/stackstate-logs.json
  stable/stackstate-monitoring/grafana-dashboards/stackstate-overview/stackstate-overview.json
  stable/stackstate-monitoring/grafana-dashboards/stackstate-overview/stackstate-overview.jsonnet
  stable/stackstate-monitoring/grafana-dashboards/stackstate-queries/stackstate-queries.json
  stable/stackstate-monitoring/grafana-dashboards/stackstate-queries/stackstate-queries.jsonnet
  stable/stackstate-monitoring/grafana-dashboards/stackstate-receiver/stackstate-receiver.json
  stable/stackstate-monitoring/grafana-dashboards/stackstate-receiver/stackstate-receiver.jsonnet
  stable/stackstate-monitoring/grafana-dashboards/stackstate-spotlight/stackstate-spotlight.json
  stable/stackstate-monitoring/grafana-dashboards/stackstate-spotlight/stackstate-spotlight.jsonnet
  stable/stackstate-monitoring/grafana-dashboards/stackstate-state-propagation/stackstate-state-propagation.json
  stable/stackstate-monitoring/grafana-dashboards/stackstate-state-propagation/stackstate-state-propagation.jsonnet
  stable/stackstate-monitoring/grafana-dashboards/stackstate-sync/stackstate-sync.json
  stable/stackstate-monitoring/grafana-dashboards/stackstate-sync/stackstate-sync.jsonnet
  stable/stackstate-monitoring/grafana-dashboards/stackstate-websockets/stackstate-websockets.json
  stable/stackstate-monitoring/grafana-dashboards/stackstate-websockets/stackstate-websockets.jsonnet
Due: none

STAC-17262 Release agent 2.17.2 chart.
  stable/cluster-agent/Chart.yaml
  stable/cluster-agent/README.md
  stable/cluster-agent/values.yaml
  stable/stackstate/Chart.lock
Due: push_cluster-agent_to_internal, push_stackstate_to_internal

chore(stackstate): Upgrade StackGraph to version 4.7.1.
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/values.yaml
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_hbase_to_internal, push_stackstate_to_internal

STAC-17248 Delay alert a bit for stackstate pods down.
  stable/stackstate-monitoring/Chart.yaml
  stable/stackstate-monitoring/README.md
  stable/stackstate-monitoring/templates/rule-uptime.yaml
Due: none

STAC-0 Fix partial upgrade of SG
  stable/stackstate/Chart.lock
Due: push_stackstate_to_internal

STAC-17350: Added securityContext for the sandbox-operator
  stable/sandbox-operator/Chart.yaml
  stable/sandbox-operator/README.md
  stable/sandbox-operator/templates/reaper-cron.yaml
  stable/sandbox-operator/templates/sandboxer-deployment.yaml
  stable/sandbox-operator/values.yaml
Due: push_sandbox-operator_to_internal

chore(stackstate): Upgrade anomaly-detection to version 5.1.0-snapshot.133.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

chore(stackstate): Upgrade anomaly-detection to version 5.1.0-snapshot.141.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

STAC-17313: Add replicaCount for all deployments
  stable/stackstate/README.md
  stable/stackstate/templates/deployment-api.yaml
  stable/stackstate/templates/deployment-checks.yaml
  stable/stackstate/templates/deployment-healthSync.yaml
  stable/stackstate/templates/deployment-problemProducer.yaml
  stable/stackstate/templates/deployment-server.yaml
  stable/stackstate/templates/deployment-slicing.yaml
  stable/stackstate/templates/deployment-state.yaml
  stable/stackstate/templates/deployment-sync.yaml
  stable/stackstate/templates/deployment-viewHealth.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-16943 Make 5.0.1 rc1
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

Fixed the StachGraph release script
  .gitlab-ci.jsonnet
  .gitlab-ci.yml
  .gitlab/update_chart_version.sh
Due: none

fix typo
  .pre-commit-config.yaml
Due: none

STAC-16943 Make 5.0.1 rc2
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-16943: Make 5.0.1
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-17338 Reset repositorySuffix to empty to prepare for release candidates
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-17338 Make 5.0.2 rc1
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-17338: Make 5.0.2
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-17405 Make 5.1.0-pre.2 rc1
  stable/aws-amicleaner/README.md
  stable/aws-nuke/README.md
  stable/cluster-agent/README.md
  stable/common/README.md
  stable/elasticsearch/README.md
  stable/gitlab-steward/README.md
  stable/iceman/README.md
  stable/kafkaup-operator/README.md
  stable/minio/README.md
  stable/petros-d-kubelet-stats-exporter/README.md
  stable/receiveramplifier/README.md
  stable/sandbox-operator/README.md
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
  stable/trafficmirror/README.md
Due: push_aws-amicleaner_to_internal, push_aws-nuke_to_internal, push_cluster-agent_to_internal, push_common_to_internal, push_elasticsearch_to_internal, push_gitlab-steward_to_internal, push_iceman_to_internal, push_kafkaup-operator_to_internal, push_minio_to_internal, push_petros-d-kubelet-stats-exporter_to_internal, push_sandbox-operator_to_internal, push_stackstate_to_internal, push_trafficmirror_to_internal

chore(stackstate): Upgrade anomaly-detection to version 5.1.0-snapshot.147.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

STAC-17405: Make 5.1.0-pre.2
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-17237: Alert for GC duration
  stable/stackstate-monitoring/Chart.yaml
  stable/stackstate-monitoring/README.md
  stable/stackstate-monitoring/grafana-dashboards/stackstate-jvm/stackstate-jvm.json
  stable/stackstate-monitoring/templates/rule-jvm.yaml
Due: none

STAC-17575 Reset repositorySuffix to empty to prepare for release candidates
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-17575 Make 5.0.3 rc1
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

chore(stackstate): Upgrade anomaly-detection to version 5.1.0-snapshot.151.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

STAC-17575 Make 5.0.3 rc2
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

Path conditions:
  push_aws-amicleaner_to_internal: any of: stable/aws-amicleaner/**/*
  push_aws-nuke_to_internal: any of: stable/aws-nuke/**/*
  push_aws-pod-identity-webhook_to_internal: any of: stable/aws-pod-identity-webhook/**/*
  push_beacher-job_to_internal: any of: stable/beacher-job/**/*
  push_chartmuseum_to_internal: any of: stable/chartmuseum/**/*
  push_cluster-agent_to_internal: any of: stable/cluster-agent/**/*
  push_common_to_internal: any of: stable/common/**/*
  push_elasticsearch_to_internal: any of: stable/elasticsearch/**/*
  push_gitlab-runner_to_internal: any of: stable/gitlab-runner/**/*
  push_gitlab-steward_to_internal: any of: stable/gitlab-steward/**/*
  push_hbase_to_internal: any of: stable/hbase/**/*
  push_iceman_to_internal: any of: stable/iceman/**/*
  push_kafka_to_internal: any of: stable/kafka/**/*
  push_kafkaup-operator_to_internal: any of: stable/kafkaup-operator/**/*
  push_kommoner-operator_to_internal: any of: stable/kommoner-operator/**/*
  push_minio_to_internal: any of: stable/minio/**/*
  push_petros-d-kubelet-stats-exporter_to_internal: any of: stable/petros-d-kubelet-stats-exporter/**/*
  push_sandbox-operator_to_internal: any of: stable/sandbox-operator/**/*
  push_stackstate-standalone_to_internal: any of: stable/stackstate-standalone/**/*
  push_stackstate_to_internal: any of: stable/stackstate/**/*
  push_trafficmirror_to_internal: any of: stable/trafficmirror/**/*
