Repository StackVista/helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: push_aws-amicleaner_to_internal, push_aws-nuke_to_internal, push_aws-pod-identity-webhook_to_internal, push_beacher-job_to_internal, push_chartmuseum_to_internal, push_cluster-agent_to_internal, push_common_to_internal, push_elasticsearch_to_internal, push_gitlab-runner_to_internal, push_gitlab-steward_to_internal, push_hbase_to_internal, push_iceman_to_internal, push_kafka_to_internal, push_kafkaup-operator_to_internal, push_kommoner-operator_to_internal, push_minio_to_internal, push_petros-d-kubelet-stats-exporter_to_internal, push_sandbox-operator_to_internal, push_stackstate-standalone_to_internal, push_stackstate_to_internal, push_trafficmirror_to_internal

Path conditions:
  push_aws-amicleaner_to_internal: any of: stable/aws-amicleaner/**/*
  push_aws-nuke_to_internal: any of: stable/aws-nuke/**/*
  push_aws-pod-identity-webhook_to_internal: any of: stable/aws-pod-identity-webhook/**/*
  push_beacher-job_to_internal: any of: stable/beacher-job/**/*
  push_chartmuseum_to_internal: any of: stable/chartmuseum/**/*
  push_cluster-agent_to_internal: any of: stable/cluster-agent/**/*
  push_common_to_internal: any of: stable/common/**/*
  push_elasticsearch_to_internal: any of: stable/elasticsearch/**/*
  push_gitlab-runner_to_internal: any of: stable/gitlab-runner/**/*
  push_gitlab-steward_to_internal: any of: stable/gitlab-steward/**/*
  push_hbase_to_internal: any of: stable/hbase/**/*
  push_iceman_to_internal: any of: stable/iceman/**/*
  push_kafka_to_internal: any of: stable/kafka/**/*
  push_kafkaup-operator_to_internal: any of: stable/kafkaup-operator/**/*
  push_kommoner-operator_to_internal: any of: stable/kommoner-operator/**/*
  push_minio_to_internal: any of: stable/minio/**/*
  push_petros-d-kubelet-stats-exporter_to_internal: any of: stable/petros-d-kubelet-stats-exporter/**/*
  push_sandbox-operator_to_internal: any of: stable/sandbox-operator/**/*
  push_stackstate-standalone_to_internal: any of: stable/stackstate-standalone/**/*
  push_stackstate_to_internal: any of: stable/stackstate/**/*
  push_trafficmirror_to_internal: any of: stable/trafficmirror/**/*

STAC-0: Fix mutatingwebhookconfiguration
  stable/aws-pod-identity-webhook/Chart.yaml
  stable/aws-pod-identity-webhook/README.md
  stable/aws-pod-identity-webhook/templates/mutatingwebhook.yaml
Due: push_aws-pod-identity-webhook_to_internal

chore(stackstate): Upgrade anomaly-detection to version 4.7.0-snapshot.8.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

STAC-15671 Make 4.4.4
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-14483 Enable cri and containerd socket paths by default
  stable/cluster-agent/Chart.yaml
  stable/cluster-agent/README.md
  stable/cluster-agent/templates/agent-daemonset.yaml
  stable/cluster-agent/values.yaml
Due: push_cluster-agent_to_internal

STAC-14483 Remove /var/run and add socketPath to volumeMounts
  stable/cluster-agent/templates/agent-daemonset.yaml
Due: push_cluster-agent_to_internal

STAC-14483 Remove /host/var/run volume mount
  stable/cluster-agent/templates/agent-daemonset.yaml
Due: push_cluster-agent_to_internal

STAC-14483 Remove /host/var/run volume mount
  stable/cluster-agent/README.md
  stable/cluster-agent/templates/agent-daemonset.yaml
  stable/cluster-agent/values.yaml
Due: push_cluster-agent_to_internal

STAC-15833 Make 4.6.0 rc2
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-15661 Add chart variables to override default process agent check intervals.
  stable/cluster-agent/README.md
  stable/cluster-agent/templates/agent-daemonset.yaml
  stable/cluster-agent/values.yaml
Due: push_cluster-agent_to_internal

STAC-15661 Update documentation readability.
  stable/cluster-agent/README.md
  stable/cluster-agent/values.yaml
Due: push_cluster-agent_to_internal

STAC-15661 Bump chart version.
  stable/cluster-agent/Chart.yaml
  stable/cluster-agent/README.md
Due: push_cluster-agent_to_internal

Increase CPU for correlator to match nightly needs
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

chore(stackstate): Upgrade StackGraph to version 4.6.4.
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/values.yaml
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_hbase_to_internal, push_stackstate_to_internal

chore(stackstate): Upgrade anomaly-detection to version 4.7.0-snapshot.31.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

STAC-15833 Make 4.6.0 rc3
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-15833 Make 4.6.0 rc4
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-15833 Make 4.6.0 rc5
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-15833 Make 4.6.0
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

Make stackstate agent annotations on pods optional so that agent metric collection can be disabled
  stable/common/Chart.yaml
  stable/common/README.md
  stable/common/templates/_metrics.tpl
Due: push_common_to_internal

STAC-0 Bump stackstate chart to 4.7.0
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

STAC-15939 Update to less vulnerable images.
  stable/elasticsearch/Chart.yaml
  stable/elasticsearch/README.md
  stable/elasticsearch/values.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_elasticsearch_to_internal, push_stackstate_to_internal

STAC-15939 Update to depend on most recent elasticsearch chart.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

Release 2.16.0 with memory increase
  stable/cluster-agent/Chart.yaml
  stable/cluster-agent/README.md
  stable/cluster-agent/values.yaml
Due: push_cluster-agent_to_internal

Update appVersion
  stable/cluster-agent/Chart.yaml
Due: push_cluster-agent_to_internal

STAC-0 Update stackstate to latest cluster agent chart.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

STAC-0: Upgrade trafficmirror to latest common
  .gitlab/validate_kubeconform.sh
  stable/trafficmirror/Chart.lock
  stable/trafficmirror/Chart.yaml
  stable/trafficmirror/README.md
  stable/trafficmirror/requirements.lock
  stable/trafficmirror/requirements.yaml
  stable/trafficmirror/values.yaml
Due: push_trafficmirror_to_internal

Make stackstate agent annotations on pods optional so that agent metric collection can be disabled
  stable/hbase/Chart.lock
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/hbase/values.yaml
  stable/receiveramplifier/Chart.lock
  stable/receiveramplifier/Chart.yaml
  stable/receiveramplifier/README.md
  stable/receiveramplifier/values.yaml
Due: push_hbase_to_internal

STAC-15876 Update dependencies using local references for making annotations optional
  stable/hbase/Chart.lock
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/receiveramplifier/Chart.lock
  stable/receiveramplifier/Chart.yaml
  stable/receiveramplifier/README.md
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_hbase_to_internal, push_stackstate_to_internal

STAC-15876 Fix lock files, linting and testing
  .gitlab-ci.jsonnet
  .gitlab-ci.yml
  stable/hbase/Chart.lock
  stable/receiveramplifier/Chart.lock
  stable/stackstate/Chart.lock
Due: push_hbase_to_internal, push_stackstate_to_internal

STAC-15876 Fix helm update for
  .gitlab-ci.jsonnet
  .gitlab-ci.yml
Due: none

chore(stackstate): Upgrade anomaly-detection to version 4.7.0-snapshot.33.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

STAC-16032 Reset repositorySuffix to empty to prepare for release candidates
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-16031 Reset repositorySuffix to empty to prepare for release candidates
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-15939 Update 4.5.6 to less vulnerable elasticsearch image.
  stable/elasticsearch/Chart.yaml
  stable/elasticsearch/README.md
  stable/elasticsearch/values.yaml
  stable/stackstate/README.md
Due: push_elasticsearch_to_internal, push_stackstate_to_internal

STAC-15939 Update 4.6.1 to less vulnerable elasticsearch image.
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal

STAC-15939 Update 4.6.1 to less vulnerable kafka image.
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-15939 Disable chart version check (fails for elasticsearch).
  README.md
  test/ct.yaml
Due: none

STAC-15939 Add less vulnerable elasticsearch image to stackstate values.
  stable/stackstate/README.md
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal

STAC-0 Agent 2.16.1 release changes.
  stable/cluster-agent/Chart.yaml
  stable/cluster-agent/README.md
  stable/cluster-agent/values.yaml
  stable/stackstate/README.md
Due: push_cluster-agent_to_internal, push_stackstate_to_internal
