Repository StackVista/helm-charts: changes, and which GitLab CI jobs are due for each by the changed paths.
All: push_aws-amicleaner_to_internal, push_aws-amicleaner_to_public, push_aws-nuke_to_internal, push_aws-nuke_to_public, push_cluster-agent_to_internal, push_cluster-agent_to_public, push_common_to_internal, push_common_to_public, push_elasticsearch_to_internal, push_elasticsearch_to_public, push_gitlab-runner_to_internal, push_gitlab-runner_to_public, push_gitlab-steward_to_internal, push_gitlab-steward_to_public, push_hbase_to_internal, push_hbase_to_public, push_iceman_to_internal, push_iceman_to_public, push_stackstate-standalone_to_internal, push_stackstate-standalone_to_public, push_stackstate_to_internal, push_stackstate_to_public, push_trafficmirror_to_internal, push_trafficmirror_to_public

push_aws-amicleaner_to_internal:
  needs:
  - test_aws-amicleaner
  script:
  - helm plugin install https://github.com/chartmuseum/helm-push.git
  - helm dependencies update ${CHART}
  - helm push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  ...

push_aws-amicleaner_to_public:
  needs:
  - push_aws-amicleaner_to_internal
  script:
  - helm plugin install https://github.com/chartmuseum/helm-push.git
  - helm dependencies update ${CHART}
  - helm push --username ${CHARTMUSEUM_USERNAME} --password ${CHARTMUSEUM_PASSWORD} ${CHART} ${CHARTMUSEUM_URL}
  stage: push-charts-to-public
  ...

push_aws-nuke_to_internal:
  needs:
  - test_aws-nuke
  script:
  - helm plugin install https://github.com/chartmuseum/helm-push.git
  - helm dependencies update ${CHART}
  - helm push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  ...

push_aws-nuke_to_public:
  needs:
  - push_aws-nuke_to_internal
  script:
  - helm plugin install https://github.com/chartmuseum/helm-push.git
  - helm dependencies update ${CHART}
  - helm push --username ${CHARTMUSEUM_USERNAME} --password ${CHARTMUSEUM_PASSWORD} ${CHART} ${CHARTMUSEUM_URL}
  stage: push-charts-to-public
  variables:
  ...

push_cluster-agent_to_internal:
  needs:
  - test_cluster-agent
  script:
  - helm plugin install https://github.com/chartmuseum/helm-push.git
  - helm dependencies update ${CHART}
  - helm push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  ...

push_cluster-agent_to_public:
  needs:
  - push_cluster-agent_to_internal
  script:
  - helm plugin install https://github.com/chartmuseum/helm-push.git
  - helm dependencies update ${CHART}
  - helm push --username ${CHARTMUSEUM_USERNAME} --password ${CHARTMUSEUM_PASSWORD} ${CHART} ${CHARTMUSEUM_URL}
  stage: push-charts-to-public
  ...

push_common_to_internal:
  needs:
  - test_common
  script:
  - helm plugin install https://github.com/chartmuseum/helm-push.git
  - helm dependencies update ${CHART}
  - helm push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  stage: push-charts-to-internal
  ...

push_common_to_public:
  needs:
  - push_common_to_internal
  script:
  - helm plugin install https://github.com/chartmuseum/helm-push.git
  - helm dependencies update ${CHART}
  - helm push --username ${CHARTMUSEUM_USERNAME} --password ${CHARTMUSEUM_PASSWORD} ${CHART} ${CHARTMUSEUM_URL}
  stage: push-charts-to-public
  variables:
  ...

push_elasticsearch_to_internal:
  needs:
  - test_elasticsearch
  script:
  - helm plugin install https://github.com/chartmuseum/helm-push.git
  - helm dependencies update ${CHART}
  - helm push --username ${CHARTMUSEUM_INTERNAL_USERNAME} --password ${CHARTMUSEUM_INTERNAL_PASSWORD} ${CHART} ${CHARTMUSEUM_INTERNAL_URL}
  ...

STAC-11549: StackState changes for OpenShift deployment
  stable/stackstate/README.md
  stable/stackstate/requirements.lock
  stable/stackstate/templates/_helper-k2es-common.tpl
  stable/stackstate/templates/clusterrole-authorization.yaml
  stable/stackstate/templates/clusterrolebinding-authentication.yaml
  stable/stackstate/templates/clusterrolebinding-authorization.yaml
  stable/stackstate/templates/deployment-api.yaml
  stable/stackstate/templates/deployment-checks.yaml
  stable/stackstate/templates/deployment-correlate.yaml
  stable/stackstate/templates/deployment-initializer.yaml
  stable/stackstate/templates/deployment-receiver.yaml
  stable/stackstate/templates/deployment-router.yaml
  stable/stackstate/templates/deployment-server.yaml
  stable/stackstate/templates/deployment-slicing.yaml
  stable/stackstate/templates/deployment-state.yaml
  stable/stackstate/templates/deployment-sync.yaml
  stable/stackstate/templates/deployment-ui.yaml
  stable/stackstate/templates/deployment-viewHealth.yaml
  stable/stackstate/templates/job-kafka-topic-create.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-11549: Add OpenShift sample values file
  stable/stackstate/installation/examples/openshift-values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-11549: Copy/Embed Kafka chart
  stable/kafka/.helmignore
  stable/kafka/Chart.lock
  stable/kafka/Chart.yaml
  stable/kafka/README.md
  stable/kafka/files/jks/README.md
  stable/kafka/original-README.md
  stable/kafka/templates/NOTES.txt
  stable/kafka/templates/_helpers.tpl
  stable/kafka/templates/configmap.yaml
  stable/kafka/templates/extra-list.yaml
  stable/kafka/templates/jaas-secret.yaml
  stable/kafka/templates/jks-secret.yaml
  stable/kafka/templates/jmx-configmap.yaml
  stable/kafka/templates/jmx-metrics-svc.yaml
  stable/kafka/templates/kafka-metrics-deployment.yaml
  stable/kafka/templates/kafka-metrics-svc.yaml
  stable/kafka/templates/log4j-configmap.yaml
  stable/kafka/templates/poddisruptionbudget.yaml
  stable/kafka/templates/role.yaml
  stable/kafka/templates/rolebinding.yaml
  stable/kafka/templates/scripts-configmap.yaml
  stable/kafka/templates/serviceaccount.yaml
  stable/kafka/templates/servicemonitor-jmx-metrics.yaml
  stable/kafka/templates/servicemonitor-metrics.yaml
  stable/kafka/templates/statefulset.yaml
  stable/kafka/templates/svc-external-access.yaml
  stable/kafka/templates/svc-headless.yaml
  stable/kafka/templates/svc.yaml
  stable/kafka/values-production.yaml
  stable/kafka/values.yaml
Due: none

STAC-11549: Add flag to disable elastic securityContexts
  stable/elasticsearch/README.md
  stable/elasticsearch/templates/statefulset.yaml
  stable/elasticsearch/values.yaml
Due: push_elasticsearch_to_internal, push_elasticsearch_to_public

STAC-11549: Add flags to tweak hbase securityContext
  stable/hbase/README.md
  stable/hbase/templates/console-deployment.yaml
  stable/hbase/templates/hbase-master-statefulset.yaml
  stable/hbase/templates/hbase-rs-statefulset.yaml
  stable/hbase/templates/hdfs-dn-statefulset.yaml
  stable/hbase/templates/hdfs-nn-statefulset.yaml
  stable/hbase/templates/hdfs-snn-statefulset.yaml
  stable/hbase/templates/tephra-statefulset.yaml
  stable/hbase/values.yaml
Due: push_hbase_to_internal, push_hbase_to_public

STAC-11549: Add SCC for OpenShift
  stable/cluster-agent/README.md
  stable/cluster-agent/templates/agent-scc.yaml
  stable/cluster-agent/values.yaml
Due: push_cluster-agent_to_internal, push_cluster-agent_to_public

STAC-11549: Changes to Kafka chart
  stable/kafka/README.md
  stable/kafka/templates/statefulset.yaml
  stable/kafka/values.yaml
Due: none

STAC-11549: Pass HADOOP_USER_NAME to all hbase processes
  stable/hbase/templates/_helpers.yaml
Due: push_hbase_to_internal, push_hbase_to_public

STAC-11549: Recent kube-state-metrics + volume for logs cluster-agent
  stable/cluster-agent/README.md
  stable/cluster-agent/requirements.lock
  stable/cluster-agent/requirements.yaml
  stable/cluster-agent/templates/cluster-agent-deployment.yaml
Due: push_cluster-agent_to_internal, push_cluster-agent_to_public

STAC-11549: COnsolidate securityContext
  stable/elasticsearch/README.md
  stable/elasticsearch/templates/statefulset.yaml
  stable/elasticsearch/values.yaml
Due: push_elasticsearch_to_internal, push_elasticsearch_to_public

STAC-11549: Add SCC for cluster-agent-agent
  stable/cluster-agent/templates/agent-scc.yaml
Due: push_cluster-agent_to_internal, push_cluster-agent_to_public

STAC-11549: Remove non working scc
  stable/cluster-agent/templates/agent-scc.yaml
Due: push_cluster-agent_to_internal, push_cluster-agent_to_public

STAC-11549: Add SCC for HDFS
  stable/hbase/README.md
  stable/hbase/templates/hdfs-dn-statefulset.yaml
  stable/hbase/templates/hdfs-nn-statefulset.yaml
  stable/hbase/templates/hdfs-snn-statefulset.yaml
  stable/hbase/templates/scc-hdfs.yaml
  stable/hbase/values.yaml
Due: push_hbase_to_internal, push_hbase_to_public

STAC-11549: Fix elasticsearch dependency chart repo
  stable/elasticsearch/README.md
  stable/elasticsearch/requirements.lock
  stable/elasticsearch/requirements.yaml
Due: push_elasticsearch_to_internal, push_elasticsearch_to_public

STAC-11549: Bump versions and add missing value
  stable/cluster-agent/Chart.yaml
  stable/cluster-agent/README.md
  stable/elasticsearch/Chart.yaml
  stable/elasticsearch/README.md
  stable/hbase/Chart.yaml
  stable/hbase/README.md
  stable/kafka/Chart.yaml
  stable/kafka/README.md
  stable/kafka/templates/statefulset.yaml
  stable/kafka/values.yaml
Due: push_cluster-agent_to_internal, push_cluster-agent_to_public, push_elasticsearch_to_internal, push_elasticsearch_to_public, push_hbase_to_internal, push_hbase_to_public

STAC-11549: Set apiVersion of cluster-agent to v2
  stable/cluster-agent/Chart.yaml
  stable/cluster-agent/README.md
Due: push_cluster-agent_to_internal, push_cluster-agent_to_public

STAC-11549: Set apiVersion of cluster-agent to v2
  stable/cluster-agent/Chart.lock
  stable/cluster-agent/Chart.yaml
  stable/cluster-agent/README.md
  stable/cluster-agent/requirements.yaml
Due: push_cluster-agent_to_internal, push_cluster-agent_to_public

Add Kafka chart to pipeline
  .gitlab-ci.yml
  .jsonnet-libs/extras/helm_chart_repo/variables.libsonnet
Due: none

Trigger kafka publish
  stable/kafka/original-README.md
Due: none

STAC-11549: Fix review comments and make sts v2
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/installation/examples/openshift-values.yaml
  stable/stackstate/requirements.lock
  stable/stackstate/templates/deployment-ui.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-11549: Fix linting error
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-11549: Fix test
  stable/stackstate/test/values/full.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-11549: Make HBase HDFS volumePermission securityContext configurable
  stable/hbase/README.md
  stable/hbase/templates/hdfs-dn-statefulset.yaml
  stable/hbase/templates/hdfs-nn-statefulset.yaml
  stable/hbase/templates/hdfs-snn-statefulset.yaml
  stable/hbase/values.yaml
Due: push_hbase_to_internal, push_hbase_to_public

STAC-11549: Version bump hbase
  stable/hbase/Chart.yaml
  stable/hbase/README.md
Due: push_hbase_to_internal, push_hbase_to_public

STAC-11549: Bump hbase dependency
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-11620 Make 4.2.1 rc2
  stable/stackstate/Chart.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-11549: HBase the missing link
  stable/hbase/README.md
  stable/hbase/templates/console-deployment.yaml
  stable/hbase/templates/hbase-master-statefulset.yaml
  stable/hbase/templates/hbase-rs-statefulset.yaml
  stable/hbase/templates/hdfs-dn-statefulset.yaml
  stable/hbase/templates/hdfs-nn-statefulset.yaml
  stable/hbase/templates/hdfs-snn-statefulset.yaml
  stable/hbase/templates/serviceaccount-console.yaml
  stable/hbase/templates/serviceaccount-hbase.yaml
  stable/hbase/templates/serviceaccount-hdfs.yaml
  stable/hbase/templates/serviceaccount-tephra.yaml
  stable/hbase/templates/tephra-statefulset.yaml
  stable/hbase/values.yaml
Due: push_hbase_to_internal, push_hbase_to_public

STAC-11549: HBase bump
  stable/hbase/Chart.yaml
  stable/hbase/README.md
Due: push_hbase_to_internal, push_hbase_to_public

STAC-11549: Bump hbase
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
  stable/stackstate/installation/examples/openshift-values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-11620 Make 4.2.1 rc3
  stable/stackstate/Chart.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-11620 Make 4.2.1
  stable/stackstate/Chart.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-11654: fixing stackstate chart to point to correct AAD release chart
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal, push_stackstate_to_public

Bump stackstate helm chart for development of version 4.3
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-10190 Uses StackState specific Docker image for ElasticSearch
  stable/elasticsearch/Chart.yaml
  stable/elasticsearch/README.md
  stable/elasticsearch/values.yaml
Due: push_elasticsearch_to_internal, push_elasticsearch_to_public

Bump upcoming release version
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-10190 Updates version of elasticsearch chart used by stackstate chart
  stable/stackstate/README.md
  stable/stackstate/requirements.lock
  stable/stackstate/requirements.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-11652 Make 4.2.2 rc2
  stable/stackstate/Chart.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-10190 Bumps chart version
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal, push_stackstate_to_public

Fix chart version
  stable/stackstate/Chart.lock
  stable/stackstate/Chart.yaml
  stable/stackstate/README.md
Due: push_stackstate_to_internal, push_stackstate_to_public

STAC-11660 Make 4.3.0-pre.1 rc2
  stable/stackstate/Chart.yaml
  stable/stackstate/values.yaml
Due: push_stackstate_to_internal, push_stackstate_to_public

Path conditions:
  push_aws-amicleaner_to_internal: any of: stable/aws-amicleaner/**/*
  push_aws-amicleaner_to_public: any of: stable/aws-amicleaner/**/*
  push_aws-nuke_to_internal: any of: stable/aws-nuke/**/*
  push_aws-nuke_to_public: any of: stable/aws-nuke/**/*
  push_cluster-agent_to_internal: any of: stable/cluster-agent/**/*
  push_cluster-agent_to_public: any of: stable/cluster-agent/**/*
  push_common_to_internal: any of: stable/common/**/*
  push_common_to_public: any of: stable/common/**/*
  push_elasticsearch_to_internal: any of: stable/elasticsearch/**/*
  push_elasticsearch_to_public: any of: stable/elasticsearch/**/*
  push_gitlab-runner_to_internal: any of: stable/gitlab-runner/**/*
  push_gitlab-runner_to_public: any of: stable/gitlab-runner/**/*
  push_gitlab-steward_to_internal: any of: stable/gitlab-steward/**/*
  push_gitlab-steward_to_public: any of: stable/gitlab-steward/**/*
  push_hbase_to_internal: any of: stable/hbase/**/*
  push_hbase_to_public: any of: stable/hbase/**/*
  push_iceman_to_internal: any of: stable/iceman/**/*
  push_iceman_to_public: any of: stable/iceman/**/*
  push_stackstate-standalone_to_internal: any of: stable/stackstate-standalone/**/*
  push_stackstate-standalone_to_public: any of: stable/stackstate-standalone/**/*
  push_stackstate_to_internal: any of: stable/stackstate/**/*
  push_stackstate_to_public: any of: stable/stackstate/**/*
  push_trafficmirror_to_internal: any of: stable/trafficmirror/**/*
  push_trafficmirror_to_public: any of: stable/trafficmirror/**/*
